<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caja chica</title>
    
</head>

<body>
    <%- include('./partials/menusuperior.ejs'); %>
        <h1 class="text-center">Caja chica</h1>
        <div class="container-fluid">
        <div class="btn-group " role="group">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalId">Nuevo Ingreso</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEgreso">Nuevo Egreso</button>
            
            
        </div>
        <div class="row mt-2 mb-2">
           
    <div class="col-4">
         <div class="mb-3">
           <label for="FiltrarPorMes" class="form-label">Filtrar desde:</label>
           <input type="date"
             class="form-control" name="Mes" id="FiltrarPorMes" aria-describedby="helpId" placeholder="">
           <small id="helpId" class="form-text text-muted">Seleccione desde que día quiere comenzar a filtrar</small>
         </div>
           
        </div>
        <div id="BalanceDeCaja" class="col-auto border bg-info">
        Balance de caja: 
    </div>
        </div>
        <div class="row">
        <div class="col-6">
            <div class="table-responsive">
                <table class="table table-success">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-center">Ingreso</th> 
                        </tr>
                        <tr>
                            <th  scope="col">Fecha</th>
                            <th  scope="col">Descripción</th>
                            <th  scope="col">$</th>
                        <th> Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyIngresos">
                         <%finanzas.forEach((Ingreso)=>{%>
                                <tr class="">     
                                    <%if(Ingreso.Tipo=="Ingreso"){%>         
                                    
                                <td><%= moment(Ingreso.Fecha).locale('es').format("DD-MM-YYYY")%></td>
                                <td><%= Ingreso.Descripcion%></td>
                                <td><%= Ingreso.Monto%></td>
                                <td><button  class="bi bi-pencil-square btn btn-outline-secondary" onclick="abrirModalEditarRegistro('<%=Ingreso.id%>','Ingreso','<%=Ingreso.Fecha%>','<%=Ingreso.Descripcion%>','<%=Ingreso.Monto%>');"></button></td>
                            </tr>
                                <%}})%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <div class="table-responsive">
                <table class="table table-danger">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-center">Egreso</th>
                        </tr>
                        <tr>
                            <th  scope="col">Fecha</th>
                            <th  scope="col">Descripción</th>
                            <th  scope="col">$</th>
                            <th> Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyEgresos">
                       
                            <%finanzas.forEach((Egreso)=>{%>
                                <tr class="">
                               <%if(Egreso.Tipo=="Egreso"){%> 
                                <td><%= moment(Egreso.Fecha).locale('es').format("DD-MM-YYYY")%></td>
                                <td><%= Egreso.Descripcion%></td>
                                <td><%= Egreso.Monto%></td>
                                <td><button class="bi bi-pencil-square btn btn-outline-secondary" onclick="abrirModalEditarRegistro('<%=Egreso.id%>','Egreso','<%=Egreso.Fecha%>','<%=Egreso.Descripcion%>','<%=Egreso.Monto%>');"></button></td>
                            </tr>
                                <%}})%>
                      
                       
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <%- include('./partials/CajaChica/Ingreso.ejs'); %>   
    <%- include('./partials/CajaChica/Egreso.ejs'); %>     
    <%- include('./partials/CajaChica/EditarRegistro.ejs'); %>    
    </div>

</body>
<script>
    
    $(function () {
        var fechaActual= new Date();
    
    var fechaPrincipioMes = moment().year()+'/'+(moment().month()+1)+'/'+1;
   
        $.ajax({
        type: "GET",
        url: "/Finanzas_CajaChica/data/"+fechaPrincipioMes,
                dataType: "JSON",
        success: function (response) {
            $('#tbodyIngresos').empty();
            $('#tbodyEgresos').empty();
            var BalanceDeCaja=0;
            var TotalIngreso=0;
            var TotalEgreso=0;
            response.forEach(element => {
                if(element.Tipo=="Ingreso"){ //Carga el total de ingresos en balance de caja
                    TotalIngreso=TotalIngreso+element.Monto;
                    BalanceDeCaja=BalanceDeCaja+ element.Monto;

                    $('#tbodyIngresos').append('<tr><td>'+moment(element.Fecha).format('DD/MM/YYYY')+'</td><td>'+element.Descripcion+'</td><td>'+element.Monto+'</td>  <td><button  class="bi bi-pencil-square btn btn-outline-secondary" onclick="abrirModalEditarRegistro('+element.id+',\'Ingreso\','+element.Fecha+','+element.Descripcion+','+element.Monto+')"></button></td></tr>');
                }else{ //Carga en egresos
                    TotalEgreso=TotalEgreso+element.Monto;
                    BalanceDeCaja= BalanceDeCaja-element.Monto;
                    $('#tbodyEgresos').append('<tr><td>'+moment(element.Fecha).format('DD/MM/YYYY')+'</td><td>'+element.Descripcion+'</td><td>'+element.Monto+'</td>  <td><button  class="bi bi-pencil-square btn btn-outline-secondary"  onclick="abrirModalEditarRegistro('+element.id+',\'Egreso\','+element.Fecha+','+element.Descripcion+','+element.Monto+')"></button></td></tr>');
                }

                
            });
            $('#BalanceDeCaja').empty();
            $('#BalanceDeCaja').append('Balance de caja: '+BalanceDeCaja + '. Totales: Ingresos: '+TotalIngreso+'. Egresos: '+TotalEgreso+'.');  //Una vez termina el balance de caja, muestra el monto restante de la caja y el total de ingresos y egresos.

        }
    }); 
    });
  $('#FiltrarPorMes').change(function () {
var fecha=$('#FiltrarPorMes').val();
fecha= moment(fecha).format('YYYY/MM/DD');
fecha

$.ajax({
        type: "GET",
        url: "/Finanzas_CajaChica/data/"+fecha,
                dataType: "JSON",
        success: function (response) {
            $('#tbodyIngresos').empty();
            $('#tbodyEgresos').empty();
            var BalanceDeCaja=0;
            var TotalIngreso=0;
            var TotalEgreso=0;
            response.forEach(element => {
                if(element.Tipo=="Ingreso"){ //Carga el total de ingresos en balance de caja
                    TotalIngreso=TotalIngreso+element.Monto;
                    BalanceDeCaja=BalanceDeCaja+ element.Monto;

                    $('#tbodyIngresos').append('<tr><td>'+moment(element.Fecha).format('DD/MM/YYYY')+'</td><td>'+element.Descripcion+'</td><td>'+element.Monto+'</td>  <td><button  class="bi bi-pencil-square btn btn-outline-secondary" onclick="abrirModalEditarRegistro('+element.id+',\'Ingreso\','+element.Fecha+','+element.Descripcion+','+element.Monto+')"></button></td></tr>');
                }else{ //Carga en egresos
                    TotalEgreso=TotalEgreso+element.Monto;
                    BalanceDeCaja= BalanceDeCaja-element.Monto;
                    $('#tbodyEgresos').append('<tr><td>'+moment(element.Fecha).format('DD/MM/YYYY')+'</td><td>'+element.Descripcion+'</td><td>'+element.Monto+'</td>  <td><button  class="bi bi-pencil-square btn btn-outline-secondary" onclick="abrirModalEditarRegistro('+element.id+', \'Egreso\','+element.Fecha+','+element.Descripcion+','+element.Monto+')"></button></td></tr>');
                }

                
            });
            $('#BalanceDeCaja').empty();
            $('#BalanceDeCaja').append('Balance de caja: '+BalanceDeCaja + '. Totales: Ingresos: '+TotalIngreso+'. Egresos: '+TotalEgreso+'.');  //Una vez termina el balance de caja, muestra el monto restante de la caja y el total de ingresos y egresos.

        }
    }); 
    })
    function abrirModalEditarRegistro(id,IngresoEgreso, fecha, descripcion, monto){
        $('#idEditarRegistro').val(id);
$('#IngresoEgreso').val(IngresoEgreso);
    $('#EdicionFecha').val(fecha);
$('#EdicionDescripcion').val(descripcion);
$('#EdicionMonto').val(monto);
$('#modalEditarRegistro').modal('show')
    }
</script>
</html>