<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pago de obras</title>
  <link rel="stylesheet" type="text/css" href="../css/print.css" media="print" />
</head>

<body>
  <%- include('./partials/menusuperior.ejs'); %>
    <div class="container-fluid">
      <h1 class="text-center "><u>
        Cobro de obras</u></h1>
<button class="btn btn-success"  onclick="AlternarPlanilla()">Alternar vista</button>

      <h2 class="text-center VistaClientes ">Lista de clientes</h2>

    </div>
<div class="container VistaClientes">
  <a class="btn btn-outline-danger" href="Finanzas/NuevoCliente">
Agregar nuevo cliente
</a>
<label for="BuscadorCliente">Buscar cliente</label>
<input class="border border-danger" type="text" name="BuscadorCliente" id="BuscadorCliente">
</div>
<br>
<%- include('./Cobrodeobras/Vistaobras.ejs'); %>

    <table id="TablaClientes" class="table table-striped table-bordered table-hover " style="width:100%; display: table;">
      <thead>
        <tr>
          <td>
            Nombre
          </td>
          <td>
            DNI
          </td>
          <td>
            Obra
          </td>
          <td>
Teléfono
          </td>
          <td>
        Correo    
          </td>
          <td>
            Domicilio
          </td>
        </tr>
      </thead>
      <tbody class="text-center">
        <% clientes.forEach((datosTabla)=> { %>
          <tr>
            <td>
              <button type="button" id="<%= datosTabla.NombreCliente%>" onclick="CargarPago(this);">
            <%= datosTabla.NombreCliente%>
          </button>
            </td>
            <td>
              <%= datosTabla.DNICliente%>
              </td>
              <td>
                <%= datosTabla.NombreObra%>
                </td>
                <td>
                  <%= datosTabla.Telefono%>
                  </td>
                  <td>
                    <%= datosTabla.Correo%>
                    </td>
                    <td>
                    <%= datosTabla.Direccion%>
                    </td>
                                

            <%});%>
      </tbody>
    </table>

    <!-- Modal para cargar pago de cliente -->
    <div id="printsection" class="printsection">
    <div class="container-fluid">
      <div class="modal fade" id="ModalPrincipal" tabindex="-1" role="dialog" aria-labelledby="ModalPrincipalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModal"></h5>
              <button class="noImprimible" type="submit" id="BotonConNombreDeCarpeta" onclick="VerCLientes()">Cargar clientes por lotes</button>
              <button type="button" class="close noImprimible" onclick="$('#ModalPrincipal').modal('hide');" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body bordeExterno">

              <form action="/ImprimirComprobante" method="post">
                <h4 id="NombreCliente" class="text-center"></h4>
                <div class="form">

                <div class="row">
                  <div class="col">
                      <label class="form-label" for="NombreCompleto">Nombre </label>
<input required  class="form-control" type="text" name="NombreCompleto" id="NombreCompleto">
<p class="form-text noImprimible">Ingrese el nombre que figurara en el comprobante de pago.</p>
                  </div>
                    <div class="col">
                      <label class="form-label" for="Domicilio">Domicilio:</label>
                      <input required  class="form-control" type="text" name="Domicilio" id="Domicilio">
                      <p class="form-text noImprimible">Domicilio que corresponde a la obra.</p>

                    </div>
                  </div>
                <div class="row">
                  <div class="col ">
                    <label class="form-label" for="ValorIngresado">Importe</label>
                    <input required  class="form-control" type="number" step="0.01" name="ValorIngresado" id="ValorIngresado">
                  </div>
                  <div class="col ">
                    <label class="form-label" for="Concepto">Concepto</label>
                    <input required  class="form-control" type="text" name="Concepto" id="Concepto">
                  </div>
                 
                  <div class="col">
                    <label class="form-label" for="FechaPago"> Fecha de pago</label>
                   
                    <input required class="form-control"type="date" name="FechaPago" id="FechaPago">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="form-label" for="ObservacionesDelPago">Observaciones</label>
                    <input required  class="form-control" type="text" name="ObservacionesDelPago" id="ObservacionesDelPago">

                    <label class="form-label noImprimible"  for="ComprobantePago">  Cargar comprobante de pago </label>
                    <div class="noImprimible">
                    <input class="form-control " type="file" name="ComprobantePago" id="ComprobantePago">
                  </div>
                    <p class="form-text noImprimible noImprimible">En caso de que la persona pague con transferencias, cheques, etc.</p>
                  </div>

                </div>
              </div>
            </div>
          
            <div class="modal-footer noImprimible">
              <button class="btn" onclick="window.print(); return false;">Imprimir comprobante</button>
              <button type="button" class="btn btn-secondary "
                onclick="$('#ModalPrincipal').modal('hide');">Cerrar</button>
              <button type="submit" class="btn btn-danger ">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Modal Cliente -->
    <div class="modal fade" id="modalclientes" tabindex="-1" role="dialog" aria-labelledby="modalclientesTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLongTitle">Clientes de obra</h5>
            <button type="button" class="close" aria-label="Close" onclick="$('#modalclientes').modal('hide');">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-flui">
              <div id="clientes">
                Bienvenido
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              onclick="$('#modalclientes').modal('hide');">Cancelar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
  
</body>
<script>
 
  function CargarPago(data){
  var NombreCliente= data.id;
console.log(NombreCliente);
$('#NombreCliente').html('Comprobante de pago ' +NombreCliente);
$('#ModalPrincipal').modal("show");
  }
function AlternarPlanilla(){
  var TablaClientes= document.getElementById('TablaClientes').style.display;
  console.log(TablaClientes);
  if(TablaClientes=='table'){
    $('#TablaClientes').css("display","none");
    $('#TablaObras').css("display","table");
$(".VistaClientes").css("display","none");
    }
    else{
      $('#TablaClientes').css("display","table");
    $('#TablaObras').css("display","none");
    $(".VistaClientes").css("display","block");

    }
}
</script>
<script>
  jQuery("#BuscadorCliente").keyup(function(){
    if( jQuery(this).val() != "0"){
        jQuery("#TablaClientes tbody>tr").hide();
        jQuery("#TablaClientes td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show();
    }
    else{
        jQuery("#TablaClientes tbody>tr").show();
    }
  })
  
jQuery.extend(jQuery.expr[":"], 
{
    "contiene-palabra": function(elem, i, match, array) {
        return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
});

</script>
</html>