<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cobro de obras</title>
  <link rel="stylesheet" type="text/css" href="../css/print.css" media="all" />

</head>

<body>
  <%- include('./partials/menusuperior.ejs'); %>
    <div class="container-fluid">
      <h1 class="text-center "><u>
          Cobro de obras</u></h1>
      <button class="btn btn-success" onclick="CargarPago();">Nuevo pago</button>
    
    </div>
    <div class="m-2 VistaClientes">
    
      <label for="BuscadorObra">Buscar obra</label>
      <input class="border border-danger" type="text" name="BuscadorObra" id="BuscadorObra">
    </div>
    <div class="col-8">
      <table class="table table-sm table-bordered" id="TablaPrincipal">
        <thead>
          <tr>
            <th>Obra</th>
            <th>N°</th>
            <th>Cantidad de vecinos</th>
            <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <%  for (let index = 0; index < NombreObras.length; index++) {%>
              <%    const element = NombreObras[index];%>
              <%var contador=0;%>
              <%if(element.Estado=="Finalizada"){ %>
              <tr class="bg-danger text-light">
                <%}%>
                <%if(element.Estado=="ELIMINADO"){%>
                  <tr class="bg-warning">
                  <%}if(element.Estado!="Finalizada"&&element.Estado!="ELIMINADO" ){%>
                  <tr class="">
                    <%}%>
                    <td>
                      <a class="btn btn-sm" href="Finanzas/cobrodeobras/VerObra/<%= element.Nombre%>"><%= element.Nombre%></a
                    </td>
              <td>
                <%=element.NCarpeta%>
              </td>
              <td><%clientes.forEach((clientes)=>{%>
                
              <%if(clientes.id_Obra==element.id){%>
               <% contador=contador+1%>
                <%}%>
                <%})%>
                <%=contador%>
              </td>
              <td>
                <%=element.Estado%>
              </td>
          </tr>
                <%}%>
        </tbody>
      </table>
    </div>
    <!-- Modal para cargar pago de cliente -->

    <div class="container-fluid">
      <div class="modal fade" id="ModalPrincipal" tabindex="-1" role="dialog" aria-labelledby="ModalPrincipalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModal"></h5>
              <button class="noImprimible" type="submit" id="BotonConNombreDeCarpeta" onclick="VerCLientes()">Cargar
                clientes por lotes</button>
              <button type="button" class="close noImprimible" onclick="$('#ModalPrincipal').modal('hide');"
                aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="printsection" class="printsection">

              <div class="modal-body bordeExterno">
                  <input type="number" name="IDCliente" id="IDCliente" hidden>
                  <div class="Imprimible">
                    <img src="../images/logo.png" alt="Joval S.A." id="LogoJoval">
                    <h1 class=" text-center" id="Encabezado">Comprobante de pago</h1>
                  </div>
                  <div class="row">
                    <div class="col-auto">
                      <label class="form-label text-center" for="Obra">Obra </label>
                      <input list="obras" type="text" name="Obra" id="Obra">
                      <datalist id="obras">
                        <%NombreObras.forEach((element)=>{%>
                          <option id="opcionesObras" value="<%=element.Nombre%>"></option>
                          <%})%>
                      </datalist>
                      <p class="form-text noImprimible">Seleccione la obra a la que corresponde el cliente</p>
                    </div>
                    <div id="NombreVecino" class="col-auto" style="display: none;">
                      <label class="form-label text-center" for="NombreCompleto">Nombre </label>
                      <select name="NombreCompleto" id="NombreCompleto">
                        '<option type="radio" value="" selected> </option>'
                      </select>
                    </div>
                    <div class="col-auto">
                      <button id="btnNuevoCliente" class="btn btn-sm btn-success"  style="display: none;">
                        Nuevo cliente
                      </button>
                    </div>
                    
                  </div>
                  <div id="bodyInputs" style="display: none;">
                  <div class="form">
                    <div class="row">
                     
                      <div class="col-sm">
                        <label class="form-label" for="InputDomicilio">Domicilio</label>
                        <input required class="form-control" type="text" name="Domicilio" id="InputDomicilio"
                          placeholder="Domicilio">
                      </div>
                    
                      <div class="col-sm ">
                        <label class="form-label text-center" for="ValorIngresado">Importe</label>
                        <input required class="form-control" type="number" step="0.01" name="ValorIngresado"
                          id="ValorIngresado">

                      </div>
                      <div class="col-sm ">
                        <label class="form-label text-center" for="Concepto">Concepto</label>
                        <select name="Concepto" id="Concepto">
                          <!-- <input required list="ConceptosDePago"  class="form-control" type="text" name="Concepto" id="Concepto"> -->
                          <!-- <datalist id="ConceptosDePago"> -->
                          <option value="AnticipoFinanciero">Anticipo Financiero</option>
                          <option value="Cuota1">Cuota 1</option>
                          <option value="Cuota2">Cuota 2</option>
                          <option value="Cuota3">Cuota 3</option>
                          <option value="Cuota4">Cuota 4</option>
                          <option value="Cuota5">Cuota 5</option>
                          <option value="Cuota6">Cuota 6</option>
                          <option value="Cuota7">Cuota 7</option>
                          <option value="Cuota8">Cuota 8</option>
                          <option value="Cuota9">Cuota 9</option>
                          <option value="Cuota10">Cuota 10</option>
                          <option value="Cuota11">Cuota 11</option>
                          <option value="Cuota12">Cuota 12</option>
                          <option value="DNV">Permiso DNV</option>
                          <option value="DPV">Permiso DPV</option>
                          <option value="Hidraulica">Permiso Hidraulica</option>
                          <option value="FFCC">Permiso FFCC</option>
                          <option value="Privado">Permiso Privado</option>
                          <option value="Municipal">Permiso Municipal</option>
                          <option value="ServicioDomiciliario">Servicio Domiciliario</option>
                          <option value="IngresoDocumentacion">Ingreso de documentacion comienzo tramite</option>
                          <option value="Irrigacion">Permiso Irrigacion</option>
                          <!-- </datalist> -->
                        </select>
                      </div>

                      <div class="col">
                        <label class="form-label text-center" for="FechaPago"> Fecha de pago</label>

                        <input required class="form-control" type="date" name="FechaPago" id="FechaPago">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label class="form-label text-center" for="ObservacionesDelPago">Observaciones</label>
                        <input class="form-control" type="text" name="ObservacionesDelPago" id="ObservacionesDelPago">
                      </div>
                    </div>
                    </div>
                  </div>
              </div>
            </div>
            
            <div class="modal-footer noImprimible">
              <button type="button " class="btn btn-secondary  noImprimible"
                onclick="$('#ModalPrincipal').modal('hide');">Cerrar</button>
              <button type="submit"  id="btnGuardarCambios" class="btn btn-danger  noImprimible">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Modal Cliente -->
    <div class="modal fade" id="modalclientes" tabindex="-1" role="dialog" aria-labelledby="modalclientesTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLongTitle">Clientes de obra</h5>
            <button type="button" class="close" aria-label="Close" onclick="$('#modalclientes').modal('hide');">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-flui">
              <div id="clientes">
                Bienvenido
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              onclick="$('#modalclientes').modal('hide');">Cancelar</button>
            <button type="button" class="btn btn-primary" >Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
</body>
<script>

  var select = document.getElementById("Obra");
  var ClienteSeleccionado;
  var NombreObra;
  select.addEventListener('blur', function () {
     NombreObra = this.value;
    if (NombreObra==""){
       $('#bodyInputs').css('display', 'none');
       $('#btnGuardarCambios').prop('disabled', true);
       $('#NombreVecino').css('display', 'none');
       $('#btnNuevoCliente').css('display', 'none');
    }
    else{
    var url = ("/cobrodeobras/clientes/LocalizarClientes/" + NombreObra);
    $.get(url, function (data) {
      $("#NombreCompleto").empty();
      $("#NombreCompleto").append(
        '<option type="radio" value=" " selected> </option>'
      )
      document.getElementById('FechaPago').valueAsDate = new Date();

      data.forEach(Element => {
        $("#NombreCompleto").append(
          '<option type="radio" value="' + Element.NombreCliente + '">' + Element.NombreCliente + '</option>'
        )
      });
      $("#NombreCompleto").change(function () {
        let nombreCliente = $('#NombreCompleto option:selected').text(); //Trae solo el nombre del cliente que ha sido seleccionado.
        var cliente = data.find(element => nombreCliente == element.NombreCliente); //Busca entre todos los clientes, el cliente que estamos usando y lo guarda en la variable.
        console.log(cliente);
        $("#InputDomicilio").empty();
        $("#InputDomicilio").val(
          cliente.Direccion
        );
        $('#IDCliente').val(
          cliente.ID_cliente
        )
        $('#bodyInputs').css('display', 'block');
       
      })
    }

    )
    $('#btnNuevoCliente').css('display', 'block');
    $('#NombreVecino').css('display', 'block');
    $('#btnGuardarCambios').prop('disabled', false);
    $('#btnNuevoCliente').click(function(){
     var url="/Finanzas/NuevoCliente/"+NombreObra;
      window.location.href= url;
    }) 
  }
  }
  );
  function CargarPago(data) {
    $('#ModalPrincipal').modal("show");
  }

// function AlternarPlanilla(){
//   var TablaClientes= document.getElementById('TablaClientes').style.display;
//   console.log(TablaClientes);
//   if(TablaClientes=='table'){
//     $('#TablaClientes').css("display","none");
//     $('#TablaObras').css("display","table");
// $(".VistaClientes").css("display","none");
//     }
//     else{
//       $('#TablaClientes').css("display","table");
//     $('#TablaObras').css("display","none");
//     $(".VistaClientes").css("display","block");

//     }
// }
</script>
<script>
    jQuery("#BuscadorObra").keyup(function () {
    if (jQuery(this).val() != "") {
      jQuery("#TablaPrincipal tbody>tr").hide();
      jQuery("#TablaPrincipal td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show("slow");
    }
    else {
      jQuery('#TablaPrincipal tbody>tr').hide("slow");
    }
  })

  jQuery.extend(jQuery.expr[":"],
    {
      "contiene-palabra": function (elem, i, match, array) {
        return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
      }
    });
   
</script>

</html>