<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('./partials/menusuperior.ejs'); %>
    <div class="container-fluid">
      <h1 class="text-center">Pago de obras</h1>
    </div>

    <table id="TablaPagoObras" class="table table-striped table-bordered table-hover " style="width:100%">
      <thead>
        <tr>
          <td>
            <h6>Carpeta</h6>
          </td>

          <td>
            <h6>Anticipo Financiero</h6>
          </td>
          <td>
            <h6>Cuota 1</h6>
          </td>
          <td>
            <h6>Cuota 2 </h6>
          </td>
          <td>
            <h6>Cuota 3 </h6>
          </td>
          <td>
            <h6>Cuota 4 </h6>
          </td>
          <td>
            <h6>Cuota 5 </h6>
          </td>
          <td>
            <h6>Cuota 6 </h6>
          </td>

          <td>
            <h6>Cuota 7 </h6>
          </td>
          <td>
            <h6>Cuota 8 </h6>
          </td>
          <td>
            <h6>Cuota 9 </h6>
          </td>
          <td>
            <h6>Cuota 10 </h6>
          </td>
          <td>
            <h6>Cuota 11</h6>
          </td>
          <td>
            <h6>Cuota 12</h6>
          </td>
          <td>
            <h6>Irrigación</h6>
          </td>
          <td>
            <h6>DNV </h6>
          </td>
          <td>
            <h6>DPV </h6>
          </td>
          <td>
            <h6>Hidraulica</h6>
          </td>
          <td>
            <h6>FFCC</h6>
          </td>
          <td>
            <h6>Municipalidad</h6>
          </td>
          <td>
            <h6>Detalle</h6>
          </td>
          <td>
            <h6>Servicio domiciliario</h6>
          </td>
        </tr>
      </thead>
      <tbody class="text-center">
        <% results.forEach((datosTabla)=> { %>
          <tr>
            <td>
              <button id=" <%= datosTabla.Nombre%>" onclick="abrirModal(this.id)">
                <%= datosTabla.Nombre%>
              </button>
            </td>
            <td>

              <%= datosTabla.AnticipoFinanciero%>

            </td>
            <td>

              <%= datosTabla.Cuota1%>

            </td>
            <td>

              <%= datosTabla.Cuota2%>

            </td>
            <td>

              <%= datosTabla.Cuota3%>

            </td>
            <td>

              <%= datosTabla.Cuota4%>

            </td>
            <td>

              <%= datosTabla.Cuota5%>

            </td>
            <td>

              <%= datosTabla.Cuota6%>

            </td>
            <td>

              <%= datosTabla.Cuota7%>

            </td>
            <td>

              <%= datosTabla.Cuota8%>

            </td>
            <td>

              <%= datosTabla.Cuota9%>

            </td>
            <td>

              <%= datosTabla.Cuota10%>

            </td>
            <td>

              <%= datosTabla.Cuota11%>

            </td>
            <td>

              <%= datosTabla.Cuota12%>

            </td>
            <td>

              <%= datosTabla.PermisoIrrigacion%>

            </td>
            <td>

              <%= datosTabla.PermisoDNV%>

            </td>
            <td>

              <%= datosTabla.PermisoDPV%>

            </td>
            <td>

              <%= datosTabla.PermisoHidraulica%>

            </td>
            <td>

              <%= datosTabla.PermisoFFCC%>

            </td>
            <td>

              <%= datosTabla.PermisoMunicipal%>

            </td>
            <td>

              <%= datosTabla.DescripcionPermisos%>

            </td>
            <td>

              <%= datosTabla.ServicioDomiciliario%>

            </td>

            <%});%>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="container-fluid">
      <div class="modal fade" id="ModalPrincipal" tabindex="-1" role="dialog" aria-labelledby="ModalPrincipalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TituloModal"></h5>
              <button type="submit" id="BotonConNombreDeCarpeta" onclick="VerCLientes()">Adherentes de obra</button>
              <button type="button" class="close" onclick="$('#ModalPrincipal').modal('hide');" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/guardarValor" method="post">
                <h4 class="text-center">Pago por adherente</h4>
                <div class="row">
                  <div class="col">
                    <button id="MostrarAdherente" onclick="mostrarAdherente();">Seleccionar adherente</button>
                    <div class="mb-3">
                      <div class="div" id="divadherente" style="display:none;">
                        <select class="form-control" name="adherente" id="adherente">
                          <option>Jakarta</option>
                        </select>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col ">
                    Monto
                    <input type="number" step="0.01" name="ValorIngresado" id="ValorIngresado">
                  </div>
                  <div class="col ">
                    Descripción
                    <input type="text" name="DetalleDeIngreso" id="DetalleDeIngreso">
                  </div>
                  <div class="col text-center">
                    Tipo de pago
                    <div class="mb-3">
                      <select class="form-control" name="DestinoDePago" id="DestinoDePago" required>
                        <option value="AnticipoFinanciero">Anticipo Financiero</option>
                        <option value="Cuota1">Cuota 1</option>
                        <option value="Cuota2">Cuota 2</option>
                        <option value="Cuota3">Cuota 3</option>
                        <option value="Cuota4">Cuota 4</option>
                        <option value="Cuota5">Cuota 5</option>
                        <option value="Cuota6">Cuota 6</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    Fecha de pago
                    <input type="date" name="FechaPago" id="FechaPago">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    Imprimir comprobante
                    <button>Imprimir</button>
                  </div>
                  <div class="col">
                    Cargar comprobante de pago
                    <input type="file" name="ComprobantePago" id="ComprobantePago" required>
                  </div>

                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                onclick="$('#ModalPrincipal').modal('hide');">Cerrar</button>
              <button type="submit" class="btn btn-danger">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Cliente -->
    <div class="modal fade" id="modalclientes" tabindex="-1" role="dialog" aria-labelledby="modalclientesTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLongTitle">Clientes de obra</h5>
            <button type="button" class="close" aria-label="Close" onclick="$('#modalclientes').modal('hide');">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-flui">
              <div id="clientes">
                Bienvenido
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              onclick="$('#modalclientes').modal('hide');">Cancelar</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
</body>
<script>
  let nombreCarpeta;
  function abrirModal(id) {
    nombreCarpeta = id;
    $("#ModalPrincipal").modal('show');
    document.getElementById("TituloModal").innerHTML = id;
    document.getElementById("BotonConNombreDeCarpeta").id = id;
  }
  function VerCLientes() {
    console.log("cuando quiere abrir clientes, el nombre de carpeta contiene:" + nombreCarpeta);
    nombreCarpeta = nombreCarpeta.trim();
    var url = ("/Pagodeobras/clientes/" + nombreCarpeta);
    $.ajax({
      url: url,
      method: "GET",
      success: function (data) {
        $('#clientes').html(data);

      },
      error: function (error) {
        console.log('ERROR:' + error);
      },
    })
    $("#ModalPrincipal").modal('hide');
    $('#modalclientes').modal('show');
  }
  function mostrarAdherente() {
    nombreCarpeta = nombreCarpeta.trim();
    var url = ("/Pagodeobras/clientes/" + nombreCarpeta + "/VerClientes");

    $.get(url).done(function (cliente) {
      for (let i = 0; i < cliente.length; i++) {
        var element = JSON.parse(JSON.stringify(cliente[i]));
        let texto = JSON.stringify(element.NombreCliente);
        texto = texto.replace('"', ""); //Como el objeto JSON es traducido con comillas, con este comando las vamos limpiando.
        texto = texto.replace('"', "");
        $('#adherente').append('<option value="' + texto + '">' + texto + '</option>');
        console.log('<option value="' + texto + '">' + texto + '</option>');
      }

    }
    )


    document.getElementById("divadherente").style.display = "block";

  }
</script>

</html>