<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="./DataTables/datatables.css"/>

  <script type="text/javascript" src="./DataTables/datatables.js"></script>
 
    <%- include('./partials/menusuperior.ejs'); %>
    <%if(results){%>
<div class="container-fluid">
    <h1 class="text-center">Pago de obras</h1>
</div>
<a href="/nuevocliente">
    <button class="btn btn-success">Nuevo Cliente</button>
  </a>
  <table id="TablaPagoObras" class="table table-striped table-bordered table-hover " style="width:100%">
<thead>
  <tr>
    <td>
        <h6>Carpeta</h6>
    </td>
    <td>
      <h6>N° Carpeta</h6>
    </td>
    <td>
      <h6>Anticipo Financiero</h6>
    </td>
    <td>
      <h6>Cuota 1</h6>
    </td>
    <td>
      <h6>Cuota 2 </h6>
    </td>
    <td>
      <h6>Cuota 3 </h6>
    </td>
    <td>
      <h6>Cuota 4 </h6>
    </td>
    <td>
      <h6>Cuota 5 </h6>
    </td>
    <td>
      <h6>Cuota 6 </h6>
    </td>
 
    <td>
      <h6>Cuota 7 </h6>
    </td>
    <td>
      <h6>Cuota 8 </h6>
    </td>
    <td>
      <h6>Cuota 9 </h6>
    </td>
    <td>
      <h6>Cuota 10 </h6>
    </td>
    <td>
      <h6>Cuota 11</h6>
    </td>
    <td>
      <h6>Cuota 12</h6>
    </td>
<td>
  <h6>Irrigación</h6>
</td>
<td>
  <h6>DNV </h6>
</td>
<td>
  <h6>DPV </h6>
</td>
<td>
  <h6>Hidraulica</h6>
</td>
<td>
  <h6>FFCC</h6>
</td>
<td>
  <h6>Municipalidad</h6>
</td>
<td>
  <h6>Detalle</h6>
</td>
<td>
  <h6>Servicio domiciliario</h6>
</td>
</tr>
</thead>
<tbody class="text-center">
  <% results.forEach((datosTabla) => { %>
    <tr>
    <td id="Nombre" >
      <button onclick="abrirModal()">
      <%= datosTabla.Nombre%>
      </button>
    </td>
    <td id="NCarpeta" >
      <button onclick="abrirModal()">
      <%= datosTabla.NCarpeta%>
      </button>
      </td>
      <td id="AnticipoFinanciero" >
        <button onclick="abrirModal()">
        <%= datosTabla.AnticipoFinanciero%>
        </button>
      </td>
      <td id="Cuota1" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota1%>
        </button>
      </td>
      <td id="Cuota2" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota2%>
        </button>
      </td>
      <td id="Cuota3" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota3%>
        </button>
      </td>
      <td id="Cuota4" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota4%>
        </button>
      </td>
      <td id="Cuota5" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota5%>
        </button>
      </td>
      <td id="Cuota6" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota6%>
        </button>
      </td>
      <td id="Cuota7" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota7%>
        </button>
      </td>
      <td id="Cuota8" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota8%>
        </button>
      </td>
      <td id="Cuota9" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota9%>
        </button>
      </td>
      <td id="Cuota10" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota10%>
        </button>
      </td>
      <td id="Cuota11" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota11%>
        </button>
      </td>
      <td id="Cuota12" >
        <button onclick="abrirModal()">
        <%= datosTabla.Cuota12%>
        </button>
      </td>
      <td id="PermisoIr" >
        <button onclick="abrirModal()">
        <%= datosTabla.PermisoIrrigacion%>
        </button>
      </td>
      <td id="PermisoDNV" >
        <button onclick="abrirModal()">
        <%= datosTabla.PermisoDNV%>
        </button>
      </td>
      <td id="PermisoDPV" >
        <button onclick="abrirModal()">
        <%= datosTabla.PermisoDPV%>
        </button>
      </td>
      <td id="PermisoHidraulica" >
        <button onclick="abrirModal()">
        <%= datosTabla.PermisoHidraulica%>
        </button>
      </td>
      <td id="PermisoFFCC" >
        <button onclick="abrirModal()">
        <%= datosTabla.PermisoFFCC%>
        </button>
      </td>
      <td id="PermisoMunicipal" >
        <button onclick="abrirModal()">
        <%= datosTabla.PermisoMunicipal%>
        </button>
      </td>
      <td id="DescripcionPermisos" >
        <button onclick="abrirModal()">
        <%= datosTabla.DescripcionPermisos%>
        </button>
      </td>
      <td id="ServicioDomiciliario" >
        <button onclick="abrirModal()">
        <%= datosTabla.ServicioDomiciliario%>
        </button>
      </td>

    <%});%>
</tbody>
  </table>

<!-- Modal -->
<div class="modal fade" id="ModalPrincipal" tabindex="-1" role="dialog" aria-labelledby="ModalPrincipalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalPrincipalLabel">Modal title</h5>
        <button type="button" class="close"onclick="$('#ModalPrincipal').modal('hide');" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"onclick="$('#ModalPrincipal').modal('hide');">Cerrar</button>
        <button type="button" class="btn btn-danger">Save changes</button>
      </div>
    </div>
  </div>
</div>
<%}%>
</body>
    <script>
      function abrirModal(){
        return{
          
        }
$("#ModalPrincipal").modal('show');
      }
    </script>
</html>