<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <link rel="stylesheet" type="text/css" href="./DataTables/datatables.css"/>

  <script type="text/javascript" src="./DataTables/datatables.js"></script>
 
    <%- include('./partials/menusuperior.ejs'); %>
    <%if(results){%>
<div class="container-fluid">
    <h1 class="text-center">Pago de obras</h1>
</div>
<a href="/nuevocliente">
    <button class="btn btn-success">Nuevo Cliente</button>
  </a>
  <table id="TablaPagoObras" class="table table-striped table-bordered table-hover " style="width:100%">
<thead>
  <tr>
    <td>
        <h6>Carpeta</h6>
    </td>
    <td>
      <h6>N° Carpeta</h6>
    </td>
    <td>
      <h6>Anticipo Financiero</h6>
    </td>
    <td>
      <h6>Cuota 1</h6>
    </td>
    <td>
      <h6>Cuota 2 </h6>
    </td>
    <td>
      <h6>Cuota 3 </h6>
    </td>
    <td>
      <h6>Cuota 4 </h6>
    </td>
    <td>
      <h6>Cuota 5 </h6>
    </td>
    <td>
      <h6>Cuota 6 </h6>
    </td>
 
    <td>
      <h6>Cuota 7 </h6>
    </td>
    <td>
      <h6>Cuota 8 </h6>
    </td>
    <td>
      <h6>Cuota 9 </h6>
    </td>
    <td>
      <h6>Cuota 10 </h6>
    </td>
    <td>
      <h6>Cuota 11</h6>
    </td>
    <td>
      <h6>Cuota 12</h6>
    </td>
<td>
  <h6>Irrigación</h6>
</td>
<td>
  <h6>DNV </h6>
</td>
<td>
  <h6>DPV </h6>
</td>
<td>
  <h6>Hidraulica</h6>
</td>
<td>
  <h6>FFCC</h6>
</td>
<td>
  <h6>Municipalidad</h6>
</td>
<td>
  <h6>Detalle</h6>
</td>
<td>
  <h6>Servicio domiciliario</h6>
</td>
</tr>
</thead>
<tbody class="text-center">
  <% results.forEach((datosTabla) => { %>
    <tr>
    <td  >
      <button id="Nombre" onclick="abrirModal(this.id)">
      <%= datosTabla.Nombre%>
      </button>
    </td>
    <td  >
      <button id="NCarpeta" onclick="abrirModal(this.id)">
      <%= datosTabla.NCarpeta%>
      </button>
      </td>
      <td  >
        <button id="AnticipoFinanciero" onclick="abrirModal(this.id)">
        <%= datosTabla.AnticipoFinanciero%>
        </button>
      </td>
      <td  >
        <button id="Cuota1" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota1%>
        </button>
      </td>
      <td  >
        <button id="Cuota2" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota2%>
        </button>
      </td>
      <td  >
        <button id="Cuota3" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota3%>
        </button>
      </td>
      <td  >
        <button id="Cuota4" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota4%>
        </button>
      </td>
      <td  >
        <button id="Cuota5" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota5%>
        </button>
      </td>
      <td  >
        <button id="Cuota6" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota6%>
        </button>
      </td>
      <td  >
        <button id="Cuota7" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota7%>
        </button>
      </td>
      <td  >
        <button id="Cuota8" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota8%>
        </button>
      </td>
      <td  >
        <button id="Cuota9" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota9%>
        </button>
      </td>
      <td  >
        <button id="Cuota10" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota10%>
        </button>
      </td>
      <td  >
        <button id="Cuota11" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota11%>
        </button>
      </td>
      <td  >
        <button id="Cuota12" onclick="abrirModal(this.id)">
        <%= datosTabla.Cuota12%>
        </button>
      </td>
      <td  >
        <button id="PermisoIr" onclick="abrirModal(this.id)">
        <%= datosTabla.PermisoIrrigacion%>
        </button>
      </td>
      <td  >
        <button id="PermisoDNV" onclick="abrirModal(this.id)">
        <%= datosTabla.PermisoDNV%>
        </button>
      </td>
      <td  >
        <button id="PermisoDPV" onclick="abrirModal(this.id)">
        <%= datosTabla.PermisoDPV%>
        </button>
      </td>
      <td  >
        <button id="PermisoHidraulica" onclick="abrirModal(this.id)">
        <%= datosTabla.PermisoHidraulica%>
        </button>
      </td>
      <td  >
        <button id="PermisoFFCC" onclick="abrirModal(this.id)">
        <%= datosTabla.PermisoFFCC%>
        </button>
      </td>
      <td  >
        <button id="PermisoMunicipal" onclick="abrirModal(this.id)">
        <%= datosTabla.PermisoMunicipal%>
        </button>
      </td>
      <td  >
        <button id="DescripcionPermisos" onclick="abrirModal(this.id)">
        <%= datosTabla.DescripcionPermisos%>
        </button>
      </td>
      <td  >
        <button id="ServicioDomiciliario" onclick="abrirModal(this.id)">
        <%= datosTabla.ServicioDomiciliario%>
        </button>
      </td>

    <%});%>
</tbody>
  </table>

<!-- Modal -->
<div class="container-fluid">
<div class="modal fade" id="ModalPrincipal" tabindex="-1" role="dialog" aria-labelledby="ModalPrincipalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"id="TituloModal"></h5>
        <button type="button" class="close"onclick="$('#ModalPrincipal').modal('hide');" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/guardarValor" method="post">
          <div class="row">
            <div class="col ">
            <label for="Monto">Monto</label>
            <input type="number"step="0.01" name="ValorIngresado" id="ValorIngresado">
          </div>
          <div class="col ">
            <label for="Descripcion">Descripción</label>
            <input type="text" name="DetalleDeIngreso" id="DetalleDeIngreso">
          </div>
<div class="col text-center">
  <h6>¿Cliente ha pagado?</h6>
  <label class="text-center" for="">Si</label>

  <input type="radio" name="SeleccionPagado" id="PagadoSi">
  <label  for="">No</label>
  <input type="radio" name="SeleccionPagado" id="PagadoNo">
</div>
<div class="col">
  <label for="">Fecha de pago</label>
  <input type="date" name="FechaPago" id="FechaPago">
</div>
</div>
<div class="row">
  <div class="col">
    <label for="">Imprimir comprobante</label>
    <button>Imprimir</button>
  </div>
<div class="col">
  <label for="">Cargar comprobante de pago</label>
<input type="file" name="ComprobantePago" id="ComprobantePago">
</div>

</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"onclick="$('#ModalPrincipal').modal('hide');">Cerrar</button>
        <button type="submit" class="btn btn-danger">Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div>
</div>
<%}%>
</body>
    <script>
      function abrirModal(id){
        document.getElementById("TituloModal").innerHTML = id ;
$("#ModalPrincipal").modal('show');
      }
    </script>
</html>