<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <title>Finanzas:Vista de la obra</title>
</head>

<body>
  <%- include('./partials/menusuperior.ejs'); %>
    <div class="VistaObra">
      <div class="Encabezado mt-2 ms-1">
        <button class="btn btn-sm btn-danger bi bi-arrow-bar-left" onclick="history.go(-1)"
          title="Ir a pagína anterior"></button>
        <a href="/Finanzas/NuevoCliente/<%=NombreObra%>"><button
            class="btn btn-sm btn-success">NuevoCliente</button></a>
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
          data-bs-target="#modalClientesPorLote">
          Nuevo cliente | Carga por lote
        </button>
        <button class="btn btn-sm btn-primary" onclick="ExportarAExcel();" disabled>Exportar planilla</button>
        <button id="btnVerConfigObra" class="btn btn-sm btn-primary bi bi-gear" data-bs-toggle="modal"
          data-bs-target="#ModalConfiguracion">
          Configurar obra</button>
        <h1 class="text-center">
         
        </h1>
      </div>

      <div class="container ">
        <p class="text-center">En caso de no encontrar el vecino, debera de cargarlo en el sistema.</p>
      </div>

      <div class="container VistaClientes m-2">
        <label for="BuscadorCliente">Buscar cliente</label>
        <input class="border border-danger" type="text" name="BuscadorCliente" id="BuscadorCliente">

        <div class="btn-toolbar m-2 border border-secondary rounded">
          <label class="list-group-item" for="">Colores de referencia: </label>
          <ul class="list-group list-group-horizontal">
            <!-- <li class="list-group-item text-light bg-danger">Sin pagar </li> -->
            <li class="list-group-item text-danger">Pago inferior al esperado</li>
            <li class="list-group-item text-success">Pago superior al esperado</li>
            <li class="list-group-item bg-success">Pagado</li>
          </ul>
        </div>
      </div>

      <table id="TablaObras" class="table table-bordered table-inverse table-responsive text-center"
       >
        <thead class="thead-default">
          <tr>
<th>Cliente</th>
<th>Domicilio</th>
<th>DNI</th>
<th id="thDomiciliario">Serv. Domiciliario</th>
<th id="thAnticipo">A. financiero </th>
<th id="thCuota1">Cuota 1 </th>
<th id="thCuota2">Cuota 2 </th>
<th id="thCuota3">Cuota 3 </th>
<th id="thCuota4">Cuota 4 </th>
<th id="thCuota5">Cuota 5 </th>
<th id="thCuota6">Cuota 6 </th>
<th id="thCuota7" class="cuotasAdicionales">Cuota 7 </th>
<th id="thCuota8" class="cuotasAdicionales">Cuota 8</th>
<th id="thCuota9" class="cuotasAdicionales">Cuota 9 </th>
<th id="thCuota10" class="cuotasAdicionales">Cuota 10</th>
<th id="thCuota11" class="cuotasAdicionales">Cuota 11</th>
<th id="thCuota12" class="cuotasAdicionales">Cuota 12</th>
<th id="thDNV">Permiso DNV</th>
<th id="thDPV">Permiso DPV</th>
<th id="thHidraulica">Permiso Hidraulica</th>
<th id="thFFCC">Permiso FFCC</th>
<th id="thPrivado">Permiso Privado</th>
<th id="thMunicipal">Permiso Municipal</th>
<th id="thIngresoDoc">gastos asociados aforos</th>
<th id="thIrrigacion">Permiso Irrigación</th>
</tr>
        </thead>
        <tbody>
       
        </tbody>
      </table>
    </div>
      <%- include('./partials/modalClientesPorLote')%>
        <%- include('./partials/ConfigObra.ejs') %>
          <%- include('./partials/PagoCliente.ejs') %>
          <form action="/EditarCliente/ActualizarValoresPredeterminados" method="post">

            <div class="modal fade" id="modalEditarVecino" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Editar monto a pagar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div id="EdicionVecino" class="container">
                      <input type="number" name="IDCliente" id="IDCliente" hidden>
                      <div class="row">
                        <h5>Anticipo y cuotas</h5>
                        <div class="input-group input-group-sm">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Anticipo
                            financiero</span>
                          <input type="text" class="form-control" aria-label="Sizing example input"
                            name="AnticipoFinanciero" id="2AnticipoFinanciero"
                            aria-describedby="inputGroup-sizing-sm">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Servicio
                            domiciliario</span>
                          <input type="text" class="form-control" aria-label="Sizing example input"
                            name="ServicioDomiciliario" id="2ServicioDomiciliario"
                            aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 1</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota1"
                            id="2Cuota1" aria-describedby="inputGroup-sizing-sm">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 2</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota2"
                            id="2Cuota2" aria-describedby="inputGroup-sizing-sm">
                        </div>

                        <div class="input-group input-group-sm">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 3</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota3"
                            id="2Cuota3" aria-describedby="inputGroup-sizing-sm">


                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 4</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota4"
                            id="2Cuota4" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 5</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota5"
                            id="2Cuota5" aria-describedby="inputGroup-sizing-sm">

                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 6</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota6"
                            id="2Cuota6" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 7</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota7"
                            id="2Cuota7" aria-describedby="inputGroup-sizing-sm">

                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 8</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota8"
                            id="2Cuota8" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 9</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota9"
                            id="2Cuota9" aria-describedby="inputGroup-sizing-sm">

                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 10</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota10"
                            id="2Cuota10" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 11</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota11"
                            id="2Cuota11" aria-describedby="inputGroup-sizing-sm">

                          <span class="input-group-text" id="inputGroup-sizing-sm">Cuota 12</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Cuota12"
                            id="2Cuota12" aria-describedby="inputGroup-sizing-sm">
                        </div>

                        <h5>Permisos</h5>

                        <div class="input-group input-group-sm mb-1">
                          <span class="input-group-text" id="inputGroup-sizing-sm">DNV</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="DNV"
                            id="2DNV" aria-describedby="inputGroup-sizing-sm">
                        </div>


                        <div class="input-group input-group-sm mb-1">
                          <span class="input-group-text" id="inputGroup-sizing-sm">DPV</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="DPV"
                            id="2DPV" aria-describedby="inputGroup-sizing-sm">
                        </div>


                        <div class="input-group input-group-sm mb-1">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Hidraulica</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Hidraulica"
                            id="2Hidraulica" aria-describedby="inputGroup-sizing-sm">
                        </div>


                        <div class="input-group input-group-sm mb-1">
                          <span class="input-group-text" id="inputGroup-sizing-sm">FFCC</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="FFCC"
                            id="2FFCC" aria-describedby="inputGroup-sizing-sm">
                        </div>


                        <div class="input-group input-group-sm mb-1">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Privado</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Privado"
                            id="2Privado" aria-describedby="inputGroup-sizing-sm">
                        </div>


                        <div class="input-group input-group-sm mb-1">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Municipal</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Municipal"
                            id="2Municipal" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-1">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Irrigacion</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" name="Irrigacion"
                            id="2Irrigacion" aria-describedby="inputGroup-sizing-sm">
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
       
</body>
<script>

  setTimeout(() => {
         // Ocultar el contenido del popup inicialmente
         $('.popup-content').css('display', 'none');

// Mostrar el popup al hacer clic en el elemento con la clase "popup-trigger"
$('.popup-trigger').hover(function() {
    // Ocultar todos los demás popups antes de mostrar este
    $('.popup-content').css('display', 'none');
    // Mostrar el contenido del popup correspondiente
    $(this).next('.popup-content').toggle();
});
  }, 1000);
  function EnviarFormulario() {
    $('#formActualizarPago').submit();
  }
  $('#TipoCobro').click(function () {
    $('#FormTipoCobro').submit();
  })
  jQuery("#BuscadorCliente").keyup(function () {
    if (jQuery(this).val() != "0") {
      jQuery("#TablaObras tbody>tr").hide();
      jQuery("#TablaObras td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show();
    }
    ("#TablaObras tbody>tr").show();
  })

  jQuery.extend(jQuery.expr[":"], {
    "contiene-palabra": function (elem, i, match, array) {
      return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
  });

  function danger() {
    $("#TablaObras").table2excel({
      name: "file.xlsx"
    });
  }
  var MontosaPagar;

  $('#Concepto').change(function () {
    var idcliente = $('#IDCliente').val();
    $.ajax({
      url: '/BuscarDatosClienteQuePaga/' + idcliente,
    }).done(function (respuestaServidor) {
      var montoAPagarPredeterminado = respuestaServidor.montosCuota;
      $("#Concepto option:selected").each(function () {
        var ConceptoSeleccionado = $(this).attr('value');
        montoAPagarPredeterminado.forEach(element => {
          JSON.parse(JSON.stringify(element), (key, value) => {
            if (ConceptoSeleccionado == key) {
              $('#ImporteIngresado').val(value);
            };
          });
        })
        $('#divImporte2').css('display', 'block');
      })
    })
  })

  function editarVecino() {
    var idCliente = $('#IDCliente').val();
    const url = '/Finanzas/CobroDeObras/EditarCliente/ObtenerDatosCliente/' + idCliente;
    $.ajax({
      url: url,
    }).done(function (datos) {
      $('#2AnticipoFinanciero').val(datos[0].AnticipoFinanciero);
      $('#2ServicioDomiciliario').val(datos[0].ServicioDomiciliario);
      $('#2Cuota1').val(datos[0].Cuota1);
      $('#2Cuota2').val(datos[0].Cuota2);
      $('#2Cuota3').val(datos[0].Cuota3);
      $('#2Cuota4').val(datos[0].Cuota4);
      $('#2Cuota5').val(datos[0].Cuota5);
      $('#2Cuota6').val(datos[0].Cuota6);
      $('#2Cuota7').val(datos[0].Cuota7);
      $('#2Cuota8').val(datos[0].Cuota8);
      $('#2Cuota9').val(datos[0].Cuota9);
      $('#2Cuota10').val(datos[0].Cuota10);
      $('#2Cuota11').val(datos[0].Cuota11);
      $('#2Cuota12').val(datos[0].Cuota12);
      $('#2DNV').val(datos[0].DNV);
      $('#2DPV').val(datos[0].DPV);
      $('#2Hidraulica').val(datos[0].Hidraulica);
      $('#2FFCC').val(datos[0].FFCC);
      $('#2Privado').val(datos[0].Privado);
      $('#2Municipal').val(datos[0].Municipal);
      $('#2Irrigacion').val(datos[0].Irrigacion);
    })
    $('#modalEditarVecino').modal('show');
  }
  $('#btnVerConfigObra').click(function () {
    $.ajax({
      type: "GET",
      url: "/Finanzas/cobrodeobras/VerObra/<%=id_Obra%>/data",
      dataType: "json",
      success: function (response) {
$('#ConfigAnticipoFinanciero').val(response.PredeterminadosyCobros[0].PredeterminadoAnticipoFinanciero);
$('#ConfigCuota1').val(response.PredeterminadosyCobros[0].PredeterminadoCuota1);
$('#ConfigCuota2').val(response.PredeterminadosyCobros[0].PredeterminadoCuota2);
$('#ConfigCuota3').val(response.PredeterminadosyCobros[0].PredeterminadoCuota3);
$('#ConfigCuota4').val(response.PredeterminadosyCobros[0].PredeterminadoCuota4);
$('#ConfigCuota5').val(response.PredeterminadosyCobros[0].PredeterminadoCuota5);
$('#ConfigCuota6').val(response.PredeterminadosyCobros[0].PredeterminadoCuota6);
if(response.PredeterminadosyCobros[0].CantidadCuotas>6){
  $('#ConfigCuota7').val(response.PredeterminadosyCobros[0].PredeterminadoCuota7);
$('#ConfigCuota8').val(response.PredeterminadosyCobros[0].PredeterminadoCuota8);
$('#ConfigCuota9').val(response.PredeterminadosyCobros[0].PredeterminadoCuota9);
$('#ConfigCuota10').val(response.PredeterminadosyCobros[0].PredeterminadoCuota10);
$('#ConfigCuota11').val(response.PredeterminadosyCobros[0].PredeterminadoCuota11);
$('#ConfigCuota12').val(response.PredeterminadosyCobros[0].PredeterminadoCuota12);
}$('#ConfigDNV').val(response.PredeterminadosyCobros[0].PredeterminadoDNV);
$('#ConfigDPV').val(response.PredeterminadosyCobros[0].PredeterminadoDPV);
$('#ConfigHidraulica').val(response.PredeterminadosyCobros[0].PredeterminadoHidraulica);
$('#ConfigFFCC').val(response.PredeterminadosyCobros[0].PredeterminadoFFCC);
$('#ConfigPrivado').val(response.PredeterminadosyCobros[0].PredeterminadoPrivado);
$('#ConfigMunicipal').val(response.PredeterminadosyCobros[0].PredeterminadoMunicipal);
$('#ConfigServicioDomiciliario').val(response.PredeterminadosyCobros[0].PredeterminadoServicioDomiciliario);
}
    });
   
  })
$(document).ready(function(){
  $('#TablaObras').DataTable({
    "scrollX": true,
        "paging": false,
        "info": false,
        "searching": false,
        "ajax": {
            "url": "/Finanzas/cobrodeobras/VerObra/<%=id_Obra%>/data", 
            "dataType": "json",
            "dataSrc": function (data) {
              console.log(data);
                return data.PredeterminadosyCobros;
                
            }
        },
        "columnDefs":[{
"targets":[0,1,2],
"createdCell": function (td,cellData,rowData,row,col){
  $(td).addClass('bg-secondary fw-bold text-light');
},

}      
      ],
        "columns": [
            { "data": "NombreCliente", "render":function(data,type,row,meta){
              return '<button class="btn" onclick="CargarPago(\''+row.ID_cliente+'\',\''+row.NombreCliente+'\');">'+row.NombreCliente+'</button>'
            }},
            { "data": "Direccion","render":function(data,type,row,meta){
             
                return data;
              
            }},
            { "data": "DNICliente","render":function(data,type,row,meta){
             
                return data;
              
            }},
            { "data": "ServicioDomiciliario" ,"render": function(data,type,row,meta){
              if(row.ServicioDomiciliario==0){
                
                return null;}
              else{
                if(row.ServicioDomiciliario==row.PredeterminadoServicioDomiciliario){
                  return '<span class="popup-trigger bg-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoServicioDomiciliario +'</div>';
                }
                if(row.ServicioDomiciliario<row.PredeterminadoServicioDomiciliario){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoServicioDomiciliario + ', resta por pagar:$'+(row.PredeterminadoServicioDomiciliario-data)+' </div>';
              } if(row.ServicioDomiciliario>row.PredeterminadoServicioDomiciliario){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoServicioDomiciliario + ', ha pagado por demas:$'+(data-row.PredeterminadoServicioDomiciliario)+' </div>'; 
              }
              }
            } },
            { "data": "AnticipoFinanciero","render":function(data,type,row,meta){
              if(row.AnticipoFinanciero==0){
                return null;
              }else{
                if(row.AnticipoFinanciero==row.PredeterminadoAnticipoFinanciero){
                  return '<span class="popup-trigger bg-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoAnticipoFinanciero +'</div>';
                }
                if(row.AnticipoFinanciero<row.PredeterminadoAnticipoFinanciero){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoAnticipoFinanciero + ', resta por pagar:$'+(row.PredeterminadoAnticipoFinanciero-data)+' </div>';
              } if(row.AnticipoFinanciero>row.PredeterminadoAnticipoFinanciero){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoAnticipoFinanciero + ', ha pagado por demas:$'+(data-row.PredeterminadoAnticipoFinanciero)+' </div>'; 
              }
            }
            }},
            { "data": "Cuota1","render":function(data,type,row,meta){
              if(row.Cuota1==0){
                return null;
              }else{
                if(row.Cuota1==row.PredeterminadoCuota1){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota1 +'</div>';
                }
                if(row.Cuota1<row.PredeterminadoCuota1){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota1 + ', resta por pagar:$'+(row.PredeterminadoCuota1-data)+' </div>';
              } if(row.Cuota1>row.PredeterminadoCuota1){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota1 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota1)+' </div>'; 
              }
              }
            } },
            { "data": "Cuota2","render":function(data,type,row,meta){
              if(row.Cuota2==0){
                return null;
              }else{
                if(row.Cuota2==row.PredeterminadoCuota2){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota2 +'</div>';
                }
                if(row.Cuota2<row.PredeterminadoCuota2){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota2 + ', resta por pagar:$'+(row.PredeterminadoCuota2-data)+' </div>';
              } if(row.Cuota2>row.PredeterminadoCuota2){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota2 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota2)+' </div>'; 
              }
              }
            } },
            { "data": "Cuota3","render":function(data,type,row,meta){
              if(row.Cuota3==0){
                return null;
              }else{
                if(row.Cuota3==row.PredeterminadoCuota3){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota3 +'</div>';
                }
                if(row.Cuota3<row.PredeterminadoCuota3){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota3 + ', resta por pagar:$'+(row.PredeterminadoCuota3-data)+' </div>';
              } if(row.Cuota3>row.PredeterminadoCuota3){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota3 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota3)+' </div>'; 
              }
              }
            } },
            { "data": "Cuota4","render":function(data,type,row,meta){
              if(row.Cuota4==0){
                return null;
              }else{
                if(row.Cuota4==row.PredeterminadoCuota4){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota4 +'</div>';
                }
                if(row.Cuota4<row.PredeterminadoCuota4){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota4 + ', resta por pagar:$'+(row.PredeterminadoCuota4-data)+' </div>';
              } if(row.Cuota4>row.PredeterminadoCuota4){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota4 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota4)+' </div>'; 
              }
              }
            } },
            { "data": "Cuota5","render":function(data,type,row,meta){
              if(row.Cuota5==0){
                return null;
              }else{
                if(row.Cuota5==row.PredeterminadoCuota5){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota5 +'</div>';
                }
                if(row.Cuota5<row.PredeterminadoCuota5){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota5 + ', resta por pagar:$'+(row.PredeterminadoCuota5-data)+' </div>';
              } if(row.Cuota5>row.PredeterminadoCuota5){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota5 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota5)+' </div>'; 
              }
              }
            } },
            { "data": "Cuota6","render":function(data,type,row,meta){
              if(row.Cuota6==0){
                return null;
              }else{
                if(row.Cuota6==row.PredeterminadoCuota6){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota6 +'</div>';
                }
                if(row.Cuota6<row.PredeterminadoCuota6){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota6 + ', resta por pagar:$'+(row.PredeterminadoCuota6-data)+' </div>';
              } if(row.Cuota6>row.PredeterminadoCuota6){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota6 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota6)+' </div>'; 
              }
              }
            } },
            { "data": "Cuota7" ,"render":function(data,type,row,meta){
              if(row.CantidadCuotas>6){
                if(row.Cuota7==row.PredeterminadoCuota7){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota7 +'</div>';
                }
                if(row.Cuota7<row.PredeterminadoCuota7){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota7 + ', resta por pagar:$'+(row.PredeterminadoCuota7-data)+' </div>';
              } if(row.Cuota7>row.PredeterminadoCuota7){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota7 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota7)+' </div>'; 
              }
              }else{
                return null;}
            }},
            { "data": "Cuota8" ,"render":function(data,type,row,meta){
              if(row.CantidadCuotas>7){
                if(row.Cuota8==row.PredeterminadoCuota8){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota8 +'</div>';
                }
                if(row.Cuota8<row.PredeterminadoCuota8){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota8 + ', resta por pagar:$'+(row.PredeterminadoCuota8-data)+' </div>';
              } if(row.Cuota8>row.PredeterminadoCuota8){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota8 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota8)+' </div>'; 
              }
              }else{
                return null;}
            }},
            { "data": "Cuota9" ,"render":function(data,type,row,meta){
              if(row.CantidadCuotas>8){
                if(row.Cuota9==row.PredeterminadoCuota9){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota9 +'</div>';
                }
                if(row.Cuota9<row.PredeterminadoCuota9){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota9 + ', resta por pagar:$'+(row.PredeterminadoCuota9-data)+' </div>';
              } if(row.Cuota9>row.PredeterminadoCuota9){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota9 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota9)+' </div>'; 
              }
              }else{
                return null;}
            }},
            { "data": "Cuota10","render":function(data,type,row,meta){
              if(row.CantidadCuotas>9){
                if(row.Cuota10==row.PredeterminadoCuota10){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota10 +'</div>';
                }
                if(row.Cuota10<row.PredeterminadoCuota10){
                return '<span class="popup-danger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota10 + ', resta por pagar:$'+(row.PredeterminadoCuota10-data)+' </div>';
              } if(row.Cuota10>row.PredeterminadoCuota10){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota10 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota10)+' </div>'; 
              }
              }else{
                return null;}
            } },
            { "data": "Cuota11","render":function(data,type,row,meta){
              if(row.CantidadCuotas>10){
                if(row.Cuota11==row.PredeterminadoCuota11){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota11 +'</div>';
                }
                if(row.Cuota11<row.PredeterminadoCuota11){
                return '<span class="popup-danger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota11 + ', resta por pagar:$'+(row.PredeterminadoCuota11-data)+' </div>';
              } if(row.Cuota11>row.PredeterminadoCuota11){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota11 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota11)+' </div>'; 
              }
              }else{
                return null;}
            } },
            { "data": "Cuota12","render":function(data,type,row,meta){
              if(row.CantidadCuotas>11){
                if(row.Cuota11==row.PredeterminadoCuota11){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota11 +'</div>';
                }
                if(row.Cuota11<row.PredeterminadoCuota11){
                return '<span class="popup-danger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota11 + ', resta por pagar:$'+(row.PredeterminadoCuota11-data)+' </div>';
              } if(row.Cuota11>row.PredeterminadoCuota11){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoCuota11 + ', ha pagado por demas:$'+(data-row.PredeterminadoCuota11)+' </div>'; 
              }
              }else{
                return null;}
            } },
            { "data": "PredeterminadoDNV" ,"render": function(data,type,row,meta){
              if(row.PredeterminadoDNV==0){
                
                return null;}
              else{return ('$'+data);}
            } },
            { "data": "PredeterminadoDPV" ,"render": function(data,type,row,meta){
              if(row.PredeterminadoDPV==0){
                
                return null;}
              else{
                if(row.DPV==row.PredeterminadoDPV){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoDPV +'</div>';
                }
                if(row.DPV<row.PredeterminadoDPV){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoDPV + ', resta por pagar:$'+(row.PredeterminadoDPV-data)+' </div>';
              } if(row.DPV>row.PredeterminadoDPV){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoDPV + ', ha pagado por demas:$'+(data-row.PredeterminadoDPV)+' </div>'; 
              }
            }
            } },
            { "data": "PredeterminadoHidraulica" ,"render": function(data,type,row,meta){
              if(row.PredeterminadoHidraulica==0){
                
                return null;}
              else{
                if(row.Hidraulica==row.PredeterminadoHidraulica){
                  return '<span class="popup-trigger bg-success-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoHidraulica +'</div>';
                }
                if(row.Hidraulica<row.PredeterminadoHidraulica){
                return '<span class="popup-trigger danger-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoHidraulica + ', resta por pagar:$'+(row.PredeterminadoHidraulica-data)+' </div>';
              } if(row.Hidraulica>row.PredeterminadoHidraulica){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoHidraulica + ', ha pagado por demas:$'+(data-row.PredeterminadoHidraulica)+' </div>'; 
              }
              }
            } },
            { "data": "PredeterminadoFFCC" ,"render": function(data,type,row,meta){
              if(row.PredeterminadoFFCC==0){
                
                return null;}
              else{
                if(row.FFCC==row.PredeterminadoFFCC){
                  return '<span class="bg-success popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoFFCC +'</div>';
                }
                if(row.FFCC<row.PredeterminadoFFCC){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoFFCC + ', resta por pagar:$'+(row.PredeterminadoFFCC-data)+' </div>';
              } if(row.FFCC>row.PredeterminadoFFCC){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoFFCC + ', ha pagado por demas:$'+(data-row.PredeterminadoFFCC)+' </div>'; 
              }
              }
            } },
            { "data": "PredeterminadoPrivado" ,"render": function(data,type,row,meta){
              if(row.PredeterminadoPrivado==0){
                
                return null;}
              else{
              
              }
            } },
            { "data": "PredeterminadoMunicipal" ,"render": function(data,type,row,meta){
              if(row.PredeterminadoMunicipal==0){
                
                return null;}
              else{
                if(row.Municipal==row.PredeterminadoMunicipal){
                  return '<span class="popup-trigger bg-success text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoMunicipal +'</div>';
                }
                if(row.Municipal<row.PredeterminadoMunicipal){
                return '<span class="popup-trigger danger-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoMunicipal + ', resta por pagar:$'+(row.PredeterminadoMunicipal-data)+' </div>';
              } if(row.Municipal>row.PredeterminadoMunicipal){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoMunicipal + ', ha pagado por demas:$'+(data-row.PredeterminadoMunicipal)+' </div>'; 
              }
              }
            } },
           
            { "data": "PredeterminadoIngresoDocumentacion" ,"render": function(data,type,row,meta){
              if(row.PredeterminadoIngresoDocumentacion==0){
                
                return null;}
              else{
                if(row.IngresoDocumentacion==row.PredeterminadoIngresoDocumentacion){
                  return '<span class="popup-trigger bg-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoIngresoDocumentacion +'</div>';
                }
                if(row.IngresoDocumentacion<row.PredeterminadoIngresoDocumentacion){
                return '<span class="popup-trigger text-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoIngresoDocumentacion + ', resta por pagar:$'+(row.PredeterminadoIngresoDocumentacion-data)+' </div>';
              } if(row.IngresoDocumentacion>row.PredeterminadoIngresoDocumentacion){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoIngresoDocumentacion + ', ha pagado por demas:$'+(data-row.PredeterminadoIngresoDocumentacion)+' </div>'; 
              }
              }
            } },
            { "data": "PredeterminadoIrrigacion" ,"render": function(data,type,row,meta){
              if(row.PredeterminadoIrrigacion==0){
                
                return null;}
              else{
                if(row.Irrigacion==row.PredeterminadoIrrigacion){
                  return '<span class="popup-trigger bg-success-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoIrrigacion +'</div>';
                }
                if(row.Irrigacion<row.PredeterminadoIrrigacion){
                return '<span class="popup-trigger danger-danger">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoIrrigacion + ', resta por pagar:$'+(row.PredeterminadoIrrigacion-data)+' </div>';
              } if(row.Irrigacion>row.PredeterminadoIrrigacion){
                return '<span class="popup-trigger text-success">$' + data + '</span>' + 
               '<div class="popup-content text-secondary">Valor a pagar:$' + row.PredeterminadoIrrigacion + ', ha pagado por demas:$'+(data-row.PredeterminadoIrrigacion)+' </div>'; 
              }
                }
            } },
        ]
    });
  })
 
</script>
</html>
<style>
  .popup-content{
   display: none;
   position: absolute;
   background-color: white;
   border: 1px solid #ccc;
   padding: 10px;
   z-index: 1000;
    }
  </style>