<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
</head>
<body>    
  <%- include('./partials/menusuperior.ejs')%>
  <h1 class="text-center">Contactos</h1>
  <div class="container-fluid">
  <div class="btn-group border-bottom mb-2">
      <a href="/nuevocontacto">
        <button class="btn btn-success">Nuevo Contacto</button>
      </a>
    </div>
  <br/>
  
  <div class="table-responsive">
    <div class="form-inline">
 <input class="form-control mr-sm-2" type="search" placeholder="Buscar información en contacto" aria-label="Buscar contacto" id="buscador" value=""/>
</div>
    <table id="Contactos" class="table table-striped table-bordered table-sm table-hover " style="width: 100%">
        <thead>
            <tr>
                <th>
                    <h4 class="bi bi-person-vcard">Nombre</h4>
                    
                </th>
                <th>
                    <h4 class="bi bi-house">Entidad</h4>
                </th>
                <th>
                    <h4>Area</h4>
                </th>
                <th>
                    <h4 class="bi bi-person-workspace">Puesto</h4>
                </th>
                <th>
                    <h4 class="bi bi-telephone">Teléfono  </h4>
                </th>
                <th>
                    <h4 class="bi bi-mailbox">Correo</h4>
                </th>
              </tr>
        </thead>
        <tbody>
            <% results.forEach((contactos)=>{ %>
                <tr>
                   <td>
                        <%= contactos.Nombre %>
                    </td>
                    <td>
                        <%=contactos.Entidad%>
                    </td>
                    <td>
                        <%=contactos.Area%>
                    </td>
                    
                    <td>
                        <%=contactos.Puesto%>
                    </td>
                    <td>
                      <%=contactos.Telefono%>
                    </td>
                    <td>
                        <%=contactos.Correo%>
                      </td>
                    <td><a href="/editarContacto/<%= contactos.id%>" class="btn btn-outline-info">editar</a>
                    </tr></td>
                <% })%>
        </tbody>
  
  
  
    </table>
  </div>
</div>
  </body>
  <script>
    jQuery("#buscador").keyup(function(){
    if( jQuery(this).val() != "0"){
        jQuery("#Contactos tbody>tr").hide();
        jQuery("#Contactos td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show();
    }
    else{
        jQuery("#Contactos tbody>tr").show();
        jQuery("#Contactos tbody>td").show();

    }
});

jQuery.extend(jQuery.expr[":"], 
{
    "contiene-palabra": function(elem, i, match, array) {
        return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
});
</script>

</html>