<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/header.ejs') %>
  <title>Joval Administración</title>
</head>

<body class="">
  <%if(rol=="admin"|| rol=="Supervisor"){%>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
      <button class="nav-item nav-link btn" href="#" aria-current="page" data-bs-toggle="modal" data-bs-target="#modalNuevoEmpleado">Nuevo empleado <span class="visually-hidden">(current)</span></button>
        <button type="button" class="btn nav-item nav-link" data-bs-toggle="modal" data-bs-target="#modalVistaEmpleados" onclick="editarEmpleado()">
          Editar empleado
        </button>
        <button class="btn nav-item nav-link"> <a href="/Principal/historialtareas">Historial de tareas</a></button>
    </div>
  </nav>

  <%}%>
  <div class="container ">
    <div class="row ">
      <img class="img-fluid w-25 mx-auto d-block text-center"
               src="./images/Logo-Joval.png" alt="logo" id="LogoJoval" >
      
    <div class="card mb-4">
        <div class="card-body text-center ">
          
          <a href="/adminecogas">
          <button class="btn btn-primary">Administración
            Ecogas</button>
          </a>
          <a href="/admingral">
          <button class="btn btn-danger">Administración
            General</button>
          </a>
          <a href="/compraventa">
          <button class="btn btn-info">Compra-Venta</button>
        </a>
          <button class="btn btn-secondary" disabled>Recursos Humanos</button>
          <a href="/Finanzas">
          <button class="btn btn-danger">Finanzas
          </button>
        </a>
         <a href="/Galpon">
          <button class="btn btn-primary">Galpon</button>
          </a>
          <button class="btn btn-secondary" disabled> Nuevos Proyectos
          </button>
        </div>
      </div>

    </div>
    <div class="btn-group" role="group" aria-label="btngroup1">
      <button type="button" id="btnTareaRapida" class="btn btn-primary">Tarea rápida</button>

    </div>
    <div class="row">
      <div class="list-group">
      <div class="table-responsive">
        <table class="table table-primary">
          <thead>
                        <h2 class="text-center">Albacaución</h2>
            <tr>
              <th scope="col">Póliza N°</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha de proximo vencimiento</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tbody>
            
          <% albacaucion.forEach((polizaAlba)=>{%>
  <tr class="">
    <td><%=polizaAlba.NumeroPoliza%></td>
    <td><%=polizaAlba.Descripcion%></td>
    <%polizaAlba.ProximaRefacturacion=moment(polizaAlba.ProximaRefacturacion).locale('es').format("DD-MM-YYYY");%>
    <td><%=polizaAlba.ProximaRefacturacion%></td>
    <td><%=polizaAlba.Riesgo%></td>
  </tr>
  <%})%>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>
  <div class="modal fade" id="modalTareaRapida" tabindex="-2" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">Tarea rápida</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/Principal/CargarTareaEnHistorial" id="formCargarTareaEnHistorial" method="post">
         <div class="mb-3">
           <label for="" class="form-label">Tarea realizada:</label>
           <input required type="text" class="form-control" name="TareaRealizada" id="" aria-describedby="helpId" placeholder="">
           </div>
           <div class="mb-3">
            <label for="" class="form-label">Fecha:</label>
            <input required type="date" class="form-control" name="FechaTarea" id="FechaTarea" aria-describedby="helpId" placeholder="">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Tipo:</label>
              <select required class="form-select form-select" name="TipoTarea" id="">
                <option selected></option>
                <option value="ADMINISTRACION GENERAL">Administración General</option>
                <option value="ADMINISTRACION ECOGAS">Administración Ecogas</option>
                <option value="FINANZAS">Finanzas</option>
                <option value="RRHH">Recursos humanos</option>
                <option value="COMPRA/VENTA">Compra/Venta</option>
                <option value="DEPOSITO,MANTENIMIENTO,CONTROL">Depósito,mantenimiento y/o control</option>
                <option value="SERVICIOS EXTERNOS">Otros servicios</option>
                <option value="ALQUILER MAQUINAS">Alquiler de maquínas</option>
                
              </select>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Empleado:</label>
              <select required class="form-select form-select" name="Empleado" id="selectEmpleadoTareaRapida">
                <option selected>Seleccione alguno</option>
                
              </select>
            </div>
        </div>
      </form>
        <div class="modal-footer">
          <div id="respuestaServidor"></div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" id="btnGuardarTareaRapidaHistorial">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <%if(rol=="admin"|| rol=="Supervisor"){%>
  <!-- Modal trigger button -->
  

  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div class="modal fade" id="modalNuevoEmpleado" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">Nuevo empleado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/NuevoEmpleado" method="post">
          <div class="modal-body justify-center">
            <div class="input-group mb-2">
              <label class="input-group-text" for="NombreEmpleado">Nombre</label><input class="input-control" type="text" name="Nombre" id="NombreEmpleado">
            </div>
            <div class="input-group mb-2">

              <label class="input-group-text" for="Usuario">Usuario</label><input class="input-control" type="text" name="Usuario" id="Usuario">
            </div>
            <div class="input-group mb-2">
              <label class="input-group-text" for="Contraseña">Contraseña</label><input class="input-control" type="text" name="Contraseña" id="Contraseña">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-text">Rol en el sistema</div>
              <select class="form-select" name="rol" id="">
                <option value="admin">Administrador</option>
                <option value="Supervisor">Supervisor</option>
                <option value="empleado">Empleado</option>

              </select>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
      </div>
    </div>
  </div>
  </div>
<div class="modal fade" id="modalVistaEmpleados" tabindex="-1"  role="dialog" aria-labelledby="modalVistaEmpleados" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVistaEmpleados">Empleados</h5>
          <button type="button" class="btn-close" aria-label="Close" onclick="$('#modalVistaEmpleados').modal('hide')"></button>
      </div>
      <div class="modal-body" id="bodymodalVistaEmpleados"> 
        <div class="table-responsive">
          <table class="table table-light">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Usuario</th>
                <th scope="col">Rol</th>
                <th scope="col">Editar</th>

              </tr>
            </thead>
            <tbody id="tbodyEditarEmpleado">
          
              
            </tbody>
          </table>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="$('#modalVistaEmpleados').modal('hide')">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Body -->

<div class="modal fade" id="ModalEditarEmpleado" tabindex="-1"  role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Editar empleado</h5>
          <button type="button" class="btn-close" onclick="$('#ModalEditarEmpleado').modal('hide')" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/editarEmpleado" method="post">
          <div class="modal-body justify-center">
            <input type="hidden" name="id" id="EditarIDEmpleado">
            <div class="input-group mb-2">
              <label class="input-group-text" for="NombreEmpleado">Nombre</label><input class="input-control" type="text" name="Nombre" id="EditarNombreEmpleado">
            </div>
            <div class="input-group mb-2">

              <label class="input-group-text" for="Usuario">Usuario</label><input class="input-control" type="text" name="Usuario" id="EditarUsuario">
            </div>
            <div class="input-group mb-2">
              <label class="input-group-text" for="Contraseña">Contraseña</label><input class="input-control" type="text" name="Contraseña" id="EditarContraseña">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-text">Rol en el sistema</div>
              <select class="form-select" name="rol" id="">
                <option value="admin">Administrador</option>
                <option value="Supervisor">Supervisor</option>
                <option value="empleado">Empleado</option>
</select>
            </div>
</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="$('#ModalEditarEmpleado').modal('hide')">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
  
  <%}%>
  
</body>
<style>
  #LogoJoval:hover {
    transition:all 2s ease-in-out;
    transition-duration: 2s;
    animation-iteration-count: infinite;
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(360deg);
  transform-style: preserve-3d;}  
  
  </style>
  <script>
    
    $('#btnTareaRapida').click(()=>{
      var fechaActual= new Date().toLocaleDateString('es-ES');
      $('#FechaTarea').val(fechaActual);
      $('#modalTareaRapida').modal('show');

      $.ajax({
        type: "GET",
        url: "/data/Empleados",
        dataType: "json",
        success: function (response) {
$('#selectEmpleadoTareaRapida').empty();
$('#selectEmpleadoTareaRapida').append('<option selected>Seleccione alguno</option>');
         response.forEach(element => {
          $('#selectEmpleadoTareaRapida').append(    
            '<option value="'+element.Nombre+'">'+element.Nombre+'</option>'
          );
         });
        }
      });
    });
    $('#btnGuardarTareaRapidaHistorial').click(()=>{
      var form = $('#formCargarTareaEnHistorial');
      var formData=form.serialize();
      setTimeout(() => {
        $('#formCargarTareaEnHistorial').trigger('reset'); 
      }, 2000);
      
     var request= $.ajax({
        type: "post",
        url: "/Principal/guardarTareaRapidaEnHistorial",
        data: formData,
        dataType: "JSON",
      })
    $('#respuestaServidor').html('<span class="text-success">Datos cargados en el historial de tareas.>Historial de tareas</a></span>');
      setTimeout(() => {
        $('#respuestaServidor').empty();
      }, 5000);
    })
    function editarempleadoPOST(id){
      $.ajax({
      url:"/editarEmpleado",
    }).done(function(data){
data.forEach((element)=>{
  if(element.id==id){
    $("#EditarNombreEmpleado").val("");
$("#EditarUsuario").val("");
$("#EditarContraseña").val("");
$("#EditarNombreEmpleado").attr("placeholder","");
$("#EditarUsuario").attr("placeholder","");
$("#EditarContraseña").attr("placeholder","");
$('#EditarIDEmpleado').val("");
$('#EditarIDEmpleado').attr("placeholder","");


$('#EditarIDEmpleado').val(element.id);
$("#EditarNombreEmpleado").val(element.Nombre);
$("#EditarUsuario").val(element.usuario);
$("#EditarContraseña").val(element.password);
$("#EditarNombreEmpleado").attr("placeholder",element.Nombre);
$("#EditarUsuario").attr("placeholder",element.usuario);
$("#EditarContraseña").attr("placeholder",element.password);
$('#EditarIDEmpleado').attr("placeholder",element.id);
$('#modalVistaEmpleados').modal('hide');
$('#ModalEditarEmpleado').modal('show');

  }
})
    })
}
    function editarEmpleado(){
$.ajax({
      url:"/editarEmpleado",
     
    }).done(function(data){
      $('#tbodyEditarEmpleado').empty();
      data.forEach(element => {
      $('#tbodyEditarEmpleado').append(
        '<tr class="">'+
        '<td scope="row" >'+element.Nombre+'</td>'+
        '<td  >'+element.usuario+'</td>'+
        '<td  >'+element.rol+'</td>'+
        '<td>'+
        '<button class="btn btn-outline-dark bi bi-gear me-2" id="btnEditarEmpleado" value="'+element.id+'"></button>'+
        '<button class="btn bi bi-trash btn-outline-danger" id="btnElminarEmpleado" value="'+element.id+'"></button>'+
        '</td>'+
     ' </tr>'
        
        );  
      });
      
    })
    
  }    

  $('body').on('click', '#btnEditarEmpleado', function(){
    // el método .click de jQuery solo funciona con elementos que ya están en el DOM cuando el documento se carga. Para vincular eventos a elementos agregados al DOM de forma dinámica, usa el método .on sobre un elemento contenedor y filtra por el selector del elemento de interés.
     var id= $(this).val();
      editarempleadoPOST(id);
      
    })
    $('body').on('click', '#btnElminarEmpleado', function(){
    // el método .click de jQuery solo funciona con elementos que ya están en el DOM cuando el documento se carga. Para vincular eventos a elementos agregados al DOM de forma dinámica, usa el método .on sobre un elemento contenedor y filtra por el selector del elemento de interés.
     var id= $(this).val();
     if(window.confirm("¿Esta seguro que desea eliminar el empleado?")){
      
      $.ajax({
        type:"POST",
        url:'/eliminarEmpleado/'+id}
      ).done(function(data){
        $('#modalVistaEmpleados').modal('hide');
        $('#ModalEditarEmpleado').modal('hide');
        window.alert(data)
      })

     }
      
    })
   
  </script>
</html>