<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Boostrap 5-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <title>Editar Cliente</title>
</head>

<body>
  <% if(user) { %>
    <div class="card">
      <div class="card-body">
        <div class="card-title text-center">
          <div class="container-fluid">
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <a href="/adminecogas" class="btn btn-secondary">Salir al escritorio</a>
      
              </div>  
        <div class="col-md-auto">
          <a href="/editarTareas/<%= user.id%>" class="btn btn-secondary">Volver atrás</a>

        </div>  
            <div class="col-md-auto">
                <h3> Editar cliente </h3>

            </div>
            </div>
        
        </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="btn btn-primary  " href="/estadogeneral">Estado General</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary  " href="/contactos">Contactos</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary   " href="/adminecogas.ejs">Administración obras de gas</a>
              </li>
              
            </ul>
          </div>
      </nav>
      <form action="/update/<%= user.id%>" method="POST">
        <input type="hidden" name="id" id="id" value="<%= user.id%>">
        <div class="form-group">
          
          <label for="Nombre">Nombre de carpeta</label>
          <input type="text" class="form-control" id="NombreCarpeta" name="NombreCarpeta" value="<%= user.Nombre%>"
            placeholder="<%= user.Nombre%>">
        </div>
        <div class="form-group">
          <label for="Numero de Carpeta">N° de carpeta</label>
          <input type="text" class="form-control" id="NCarpeta" name="NCarpeta" value="<%= user.NCarpeta%>"
            placeholder="<%= user.NCarpeta%>">
        </div>
        <div class="form-group">
          <label for="Comitente">Comitente</label>
          <input type="Comitente" class="form-control" id="Comitente" name="Comitente" value="<%= user.Comitente%>"
            placeholder="%= user.Comitente%">
        </div>
        <div class="form-group">
          <label for="Ubicación">Ubicación</label>
          <select class="form-control" id="Ubicación" name="Ubicación">
            <option <%=user.Ubicación=='Ciudad de Mendoza' ? "selected" : "" %> value="Ciudad-de-Mendoza">Ciudad de
              Mendoza</option>
            <option <%=user.Ubicación=='Gral Alvear' ? "selected" : "" %> value="Gral-Alvear">Gral Alvear</option>
            <option <%=user.Ubicación=='Luján de Cuyo' ? "selected" : "" %> value="Luján-de-Cuyo">Luján de Cuyo
            </option>
            <option <%=user.Ubicación=='Las-Heras' ? "selected" : "" %> value="Las-Heras">Las Heras</option>
            <option <%=user.Ubicación=='Maipú' ? "selected" : "" %> value="Maipú">Maipú</option>
            <option <%=user.Ubicación=='San-Martín' ? "selected" : "" %> value="San-Martín">San Martín</option>
            <option <%=user.Ubicación=='Malargüe' ? "selected" : "" %> value="Malargüe">Malargüe</option>
            <option <%=user.Ubicación=='San-Carlos' ? "selected" : "" %> value="San-Carlos">San Carlos</option>

          </select>
        </div>
        <div class="form-group">
          <label for="Tipos de red">Tipo de red</label>
          <select class="form-control" id="Tipos-de-red" name="Tipos-de-red">
            <option <%=user.TipoDeRed=='Pead' ? "selected" : "" %> value="Pead">Pead</option>
            <option <%=user.TipoDeRed=='Acero' ? "selected" : "" %> value="Acero">Acero</option>
            <option <%=user.TipoDeRed=='Gasoducto' ? "selected" : "" %> value="Gasoducto">Gasoducto</option>
            <option <%=user.TipoDeRed=='Red interna' ? "selected" : "" %> value="Red interna">Interna</option>

          </select>
        </div>

    </div>
    </div>
    <div class="container ">
      <div class="card ">
        <div class="card-body border border-success ">
          <h5 class="text-center ">Jurisdicciones</h5>
          <br>
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" <%=user.HIDRAULICA=='pedir' ? "selected" : "" %>
            value="pedir" id="HIDRAULICA" name="pedir">
            <label class="form-check-label" for="defaultCheck1">
              Hidraúlica
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" <%=user.FERROCARRIL=='pedir' ? "selected" : "" %>
            value="pedir" id="FERROCARRIL" name="pedir">
            <label class="form-check-label" for="defaultCheck2">
              Ferrocarriles Argentinos
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" <%=user.DNV=='pedir' ? "selected" : "" %> value="pedir"
            id="DNV" name="pedir">
            <label class="form-check-label" for="defaultCheck3">
              Dirección Nacional de Vialidad
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" <%=user.DPV=='pedir' ? "selected" : "" %> value="pedir"
            id="DPV" name="pedir">
            <label class="form-check-label" for="defaultCheck4">
              Dirección Provincial de Vialidad
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" <%=user.IRRIGACION=='pedir' ? "selected" : "" %>
            value="pedir" id="IRRIGACION" name="pedir">
            <label class="form-check-label" for="defaultCheck5">
              Irrigación
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" <%=user.PRIVADO=='pedir' ? "selected" : "" %> value="Es
            privado" id="PRIVADO" name="Es privado">
            <label class="form-check-label" for="defaultCheck5">
              Privado
            </label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="OTROSPERMISOS" name="pedir">
            <label class="form-check-label" for="defaultCheck5">
              Otros permisos
            </label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-auto">

        <button type="submit" class="btn btn-primary text-center">Actualizar</button>
      </div>
      <div class="col-md-auto">
  
        <a href="/adminecogas" class="btn btn-secondary text-center">Cancelar</a>
    </div>
    </div>
    
    </form>
    <% } %>
</body>

</html>