<div class="card p-3 mt-3 border-secondary">

     <%if(tareasgenerales.Matriculas=="ok"||tareasgenerales.Matriculas=="Ok"){%>
                                    <div class="card-header bg-success text-white">
                                        <%} else{%>  
                                    <div class="card-header bg-primary text-white">
                                            <%}%>
                                            <label for="Matriculas" class="mx-auto" onclick="$('#MatriculasBody').css('display','block')">
                                                Matriculas</label>
                                        </div>
                                        <div id="MatriculasBody" class="card-body" style="display: none;">
        <div class="row ">
            <div class="col border">
                <div class="card-title " onclick="document.getElementById('Fusionistabody').style.display= 'block'">
                    <label for="MatriculaFusionista">Fusionista</label>
                    <div class="text-success col-3" id="Estado"> Estado de la tarea:
                        <%=tareasporcarpeta.MatriculaFusionista%>
                    </div>
                </div>
                <div class="card-text" id="Fusionistabody" style="display: none;">
                    <div class="input-group">
                        <input hidden id="" class="input" type="radio" name="MatriculaFusionista"
                            onclick="llamarAFormularioEditarTareas('MatriculaFusionista');"
                            value="<%=tareasporcarpeta.MatriculaFusionista%>" checked>
                        <div class="col-2 p-1">
                            Sin Presentar<input id="" class="input" type="radio"
                                onclick="llamarAFormularioEditarTareas('MatriculaFusionista');"
                                name="MatriculaFusionista" value="Sin presentar">

                        </div>
                        <div class="col-2 p-1">
                            En Gestión<input id="" class="input" type="radio" name="MatriculaFusionista"
                                onclick="llamarAFormularioEditarTareas('MatriculaFusionista');" value="EnGestion">
                        </div>
                        <div class="col-2 p-1">
                            Presentado<input id="" class="input" type="radio" name="MatriculaFusionista"
                                onclick="llamarAFormularioEditarTareas('MatriculaFusionista');" value="Presentado">
                        </div>
                        
                        <div class="col-2 p-1">
                            Observado<input id="" class="input" type="radio" name="MatriculaFusionista"
                                onclick="llamarAFormularioEditarTareas('MatriculaFusionista');" value="Observado">
                        </div>
                        <div class="col-2 p-1">
                            Ok<input id="" class="input" type="radio" name="MatriculaFusionista"
                                onclick="llamarAFormularioEditarTareas('MatriculaFusionista');" value="ok">
                        </div>
                        <div class="col-2 p-1">
                            NC<input id="" class="input" type="radio" name="MatriculaFusionista"
                                onclick="llamarAFormularioEditarTareas('MatriculaFusionista');" value="NC">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar" id="form1MatriculaFusionista"
                style="display: none;">
                <input type="checkbox" name="Tarea" value="Matricula Fusionista" checked hidden >

                <div class="row ">
                    <div class="col">
                        <span>
                            Responsable de la Tarea:
                        </span>
                        <select name="ResponsableDeTarea" id="">
                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                        </select>
                    </div>
                </div>
                <div class="row pb-1 ">
                    <div class="input-group-sm">
                        <span class="">Tarea Realizada:</span>
                        <input class="form-control" type="text" name="TareaRealizada" id="TareaRealizada"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="TareaRealizada">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Proxima Tarea:</span>
                        <input class="form-control" type="text" name="ProximaTarea" id="ProximaTarea"
                            placeholder="Ingrese la proxima tarea" aria-describedby="ProximaTarea">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Fecha Limite:</span>
                        <input class="form-control" type="date" name="Fecha_limite" id="Fecha_limite"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="Fecha_limite">

                    </div>

                </div>
                <div class="row-p-1">
                    <div class="input-group mt-1">
                        <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col border">
                <div class="card-title " onclick="document.getElementById('SoldadorBody').style.display= 'block'">
                    <label for="MatriculaSoldador">Soldador</label>
                    <div class="text-success col-3" id="Estado"> Estado de la tarea:
                        <%=tareasporcarpeta.MatriculaSoldador%>
                    </div>
                </div>
                <div class="card-text" id="SoldadorBody" style="display: none;">
                    <div class="input-group">
                        <input hidden id="" class="input" type="radio" name="MatriculaSoldador"
                            onclick="llamarAFormularioEditarTareas('MatriculaSoldador');"
                            value="<%=tareasporcarpeta.MatriculaSoldador%>" checked>
                        <div class="col-2 p-1">
                            Sin Presentar<input id="" class="input" type="radio"
                                onclick="llamarAFormularioEditarTareas('MatriculaSoldador');" name="MatriculaSoldador"
                                value="Sin presentar">
                        </div>
                        <div class="col-2 p-1">
                            En Gestión<input id="" class="input" type="radio" name="MatriculaSoldador"
                                onclick="llamarAFormularioEditarTareas('MatriculaSoldador');" value="EnGestion">
                        </div>
                        <div class="col-2 p-1">
                            Presentado<input id="" class="input" type="radio" name="MatriculaSoldador"
                                onclick="llamarAFormularioEditarTareas('MatriculaSoldador');" value="Presentado">
                        </div>
                        <div class="col-2 p-1">
                            Observado<input id="" class="input" type="radio" name="MatriculaSoldador"
                                onclick="llamarAFormularioEditarTareas('MatriculaSoldador');" value="Observado">
                        </div>
                        <div class="col-2 p-1">
                            Ok<input id="" class="input" type="radio" name="MatriculaSoldador"
                                onclick="llamarAFormularioEditarTareas('MatriculaSoldador');" value="ok">
                        </div>
                        <div class="col-2 p-1">
                            NC<input id="" class="input" type="radio" name="MatriculaSoldador"
                                onclick="llamarAFormularioEditarTareas('MatriculaSoldador');" value="NC">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar" id="form1MatriculaSoldador"
                style="display: none;">
                <input type="checkbox" name="Tarea" value="Matricula Soldador" checked hidden >

                <div class="row ">
                    <div class="col">
                        <span>
                            Responsable de la Tarea:
                        </span>
                        <select name="ResponsableDeTarea" id="">
                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                        </select>
                    </div>
                </div>
                <div class="row pb-1 ">
                    <div class="input-group-sm">
                        <span class="">Tarea Realizada:</span>
                        <input class="form-control" type="text" name="TareaRealizada" id="TareaRealizada"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="TareaRealizada">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Proxima Tarea:</span>
                        <input class="form-control" type="text" name="ProximaTarea" id="ProximaTarea"
                            placeholder="Ingrese la proxima tarea" aria-describedby="ProximaTarea">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Fecha Limite:</span>
                        <input class="form-control" type="date" name="Fecha_limite" id="Fecha_limite"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="Fecha_limite">

                    </div>

                </div>
                <div class="row-p-1">
                    <div class="input-group mt-1">
                        <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- {{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}} -->
<div class="card p-3 mt-3 border-secondary">

    <%if(tareasgenerales.Ambiente=="ok"||tareasgenerales.Ambiente=="Ok"){%>
        <div class="card-header bg-success text-white">
            <%} else{%>  
        <div class="card-header bg-primary text-white">
                <%}%>
                <label for="Ambiente" class="mx-auto" onclick="$('#AmbienteBody').css('display','block')">
                    Ambiente</label>
            </div>
            <div id="AmbienteBody" class="card-body" style="display: none;">
        <div class="row ">
            <div class="col border">
                <div class="card-title "
                    onclick="document.getElementById('EstudioImpactoAmbientalBody').style.display= 'block'">
                    <label for="EstudioImpactoAmbiental">Estudio de impacto ambiental</label>
                    <div class="text-success col-3" id="Estado"> Estado de la tarea:
                        <%=tareasporcarpeta.EstudioImpactoAmbiental%>
                    </div>
                </div>
                <div class="card-text" id="EstudioImpactoAmbientalBody" style="display: none;">
                    <div class="input-group">
                        <input hidden id="" class="input" type="radio" name="EstudioImpactoAmbiental"
                            onclick="llamarAFormularioEditarTareas('EstudioImpactoAmbiental');"
                            value="<%=tareasporcarpeta.EstudioImpactoAmbiental%>" checked>
                        <div class="col-2 p-1">
                            Sin Presentar<input id="" class="input" type="radio"
                                onclick="llamarAFormularioEditarTareas('EstudioImpactoAmbiental');"
                                name="EstudioImpactoAmbiental" value="Sin presentar">

                        </div>
                        <div class="col-2 p-1">
                            En Gestión<input id="" class="input" type="radio" name="EstudioImpactoAmbiental"
                                onclick="llamarAFormularioEditarTareas('EstudioImpactoAmbiental');" value="EnGestion">
                        </div>
                        <div class="col-2 p-1">
                            Presentado<input id="" class="input" type="radio" name="EstudioImpactoAmbiental"
                                onclick="llamarAFormularioEditarTareas('EstudioImpactoAmbiental');" value="Presentado">
                        </div>
                        <div class="col-2 p-1">
                            Observado<input id="" class="input" type="radio" name="EstudioImpactoAmbiental"
                                onclick="llamarAFormularioEditarTareas('EstudioImpactoAmbiental');" value="Observado">
                        </div>
                        <div class="col-2 p-1">
                            Ok<input id="" class="input" type="radio" name="EstudioImpactoAmbiental"
                                onclick="llamarAFormularioEditarTareas('EstudioImpactoAmbiental');" value="ok">
                        </div>
                        <div class="col-2 p-1">
                            NC<input id="" class="input" type="radio" name="EstudioImpactoAmbiental"
                                onclick="llamarAFormularioEditarTareas('EstudioImpactoAmbiental');" value="NC">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                id="form1EstudioImpactoAmbiental" style="display: none;">
                <input type="checkbox" name="Tarea" value="Estudio Impacto Ambiental" id="" checked hidden >

                <div class="row ">
                    <div class="col">
                        <span>
                            Responsable de la Tarea:
                        </span>
                        <select name="ResponsableDeTarea" id="">
                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                        </select>
                    </div>
                </div>
                <div class="row pb-1 ">
                    <div class="input-group-sm">
                        <span class="">Tarea Realizada:</span>
                        <input class="form-control" type="text" name="TareaRealizada" id="TareaRealizada"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="TareaRealizada">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Proxima Tarea:</span>
                        <input class="form-control" type="text" name="ProximaTarea" id="ProximaTarea"
                            placeholder="Ingrese la proxima tarea" aria-describedby="ProximaTarea">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Fecha Limite:</span>
                        <input class="form-control" type="date" name="Fecha_limite" id="Fecha_limite"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="Fecha_limite">

                    </div>

                </div>
                <div class="row-p-1">
                    <div class="input-group mt-1">
                        <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col border">
                <div class="card-title "
                    onclick="document.getElementById('CronogramaAmbientebody').style.display= 'block'">
                    <label for="CronogramaAmbiente">Cronograma de ambiente</label>
                    <div class="text-success col-3" id="Estado"> Estado de la tarea:
                        <%=tareasporcarpeta.CronogramaAmbiente%>
                    </div>
                </div>
                <div class="card-text" id="CronogramaAmbientebody" style="display: none;">
                    <div class="input-group">
                        <input hidden id="" class="input" type="radio" name="CronogramaAmbiente"
                            onclick="llamarAFormularioEditarTareas('Cronogramaambiente');"
                            value="<%=tareasporcarpeta.CronogramaAmbiente%>" checked>
                        <div class="col-2.5 p-1">
                            Sin Presentar<input id="" class="input" type="radio"
                                onclick="llamarAFormularioEditarTareas('Cronogramaambiente');" name="CronogramaAmbiente"
                                value="Sin presentar">

                        </div>
                        <div class="col-2 p-1">
                            En Gestión<input id="" class="input" type="radio" name="CronogramaAmbiente"
                                onclick="llamarAFormularioEditarTareas('Cronogramaambiente');" value="EnGestion">
                        </div>
                        <div class="col-2 p-1">
                            Presentado<input id="" class="input" type="radio" name="CronogramaAmbiente"
                                onclick="llamarAFormularioEditarTareas('Cronogramaambiente');" value="Presentado">
                        </div>
                        <div class="col-2 p-1">
                            Observado<input id="" class="input" type="radio" name="CronogramaAmbiente"
                                onclick="llamarAFormularioEditarTareas('Cronogramaambiente');" value="Observado">
                        </div>
                        <div class="col-2 p-1">
                            Ok<input id="" class="input" type="radio" name="CronogramaAmbiente"
                                onclick="llamarAFormularioEditarTareas('Cronogramaambiente');" value="ok">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar" id="form1Cronogramaambiente"
                style="display: none;">
                <input type="checkbox" name="Tarea" value="Cronograma ambiente" checked hidden >

                <div class="row ">
                    <div class="col">
                        <span>
                            Responsable de la Tarea:
                        </span>
                        <select name="ResponsableDeTarea" id="">
                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                        </select>
                    </div>
                </div>
                <div class="row pb-1 ">
                    <div class="input-group-sm">
                        <span class="">Tarea Realizada:</span>
                        <input class="form-control" type="text" name="TareaRealizada" id="TareaRealizada"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="TareaRealizada">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Proxima Tarea:</span>
                        <input class="form-control" type="text" name="ProximaTarea" id="ProximaTarea"
                            placeholder="Ingrese la proxima tarea" aria-describedby="ProximaTarea">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Fecha Limite:</span>
                        <input class="form-control" type="date" name="Fecha_limite" id="Fecha_limite"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="Fecha_limite">

                    </div>

                </div>
                <div class="row-p-1">
                    <div class="input-group mt-1">
                        <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col border">
                <div class="card-title "
                    onclick="document.getElementById('NotaCumplimentoNormativabody').style.display= 'block'">
                    <label for="NotaCumplimentoNormativa">Nota de cumplimento con la normativa vigente</label>
                    <div class="text-success col-3" id="Estado"> Estado de la tarea:
                        <%=tareasporcarpeta.NotaCumplimentoNormativa%>
                    </div>
                </div>
                <div class="card-text" id="NotaCumplimentoNormativabody" style="display: none;">
                    <div class="input-group">
                        <input hidden id="" class="input" type="radio" name="NotaCumplimentoNormativa"
                            onclick="llamarAFormularioEditarTareas('NotaCumplimentoNormativa');"
                            value="<%=tareasporcarpeta.NotaCumplimentoNormativa%>" checked>
                        <div class="col-2.5 p-1">
                            Sin Presentar<input id="" class="input" type="radio"
                                onclick="llamarAFormularioEditarTareas('NotaCumplimentoNormativa');"
                                name="NotaCumplimentoNormativa" value="Sin presentar">

                        </div>
                        <div class="col-2.5 p-1">
                            En Gestión<input id="" class="input" type="radio" name="NotaCumplimentoNormativa"
                                onclick="llamarAFormularioEditarTareas('NotaCumplimentoNormativa');" value="EnGestion">
                        </div>
                        <div class="col-2.5 p-1">
                            Presentado<input id="" class="input" type="radio" name="NotaCumplimentoNormativa"
                                onclick="llamarAFormularioEditarTareas('NotaCumplimentoNormativa');" value="Presentado">
                        </div>
                        <div class="col-2.5 p-1">
                            Observado<input id="" class="input" type="radio" name="NotaCumplimentoNormativa"
                                onclick="llamarAFormularioEditarTareas('NotaCumplimentoNormativa');" value="Observado">
                        </div>
                        <div class="col-2 p-1">
                            Ok<input id="" class="input" type="radio" name="NotaCumplimentoNormativa"
                                onclick="llamarAFormularioEditarTareas('NotaCumplimentoNormativa');" value="ok">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                id="form1NotaCumplimentoNormativa" style="display: none;">
                <input type="checkbox" name="Tarea" value="Nota Cumplimento Normativa" id="" checked hidden >

                <div class="row ">
                    <div class="col">
                        <span>
                            Responsable de la Tarea:
                        </span>
                        <select name="ResponsableDeTarea" id="">
                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                        </select>
                    </div>
                </div>
                <div class="row pb-1 ">
                    <div class="input-group-sm">
                        <span class="">Tarea Realizada:</span>
                        <input class="form-control" type="text" name="TareaRealizada" id="TareaRealizada"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="TareaRealizada">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Proxima Tarea:</span>
                        <input class="form-control" type="text" name="ProximaTarea" id="ProximaTarea"
                            placeholder="Ingrese la proxima tarea" aria-describedby="ProximaTarea">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Fecha Limite:</span>
                        <input class="form-control" type="date" name="Fecha_limite" id="Fecha_limite"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="Fecha_limite">

                    </div>

                </div>
                <div class="row-p-1">
                    <div class="input-group mt-1">
                        <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col border">
                <div class="card-title " onclick="document.getElementById('DDJJNAG153body').style.display= 'block'">
                    <label for="DDJJNAG153">DDJJ NAG 153</label>
                    <div class="text-success col-3" id="Estado"> Estado de la tarea:
                        <%=tareasporcarpeta.DDJJNAG153%>
                    </div>
                </div>
                <div class="card-text" id="DDJJNAG153body" style="display: none;">
                    <div class="input-group">
                        <input hidden id="" class="input" type="radio" name="DDJJNAG153"
                            onclick="llamarAFormularioEditarTareas('DDJJNAG153');"
                            value="<%=tareasporcarpeta.DDJJNAG153%>" checked>
                        <div class="col-2.5 p-1">
                            Sin Presentar<input id="" class="input" type="radio"
                                onclick="llamarAFormularioEditarTareas('DDJJNAG153');" name="DDJJNAG153"
                                value="Sin presentar">

                        </div>
                        <div class="col-2.5 p-1">
                            En Gestión<input id="" class="input" type="radio" name="DDJJNAG153"
                                onclick="llamarAFormularioEditarTareas('DDJJNAG153');" value="EnGestion">
                        </div>
                        <div class="col-2.5 p-1">
                            Presentado<input id="" class="input" type="radio" name="DDJJNAG153"
                                onclick="llamarAFormularioEditarTareas('DDJJNAG153');" value="Presentado">
                        </div>
                        <div class="col-2.5 p-1">
                            Observado<input id="" class="input" type="radio" name="DDJJNAG153"
                                onclick="llamarAFormularioEditarTareas('DDJJNAG153');" value="Observado">
                        </div>
                        <div class="col-2 p-1">
                            Ok<input id="" class="input" type="radio" name="DDJJNAG153"
                                onclick="llamarAFormularioEditarTareas('DDJJNAG153');" value="ok">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar" id="form1DDJJNAG153"
                style="display: none;">
                <input type="checkbox" name="Tarea" value="DDJJ NAG 153" checked hidden >

                <div class="row ">
                    <div class="col">
                        <span>
                            Responsable de la Tarea:
                        </span>
                        <select name="ResponsableDeTarea" id="">
                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                        </select>
                    </div>
                </div>
                <div class="row pb-1 ">
                    <div class="input-group-sm">
                        <span class="">Tarea Realizada:</span>
                        <input class="form-control" type="text" name="TareaRealizada" id="TareaRealizada"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="TareaRealizada">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Proxima Tarea:</span>
                        <input class="form-control" type="text" name="ProximaTarea" id="ProximaTarea"
                            placeholder="Ingrese la proxima tarea" aria-describedby="ProximaTarea">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Fecha Limite:</span>
                        <input class="form-control" type="date" name="Fecha_limite" id="Fecha_limite"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="Fecha_limite">

                    </div>

                </div>
                <div class="row-p-1">
                    <div class="input-group mt-1">
                        <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>


<!-- {{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}} -->
<div class="card p-3 mt-3 border-secondary">

    <%if(tareasgenerales.Avisos=="ok"||tareasgenerales.Avisos=="Ok"){%>
        <div class="card-header bg-success text-white">
            <%} else{%>  
        <div class="card-header bg-primary text-white">
                <%}%>
                <label for="Avisos" class="mx-auto" onclick="$('#AvisosBody').css('display','block')">
                    Avisos</label>
            </div>
            <div id="AvisosBody" class="card-body" style="display: none;">
        <div class="row ">
            <div class="col border">
                <div class="card-title "
                    onclick="document.getElementById('AvisoInicioObraARTbody').style.display= 'block'">
                    <label for="AvisoInicioObraART">Aviso de inicio de obras ART</label>
                    <div class="text-success col-3" id="Estado"> Estado de la tarea:
                        <%=tareasporcarpeta.AvisoInicioObraART%>
                    </div>
                </div>
                <div class="card-text" id="AvisoInicioObraARTbody" style="display: none;">
                    <div class="input-group">
                        <input hidden id="" class="input" type="radio" name="AvisoInicioObraART"
                            onclick="llamarAFormularioEditarTareas('AvisoInicioObraART');"
                            value="<%=tareasporcarpeta.AvisoInicioObraART%>" checked>
                        <div class="col-2.5 p-1">
                            Sin Presentar<input id="" class="input" type="radio"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraART');" name="AvisoInicioObraART"
                                value="Sin presentar">

                        </div>
                        <div class="col-2.5 p-1">
                            En Gestión<input id="" class="input" type="radio" name="AvisoInicioObraART"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraART');" value="EnGestion">
                        </div>
                        <div class="col-2.5 p-1">
                            Presentado<input id="" class="input" type="radio" name="AvisoInicioObraART"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraART');" value="Presentado">
                        </div>
                        <div class="col-2.5 p-1">
                            Observado<input id="" class="input" type="radio" name="AvisoInicioObraART"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraART');" value="Observado">
                        </div>
                        <div class="col-2 p-1">
                            Ok<input id="" class="input" type="radio" name="AvisoInicioObraART"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraART'); $('#VencimientoAvisoObraArt').css('display' , 'block')"
                                value="ok">
                        </div>

                    </div>
                    <div class="" id="VencimientoAvisoObraArt" style="display: none;">

                        <label for="VencimientoAvisoObraArt"> Fecha de vencimiento aviso de ART:</label>
                        <input type="date" name="VencimientoAvisoObraArt"
                            value="<%=tareasporcarpeta.VencimientoAvisoObraArt%>">
                    </div>
                </div>
            </div>
            <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar" id="form1AvisoInicioObraART"
                style="display: none;">
                <input type="checkbox" name="Tarea" value="Aviso Inicio Obra ART" checked hidden >

                <div class="row ">
                    <div class="col">
                        <span>
                            Responsable de la Tarea:
                        </span>
                        <select name="ResponsableDeTarea" id="">
                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                        </select>
                    </div>
                </div>
                <div class="row pb-1 ">
                    <div class="input-group-sm">
                        <span class="">Tarea Realizada:</span>
                        <input class="form-control" type="text" name="TareaRealizada" id="TareaRealizada"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="TareaRealizada">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Proxima Tarea:</span>
                        <input class="form-control" type="text" name="ProximaTarea" id="ProximaTarea"
                            placeholder="Ingrese la proxima tarea" aria-describedby="ProximaTarea">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Fecha Limite:</span>
                        <input class="form-control" type="date" name="Fecha_limite" id="Fecha_limite"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="Fecha_limite">

                    </div>

                </div>
                <div class="row-p-1">
                    <div class="input-group mt-1">
                        <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col border">
                <div class="card-title "
                    onclick="document.getElementById('AvisoInicioObraIERICbody').style.display= 'block'">
                    <label for="AvisoInicioObraIERIC">Aviso de inicio de obras IERIC</label>
                    <div class="text-success col-3" id="Estado"> Estado de la tarea:
                        <%=tareasporcarpeta.AvisoInicioObraIERIC%>
                    </div>
                </div>
                <div class="card-text" id="AvisoInicioObraIERICbody" style="display: none;">
                    <div class="input-group">
                        <input hidden id="" class="input" type="radio" name="AvisoInicioObraIERIC"
                            onclick="llamarAFormularioEditarTareas('AvisoInicioObraIERIC');"
                            value="<%=tareasporcarpeta.AvisoInicioObraIERIC%>" checked>
                        <div class="col-2.5 p-1">
                            Sin Presentar<input id="" class="input" type="radio"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraIERIC');"
                                name="AvisoInicioObraIERIC" value="Sin presentar">

                        </div>
                        <div class="col-2.5 p-1">
                            En Gestión<input id="" class="input" type="radio" name="AvisoInicioObraIERIC"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraIERIC');" value="EnGestion">
                        </div>
                        <div class="col-2.5 p-1">
                            Presentado<input id="" class="input" type="radio" name="AvisoInicioObraIERIC"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraIERIC');" value="Presentado">
                        </div>
                        <div class="col-2.5 p-1">
                            Observado<input id="" class="input" type="radio" name="AvisoInicioObraIERIC"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraIERIC');" value="Observado">
                        </div>
                        <div class="col-2 p-1">
                            Ok<input id="" class="input" type="radio" name="AvisoInicioObraIERIC"
                                onclick="llamarAFormularioEditarTareas('AvisoInicioObraIERIC'); $('#VencimientoAvisoObraIeric').css('display' , 'block')"
                                value="ok">
                        </div>

                    </div>
                    <div class="" id="VencimientoAvisoObraIeric" style="display: none;">

                        <label for="VencimientoAvisoObraIeric"> Fecha de vencimiento aviso de IERIC:</label>
                        <input type="date" name="VencimientoAvisoObraIeric"
                            value="<%=tareasporcarpeta.VencimientoAvisoObraIeric%>">
                    </div>
                </div>
            </div>
            <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                id="form1AvisoInicioObraIERIC" style="display: none;">
                <input type="checkbox" name="Tarea" value="Aviso Inicio Obra IERIC" id="" checked hidden >

                <div class="row ">
                    <div class="col">
                        <span>
                            Responsable de la Tarea:
                        </span>
                        <select name="ResponsableDeTarea" id="">
                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                        </select>
                    </div>
                </div>
                <div class="row pb-1 ">
                    <div class="input-group-sm">
                        <span class="">Tarea Realizada:</span>
                        <input class="form-control" type="text" name="TareaRealizada" id="TareaRealizada"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="TareaRealizada">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Proxima Tarea:</span>
                        <input class="form-control" type="text" name="ProximaTarea" id="ProximaTarea"
                            placeholder="Ingrese la proxima tarea" aria-describedby="ProximaTarea">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="input-group-sm">
                        <span class="">Fecha Limite:</span>
                        <input class="form-control" type="date" name="Fecha_limite" id="Fecha_limite"
                            placeholder="Ingrese ultima tarea realizada" aria-describedby="Fecha_limite">

                    </div>

                </div>
                <div class="row-p-1">
                    <div class="input-group mt-1">
                        <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col border">
                <div class="card-title "
                    onclick="document.getElementById('ActaInicioEfectivobody').style.display= 'block'">
                    <label for="ActaInicioEfectivo">Aviso de inicio efectivo</label>
                    <div class="text-success col-3" id="Estado"> Estado de la tarea:
                        <%=tareasporcarpeta.ActaInicioEfectivo%>
                    </div>
                </div>
                <div class="card-text" id="ActaInicioEfectivobody" style="display: none;">
                    <div class="input-group">
                        <input hidden id="" class="input" type="radio" name="ActaInicioEfectivo"
                            onclick="llamarAFormularioEditarTareas('ActaInicioEfectivo');"
                            value="<%=tareasporcarpeta.ActaInicioEfectivo%>" checked>
                        <div class="col-2.5 p-1">
                            Sin Presentar<input id="" class="input" type="radio"
                                onclick="llamarAFormularioEditarTareas('ActaInicioEfectivo');" name="ActaInicioEfectivo"
                                value="Sin presentar">

                        </div>
                        <div class="col-2.5 p-1">
                            En Gestión<input id="" class="input" type="radio" name="ActaInicioEfectivo"
                                onclick="llamarAFormularioEditarTareas('ActaInicioEfectivo');" value="EnGestion">
                        </div>

                        <div class="col-2 p-1">
                            Ok<input id="" class="input" type="radio" name="ActaInicioEfectivo"
                                onclick="llamarAFormularioEditarTareas('ActaInicioEfectivo'); " value="ok">
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- {{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}} -->


<div class="modal-footer ">
    <button type="button" class="btn btn-secondary " data-dismiss="modal" onclick="CerrarModal()">Cerrar</button>
    <button type="submit" class="btn btn-primary fixed-bottom " form="act2pCarpEcogas">Guardar
        Cambios</button>
</div>
</div>
</div>


</th>