<!--Segunda Parte-->


    <!-- Modal -->
    <div class="modal fade" id="ModalSegundaParte" tabindex="-1" role="dialog" aria-labelledby="ModalSegundaParte"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalSegundaParte">
                        Segunda Parte
                    </h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="container">

                            <div class="card mb-3 p-3 border-secondary">
                                <%if(tareasporcarpeta.MailAutorizacion=="Recibido"||tareasporcarpeta.MailAutorizacion=="Ok"){%>
                                    <div class="card-header bg-success text-white">
                                        <%} else{%>  
                                    <div class="card-header bg-primary text-white">
                                            <%}%>
                                            <label for="Comienzogestion2daparte" class="mx-auto" onclick="$('#Comienzogestion2daparteBody').css('display','block')">
                                                Comienzo gestión 2da parte</label>
                                        </div>
                                        <div id="Comienzogestion2daparteBody" class="card-body" style="display: none;">
                                    <div class="row">
                                        <div class="col-6 border">
                                            <div class="card-title text-primary" onclick="document.getElementById('Mailautorizacionbody').style.display= 'block'">

                                                <label for="MailAutorizacion">Mail de
                                                    autorización</label>

                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Estado de la tarea: <%=tareasporcarpeta.MailAutorizacion%>
                                            </div>
                                            <div class="card-text" id="Mailautorizacionbody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <input hidden id="" class="" type="radio"
                                                            name="MailAutorizacion"
                                                            value="<%= tareasporcarpeta.MailAutorizacion%>" checked>
                                                    </div>
                                                    <div class=" p-1">
                                                        No Recibido<input id="" class="" type="radio"
                                                            name="MailAutorizacion" value="No Recibido"
                                                            onclick="llamarAFormularioEditarTareas('MailAutorizacion');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Recibido<input id="" class="" type="radio"
                                                            name="MailAutorizacion" value="Recibido"
                                                            onclick="llamarAFormularioEditarTareas('MailAutorizacion');">
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1MailAutorizacion" style="display: none;">
<input type="checkbox" name="Tarea" value="Mail Autorizacion" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">

                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 border">
                                            <div class="card-title text-primary" onclick="document.getElementById('InspectorAsignadobody').style.display= 'block'">

                                                <label for="InspectorAsignado">Inspector asignado</label>

                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Nombre del inspector: <%=tareasporcarpeta.InspectorAsignado%>
                                            </div>
                                            <div class="card-text" id="InspectorAsignadobody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <label class="clm-sm-2 col-form-label" for="InspectorAsignado">Nombre:</label>
                                                        <input id="InspectorAsignado" class="form-control" type="text"
                                                            name="InspectorAsignado"
                                                            value="<%= tareasporcarpeta.InspectorAsignado%>" checked>
                                                    </div>
                                                   </div>

                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1InspectorAsignado" style="display: none;">
<input type="checkbox" name="Tarea" value="Mail Autorizacion" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">

                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 border">
                                            <div class="card-title text-primary" onclick="document.getElementById('plantrabajobody').style.display= 'block'">
                                                <label for="PlanDeTrabajo">Plan de trabajo</label>
                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Estado de la tarea: <%=tareasporcarpeta.PlanDeTrabajo %>
                                            </div>
                                            <div class="card-text" id="plantrabajobody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <input hidden id="" class="" type="radio" name="PlanDeTrabajo"
                                                            value="<%=tareasporcarpeta.PlanDeTrabajo%>"
                                                            onclick="llamarAFormularioEditarTareas('PlanDeTrabajo');"
                                                            checked>
                                                    </div>
                                                    <div class=" p-1">
                                                        Sin Presentar<input id="" class="" type="radio"
                                                            name="PlanDeTrabajo" value="Sin presentar"
                                                            onclick="llamarAFormularioEditarTareas('PlanDeTrabajo');">
                                                    </div>
                                                    <div class=" p-1">
                                                        En Gestión<input id="" class="" type="radio"
                                                            name="PlanDeTrabajo" value="EnGestion"
                                                            onclick="llamarAFormularioEditarTareas('PlanDeTrabajo');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Presentado<input id="" class="" type="radio" name="PlanDeTrabajo"
                                                            value="Presentado"
                                                            onclick="llamarAFormularioEditarTareas('PlanDeTrabajo');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Observado<input id="" class="" type="radio" name="PlanDeTrabajo"
                                                            value="Observado"
                                                            onclick="llamarAFormularioEditarTareas('PlanDeTrabajo');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Ok<input id="" class="" type="radio" name="PlanDeTrabajo"
                                                            value="ok"
                                                            onclick="llamarAFormularioEditarTareas('PlanDeTrabajo');">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1PlanDeTrabajo" style="display:none;">
<input type="checkbox" name="Tarea" value="Plan De Trabajo" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card mb-3 p-3 border-secondary">
                                <%if(tareasgenerales.DocumentacionObra=="ok"||tareasgenerales.DocumentacionObra=="Ok"){%>
                                    <div class="card-header bg-success text-white">
                                        <%} else{%>  
                                    <div class="card-header bg-primary text-white">
                                            <%}%>
                                            <label for="DocumentacionObras" class="mx-auto" onclick="$('#DocumentacionObrasBody').css('display','block')">
                                                Documentacion de obras</label>
                                        </div>
                                        <div id="DocumentacionObrasBody" class="card-body" style="display: none;">
                                    <div class="row">
                                        <div class="col-6 border">
                                            <div class="card-title text-primary" onclick="document.getElementById('SolicitudInicioObrasbody').style.display= 'block'">

                                                <label for="SolicitudInicioObras">Solicitud inicio de obras</label>

                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Estado de la tarea: <%=tareasporcarpeta.SolicitudInicioObras%>
                                            </div>
                                            <div class="card-text" id="SolicitudInicioObrasbody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <input hidden id="" class="" type="radio"
                                                            name="SolicitudInicioObras"
                                                            value="<%= tareasporcarpeta.SolicitudInicioObras%>" checked>
                                                    </div>
                                                    <div class=" p-1">
                                                        Sin presentar<input id="" class="" type="radio"
                                                            name="SolicitudInicioObras" value="Sin presentar"
                                                            onclick="llamarAFormularioEditarTareas('SolicitudInicioObras');">
                                                    </div>
                                                    <div class=" p-1">
                                                        En Gestión<input id="" class="" type="radio"
                                                            name="SolicitudInicioObras" value="EnGestion"
                                                            onclick="llamarAFormularioEditarTareas('SolicitudInicioObras');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Ok<input id="" class="" type="radio" name="SolicitudInicioObras"
                                                            value="ok"
                                                            onclick="llamarAFormularioEditarTareas('SolicitudInicioObras');">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1SolicitudInicioObras" style="display: none;">
<input type="checkbox" name="Tarea" value="Solicitud Inicio Obras" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">

                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 border">
                                            <div class="card-title text-primary" onclick="document.getElementById('CertificadoRTbody').style.display= 'block'">
                                                <label for="CertificadoRT">Certificado del RT</label>
                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Estado de la tarea: <%=tareasporcarpeta.CertificadoRT %>
                                            </div>
                                            <div class="card-text" id="CertificadoRTbody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <input hidden id="" class="" type="radio" name="CertificadoRT"
                                                            value="<%=tareasporcarpeta.CertificadoRT%>"
                                                            onclick="llamarAFormularioEditarTareas('CertificadoRT');"
                                                            checked>
                                                    </div>
                                                    <div class=" p-1">
                                                        Sin Presentar<input id="" class="" type="radio"
                                                            name="CertificadoRT" value="Sin presentar"
                                                            onclick="llamarAFormularioEditarTareas('CertificadoRT');">
                                                    </div>
                                                    <div class=" p-1">
                                                        En Gestión<input id="" class="" type="radio"
                                                            name="CertificadoRT" value="EnGestion"
                                                            onclick="llamarAFormularioEditarTareas('CertificadoRT');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Presentado<input id="" class="" type="radio" name="CertificadoRT"
                                                            value="Presentado"
                                                            onclick="llamarAFormularioEditarTareas('CertificadoRT');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Observado<input id="" class="" type="radio" name="CertificadoRT"
                                                            value="Observado"
                                                            onclick="llamarAFormularioEditarTareas('CertificadoRT');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Ok<input id="" class="" type="radio" name="CertificadoRT"
                                                            value="ok"
                                                            onclick="llamarAFormularioEditarTareas('CertificadoRT');">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1CertificadoRT" style="display:none;">
<input type="checkbox" name="Tarea" value="Certificado RT" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card mb-3 p-3 border-secondary">
                                <%if(tareasgenerales.Seguridad=="ok"||tareasgenerales.Seguridad=="Ok"){%>
                                    <div class="card-header bg-success text-white">
                                        <%} else{%>  
                                    <div class="card-header bg-primary text-white">
                                            <%}%>
                                            <label for="Seguridad" class="mx-auto" onclick="$('#SeguridadBody').css('display','block')">
                                                Seguridad</label>
                                        </div>
                                        <div id="SeguridadBody" class="card-body" style="display: none;">
                                    <div class="row">
                                        <div class="col-6 border">
                                            <div class="card-title text-primary" onclick="document.getElementById('Programadeseguridadbody').style.display= 'block'">

                                                <label for="Programadeseguridad">Programa de seguridad</label>

                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Estado de la tarea: <%=tareasporcarpeta.Programadeseguridad%>
                                            </div>
                                            <div class="card-text" id="Programadeseguridadbody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <input hidden id="" class="" type="radio"
                                                            name="Programadeseguridad"
                                                            value="<%= tareasporcarpeta.Programadeseguridad%>" checked>
                                                    </div>
                                                    <div class=" p-1">
                                                        Sin presentar<input id="" class="" type="radio"
                                                            name="Programadeseguridad" value="Sin presentar"
                                                            onclick="llamarAFormularioEditarTareas('Programadeseguridad');">
                                                    </div>
                                                    <div class=" p-1">
                                                        En Gestión<input id="" class="" type="radio"
                                                            name="Programadeseguridad" value="EnGestion"
                                                            onclick="llamarAFormularioEditarTareas('Programadeseguridad');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Ok<input id="" class="" type="radio" name="Programadeseguridad"
                                                            value="ok"
                                                            onclick="llamarAFormularioEditarTareas('Programadeseguridad');">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1Programadeseguridad" style="display: none;">
<input type="checkbox" name="Tarea" value="Programa de seguridad" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">

                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 border">
                                            <div class="card-title text-primary" onclick="document.getElementById('CronogramaSyHbody').style.display= 'block'">
                                                <label for="CronogramaSyH">Cronograma de visitas seguridad e
                                                    higiene</label>
                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Estado de la tarea: <%=tareasporcarpeta.CronogramaSyH %>
                                            </div>
                                            <div class="card-text" id="CronogramaSyHbody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <input hidden id="" class="" type="radio" name="CronogramaSyH"
                                                            value="<%=tareasporcarpeta.CronogramaSyH%>"
                                                            onclick="llamarAFormularioEditarTareas('CronogramaSyH');"
                                                            checked>
                                                    </div>
                                                    <div class=" p-1">
                                                        Sin Presentar<input id="" class="" type="radio"
                                                            name="CronogramaSyH" value="Sin presentar"
                                                            onclick="llamarAFormularioEditarTareas('CronogramaSyH');">
                                                    </div>
                                                    <div class=" p-1">
                                                        En Gestión<input id="" class="" type="radio"
                                                            name="CronogramaSyH" value="EnGestion"
                                                            onclick="llamarAFormularioEditarTareas('CronogramaSyH');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Presentado<input id="" class="" type="radio" name="CronogramaSyH"
                                                            value="Presentado"
                                                            onclick="llamarAFormularioEditarTareas('CronogramaSyH');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Observado<input id="" class="" type="radio" name="CronogramaSyH"
                                                            value="Observado"
                                                            onclick="llamarAFormularioEditarTareas('CronogramaSyH');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Ok<input id="" class="" type="radio" name="CronogramaSyH"
                                                            value="ok"
                                                            onclick="llamarAFormularioEditarTareas('CronogramaSyH');">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1CronogramaSyH" style="display:none;">
<input type="checkbox" name="Tarea" value="Cronograma SyH" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 border">
                                            <div class="card-title text-primary" onclick="document.getElementById('SeguroRCbody').style.display= 'block'">
                                                <label for="SeguroRC">Seguro de responsabilidad civil</label>
                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Estado de la tarea: <%=tareasporcarpeta.SeguroRC %>
                                            </div>
                                            <div class="card-text" id="SeguroRCbody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <input hidden id="" class="" type="radio" name="SeguroRC"
                                                            value="<%=tareasporcarpeta.SeguroRC%>"
                                                            onclick="llamarAFormularioEditarTareas('SeguroRC');"
                                                            checked>
                                                    </div>
                                                    <div class=" p-1">
                                                        Sin Presentar<input id="" class="" type="radio" name="SeguroRC"
                                                            value="Sin presentar"
                                                            onclick="llamarAFormularioEditarTareas('SeguroRC');">
                                                    </div>
                                                    <div class=" p-1">
                                                        En Gestión<input id="" class="" type="radio" name="SeguroRC"
                                                            value="EnGestion"
                                                            onclick="llamarAFormularioEditarTareas('SeguroRC');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Presentado<input id="" class="" type="radio" name="SeguroRC"
                                                            value="Presentado"
                                                            onclick="llamarAFormularioEditarTareas('SeguroRC');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Observado<input id="" class="" type="radio" name="SeguroRC"
                                                            value="Observado"
                                                            onclick="llamarAFormularioEditarTareas('SeguroRC');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Ok<input id="" class="" type="radio" name="SeguroRC" value="ok"
                                                            onclick="llamarAFormularioEditarTareas('SeguroRC');">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1SeguroRC" style="display:none;">
<input type="checkbox" name="Tarea" value="Seguro RC" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-6 border">
                                            <div class="card-title text-primary" onclick="document.getElementById('monotributosbody').style.display= 'block'">
                                                <label for="Monotributos">Monotributos</label>
                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Estado de la tarea: <%=tareasporcarpeta.Monotributos %>
                                            </div>
                                            <div class="card-text" id="monotributosbody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <input hidden id="" class="" type="radio" name="Monotributos"
                                                            value="<%=tareasporcarpeta.Monotributos%>"
                                                            onclick="llamarAFormularioEditarTareas('Monotributos');"
                                                            checked>
                                                    </div>
                                                    <div class=" p-1">
                                                        Sin Presentar<input id="" class="" type="radio"
                                                            name="Monotributos" value="Sin presentar"
                                                            onclick="llamarAFormularioEditarTareas('Monotributos');">
                                                    </div>
                                                    <div class=" p-1">
                                                        En Gestión<input id="" class="" type="radio" name="Monotributos"
                                                            value="EnGestion"
                                                            onclick="llamarAFormularioEditarTareas('Monotributos');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Presentado<input id="" class="" type="radio" name="Monotributos"
                                                            value="Presentado"
                                                            onclick="llamarAFormularioEditarTareas('Monotributos');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Observado<input id="" class="" type="radio" name="Monotributos"
                                                            value="Observado"
                                                            onclick="llamarAFormularioEditarTareas('Monotributos');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Ok<input id="" class="" type="radio" name="Monotributos"
                                                            value="ok"
                                                            onclick="llamarAFormularioEditarTareas('Monotributos');">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1Monotributos" style="display:none;">
<input type="checkbox" name="Tarea" value="Monotributos" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-6 border" >
                                            <div class="card-title text-primary" onclick="document.getElementById('SeguroAccidentesPersonalesbody').style.display= 'block'">
                                                <label for="SeguroAccidentesPersonales">Seguro accidentes
                                                    personales</label>
                                            </div>
                                            <div class="text-success" id="EstadoTarea">
                                                Estado de la tarea: <%=tareasporcarpeta.SeguroAccidentesPersonales %>
                                            </div>
                                            <div class="card-text" id="SeguroAccidentesPersonalesbody" style="display: none;">
                                                <div class="input-group ">
                                                    <div class=" p-1">
                                                        <input hidden id="" class="" type="radio"
                                                            name="SeguroAccidentesPersonales"
                                                            value="<%=tareasporcarpeta.SeguroAccidentesPersonales%>"
                                                            onclick="llamarAFormularioEditarTareas('SeguroAccidentesPersonales');"
                                                            checked>
                                                    </div>
                                                    <div class=" p-1">
                                                        Sin Presentar<input id="" class="" type="radio"
                                                            name="SeguroAccidentesPersonales" value="Sin presentar"
                                                            onclick="llamarAFormularioEditarTareas('SeguroAccidentesPersonales');">
                                                    </div>
                                                    <div class=" p-1">
                                                        En Gestión<input id="" class="" type="radio"
                                                            name="SeguroAccidentesPersonales" value="EnGestion"
                                                            onclick="llamarAFormularioEditarTareas('SeguroAccidentesPersonales');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Presentado<input id="" class="" type="radio"
                                                            name="SeguroAccidentesPersonales" value="Presentado"
                                                            onclick="llamarAFormularioEditarTareas('SeguroAccidentesPersonales');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Observado<input id="" class="" type="radio"
                                                            name="SeguroAccidentesPersonales" value="Observado"
                                                            onclick="llamarAFormularioEditarTareas('SeguroAccidentesPersonales');">
                                                    </div>
                                                    <div class=" p-1">
                                                        Ok<input id="" class="" type="radio"
                                                            name="SeguroAccidentesPersonales" value="ok"
                                                            onclick="llamarAFormularioEditarTareas('SeguroAccidentesPersonales');">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                            id="form1SeguroAccidentesPersonales" style="display:none;">
<input type="checkbox" name="Tarea" value="Seguro Accidentes Personales" id=""  checked hidden>
                                            <div class="row ">
                                                <div class="col">
                                                    <span>
                                                        Responsable de la Tarea:
                                                    </span>
                                                    <select name="ResponsableDeTarea" id="">
                                                         <option value="" selected></option>
                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                        <option value="<%=usuario.Nombre%>"><%=usuario.Nombre%></option>
                                                        <%})%>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row pb-1 ">
                                                <div class="input-group-sm">
                                                    <span class="">Tarea Realizada:</span>
                                                    <input class="form-control" type="text" name="TareaRealizada"
                                                        id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="TareaRealizada">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Proxima Tarea:</span>
                                                    <input class="form-control" type="text" name="ProximaTarea"
                                                        id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                        aria-describedby="ProximaTarea">
                                                </div>
                                            </div>
                                            <div class="row pb-1">
                                                <div class="input-group-sm">
                                                    <span class="">Fecha Limite:</span>
                                                    <input class="form-control" type="date" name="Fecha_limite"
                                                        id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                        aria-describedby="Fecha_limite">

                                                </div>

                                            </div>
                                            <div class="row-p-1">
                                                <div class="input-group mt-1">
                                                    <input type="file" class="form-control" placeholder="Archivo"
                                                        aria-label="Archivo">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group-sm pt-2">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    