<!--Preliminar-->
<th>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalPreliminar">
        Preliminar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ModalPreliminar" tabindex="-1" role="dialog" aria-labelledby="ModalPreliminar"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="ModalPreliminar">
                        Preliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/actualizarEtapas/<%= user.id%>" id="formPreliminar" method="post">
                        <div class="container">
                            <div class="card p-3 mt-3 border-secondary">
                                
                                    <div class="card-header bg-primary text-white">
                                        <label for="DocumentacionDelTerreno">Documentación
                                            del
                                            terreno</label>
                                    </div>
                                    <div class="card-body">
                                        <div class="row ">
                                            <div class="col border">
                                                <div class="card-title " onclick="document.getElementById('MensuraBody').style.display= 'block'">
                                                    <label for="Mensura">Mensura</label >
                                                    <div class="text-primary col-3" id="Estado" > Estado de la tarea:
                                                        <%=tareasporcarpeta.Mensura%>
                                                    </div>
                                                </div>

                                                <div class="card-text" id="MensuraBody" style="display: none;">
                                                    <div class="input-group">

                                                        <div class="col-2.5 p-1">
                                                            Sin Presentar<input id="" class="input" type="radio"
                                                                name="Mensura" value="Sin presentar" onclick="document.getElementById('form1Preliminar').style.display= 'block'">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            En Gestión<input id="" class="input" type="radio"
                                                                name="Mensura" value="EnGestion" onclick="document.getElementById('form1Preliminar').style.display= 'block'"> 
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            Presentado<input id="" class="input" type="radio"
                                                                name="Mensura" value="Presentado" onclick="document.getElementById('form1Preliminar').style.display= 'block'">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            Observado<input id="" class="input" type="radio"
                                                                name="Mensura" value="Observado" onclick="document.getElementById('form1Preliminar').style.display= 'block'">
                                                        </div>
                                                        <div class="col-2 p-1">
                                                            Ok<input id="" class="input" type="radio" name="Mensura"
                                                                value="Ok" onclick="document.getElementById('form1Preliminar').style.display= 'block'">
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 border p-1 bg-dark text-white" id="form1Preliminar" style="display: none;">
                                        
                                                <form action="ActualizarTarea/<%=tareasporcarpeta.Mensura%>/<%=user.id%>"method="post">
                                                    <div class="row ">
                                                        <div class="col">
                                                            <span>
                                                                Responsable de la Tarea:
                                                            </span>
                                                            <input class="form-check-input-inline" type="radio"
                                                                name="ResponsableDeTarea" id="ResponsableDeTarea" required
                                                                value="Mauricio">
                                                            Mauricio
                                                            <input class="form-check-input-inline" type="radio"
                                                                name="ResponsableDeTarea" id="ResponsableDeTarea" value="Gustavo">
                                                            Gustavo
                                                            <input class="form-check-input-inline" type="radio"
                                                                name="ResponsableDeTarea" id="ResponsableDeTarea" value="Daiana">
                                                            Daiana
                                                        </div>
                                                    </div>
                                                    <div class="row pb-1 ">
                                                        <div class="input-group-sm">
                                                            <span class="" id="TareaRealizada">Tarea Realizada:</span>
                                                            <input class="form-control" type="text" name="TareaRealizada"
                                                                id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                                aria-describedby="TareaRealizada">
                                                        </div>
                                                    </div>
                                                    <div class="row pb-1">
                                                        <div class="input-group-sm">
                                                            <span class="" id="ProximaTarea">Proxima Tarea:</span>
                                                            <input class="form-control" type="text" name="ProximaTarea"
                                                                id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                                aria-describedby="ProximaTarea">
                                                        </div>
                                                    </div>
                                                    <div class="row pb-1">
                                                        <div class="input-group-sm">
                                                            <span class="" id="Fecha_limite">Fecha Limite:</span>
                                                            <input class="form-control" type="date" name="Fecha_limite"
                                                                id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                                aria-describedby="Fecha_limite">
                                                           
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row-p-1">
                                                        <div class="input-group mt-1">
                                                            <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                                                            
                                                            <button type="submit" class="form-control btn btn-success btn-sm">Cargar tarea en sistema</button>
                                                          </div>
                                                       
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-6 border">
                                                <div class="card-title " onclick="document.getElementById('TituloPropiedadBody').style.display= 'block'">
                                                    <label for="TituloDePropiedad">Titulo de
                                                        propiedad</label>
                                                    <div class="text-primary col-3" id="Estado"> Estado de la tarea:
                                                        <%=tareasporcarpeta.TituloDePropiedad%>
                                                    </div>
                                                </div>

                                                <div class="card-text" id="TituloPropiedadBody" style="display: none;">
                                                    <div class="input-group ">
                                                        <div class="col-2.5 p-1">
                                                            Sin Presentar<input id="" class="input" type="radio"
                                                                name="TituloDePropiedad" value="Sin presentar" onclick="document.getElementById('form1TituloDePropiedad').style.display= 'block'">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            En Gestión<input id="" class="input" type="radio"
                                                                name="TituloDePropiedad" value="EnGestion"  onclick="document.getElementById('form1TituloDePropiedad').style.display= 'block'">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            Presentado<input id="" class="input" type="radio"
                                                                name="TituloDePropiedad" value="Presentado"  onclick="document.getElementById('form1TituloDePropiedad').style.display= 'block'">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            Observado<input id="" class="input" type="radio"
                                                                name="TituloDePropiedad" value="Observado"  onclick="document.getElementById('form1TituloDePropiedad').style.display= 'block'">
                                                        </div>
                                                        <div class="col-2 p-1">
                                                            Ok<input id="" class="input" type="radio"
                                                                name="TituloDePropiedad" value="Ok"  onclick="document.getElementById('form1TituloDePropiedad').style.display= 'block'">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                                <div class="col-6 p-1 bg-dark text-white" id="form1TituloDePropiedad" style="display: none;">
                                        
                                                    <form action="ActualizarTarea/<%=tareasporcarpeta.TituloDePropiedad%>/<%=user.id%>"method="post">
                                                        <div class="row ">
                                                            <div class="col">
                                                                <span>
                                                                    Responsable de la Tarea:
                                                                </span>
                                                                <input class="form-check-input-inline" type="radio"
                                                                    name="ResponsableDeTarea" id="ResponsableDeTarea" required
                                                                    value="Mauricio">
                                                                Mauricio
                                                                <input class="form-check-input-inline" type="radio"
                                                                    name="ResponsableDeTarea" id="ResponsableDeTarea" value="Gustavo">
                                                                Gustavo
                                                                <input class="form-check-input-inline" type="radio"
                                                                    name="ResponsableDeTarea" id="ResponsableDeTarea" value="Daiana">
                                                                Daiana
                                                            </div>
                                                        </div>
                                                        <div class="row p-1 ">
                                                            <div class="input-group-sm">
                                                                <span class="" id="TareaRealizada">Tarea Realizada:</span>
                                                                <input class="form-control" type="text" name="TareaRealizada"
                                                                    id="TareaRealizada" placeholder="Ingrese ultima tarea realizada"
                                                                    aria-describedby="TareaRealizada">
                                                            </div>
                                                        </div>
                                                        <div class="row p-1">
                                                            <div class="input-group-sm">
                                                                <span class="" id="ProximaTarea">Proxima Tarea:</span>
                                                                <input class="form-control" type="text" name="ProximaTarea"
                                                                    id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                                    aria-describedby="ProximaTarea">
                                                            </div>
                                                        </div>
                                                        <div class="row p-1">
                                                            <div class="input-group-sm">
                                                                <span class="" id="Fecha_limite">Fecha Limite:</span>
                                                                <input class="form-control" type="date" name="Fecha_limite"
                                                                    id="Fecha_limite" placeholder="Ingrese ultima tarea realizada"
                                                                    aria-describedby="Fecha_limite">
                                                            </div>
                                                        </div>
                                                        <div class="row-p-1">
                                                            <div class="input-group mt-1">
                                                                <input type="file" class="form-control" placeholder="Archivo" aria-label="Archivo">
                                                                
                                                                <button type="submit" class="form-control btn btn-success btn-sm">Cargar tarea en sistema</button>
                                                              </div>
                                                           
                                                        </div>
                                                    </form>
                                                </div>
                                        </div>

                                        
                                    </div>
                               
                                    
                                
                                
                            </div>
                            <div class="card p-3 mt-3 border-secondary">
                                <div class="card-header bg-primary text-white">
                                    <label for="DocumentacionSociedad" class="mx-auto">
                                        Documentación de la Sociedad</label>


                                </div>
                                <div class="card-body">
                                    <div class="row ">
                                        <div class="col-12 border">
                                            <div class="card-title ">
                                                <label for="ActaConstitutiva">Acta
                                                    constitutiva</label>
                                                <div class="text-primary  col-3" id="Estado"> Estado de la tarea:
                                                    <%=tareasporcarpeta.ActaConstitutiva %>
                                                </div>
                                            </div>

                                            <div class="card-text">
                                                <div class="input-group ">
                                                    <div class="col-2.5 p-1">
                                                        Sin Presentar<input id="" class="input" type="radio"
                                                            name="ActaConstitutiva" value="Sin presentar">
                                                    </div>
                                                    <div class="col-2.5 p-1">
                                                        En Gestión<input id="" class="input" type="radio"
                                                            name="ActaConstitutiva" value="EnGestion">
                                                    </div>

                                                    <div class="col-2.5 p-1">
                                                        Observado<input id="" class="input" type="radio"
                                                            name="ActaConstitutiva" value="Observado">
                                                    </div>
                                                    <div class="col-2.5 p-1">
                                                        Ok<input id="" class="input" type="radio"
                                                            name="ActaConstitutiva" value="ok">
                                                    </div>
                                                    <div class="col-2 p-1">
                                                        NC<input id="" class="input" type="radio"
                                                            name="ActaConstitutiva" value="NC">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 border">
                                            <div class="card-title ">
                                                <label for="ActaCargoVigente">
                                                    Acta en cargo
                                                    vigente</label>
                                                <div class="text-primary  col-3" id="Estado"> Estado de la tarea:
                                                    <%=tareasporcarpeta.ActaCargoVigente%>
                                                </div>
                                            </div>

                                            <div class="card-text">
                                                <div class="input-group ">
                                                    <div class="col-2.5 p-1">
                                                        Sin Presentar<input id="" class="input" type="radio"
                                                            name="ActaCargoVigente" value="Sin presentar">
                                                    </div>
                                                    <div class="col-2.5 p-1">
                                                        En Gestión<input id="" class="input" type="radio"
                                                            name="ActaCargoVigente" value="EnGestion">
                                                    </div>

                                                    <div class="col-2.5 p-1">
                                                        Observado<input id="" class="input" type="radio"
                                                            name="ActaCargoVigente" value="Observado">
                                                    </div>
                                                    <div class="col-2.5 p-1">
                                                        Ok<input id="" class="input" type="radio"
                                                            name="ActaCargoVigente" value="ok">
                                                    </div>
                                                    <div class="col-2 p-1">
                                                        NC<input id="" class="input" type="radio"
                                                            name="ActaCargoVigente" value="NC">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 border">
                                            <div class="card-title ">
                                                <label for="DniComitente">
                                                    DNI del
                                                    Comitente: <%= tareasporcarpeta.DniComitente%></label>
                                                <div class="text-primary  col-3" id="Estado"> Estado de la tarea:
                                                    <%=tareasporcarpeta.DniComitente%>
                                                </div>
                                            </div>

                                            <div class="card-text">
                                                <input type="textinput" name="DniComitente" id="DniComitente"
                                                    maxlength="10" placeholder="<%= tareasporcarpeta.DniComitente%>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-3 mt-3 border-secondary">
                                <div class="card-header bg-primary text-white">
                                    Documentación Contractual
                                </div>
                                <div class="row ">
                                    <div class="col-12 border">
                                        <div class="card-title ">
                                            <label for="Cotizacion">
                                                Cotización</label>
                                            <div class="text-primary  col-3" id="Estado"> Estado de la tarea:
                                                <%=tareasporcarpeta.Cotizacion%>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div class="input-group ">
                                                <div class="col-2.5 p-1">
                                                    Sin Presentar<input id="" class="input" type="radio"
                                                        name="Cotizacion" value="Sin presentar">
                                                </div>
                                                <div class="col-2.5 p-1">
                                                    En Gestión<input id="" class="input" type="radio" name="Cotizacion"
                                                        value="EnGestion">
                                                </div>

                                                <div class="col-2 p-1">
                                                    Ok<input id="" class="input" type="radio" name="Cotizacion"
                                                        value="ok">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 border">

                                        <div class="card-title ">
                                            <label for="Contrato"> Contrato
                                                preliminar </label>
                                            <div class="text-primary  col-3" id="Estado"> Estado de la tarea:
                                                <%=tareasporcarpeta.Contrato%>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div class="card-text">
                                                <div class="input-group ">
                                                    <div class="col-2.5 p-1">
                                                        Sin Presentar<input id="" class="input" type="radio"
                                                            name="ContratoPreliminar" value="Sin presentar(Preliminar)">
                                                    </div>
                                                    <div class="col-2.5 p-1">
                                                        En Gestión<input id="" class="input" type="radio"
                                                            name="ContratoPreliminar" value="EnGestion(Preliminar)">
                                                    </div>


                                                    <div class="col-2 p-1">
                                                        Ok<input id="" class="input" type="radio"
                                                            name="ContratoPreliminar" value="ok(Preliminar)">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                onclick="CerrarModal()">Cerrar</button>
                            <button type="submit" form="actPrelCarpEcogas" class="btn btn-primary fixed-bottom">Guardar
                                Cambios</button>
                        </div>
                </div>
            </div>
        </div>
</th>