<!--Preliminar-->

<!-- Modal -->
<div class="modal fade" id="ModalPreliminar" tabindex="-1" role="dialog" aria-labelledby="ModalPreliminar"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="ModalPreliminar">
                    Preliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="card p-3 mt-3 border-secondary">
                        <%if(tareasgenerales.DocumentacionTerreno=="ok"||tareasgenerales.DocumentacionTerreno=="Ok"){%>
                            <div class="card-header bg-success text-white">
                                <%} else{%>
                                    <div class="card-header bg-primary text-white">
                                        <%}%>
                                            <label for="DocumentacionDelTerreno"
                                                onclick="$('#DocumentacionDelTerrenoBody').css('display','block')">Documentación
                                                del terreno </label>
                                    </div>
                                    <div id="DocumentacionDelTerrenoBody" class="card-body" style="display: none;">
                                        <div class="row ">
                                            <div class="col border">
                                                <div class="card-title "
                                                    onclick="document.getElementById('MensuraBody').style.display= 'block'">
                                                    <label for="Mensura">Mensura</label>
                                                    <div class="text-primary col-3" id="Estado"> Estado de la tarea:
                                                        <%=tareasporcarpeta.Mensura%>
                                                    </div>
                                                </div>
                                                <div class="card-text" id="MensuraBody" style="display: none;">
                                                    <div class="input-group">
                                                        <input hidden id="" class="input" type="radio" name="Mensura"
                                                            onclick="llamarAFormularioEditarTareas('Mensura');"
                                                            value="<%=tareasporcarpeta.Mensura%>" checked>
                                                        <div class="col-2.5 p-1">
                                                            Sin Presentar<input id="" class="input" type="radio"
                                                                onclick="llamarAFormularioEditarTareas('Mensura');"
                                                                name="Mensura" value="Sin presentar">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            En Gestión<input id="" class="input" type="radio"
                                                                name="Mensura"
                                                                onclick="llamarAFormularioEditarTareas('Mensura','EnGestion');"
                                                                value="EnGestion">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            Presentado<input id="" class="input" type="radio"
                                                                name="Mensura"
                                                                onclick="llamarAFormularioEditarTareas('Mensura');"
                                                                value="Presentado">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            Observado<input id="" class="input" type="radio"
                                                                name="Mensura"
                                                                onclick="llamarAFormularioEditarTareas('Mensura');"
                                                                value="Observado">
                                                        </div>
                                                        <div class="col-2 p-1">
                                                            Ok<input id="" class="input" type="radio" name="Mensura"
                                                                onclick="llamarAFormularioEditarTareas('Mensura','Ok');"
                                                                value="ok">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 border p-1 bg-dark text-white formularioEditarTareasALlenar"
                                                id="form1Mensura" style="display: none;">
                                                <input type="checkbox" value="Mensura" checked hidden name="Tarea">
                                                <div class="row ">
                                                    <div class="col">
                                                        <span>
                                                            Responsable de la Tarea:
                                                        </span>
                                                        <select name="ResponsableDeTarea" id="">
                                                            <option value="" selected></option>
                                                            <%usuariosregistrados.forEach((usuario)=>{%>
                                                                <option value="<%=usuario.Nombre%>">
                                                                    <%=usuario.Nombre%>
                                                                </option>
                                                                <%})%>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row pb-1 ">
                                                    <div class="input-group-sm">
                                                        <span class="">Tarea Realizada:</span>
                                                        <input class="form-control" type="text" name="TareaRealizada"
                                                            id="TareaRealizada"
                                                            placeholder="Ingrese ultima tarea realizada"
                                                            aria-describedby="TareaRealizada">
                                                    </div>
                                                </div>
                                                <div class="row pb-1">
                                                    <div class="input-group-sm">
                                                        <span class="">Proxima Tarea:</span>
                                                        <input class="form-control" type="text" name="ProximaTarea"
                                                            id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                            aria-describedby="ProximaTarea">
                                                    </div>
                                                </div>
                                                <div class="row pb-1">
                                                    <div class="input-group-sm">
                                                        <span class="">Fecha Limite:</span>
                                                        <input class="form-control" type="date" name="Fecha_limite"
                                                            id="Fecha_limite"
                                                            placeholder="Ingrese ultima tarea realizada"
                                                            aria-describedby="Fecha_limite">
                                                    </div>
                                                </div>
                                                <div class="row-p-1">
                                                    <div class="input-group mt-1">
                                                        <input type="file" class="form-control" placeholder="Archivo"
                                                            aria-label="Archivo">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-group-sm pt-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-6 border">
                                                <div class="card-title "
                                                    onclick="document.getElementById('TituloPropiedadBody').style.display= 'block'">
                                                    <label for="TituloDePropiedad">Titulo de propiedad</label>
                                                    <div class="text-primary col-3" id="Estado"> Estado de la tarea:
                                                        <%=tareasporcarpeta.TituloDePropiedad%>
                                                    </div>
                                                </div>

                                                <div class="card-text" id="TituloPropiedadBody" style="display: none;">
                                                    <div class="input-group ">
                                                        <div class="col-2.5 p-1">
                                                            <input hidden id="" class="input" type="radio"
                                                                onclick="llamarAFormularioEditarTareas('TituloDePropiedad');"
                                                                name="TituloDePropiedad"
                                                                value="<%=tareasporcarpeta.TituloDePropiedad%>" checked>
                                                            Sin Presentar<input id="" class="input" type="radio"
                                                                onclick="llamarAFormularioEditarTareas('TituloDePropiedad');"
                                                                name="TituloDePropiedad" value="Sin presentar">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            En Gestión<input id="" class="input" type="radio"
                                                                onclick="llamarAFormularioEditarTareas('TituloDePropiedad','EnGestion');"
                                                                name="TituloDePropiedad" value="EnGestion">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            Presentado<input id="" class="input" type="radio"
                                                                onclick="llamarAFormularioEditarTareas('TituloDePropiedad');"
                                                                name="TituloDePropiedad" value="Presentado">
                                                        </div>
                                                        <div class="col-2.5 p-1">
                                                            Observado<input id="" class="input" type="radio"
                                                                onclick="llamarAFormularioEditarTareas('TituloDePropiedad');"
                                                                name="TituloDePropiedad" value="Observado">
                                                        </div>
                                                        <div class="col-2 p-1">
                                                            Ok<input id="" class="input" type="radio"
                                                                onclick="llamarAFormularioEditarTareas('TituloDePropiedad', 'Ok');"
                                                                name="TituloDePropiedad" value="ok">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-6 p-1 bg-dark text-white formularioEditarTareasALlenar"
                                                id="form1TituloDePropiedad" style="display: none;">
                                                <input type="checkbox" value="TituloDePropiedad" checked hidden
                                                    name="Tarea">

                                                <div class="row ">
                                                    <div class="col">
                                                        <span>
                                                            Responsable de la Tarea:
                                                        </span>
                                                        <select name="ResponsableDeTarea" id="">
                                                            <option value="" selected></option>
                                                            <%usuariosregistrados.forEach((usuario)=>{%>
                                                                <option value="<%=usuario.Nombre%>">
                                                                    <%=usuario.Nombre%>
                                                                </option>
                                                                <%})%>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row pb-1 ">
                                                    <div class="input-group-sm">
                                                        <span class="">Tarea Realizada:</span>
                                                        <input class="form-control" type="text" name="TareaRealizada"
                                                            id="TareaRealizada"
                                                            placeholder="Ingrese ultima tarea realizada"
                                                            aria-describedby="TareaRealizada">
                                                    </div>
                                                </div>
                                                <div class="row pb-1">
                                                    <div class="input-group-sm">
                                                        <span class="">Proxima Tarea:</span>
                                                        <input class="form-control" type="text" name="ProximaTarea"
                                                            id="ProximaTarea" placeholder="Ingrese la proxima tarea"
                                                            aria-describedby="ProximaTarea">
                                                    </div>
                                                </div>
                                                <div class="row pb-1">
                                                    <div class="input-group-sm">
                                                        <span class="">Fecha Limite:</span>
                                                        <input class="form-control" type="date" name="Fecha_limite"
                                                            id="Fecha_limite"
                                                            placeholder="Ingrese ultima tarea realizada"
                                                            aria-describedby="Fecha_limite">

                                                    </div>

                                                </div>
                                                <div class="row-p-1">
                                                    <div class="input-group mt-1">
                                                        <input type="file" class="form-control" placeholder="Archivo"
                                                            aria-label="Archivo">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-group-sm pt-2">

                                                    </div>


                                                </div>




                                            </div>
                                        </div>

                                    </div>
                            </div>
                            <div class="card p-3 mt-3 border-secondary">
                                <%if(tareasgenerales.DocumentacionSociedad=="ok"||tareasgenerales.DocumentacionSociedad=="Ok"){%>
                                    <div class="card-header bg-success text-white">
                                        <%} else{%>
                                            <div class="card-header bg-primary text-white">
                                                <%}%>
                                                    <label for="DocumentacionSociedad" class="mx-auto"
                                                        onclick="$('#DocumentacionSociedadBody').css('display','block')">
                                                        Documentación de la Sociedad</label>
                                            </div>
                                            <div id="DocumentacionSociedadBody" class="card-body"
                                                style="display: none;">
                                                <div class="row ">
                                                    <div class="col-6 border">
                                                        <div class="card-title "
                                                            onclick="document.getElementById('ActaConstitutivaBody').style.display= 'block';">
                                                            <label for="ActaConstitutiva">Acta constitutiva</label>
                                                            <div class="text-primary  col-3" id="Estado"> Estado de la
                                                                tarea:
                                                                <%=tareasporcarpeta.ActaConstitutiva %>
                                                            </div>
                                                        </div>
                                                        <div class="card-text" id="ActaConstitutivaBody"
                                                            style="display: none;">
                                                            <div class="input-group "
                                                                onclick="document.getElementById('form1ActaConstitutiva').style.display= 'block';">
                                                                <div class="form-check form-check-inline">


                                                                    <input hidden id="" class="input-check-input"
                                                                        type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaConstitutiva');"
                                                                        name="ActaConstitutiva"
                                                                        value="<%=tareasporcarpeta.ActaConstitutiva%>"
                                                                        checked>
                                                                    Sin Presentar<input id="" class="input" type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaConstitutiva');"
                                                                        name="ActaConstitutiva" value="Sin presentar">
                                                                    En Gestión<input id="" class="input-check-input"
                                                                        type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaConstitutiva','EnGestion');"
                                                                        name="ActaConstitutiva" value="EnGestion">
                                                                    Presentado<input id="" class="input-check-input"
                                                                        type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaConstitutiva');"
                                                                        name="ActaConstitutiva" value="Presentado">

                                                                    Observado<input id="" class="input-check-input"
                                                                        type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaConstitutiva');"
                                                                        name="ActaConstitutiva" value="Observado">
                                                                    Ok<input id="" class="input-check-input"
                                                                        type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaConstitutiva' , 'Ok');"
                                                                        name="ActaConstitutiva" value="ok">
                                                                    NC<input id="" class="input-check-input"
                                                                        type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaConstitutiva');"
                                                                        name="ActaConstitutiva" value="NC">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-6 p-1 bg-dark text-white formularioEditarTareasALlenar"
                                                        id="form1ActaConstitutiva" style="display: none;">
                                                        <input type="checkbox" value="ActaConstitutiva" checked hidden
                                                            name="Tarea">

                                                        <div class="row ">
                                                            <div class="col">
                                                                <span>
                                                                    Responsable de la Tarea:
                                                                </span>
                                                                <select name="ResponsableDeTarea" id="">
                                                                    <option value="" selected></option>
                                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                                        <option value="<%=usuario.Nombre%>">
                                                                            <%=usuario.Nombre%>
                                                                        </option>
                                                                        <%})%>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-1 ">
                                                            <div class="input-group-sm">
                                                                <span class="">Tarea Realizada:</span>
                                                                <input class="form-control" type="text"
                                                                    name="TareaRealizada" id="TareaRealizada"
                                                                    placeholder="Ingrese ultima tarea realizada"
                                                                    aria-describedby="TareaRealizada">
                                                            </div>
                                                        </div>
                                                        <div class="row pb-1">
                                                            <div class="input-group-sm">
                                                                <span class="">Proxima Tarea:</span>
                                                                <input class="form-control" type="text"
                                                                    name="ProximaTarea" id="ProximaTarea"
                                                                    placeholder="Ingrese la proxima tarea"
                                                                    aria-describedby="ProximaTarea">
                                                            </div>
                                                        </div>
                                                        <div class="row pb-1">
                                                            <div class="input-group-sm">
                                                                <span class="">Fecha Limite:</span>
                                                                <input class="form-control" type="date"
                                                                    name="Fecha_limite" id="Fecha_limite"
                                                                    placeholder="Ingrese ultima tarea realizada"
                                                                    aria-describedby="Fecha_limite">

                                                            </div>

                                                        </div>
                                                        <div class="row-p-1">
                                                            <div class="input-group mt-1">
                                                                <input type="file" class="form-control"
                                                                    placeholder="Archivo" aria-label="Archivo">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="input-group-sm pt-2">

                                                            </div>


                                                        </div>



                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-6 border">
                                                        <div class="card-title ">
                                                            <label for="ActaCargoVigente">
                                                                Acta en cargo vigente</label>
                                                            <div class="text-primary col-3" id="Estado"
                                                                onclick="document.getElementById('ActaCargoVigente').style.display= 'block';">
                                                                Estado de la tarea:
                                                                <%=tareasporcarpeta.ActaCargoVigente%>
                                                            </div>
                                                        </div>

                                                        <div class="card-text" id="ActaCargoVigente"
                                                            style="display: none;">
                                                            <div class="input-group ">
                                                                <div class="col-2.5 p-1">
                                                                    <input hidden id="" class="input" type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaCargoVigente');"
                                                                        name="ActaCargoVigente"
                                                                        value="<%=tareasporcarpeta.ActaCargoVigente%>"
                                                                        checked>
                                                                    Sin Presentar<input id="" class="input" type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaCargoVigente');"
                                                                        name="ActaCargoVigente" value="Sin presentar">
                                                                </div>
                                                                <div class="col-2.5 p-1">
                                                                    En Gestión<input id="" class="input" type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaCargoVigente','EnGestion');"
                                                                        name="ActaCargoVigente" value="EnGestion">
                                                                </div>
                                                                <div class="col-2.5 p-1">
                                                                    Presentado<input id="" class="input" type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaCargoVigente');"
                                                                        name="ActaCargoVigente" value="Presentado">
                                                                </div>
                                                                <div class="col-2.5 p-1">
                                                                    Observado<input id="" class="input" type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaCargoVigente');"
                                                                        name="ActaCargoVigente" value="Observado">
                                                                </div>
                                                                <div class="col-2.5 p-1">
                                                                    Ok<input id="" class="input" type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaCargoVigente' ,'Ok');"
                                                                        name="ActaCargoVigente" value="ok">
                                                                </div>
                                                                <div class="col-2 p-1">
                                                                    NC<input id="" class="input" type="radio"
                                                                        onclick="llamarAFormularioEditarTareas('ActaCargoVigente');"
                                                                        name="ActaCargoVigente" value="NC">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-6 p-1 bg-dark text-white formularioEditarTareasALlenar"
                                                        id="form1ActaCargoVigente" style="display: none;">
                                                        <input type="checkbox" value="ActaCargoVigente" checked hidden
                                                            name="Tarea">

                                                        <div class="row ">
                                                            <div class="col">
                                                                <span>
                                                                    Responsable de la Tarea:
                                                                </span>
                                                                <select name="ResponsableDeTarea" id="">
                                                                    <option value="" selected></option>
                                                                    <%usuariosregistrados.forEach((usuario)=>{%>
                                                                        <option value="<%=usuario.Nombre%>">
                                                                            <%=usuario.Nombre%>
                                                                        </option>
                                                                        <%})%>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-1 ">
                                                            <div class="input-group-sm">
                                                                <span class="">Tarea Realizada:</span>
                                                                <input class="form-control" type="text"
                                                                    name="TareaRealizada" id="TareaRealizada"
                                                                    placeholder="Ingrese ultima tarea realizada"
                                                                    aria-describedby="TareaRealizada">
                                                            </div>
                                                        </div>
                                                        <div class="row pb-1">
                                                            <div class="input-group-sm">
                                                                <span class="">Proxima Tarea:</span>
                                                                <input class="form-control" type="text"
                                                                    name="ProximaTarea" id="ProximaTarea"
                                                                    placeholder="Ingrese la proxima tarea"
                                                                    aria-describedby="ProximaTarea">
                                                            </div>
                                                        </div>
                                                        <div class="row pb-1">
                                                            <div class="input-group-sm">
                                                                <span class="">Fecha Limite:</span>
                                                                <input class="form-control" type="date"
                                                                    name="Fecha_limite" id="Fecha_limite"
                                                                    placeholder="Ingrese ultima tarea realizada"
                                                                    aria-describedby="Fecha_limite">

                                                            </div>

                                                        </div>
                                                        <div class="row-p-1">
                                                            <div class="input-group mt-1">
                                                                <input type="file" class="form-control"
                                                                    placeholder="Archivo" aria-label="Archivo">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="input-group-sm pt-2">

                                                            </div>


                                                        </div>



                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-12 border">
                                                        <div class="card-title ">
                                                            <label for="DniComitente">
                                                                DNI del
                                                                Comitente: <%= tareasporcarpeta.DniComitente%></label>
                                                            <div class="text-primary  col-3" id="Estado"> Estado:
                                                                <%=tareasporcarpeta.DniComitente%>
                                                            </div>
                                                        </div>

                                                        <div class="card-text">
                                                            <input hidden id="" class="input" type="radio"
                                                                name="DniComitente"
                                                                value="<%=tareasporcarpeta.DniComitente%>" checked>
                                                            <input type="textinput" name="DniComitente"
                                                                id="DniComitente" maxlength="10"
                                                                placeholder="<%= tareasporcarpeta.DniComitente%>">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="card p-3 mt-3 border-secondary">
                                                <%if(tareasgenerales.DocumentacionContractual=="ok"||tareasgenerales.DocumentacionContractual=="Ok"){%>
                                                    <div class="card-header bg-success text-white">
                                                        <%} else{%>
                                                            <div class="card-header bg-primary text-white">
                                                                <%}%>
                                                                    <label for="DocumentacionContractual"
                                                                        class="mx-auto"
                                                                        onclick="$('#DocumentacionContractualBody').css('display','block')">
                                                                        Documentación Contractual</label>
                                                            </div>
                                                            <div id="DocumentacionContractualBody" class="card-body"
                                                                style="display: none;">
                                                                <div class="row ">
                                                                    <div class="col-6 border">
                                                                        <div class="card-title "
                                                                            onclick="document.getElementById('Cotizacion').style.display= 'block';">
                                                                            <label for="Cotizacion">Cotización</label>
                                                                            <div class="text-primary  col-3"
                                                                                id="Estado"> Estado de la tarea:
                                                                                <%=tareasporcarpeta.Cotizacion%>
                                                                            </div>
                                                                        </div>


                                                                        <div class="card-body" id="Cotizacion"
                                                                            style="display: none;">
                                                                            <div class="input-group ">
                                                                                <input id="" class="input" type="radio"
                                                                                    name="Cotizacion"
                                                                                    value="<%=tareasporcarpeta.Cotizacion%>"
                                                                                    checked hidden>
                                                                                <div class="col-2.5 p-1">
                                                                                    <input hidden id="" class="input"
                                                                                        type="radio" name="Cotizacion"
                                                                                        onclick="llamarAFormularioEditarTareas('Cotizacion');"
                                                                                        value="<%=tareasporcarpeta.Cotizacion%>"
                                                                                        checked>
                                                                                    Sin Presentar<input id=""
                                                                                        class="input" type="radio"
                                                                                        onclick="llamarAFormularioEditarTareas('Cotizacion');"
                                                                                        name="Cotizacion"
                                                                                        value="Sin presentar">
                                                                                </div>
                                                                                <div class="col-2.5 p-1">
                                                                                    En Gestión<input id="" class="input"
                                                                                        type="radio"
                                                                                        onclick="llamarAFormularioEditarTareas('Cotizacion','EnGestion');"
                                                                                        name="Cotizacion"
                                                                                        value="EnGestion">
                                                                                </div>

                                                                                <div class="col-2 p-1">
                                                                                    Ok<input id="" class="input"
                                                                                        type="radio" name="Cotizacion"
                                                                                        onclick="llamarAFormularioEditarTareas('Cotizacion' ,'Ok');"
                                                                                        value="ok">
                                                                                </div>

                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6 p-1 bg-dark text-white formularioEditarTareasALlenar"
                                                                        id="form1Cotizacion" style="display: none;">
                                                                        <input type="checkbox" value="Cotizacion"
                                                                            checked hidden name="Tarea">

                                                                        <div class="row ">
                                                                            <div class="col">
                                                                                <span>
                                                                                    Responsable de la Tarea:
                                                                                </span>
                                                                                <select name="ResponsableDeTarea" id="">
                                                                                    <option value="" selected></option>
                                                                                    <%usuariosregistrados.forEach((usuario)=>
                                                                                        {%>
                                                                                        <option
                                                                                            value="<%=usuario.Nombre%>">
                                                                                            <%=usuario.Nombre%>
                                                                                        </option>
                                                                                        <%})%>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row pb-1 ">
                                                                            <div class="input-group-sm">
                                                                                <span class="">Tarea Realizada:</span>
                                                                                <input class="form-control" type="text"
                                                                                    name="TareaRealizada"
                                                                                    id="TareaRealizada"
                                                                                    placeholder="Ingrese ultima tarea realizada"
                                                                                    aria-describedby="TareaRealizada">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row pb-1">
                                                                            <div class="input-group-sm">
                                                                                <span class="">Proxima Tarea:</span>
                                                                                <input class="form-control" type="text"
                                                                                    name="ProximaTarea"
                                                                                    id="ProximaTarea"
                                                                                    placeholder="Ingrese la proxima tarea"
                                                                                    aria-describedby="ProximaTarea">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row pb-1">
                                                                            <div class="input-group-sm">
                                                                                <span class="">Fecha Limite:</span>
                                                                                <input class="form-control" type="date"
                                                                                    name="Fecha_limite"
                                                                                    id="Fecha_limite"
                                                                                    placeholder="Ingrese ultima tarea realizada"
                                                                                    aria-describedby="Fecha_limite">

                                                                            </div>

                                                                        </div>
                                                                        <div class="row-p-1">
                                                                            <div class="input-group mt-1">
                                                                                <input type="file" class="form-control"
                                                                                    placeholder="Archivo"
                                                                                    aria-label="Archivo">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="input-group-sm pt-2">

                                                                            </div>


                                                                        </div>



                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-6 border">

                                                                        <div class="card-title "
                                                                            onclick="document.getElementById('ContratoPreliminar').style.display= 'block';">
                                                                            <label for="Contrato"> Contrato Preliminar
                                                                            </label>
                                                                            <div class="text-primary  col-3"
                                                                                id="Estado"> Estado de la tarea:
                                                                                <%=tareasporcarpeta.Contrato%>
                                                                            </div>
                                                                        </div>

                                                                        <div class="card-body" id="ContratoPreliminar"
                                                                            style="display: none;">
                                                                            <div class="card-text">
                                                                                <div class="input-group "
                                                                                    onclick="document.getElementById('form1ContratoPreliminar').style.display= 'block';">
                                                                                    <div class="col-2.5 p-1">
                                                                                        <input hidden id=""
                                                                                            class="input" type="radio"
                                                                                            onclick="llamarAFormularioEditarTareas('ContratoPreliminar');"
                                                                                            name="ContratoPreliminar"
                                                                                            value="<%=tareasporcarpeta.ContratoPreliminar%>"
                                                                                            checked>
                                                                                        Sin Presentar<input id=""
                                                                                            class="input" type="radio"
                                                                                            onclick="llamarAFormularioEditarTareas('ContratoPreliminar');"
                                                                                            name="ContratoPreliminar"
                                                                                            value="Sin presentar(Preliminar)">
                                                                                    </div>
                                                                                    <div class="col-2.5 p-1">
                                                                                        En Gestión<input id=""
                                                                                            class="input" type="radio"
                                                                                            onclick="llamarAFormularioEditarTareas('ContratoPreliminar','EnGestion');"
                                                                                            name="ContratoPreliminar"
                                                                                            value="EnGestion(Preliminar)">
                                                                                    </div>


                                                                                    <div class="col-2 p-1">
                                                                                        Ok<input id="" class="input"
                                                                                            type="radio"
                                                                                            onclick="lldamarAFormularioEditarTareas('ContratoPreliminar' ,'Ok');"
                                                                                            name="ContratoPreliminar"
                                                                                            value="ok(Preliminar)">
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6 p-1 bg-dark text-white formularioEditarTareasALlenar"
                                                                        id="form1ContratoPreliminar"
                                                                        style="display: none;">
                                                                        <input type="checkbox"
                                                                            value="ContratoPreliminar" checked hidden
                                                                            name="Tarea">

                                                                        <div class="row ">
                                                                            <div class="col">
                                                                                <span>
                                                                                    Responsable de la Tarea:
                                                                                </span>
                                                                                <select name="ResponsableDeTarea" id="">
                                                                                    <option value="" selected></option>
                                                                                    <%usuariosregistrados.forEach((usuario)=>
                                                                                        {%>
                                                                                        <option
                                                                                            value="<%=usuario.Nombre%>">
                                                                                            <%=usuario.Nombre%>
                                                                                        </option>
                                                                                        <%})%>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row pb-1 ">
                                                                            <div class="input-group-sm">
                                                                                <span class="">Tarea Realizada:</span>
                                                                                <input class="form-control" type="text"
                                                                                    name="TareaRealizada"
                                                                                    id="TareaRealizada"
                                                                                    placeholder="Ingrese ultima tarea realizada"
                                                                                    aria-describedby="TareaRealizada">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row pb-1">
                                                                            <div class="input-group-sm">
                                                                                <span class="">Proxima Tarea:</span>
                                                                                <input class="form-control" type="text"
                                                                                    name="ProximaTarea"
                                                                                    id="ProximaTarea"
                                                                                    placeholder="Ingrese la proxima tarea"
                                                                                    aria-describedby="ProximaTarea">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row pb-1">
                                                                            <div class="input-group-sm">
                                                                                <span class="">Fecha Limite:</span>
                                                                                <input class="form-control" type="date"
                                                                                    name="Fecha_limite"
                                                                                    id="Fecha_limite"
                                                                                    placeholder="Ingrese ultima tarea realizada"
                                                                                    aria-describedby="Fecha_limite">

                                                                            </div>

                                                                        </div>
                                                                        <div class="row-p-1">
                                                                            <div class="input-group mt-1">
                                                                                <input type="file" class="form-control"
                                                                                    placeholder="Archivo"
                                                                                    aria-label="Archivo">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="input-group-sm pt-2">

                                                                            </div>


                                                                        </div>



                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    onclick="CerrarModal()">Cerrar</button>
                                                <button type="submit" class="btn btn-primary fixed-bottom">Guardar
                                                    Cambios</button>
                                            </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>