    <div class="row border border-secondary m-1">
<div class="col-4 border border-secondary">
    <h5 class="fw-bolder text-center">
        Matriculas
    </h5>
    <label for="MatriculaFusionista">Fusionista</label>
    <select class="form-control"
    id="MatriculaFusionista"
    name="MatriculaFusionista"
    value="<%= tareasporcarpeta.MatriculaFusionista%>"
    placeholder="<%= tareasporcarpeta.MatriculaFusionista%>">
    <option hidden
        value="<%=tareasporcarpeta.MatriculaFusionista%>"
        selected>
        <%=tareasporcarpeta.MatriculaFusionista%>
    </option>
    <option value="EnGestion">En
        gestion</option>
    <option value="ok">Ok
    </option>
    <option value="NC">No
        corresponde</option>
</select>
<label for="MatriculaSoldador">Soldador</label>
<select class="form-control"
id="MatriculaSoldador"
name="MatriculaSoldador"
value="<%= tareasporcarpeta.MatriculaSoldador%>"
placeholder="<%= tareasporcarpeta.MatriculaSoldador%>">
<option hidden
    value="<%=tareasporcarpeta.MatriculaSoldador%>"
    selected>
    <%=tareasporcarpeta.MatriculaSoldador%>
</option>
<option value="EnGestion">En
    gestion</option>
<option value="ok">Ok
</option>
<option value="NC">No
    corresponde</option>
</select>
</div>
<div class="col-4 border border-secondary">
    <h5 class="fw-bolder text-center">Ambiente</h5>
    <label for="EstudioImpactoAmbiental">Estudio de impacto ambiental</label>
    <select class="form-control"
    id="EstudioImpactoAmbiental"
    name="EstudioImpactoAmbiental"
    value="<%= tareasporcarpeta.EstudioImpactoAmbiental%>"
    placeholder="<%= tareasporcarpeta.EstudioImpactoAmbiental%>">
    <option hidden
        value="<%=tareasporcarpeta.EstudioImpactoAmbiental%>"
        selected>
        <%=tareasporcarpeta.EstudioImpactoAmbiental%>
    </option>
    <option value="pedir">Sin solicitar</option>
    <option value="EnGestion">En
        gestion</option>
    <option value="ok">ok
    </option>
    <option value="NC">No
        corresponde </option>
</select>
<label for="CronogramaAmbiente">Cronograma de visitas ambiente</label>
<select class="form-control"
            id="CronogramaAmbiente"
            name="CronogramaAmbiente"
            value="<%= tareasporcarpeta.CronogramaAmbiente%>"
            placeholder="<%= tareasporcarpeta.CronogramaAmbiente%>">
            <option hidden
                value="<%=tareasporcarpeta.CronogramaAmbiente%>"
                selected>
                <%=tareasporcarpeta.CronogramaAmbiente%>
            </option>
            <option value="pedir">Sin Solicitar</option>
            <option value="EnGestion">En
                gestion</option>
            <option value="ok">ok
            </option>
        </select>

    <label for="NotaCumplimentoNormativa">Nota cumplimento de normativas vigentes</label>
    <select class="form-control"
            id="NotaCumplimentoNormativa"
            name="NotaCumplimentoNormativa"
            value="<%= tareasporcarpeta.NotaCumplimentoNormativa%>"
            placeholder="<%= tareasporcarpeta.NotaCumplimentoNormativa%>">
            <option hidden
                value="<%=tareasporcarpeta.NotaCumplimentoNormativa%>"
                selected>
                <%=tareasporcarpeta.NotaCumplimentoNormativa%>
            </option>
            <option value="Sin presentar">Sin solicitar</option>
            <option value="EnGestion">En
                gestion</option>
            <option value="ok">Ok</option>
        </select>
        <label for="DDJJNAG153">
            DDJJ NAG 153
        </label>
        <select class="form-control"
                id="DDJJNAG153"
                name="DDJJNAG153"
                value="<%= tareasporcarpeta.DDJJNAG153%>"
                placeholder="<%= tareasporcarpeta.DDJJNAG153%>">
                <option hidden
                    value="<%=tareasporcarpeta.DDJJNAG153%>"
                    selected>
                    <%=tareasporcarpeta.DDJJNAG153%>
                </option>
                <option value="Sin presentar">Sin solicitar</option>
                <option value="EnGestion">En
                    gestion</option>
                <option value="ok">Ok</option>
            </select>
</div>

<div class="col-4 border border-secondary pb-2">
<h5 class="fw-bolder text-center">Avisos</h5>
<label for="AvisoInicioObraART">Aviso de
    inicio de obras ART</label>
    <select class="form-control"
            id="AvisoInicioObraART"
            name="AvisoInicioObraART"
            value="<%= tareasporcarpeta.AvisoInicioObraART%>"
            placeholder="<%= tareasporcarpeta.AvisoInicioObraART%>">
            <option hidden
                value="<%=tareasporcarpeta.AvisoInicioObraART%>"
                selected>
                <%=tareasporcarpeta.AvisoInicioObraART%>
            </option>
            <option value="Sin presentar">
                Sin presentar
            </option>
            <option value="EnGestion">En
                gestion</option>
            <option value="ok">ok
            </option>
        </select>
        <label for="Vencimiento Obra Art"> Fecha de vencimiento aviso de ART:</label>
        <input type="date" name="VencimientoAvisoObraArt" id="VencimientoAvisoObraArt" value="<%=tareasporcarpeta.VencimientoAvisoObraArt%>">
        <label for="AvisoInicioObraIERIC">Aviso de
            inicio de obras IERIC</label>
            <select class="form-control"
                id="AvisoInicioObraIERIC"
                name="AvisoInicioObraIERIC"
                value="<%= tareasporcarpeta.AvisoInicioObraIERIC%>"
                placeholder="<%= tareasporcarpeta.AvisoInicioObraIERIC%>">
                <option hidden
                    value="<%=tareasporcarpeta.AvisoInicioObraIERIC%>"
                    selected>
                    <%=tareasporcarpeta.AvisoInicioObraIERIC%>
                </option>
                <option value="Sin presentar">
                    Sin presentar
                </option>
                <option value="EnGestion">En
                    gestion</option>
                <option value="ok">ok
                </option>
            </select>
    
    <label for="Vencimiento Obra Ieric"> Fecha vencimiento aviso de IERIC:</label>
    <input type="date" name="VencimientoAvisoObraIeric" id="VencimientoAvisoObraIeric" value="<%=tareasporcarpeta.VencimientoAvisoObraIeric%>">
    <label for="ActaInicioEfectivo">
        Acta de
        inicio efectivo
    </label>
    <select class="form-control"
            id="ActaInicioEfectivo"
            name="ActaInicioEfectivo"
            value="<%= tareasporcarpeta.ActaInicioEfectivo%>"
            placeholder="<%= tareasporcarpeta.ActaInicioEfectivo%>">
            <option hidden
                value="<%=tareasporcarpeta.ActaInicioEfectivo%>"
                selected>
                <%=tareasporcarpeta.ActaInicioEfectivo%>
            </option>
            <option value="Sin presentar">
                Sin presentar
            </option>
            <option value="EnGestion">En
                gestion</option>
            <option value="ok">ok
            </option>

        </select>
</div>
    </div>
</div>

</div>
</div>
<div class="modal-footer ">
<button type="button" class="btn btn-secondary "
data-dismiss="modal"
onclick="CerrarModal()">Cerrar</button>
<button type="submit" class="btn btn-primary fixed-bottom "
form="act2pCarpEcogas">Guardar
Cambios</button>
</div>
</div>
</div>


</th>