<br>
<div class="card p-1 border-primary text-center">
    <div class="card-header bg-primary text-white">
        Permisos
    </div>
    <%if (user.Hidraulica=="NC" ){%>
        <form-check>
            <input hidden checked type="radio" name="HIDRAULICA" id="HIDRAULICA" value="<%=user.Hidraulica%>">
        </form-check>
        <%}else{%>

            <div class="card-body">
                <div class="card-title">Hidraúlica

                </div>
                <div class="card-text">
                    <form-check>

                        <!-- <%if (user.Hidraulica=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="HIDRAULICA"
                                                                                                id="HIDRAULICA"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="HIDRAULICA"
                                                                                                id="HIDRAULICA"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                        <%if (user.Hidraulica=="EnGestion" ){%>
                            <input checked type="radio" name="HIDRAULICA" id="HIDRAULICA" value="EnGestion"> En gestion
                            <%}else{%>
                                <input type="radio" name="HIDRAULICA" id="HIDRAULICA" value="EnGestion"> En gestion
                                <%}%>

                                    <%if (user.Hidraulica=="ok" ){%>
                                        <input checked type="radio" name="HIDRAULICA" id="HIDRAULICA" value="ok"> Ok 
                                        <div id="VencimientoHidraulica" style="display:block;">
                                            Fecha en la que se pidió: 
                                            <input type="date" name="VencimientoHidraulica" id="VencimientoHidraulica"
                                                value="<%= user.VencimientoHidraulica%>" >
                                        </div>
                                        <%}else{%>
                                            <input type="radio" name="HIDRAULICA" id="HIDRAULICA" value="ok" onclick="FechaVencimientoPermiso('VencimientoHidraulica')"> Ok 
                                            <div id="VencimientoHidraulica" style="display:none;">
                                                Fecha en la que se pidió
                                                <input type="date" name="VencimientoHidraulica" id="VencimientoHidraulica"
                                                    value="<%= user.VencimientoHidraulica%>" placeholder="<%= user.VencimientoHidraulica%>">
                                            </div>
                                            <%}%>
                                           
                    </form-check>
                </div>
            </div>
            <%}%>

                <%if (user.Ferrocarriles=="NC" ){%>
                    <form-check>
                        <input hidden checked type="radio" name="FERROCARRIL" id="FERROCARRIL"
                            value="<%=user.Ferrocarriles%>">
                    </form-check>
                    <% }else{%>

                        <div class="card-body">
                            <div class="card-title">Ferrocarril
                            </div>
                            <div class="card-text">
                                <form-check>
                                    <!-- <%if (user.Ferrocarriles=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="FERROCARRIL"
                                                                                                id="FERROCARRIL"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="FERROCARRIL"
                                                                                                id="FERROCARRIL"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                    <%if (user.Ferrocarriles=="EnGestion" ){%>
                                        <input checked type="radio" name="FERROCARRIL" id="FERROCARRIL"
                                            value="EnGestion"> En gestion
                                        <%}else{%>
                                            <input type="radio" name="FERROCARRIL" id="FERROCARRIL" value="EnGestion">
                                            En gestion
                                            <%}%>

                                                <%if (user.Ferrocarriles=="ok" ){%>
                                                    <input checked type="radio" name="FERROCARRIL" id="FERROCARRIL"
                                                        value="ok"> Ok
                                                    <%}else{%>
                                                        <input type="radio" name="FERROCARRIL" id="FERROCARRIL"
                                                            value="ok"> Ok
                                                        <%}%>
                                                            <!-- <%if (user.Ferrocarriles=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="FERROCARRIL"
                                                                                                id="FERROCARRIL"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="FERROCARRIL"
                                                                                                id="FERROCARRIL"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%> -->

                                </form-check>
                            </div>
                        </div>
                        <%}%>
                            <form-check>

                                <%if (user.PerMunicipal=="NC" ){%>
                                    <form-check>
                                        <input hidden checked type="radio" name="PerMunicipal" id="PerMunicipal"
                                            value="NC">
                                    </form-check>

                                    <% }else{%>

                                        <div class="card-body">
                                            <div class="card-title">
                                                Municipal </div>
                                            <div class="card-text">
                                                <form-check>
                                                    <!-- <%if (user.PerMunicipal=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="PerMunicipal"
                                                                                                id="PerMunicipal"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="PerMunicipal"
                                                                                                id="PerMunicipal"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                                    <%if (user.PerMunicipal=="EnGestion" ){%>
                                                        <input checked type="radio" name="PerMunicipal"
                                                            id="PerMunicipal" value="EnGestion"> En gestion
                                                        <%}else{%>
                                                            <input type="radio" name="PerMunicipal" id="PerMunicipal"
                                                                value="EnGestion"> En gestion
                                                            <%}%>

                                                                <%if (user.PerMunicipal=="ok" ){%>
                                                                    <input checked type="radio" name="PerMunicipal"
                                                                        id="PerMunicipal" value="ok"> Ok
                                                                    <%}else{%>
                                                                        <input type="radio" name="PerMunicipal"
                                                                            id="PerMunicipal" value="ok"> Ok
                                                                        <%}%>
                                                                            <!-- <%if (user.PerMunicipal=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="PerMunicipal"
                                                                                                id="PerMunicipal"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="PerMunicipal"
                                                                                                id="PerMunicipal"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%>
                                                                                            -->


                                                </form-check>
                                            </div>
                                        </div>
                                        <%}%>

                                            <%if (user.DNV=="NC" ){%>
                                                <form-check>
                                                    <input hidden checked type="radio" name="DNV" id="DNV"
                                                        value="<%=user.DNV%>">
                                                </form-check>
                                                <% }else{%>

                                                    <div class="card-body">
                                                        <div class="card-title">DNV</div>
                                                        <div class="card-text">
                                                            <form-check>
                                                                <!-- <%if (user.DNV=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="DNV"
                                                                                                id="DNV"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="DNV"
                                                                                                id="DNV"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                                                <%if (user.DNV=="EnGestion" ){%>
                                                                    <input checked type="radio" name="DNV" id="DNV"
                                                                        value="EnGestion"> En gestion
                                                                    <%}else{%>
                                                                        <input type="radio" name="DNV" id="DNV"
                                                                            value="EnGestion"> En gestion
                                                                        <%}%>

                                                                            <%if (user.DNV=="ok" ){%>
                                                                                <input checked type="radio" name="DNV"
                                                                                    id="DNV" value="ok"> Ok
                                                                                <%}else{%>
                                                                                    <input type="radio" name="DNV"
                                                                                        id="DNV" value="ok"> Ok
                                                                                    <%}%>
                                                                                        <!-- <%if (user.DNV=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="DNV"
                                                                                                id="DNV"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="DNV"
                                                                                                id="DNV"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%> -->


                                                            </form-check>
                                                        </div>
                                                    </div>
                                                    <%}%>

                                                        <%if (user.DPV=="NC" ){%>

                                                            <input hidden checked type="radio" name="DPV" id="DPV"
                                                                value="<%=user.DPV%>"> 
                                                            <%}else{%>

                                                            <div class="card-body">
                                                                <div class="card-title">DPV</div>
                                                                <div class="card-text">
                                                                    <form-check>
                                                                        <!-- <%if (user.DPV=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="DPV"
                                                                                                id="DPV"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="DPV"
                                                                                                id="DPV"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                                                        <%if (user.DPV=="EnGestion" ){%>
                                                                            <input checked type="radio" name="DPV"
                                                                                id="DPV" value="EnGestion"> En gestion
                                                                            <%}else{%>
                                                                                <input type="radio" name="DPV" id="DPV"
                                                                                    value="EnGestion"> En gestion
                                                                                <%}%>

                                                                                    <%if (user.DPV=="ok" ){%>
                                                                                        <input checked type="radio"
                                                                                            name="DPV" id="DPV"
                                                                                            value="ok"> Ok
                                                                                        <%}else{%>
                                                                                            <input type="radio"
                                                                                                name="DPV" id="DPV"
                                                                                                value="ok"> Ok
                                                                                            <%}%>
                                                                                                <!-- <%if (user.DPV=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="DPV"
                                                                                                id="DPV"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="DPV"
                                                                                                id="DPV"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%> -->

                                                                    </form-check>
                                                                </div>
                                                            </div>

                                                            <%}%>

                                                                <%if (user.Irrigacion=="NC" ){%>
                                                                    <input hidden checked type="radio" name="Irrigacion"
                                                                        id="Irrigacion" value="<%=user.Irrigacion%>">
                                                                    <% }else{%>

                                                                        <div class="card-body">
                                                                            <div class="card-title">Irrigación
                                                                            </div>
                                                                            <div class="card-text">
                                                                                <form-check>
                                                                                    <!-- <%if (user.Irrigacion=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                                                                    <%if (user.Irrigacion=="EnGestion"
                                                                                        ){%>
                                                                                        <input checked type="radio"
                                                                                            name="Irrigacion"
                                                                                            id="Irrigacion"
                                                                                            value="EnGestion"> En
                                                                                        gestion
                                                                                        <%}else{%>
                                                                                            <input type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="EnGestion"> En
                                                                                            gestion
                                                                                            <%}%>

                                                                                                <%if (user.Irrigacion=="ok"
                                                                                                    ){%>
                                                                                                    <input checked
                                                                                                        type="radio"
                                                                                                        name="Irrigacion"
                                                                                                        id="Irrigacion"
                                                                                                        value="ok"> Ok
                                                                                                    <%}else{%>
                                                                                                        <input
                                                                                                            type="radio"
                                                                                                            name="Irrigacion"
                                                                                                            id="Irrigacion"
                                                                                                            value="ok">
                                                                                                        Ok
                                                                                                        <%}%>
                                                                                                            <!-- <%if (user.Irrigacion=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%> -->

                                                                                </form-check>
                                                                            </div>
                                                                        </div>
                                                                        <%}%>

                                                                            <%if (user.Privado=="NC" ){%>
                                                                                <input hidden checked type="radio"
                                                                                    name="PRIVADO" id="PRIVADO"
                                                                                    value="<%=user.Privado%>">
                                                                                <% }else{%>

                                                                                    <div class="card-body">
                                                                                        <div class="card-title">Privado
                                                                                        </div>
                                                                                        <div class="card-text">
                                                                                            <form-check>
                                                                                                <!-- <%if (user.Privado=="pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="PRIVADO"
                                                                                                id="PRIVADO"
                                                                                                value="pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="PRIVADO"
                                                                                                id="PRIVADO"
                                                                                                value="pedir"> Pedir
                                                                                            <%}%>
                                                                                       -->
                                                                                                <%if (user.Privado=="EnGestion"
                                                                                                    ){%>
                                                                                                    <input checked
                                                                                                        type="radio"
                                                                                                        name="PRIVADO"
                                                                                                        id="PRIVADO"
                                                                                                        value="EnGestion">
                                                                                                    En
                                                                                                    gestión
                                                                                                    <%}else{%>
                                                                                                        <input
                                                                                                            type="radio"
                                                                                                            name="PRIVADO"
                                                                                                            id="PRIVADO"
                                                                                                            value="EnGestion">
                                                                                                        En
                                                                                                        gestión
                                                                                                        <%}%>

                                                                                                            <%if (user.Privado=="ok"
                                                                                                                ){%>
                                                                                                                <input
                                                                                                                    checked
                                                                                                                    type="radio"
                                                                                                                    name="PRIVADO"
                                                                                                                    id="PRIVADO"
                                                                                                                    value="ok">
                                                                                                                Ok
                                                                                                                <%}else{%>
                                                                                                                    <input
                                                                                                                        type="radio"
                                                                                                                        name="PRIVADO"
                                                                                                                        id="PRIVADO"
                                                                                                                        value="ok">
                                                                                                                    Ok
                                                                                                                    <%}%>
                                                                                                                        <!-- <%if (user.Privado=="NC"){%>
                                                                                                    <input checked type="radio"
                                                                                                    name="PRIVADO"
                                                                                                    id="PRIVADO"
                                                                                                    value="NC"> No corresponde
                                                                                                 <%}else{%>
                                                                                                    <input type="radio"
                                                                                                    name="PRIVADO"
                                                                                                    id="PRIVADO"
                                                                                                    value="NC"> No corresponde
                                                                                                <%}%> -->

                                                                                            </form-check>
                                                                                        </div>
                                                                                    </div>
                                                                                    <%}%>

                                                                                        <%if (user.Otrospermisos=="NC"
                                                                                            ){%>
                                                                                            <input hidden checked
                                                                                                type="radio"
                                                                                                name="Otrospermisos"
                                                                                                id="Otrospermisos"
                                                                                                value="<%=user.Otrospermisos%>">
                                                                                            <%}else{%>

                                                                                                <div class="card-body">
                                                                                                    <div
                                                                                                        class="card-title">
                                                                                                        Otros permisos
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="card-text">
                                                                                                        <form-check>
                                                                                                            <!-- <%if (user.Otrospermisos=="pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="Otrospermisos"
                                                                                                id="Otrospermisos"
                                                                                                value="pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="Otrospermisos"
                                                                                                id="Otrospermisos"
                                                                                                value="pedir"> Pedir
                                                                                            <%}%> -->
                                                                                                            <%if (user.Otrospermisos=="EnGestion"
                                                                                                                ){%>
                                                                                                                <input
                                                                                                                    checked
                                                                                                                    type="radio"
                                                                                                                    name="Otrospermisos"
                                                                                                                    id="Otrospermisos"
                                                                                                                    value="EnGestion">
                                                                                                                En
                                                                                                                gestión
                                                                                                                <%}else{%>
                                                                                                                    <input
                                                                                                                        type="radio"
                                                                                                                        name="Otrospermisos"
                                                                                                                        id="Otrospermisos"
                                                                                                                        value="EnGestion">
                                                                                                                    En
                                                                                                                    gestión
                                                                                                                    <%}%>

                                                                                                                        <%if (user.Otrospermisos=="ok"
                                                                                                                            ){%>
                                                                                                                            <input
                                                                                                                                checked
                                                                                                                                type="radio"
                                                                                                                                name="Otrospermisos"
                                                                                                                                id="Otrospermisos"
                                                                                                                                value="ok">
                                                                                                                            Ok
                                                                                                                            <%}else{%>
                                                                                                                                <input
                                                                                                                                    type="radio"
                                                                                                                                    name="Otrospermisos"
                                                                                                                                    id="Otrospermisos"
                                                                                                                                    value="ok">
                                                                                                                                Ok
                                                                                                                                <%}%>
                                                                                                                                    <!-- <%if (user.Otrospermisos=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="Otrospermisos"
                                                                                                id="Otrospermisos"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="Otrospermisos"
                                                                                                id="Otrospermisos"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%>
                                                                                         -->

                                                                                                        </form-check>
                                                                                                    </div>


                                                                                                </div>
                                                                                                <%}%>
</div>

<br>