<br>
<div class="card p-1 border-primary text-center">
    <div class="card-header bg-primary text-white">
        Permisos
    </div>
    <%if (interferenciasypermisos.Hidraulica=="NC" ){%>
        <form-check>
            <input hidden checked type="radio" name="HIDRAULICA" id="HIDRAULICA" value="<%=interferenciasypermisos.Hidraulica%>">
        </form-check>
        <%}else{%>

            <div class="card-body">
                <div class="card-title">Hidraúlica

                </div>
                <div class="card-text">
                    <form-check>

                        <!-- <%if (interferenciasypermisos.Hidraulica=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="HIDRAULICA"
                                                                                                id="HIDRAULICA"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="HIDRAULICA"
                                                                                                id="HIDRAULICA"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                        <%if (interferenciasypermisos.Hidraulica=="EnGestion" ){%>
                            <input checked type="radio" name="HIDRAULICA" id="HIDRAULICA" value="EnGestion"> En gestion
                            <%}else{%>
                                <input type="radio" name="HIDRAULICA" id="HIDRAULICA" value="EnGestion"> En gestion
                                <%}%>

                                    <%if (interferenciasypermisos.Hidraulica=="ok" ){%>
                                        <input checked type="radio" name="HIDRAULICA" id="HIDRAULICA" value="ok"> Ok
                                        <div id="VencimientoHidraulica" style="display:block;">
                                            Fecha en la que se pidió:
                                            <input type="date" onfocus="(this.type='date')" onblur="(this.type='text')"
                                                name="VencimientoHidraulica" id="VencimientoHidraulica"
                                                value="<%= interferenciasypermisos.VencimientoHidraulica%>" placeholder="<%= interferenciasypermisos.VencimientoHidraulica%>">
                                        </div>
                                        <%}else{%>
                                            <input type="radio" name="HIDRAULICA" id="HIDRAULICA" value="ok"
                                                onclick="FechaVencimientoPermiso('VencimientoHidraulica')"> Ok
                                            <div id="VencimientoHidraulica" style="display:none;">
                                                Fecha en la que se pidió
                                                <input type="date" onfocus="(this.type='date')"
                                                    onblur="(this.type='text')" name="VencimientoHidraulica"
                                                    id="VencimientoHidraulica" value="<%= interferenciasypermisos.VencimientoHidraulica%>"
                                                    placeholder="<%= interferenciasypermisos.VencimientoHidraulica%>">
                                            </div>
                                            <%}%>

                    </form-check>
                </div>
            </div>
            <%}%>

                <%if (interferenciasypermisos.Ferrocarriles=="NC" ){%>
                    <form-check>
                        <input hidden checked type="radio" name="FERROCARRIL" id="FERROCARRIL"
                            value="<%=interferenciasypermisos.Ferrocarriles%>">
                    </form-check>
                    <% }else{%>

                        <div class="card-body">
                            <div class="card-title">Ferrocarril
                            </div>
                            <div class="card-text">
                                <form-check>
                                    <!-- <%if (interferenciasypermisos.Ferrocarriles=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="FERROCARRIL"
                                                                                                id="FERROCARRIL"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="FERROCARRIL"
                                                                                                id="FERROCARRIL"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                    <%if (interferenciasypermisos.Ferrocarriles=="EnGestion" ){%>
                                        <input checked type="radio" name="FERROCARRIL" id="FERROCARRIL"
                                            value="EnGestion"> En gestion
                                        <%}else{%>
                                            <input type="radio" name="FERROCARRIL" id="FERROCARRIL" value="EnGestion">
                                            En gestion
                                            <%}%>

                                                <%if (interferenciasypermisos.Ferrocarriles=="ok" ){%>
                                                    <input checked type="radio" name="FERROCARRIL" id="FERROCARRIL"
                                                        value="ok"> Ok
                                                    <div id="VencimientoFerrocarril" style="display:block;">
                                                        Fecha en la que se pidió
                                                        <input type="date" onfocus="(this.type='date')"
                                                            onblur="(this.type='text')" name="VencimientoFerrocarril"
                                                            id="VencimientoFerrocarril"
                                                            value="<%= interferenciasypermisos.VencimientoFerrocarril%>"
                                                            placeholder="<%= interferenciasypermisos.VencimientoFerrocarril%>">
                                                    </div>
                                                    <%}else{%>
                                                        <input type="radio" name="FERROCARRIL" id="FERROCARRIL"
                                                            value="ok"
                                                            onclick="FechaVencimientoPermiso('VencimientoFerrocarril')">
                                                        Ok
                                                        <div id="VencimientoFerrocarril" style="display:none;">
                                                            Fecha en la que se pidió
                                                            <input type="date" onfocus="(this.type='date')"
                                                                onblur="(this.type='text')"
                                                                name="VencimientoFerrocarril"
                                                                id="VencimientoFerrocarril"
                                                                value="<%= interferenciasypermisos.VencimientoFerrocarril%>"
                                                                placeholder="<%= interferenciasypermisos.VencimientoFerrocarril%>">
                                                        </div>
                                                        <%}%>
                                                            <!-- <%if (interferenciasypermisos.Ferrocarriles=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="FERROCARRIL"
                                                                                                id="FERROCARRIL"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="FERROCARRIL"
                                                                                                id="FERROCARRIL"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%> -->

                                </form-check>
                            </div>
                        </div>
                        <%}%>
                            <form-check>

                                <%if (interferenciasypermisos.PerMunicipal=="NC" ){%>
                                    <form-check>
                                        <input hidden checked type="radio" name="PerMunicipal" id="PerMunicipal"
                                            value="NC">
                                    </form-check>

                                    <% }else{%>

                                        <div class="card-body">
                                            <div class="card-title">
                                                Municipal </div>
                                            <div class="card-text">
                                                <form-check>
                                                    <!-- <%if (interferenciasypermisos.PerMunicipal=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="PerMunicipal"
                                                                                                id="PerMunicipal"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="PerMunicipal"
                                                                                                id="PerMunicipal"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                                    <%if (interferenciasypermisos.PerMunicipal=="EnGestion" ){%>
                                                        <input checked type="radio" name="PerMunicipal"
                                                            id="PerMunicipal" value="EnGestion"> En gestion
                                                        <%}else{%>
                                                            <input type="radio" name="PerMunicipal" id="PerMunicipal"
                                                                value="EnGestion"> En gestion
                                                            <%}%>

                                                                <%if (interferenciasypermisos.PerMunicipal=="ok" ){%>
                                                                    <input checked type="radio" name="PerMunicipal"
                                                                        id="PerMunicipal" value="ok"> Ok
                                                                        <div id="VencimientoMunicipal" style="display:block;">
                                                                        Fecha en la que se pidió
                                                                        <input type="date"
                                                                            onfocus="(this.type='date')"
                                                                            onblur="(this.type='text')"
                                                                            name="VencimientoMunicipal"
                                                                            id="VencimientoMunicipal"
                                                                            value="<%= interferenciasypermisos.VencimientoMunicipal%>"
                                                                            placeholder="<%= interferenciasypermisos.VencimientoMunicipal%>">
                                                                    </div>
                                                                    <%}else{%>
                                                                        <input type="radio" name="PerMunicipal"
                                                                            id="PerMunicipal" value="ok"
                                                                            onclick="FechaVencimientoPermiso('VencimientoMunicipal')">
                                                                        Ok
                                                                        <div id="VencimientoMunicipal"
                                                                            style="display:none;">
                                                                            Fecha en la que se pidió
                                                                            <input type="date"
                                                                                onfocus="(this.type='date')"
                                                                                onblur="(this.type='text')"
                                                                                name="VencimientoMunicipal"
                                                                                id="VencimientoMunicipal"
                                                                                value="<%= interferenciasypermisos.VencimientoMunicipal%>"
                                                                                placeholder="<%= interferenciasypermisos.VencimientoMunicipal%>">
                                                                        </div>
                                                                        <%}%>
                                                                            <!-- <%if (interferenciasypermisos.PerMunicipal=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="PerMunicipal"
                                                                                                id="PerMunicipal"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="PerMunicipal"
                                                                                                id="PerMunicipal"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%>
                                                                                            -->


                                                </form-check>
                                            </div>
                                        </div>
                                        <%}%>

                                            <%if (interferenciasypermisos.DNV=="NC" ){%>
                                                <form-check>
                                                    <input hidden checked type="radio" name="DNV" id="DNV"
                                                        value="<%=interferenciasypermisos.DNV%>">
                                                </form-check>
                                                <% }else{%>

                                                    <div class="card-body">
                                                        <div class="card-title">DNV</div>
                                                        <div class="card-text">
                                                            <form-check>
                                                                <!-- <%if (interferenciasypermisos.DNV=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="DNV"
                                                                                                id="DNV"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="DNV"
                                                                                                id="DNV"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                                                <%if (interferenciasypermisos.DNV=="EnGestion" ){%>
                                                                    <input checked type="radio" name="DNV" id="DNV"
                                                                        value="EnGestion"> En gestion
                                                                    <%}else{%>
                                                                        <input type="radio" name="DNV" id="DNV"
                                                                            value="EnGestion"> En gestion
                                                                        <%}%>

                                                                            <%if (interferenciasypermisos.DNV=="ok" ){%>
                                                                                <input checked type="radio" name="DNV"
                                                                                    id="DNV" value="ok"> Ok
                                                                                    <div id="VencimientoDNV"
                                                                                    style="display:block;">
                                                                                    Fecha en la que se pidió
                                                                                    <input type="date"
                                                                                        onfocus="(this.type='date')"
                                                                                        onblur="(this.type='text')"
                                                                                        name="VencimientoDNV"
                                                                                        id="VencimientoDNV"
                                                                                        value="<%= interferenciasypermisos.VencimientoDNV%>"
                                                                                        placeholder="<%= interferenciasypermisos.VencimientoDNV%>">
                                                                                </div>
                                                                                <%}else{%>
                                                                                    <input type="radio" name="DNV"
                                                                                        id="DNV" value="ok"
                                                                                        onclick="FechaVencimientoPermiso('VencimientoDNV')">
                                                                                    Ok
                                                                                    <div id="VencimientoDNV"
                                                                                        style="display:none;">
                                                                                        Fecha en la que se pidió
                                                                                        <input type="date"
                                                                                            onfocus="(this.type='date')"
                                                                                            onblur="(this.type='text')"
                                                                                            name="VencimientoDNV"
                                                                                            id="VencimientoDNV"
                                                                                            value="<%= interferenciasypermisos.VencimientoDNV%>"
                                                                                            placeholder="<%= interferenciasypermisos.VencimientoDNV%>">
                                                                                    </div>
                                                                                    <%}%>
                                                                                        <!-- <%if (interferenciasypermisos.DNV=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="DNV"
                                                                                                id="DNV"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="DNV"
                                                                                                id="DNV"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%> -->


                                                            </form-check>
                                                        </div>
                                                    </div>
                                                    <%}%>

                                                        <%if (interferenciasypermisos.DPV=="NC" ){%>

                                                            <input hidden checked type="radio" name="DPV" id="DPV"
                                                                value="<%=interferenciasypermisos.DPV%>">
                                                            <%}else{%>

                                                                <div class="card-body">
                                                                    <div class="card-title">DPV</div>
                                                                    <div class="card-text">
                                                                        <form-check>
                                                                            <!-- <%if (interferenciasypermisos.DPV=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="DPV"
                                                                                                id="DPV"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="DPV"
                                                                                                id="DPV"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                                                            <%if (interferenciasypermisos.DPV=="EnGestion" ){%>
                                                                                <input checked type="radio" name="DPV"
                                                                                    id="DPV" value="EnGestion"> En
                                                                                gestion
                                                                                <%}else{%>
                                                                                    <input type="radio" name="DPV"
                                                                                        id="DPV" value="EnGestion"> En
                                                                                    gestion
                                                                                    <%}%>

                                                                                        <%if (interferenciasypermisos.DPV=="ok" ){%>
                                                                                            <input checked type="radio"
                                                                                                name="DPV" id="DPV"
                                                                                                value="ok"> Ok
                                                                                                <div id="VencimientoDPV"
                                                                                                style="display:block;">
                                                                                                Fecha en la que se
                                                                                                pidió
                                                                                                <input type="date"
                                                                                                    onfocus="(this.type='date')"
                                                                                                    onblur="(this.type='text')"
                                                                                                    name="VencimientoDPV"
                                                                                                    id="VencimientoDPV"
                                                                                                    value="<%= interferenciasypermisos.VencimientoDPV%>"
                                                                                                    placeholder="<%= interferenciasypermisos.VencimientoDPV%>">
                                                                                            </div>
                                                                                            <%}else{%>
                                                                                                <input type="radio"
                                                                                                    name="DPV" id="DPV"
                                                                                                    value="ok"
                                                                                                    onclick="FechaVencimientoPermiso('VencimientoDPV')">
                                                                                                Ok
                                                                                                <div id="VencimientoDPV"
                                                                                                    style="display:none;">
                                                                                                    Fecha en la que se
                                                                                                    pidió
                                                                                                    <input type="date"
                                                                                                        onfocus="(this.type='date')"
                                                                                                        onblur="(this.type='text')"
                                                                                                        name="VencimientoDPV"
                                                                                                        id="VencimientoDPV"
                                                                                                        value="<%= interferenciasypermisos.VencimientoDPV%>"
                                                                                                        placeholder="<%= interferenciasypermisos.VencimientoDPV%>">
                                                                                                </div>
                                                                                                <%}%>
                                                                                                    <!-- <%if (interferenciasypermisos.DPV=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="DPV"
                                                                                                id="DPV"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="DPV"
                                                                                                id="DPV"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%> -->

                                                                        </form-check>
                                                                    </div>
                                                                </div>

                                                                <%}%>

                                                                    <%if (interferenciasypermisos.Irrigacion=="NC" ){%>
                                                                        <input hidden checked type="radio"
                                                                            name="Irrigacion" id="Irrigacion"
                                                                            value="<%=interferenciasypermisos.Irrigacion%>">
                                                                        <% }else{%>

                                                                            <div class="card-body">
                                                                                <div class="card-title">Irrigación
                                                                                </div>
                                                                                <div class="card-text">
                                                                                    <form-check>
                                                                                        <!-- <%if (interferenciasypermisos.Irrigacion=="Pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="Pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="Pedir"> Pedir
                                                                                            <%}%> -->
                                                                                        <%if (interferenciasypermisos.Irrigacion=="EnGestion"
                                                                                            ){%>
                                                                                            <input checked type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="EnGestion"> En
                                                                                            gestion
                                                                                            <%}else{%>
                                                                                                <input type="radio"
                                                                                                    name="Irrigacion"
                                                                                                    id="Irrigacion"
                                                                                                    value="EnGestion">
                                                                                                En
                                                                                                gestion
                                                                                                <%}%>

                                                                                                    <%if (interferenciasypermisos.Irrigacion=="ok"
                                                                                                        ){%>
                                                                                                        <input checked
                                                                                                            type="radio"
                                                                                                            name="Irrigacion"
                                                                                                            id="Irrigacion"
                                                                                                            value="ok">
                                                                                                        Ok
                                                                                                        <div id="VencimientoIrrigacion"
                                                                                                        style="display:block;">
                                                                                                        Fecha en
                                                                                                        la que
                                                                                                        se pidió
                                                                                                        <input
                                                                                                            type="date"
                                                                                                            onfocus="(this.type='date')"
                                                                                                            onblur="(this.type='text')"
                                                                                                            name="VencimientoIrrigacion"
                                                                                                            id="VencimientoIrrigacion"
                                                                                                            value="<%= interferenciasypermisos.VencimientoIrrigacion%>"
                                                                                                            placeholder="<%= interferenciasypermisos.VencimientoIrrigacion%>">
                                                                                                    </div>
                                                                                                        <%}else{%>
                                                                                                            <input
                                                                                                                type="radio"
                                                                                                                name="Irrigacion"
                                                                                                                id="Irrigacion"
                                                                                                                value="ok"
                                                                                                                onclick="FechaVencimientoPermiso('VencimientoIrrigacion')">
                                                                                                            Ok
                                                                                                            <div id="VencimientoIrrigacion"
                                                                                                                style="display:none;">
                                                                                                                Fecha en
                                                                                                                la que
                                                                                                                se pidió
                                                                                                                <input
                                                                                                                    type="date"
                                                                                                                    onfocus="(this.type='date')"
                                                                                                                    onblur="(this.type='text')"
                                                                                                                    name="VencimientoIrrigacion"
                                                                                                                    id="VencimientoIrrigacion"
                                                                                                                    value="<%= interferenciasypermisos.VencimientoIrrigacion%>"
                                                                                                                    placeholder="<%= interferenciasypermisos.VencimientoIrrigacion%>">
                                                                                                            </div>
                                                                                                            <%}%>
                                                                                                                <!-- <%if (interferenciasypermisos.Irrigacion=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="Irrigacion"
                                                                                                id="Irrigacion"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%> -->

                                                                                    </form-check>
                                                                                </div>
                                                                            </div>
                                                                            <%}%>

                                                                                <%if (interferenciasypermisos.Privado=="NC" ){%>
                                                                                    <input hidden checked type="radio"
                                                                                        name="PRIVADO" id="PRIVADO"
                                                                                        value="<%=interferenciasypermisos.Privado%>">
                                                                                    <% }else{%>

                                                                                        <div class="card-body">
                                                                                            <div class="card-title">
                                                                                                Privado
                                                                                            </div>
                                                                                            <div class="card-text">
                                                                                                <form-check>
                                                                                                    <!-- <%if (interferenciasypermisos.Privado=="pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="PRIVADO"
                                                                                                id="PRIVADO"
                                                                                                value="pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="PRIVADO"
                                                                                                id="PRIVADO"
                                                                                                value="pedir"> Pedir
                                                                                            <%}%>
                                                                                       -->
                                                                                                    <%if (interferenciasypermisos.Privado=="EnGestion"
                                                                                                        ){%>
                                                                                                        <input checked
                                                                                                            type="radio"
                                                                                                            name="PRIVADO"
                                                                                                            id="PRIVADO"
                                                                                                            value="EnGestion">
                                                                                                        En
                                                                                                        gestión
                                                                                                        <%}else{%>
                                                                                                            <input
                                                                                                                type="radio"
                                                                                                                name="PRIVADO"
                                                                                                                id="PRIVADO"
                                                                                                                value="EnGestion">
                                                                                                            En
                                                                                                            gestión
                                                                                                            <%}%>

                                                                                                                <%if (interferenciasypermisos.Privado=="ok"
                                                                                                                    ){%>
                                                                                                                    <input
                                                                                                                        checked
                                                                                                                        type="radio"
                                                                                                                        name="PRIVADO"
                                                                                                                        id="PRIVADO"
                                                                                                                        value="ok">
                                                                                                                    Ok
                                                                                                                    <div id="VencimientoPrivado"
                                                                                                                    style="display:block;">
                                                                                                                    Fecha
                                                                                                                    en
                                                                                                                    la
                                                                                                                    que
                                                                                                                    se
                                                                                                                    pidió
                                                                                                                    <input
                                                                                                                        type="date"
                                                                                                                        onfocus="(this.type='date')"
                                                                                                                        onblur="(this.type='text')"
                                                                                                                        name="VencimientoPrivado"
                                                                                                                        id="VencimientoPrivado"
                                                                                                                        value="<%= interferenciasypermisos.VencimientoPrivado%>"
                                                                                                                        placeholder="<%= interferenciasypermisos.VencimientoPrivado%>">
                                                                                                                </div>
                                                                                                                    <%}else{%>
                                                                                                                        <input
                                                                                                                            type="radio"
                                                                                                                            name="PRIVADO"
                                                                                                                            id="PRIVADO"
                                                                                                                            value="ok"
                                                                                                                            onclick="FechaVencimientoPermiso('VencimientoPrivado')">
                                                                                                                        Ok
                                                                                                                        <div id="VencimientoPrivado"
                                                                                                                            style="display:none;">
                                                                                                                            Fecha
                                                                                                                            en
                                                                                                                            la
                                                                                                                            que
                                                                                                                            se
                                                                                                                            pidió
                                                                                                                            <input
                                                                                                                                type="date"
                                                                                                                                onfocus="(this.type='date')"
                                                                                                                                onblur="(this.type='text')"
                                                                                                                                name="VencimientoPrivado"
                                                                                                                                id="VencimientoPrivado"
                                                                                                                                value="<%= interferenciasypermisos.VencimientoPrivado%>"
                                                                                                                                placeholder="<%= interferenciasypermisos.VencimientoPrivado%>">
                                                                                                                        </div>
                                                                                                                        <%}%>
                                                                                                                            <!-- <%if (interferenciasypermisos.Privado=="NC"){%>
                                                                                                    <input checked type="radio"
                                                                                                    name="PRIVADO"
                                                                                                    id="PRIVADO"
                                                                                                    value="NC"> No corresponde
                                                                                                 <%}else{%>
                                                                                                    <input type="radio"
                                                                                                    name="PRIVADO"
                                                                                                    id="PRIVADO"
                                                                                                    value="NC"> No corresponde
                                                                                                <%}%> -->

                                                                                                </form-check>
                                                                                            </div>
                                                                                        </div>
                                                                                        <%}%>

                                                                                            <%if (interferenciasypermisos.Otrospermisos=="NC"
                                                                                                ){%>
                                                                                                <input hidden checked
                                                                                                    type="radio"
                                                                                                    name="Otrospermisos"
                                                                                                    id="Otrospermisos"
                                                                                                    value="<%=interferenciasypermisos.Otrospermisos%>">
                                                                                                <%}else{%>

                                                                                                    <div
                                                                                                        class="card-body">
                                                                                                        <div
                                                                                                            class="card-title">
                                                                                                            Otros
                                                                                                            permisos
                                                                                                        </div>
                                                                                                        <div
                                                                                                            class="card-text">
                                                                                                            <form-check>
                                                                                                                <!-- <%if (interferenciasypermisos.Otrospermisos=="pedir"){%>
                                                                                                <input checked type="radio"
                                                                                                name="Otrospermisos"
                                                                                                id="Otrospermisos"
                                                                                                value="pedir"> Pedir
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="Otrospermisos"
                                                                                                id="Otrospermisos"
                                                                                                value="pedir"> Pedir
                                                                                            <%}%> -->
                                                                                                                <%if (interferenciasypermisos.Otrospermisos=="EnGestion"
                                                                                                                    ){%>
                                                                                                                    <input
                                                                                                                        checked
                                                                                                                        type="radio"
                                                                                                                        name="Otrospermisos"
                                                                                                                        id="Otrospermisos"
                                                                                                                        value="EnGestion">
                                                                                                                    En
                                                                                                                    gestión
                                                                                                                    <%}else{%>
                                                                                                                        <input
                                                                                                                            type="radio"
                                                                                                                            name="Otrospermisos"
                                                                                                                            id="Otrospermisos"
                                                                                                                            value="EnGestion">
                                                                                                                        En
                                                                                                                        gestión
                                                                                                                        <%}%>

                                                                                                                            <%if (interferenciasypermisos.Otrospermisos=="ok"
                                                                                                                                ){%>
                                                                                                                                <input
                                                                                                                                    checked
                                                                                                                                    type="radio"
                                                                                                                                    name="Otrospermisos"
                                                                                                                                    id="Otrospermisos"
                                                                                                                                    value="ok">
                                                                                                                                Ok
                                                                                                                                <div id="VencimientoOtrosPermisos"
                                                                                                                                style="display:block;">
                                                                                                                                Fecha
                                                                                                                                en
                                                                                                                                la
                                                                                                                                que
                                                                                                                                se
                                                                                                                                pidió
                                                                                                                                <input
                                                                                                                                    type="date"
                                                                                                                                    onfocus="(this.type='date')"
                                                                                                                                    onblur="(this.type='text')"
                                                                                                                                    name="VencimientoOtrosPermisos"
                                                                                                                                    id="VencimientoOtrosPermisos"
                                                                                                                                    value="<%= interferenciasypermisos.VencimientoOtrosPermisos%>"
                                                                                                                                    placeholder="<%= interferenciasypermisos.VencimientoOtrosPermisos%>">
                                                                                                                            </div>
                                                                                                                                <%}else{%>
                                                                                                                                    <input
                                                                                                                                        type="radio"
                                                                                                                                        name="Otrospermisos"
                                                                                                                                        id="Otrospermisos"
                                                                                                                                        value="ok"
                                                                                                                                        onclick="FechaVencimientoPermiso('VencimientoOtrosPermisos')">
                                                                                                                                    Ok
                                                                                                                                    <div id="VencimientoOtrosPermisos"
                                                                                                                                        style="display:none;">
                                                                                                                                        Fecha
                                                                                                                                        en
                                                                                                                                        la
                                                                                                                                        que
                                                                                                                                        se
                                                                                                                                        pidió
                                                                                                                                        <input
                                                                                                                                            type="date"
                                                                                                                                            onfocus="(this.type='date')"
                                                                                                                                            onblur="(this.type='text')"
                                                                                                                                            name="VencimientoOtrosPermisos"
                                                                                                                                            id="VencimientoOtrosPermisos"
                                                                                                                                            value="<%= interferenciasypermisos.VencimientoOtrosPermisos%>"
                                                                                                                                            placeholder="<%= interferenciasypermisos.VencimientoOtrosPermisos%>">
                                                                                                                                    </div>
                                                                                                                                    <%}%>
                                                                                                                                        <!-- <%if (interferenciasypermisos.Otrospermisos=="NC"){%>
                                                                                                <input checked type="radio"
                                                                                                name="Otrospermisos"
                                                                                                id="Otrospermisos"
                                                                                                value="NC"> No corresponde
                                                                                             <%}else{%>
                                                                                                <input type="radio"
                                                                                                name="Otrospermisos"
                                                                                                id="Otrospermisos"
                                                                                                value="NC"> No corresponde
                                                                                            <%}%>
                                                                                         -->

                                                                                                            </form-check>
                                                                                                        </div>


                                                                                                    </div>
                                                                                                    <%}%>
</div>

<br>