 <!--Primera Parte-->
 <th>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn btn-success"
        data-toggle="modal" data-target="#PrimeraParte">
        1P Primera Parte
    </button>
    <!-- Modal -->
    <div class="modal fade" id="PrimeraParte" tabindex="-1"
        role="dialog" aria-labelledby="PrimeraParte"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered"
            role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLongTitle">
                        Primera Parte
                    </h5>
                    <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="container">
                            <div class="card p-3 border-secondary">
                                <div class="card-header">
                                    Comercial</div>
                                <div class="card-title">Contrato
                                </div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="Contrato"
                                        name="Comercial"
                                        value="<%= user.Contrato%>"
                                        placeholder="<%= user.Contrato%>">
                                        <option hidden
                                            value="<%=user.Contrato%>"
                                            selected>
                                            <%=user.Comercial%>
                                        </option>
                                        <option
                                            value="Sin presentar">
                                            Hacer
                                        </option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="SinFirmar">
                                            Realizado pero no
                                            firmado</option>
                                        <option value="ok">Ok
                                        </option>
                                    </select>
                                </div>
                                <div class="card-title">
                                    Presupuesto detallado</div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="Presupuesto"
                                        name="Presupuesto"
                                        value="<%= user.Presupuesto%>"
                                        placeholder="<%= user.Presupuesto%>">
                                        <option hidden
                                            value="<%=user.Presupuesto%>"
                                            selected>
                                            <%=user.Presupuesto%>
                                        </option>
                                        <option
                                            value="Sin presentar">
                                            Hacer</option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="Presentado">
                                            Presentado
                                        </option>
                                        <option value="Observado">
                                            Observado</option>
                                        <option value="ok">Ok
                                        </option>
                                        <option value="NC">No
                                            corresponde</option>
                                    </select>
                                </div>
                                <div class="card-t">Sucedáneo
                                </div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="Sucedaneo"
                                        name="Sucedaneo"
                                        value="<%= user.Sucedaneo%>"
                                        placeholder="<%= user.Sucedaneo%>">
                                        <option hidden
                                            value="<%=user.Sucedaneo%>"
                                            selected>
                                            <%=user.Sucedaneo%>
                                        </option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="Firmado">
                                            Firmado</option>
                                        <option value="Presentado">
                                            Presentado
                                        </option>
                                        <option value="Observado">
                                            Observado</option>
                                        <option value="ok">Ok
                                        </option>
                                    </select>
                                </div>
                                <div class="card-t">Nota De
                                    Excepción</div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="NotaDeExcepcion"
                                        name="NotaDeExcepcion"
                                        value="<%= user.NotaDeExcepcion%>"
                                        placeholder="<%= user.NotaDeExcepcion%>">
                                        <option hidden
                                            value="<%=user.NotaDeExcepcion%>"
                                            selected>
                                            <%=user.NotaDeExcepcion%>
                                        </option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="Presentado">
                                            Presentado
                                        </option>
                                        <option value="Observado">
                                            Observado</option>
                                        <option value="ok">Ok
                                        </option>
                                        <option value="NC">No
                                            corresponde</option>

                                    </select>
                                </div>
                            </div> <br>
                            <div class="card p-3 border-secondary">
                                <div class="card-header">Tecnica
                                </div>
                                <div class="card-title">PC
                                </div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="PCaprobado"
                                        name="PCaprobado"
                                        value="<%= user.PCaprobado%>"
                                        placeholder="<%= user.PCaprobado%>">
                                        <option hidden
                                            value="<%=user.PCaprobado%>"
                                            selected>
                                            <%=user.PCaprobado%>
                                        </option>
                                        <option
                                            value="Sin presentar">
                                            Sin presentar
                                        </option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="Observado">
                                            Observado</option>
                                        <option value="ok">ok
                                        </option>
                                    </select>

                                    <label for="PlanoTipo">Plano
                                        tipo</label>
                                    <select class="form-control"
                                        id="PlanoTipo"
                                        name="PlanoTipo"
                                        value="<%= user.PlanoTipo%>"
                                        placeholder="<%= user.PlanoTipo%>">
                                        <option hidden
                                            value="<%=user.PlanoTipo%>"
                                            selected>
                                            <%=user.PlanoTipo%>
                                        </option>
                                        <option
                                            value="Sin presentar">
                                            Sin presentar
                                        </option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="Presentado">
                                            Presentado
                                        </option>
                                        <option value="Observado">
                                            Observado</option>
                                        <option value="ok">Ok
                                        </option>
                                        <option value="NC">No
                                            corresponde</option>

                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="card p-3 border-secondary">
                                <div class="card-header">
                                    Permisos especiales</div>
                                    <%if (user.Privado=="NC"){%>
                                        <form-check>
                                            <input hidden checked type="radio"
                                            name="CartaOferta"
                                            id="CartaOferta"
                                            value="<%=user.CartaOferta%>"> 
                                            
                                        </form-check>
                                        <% }else{%>
                                <div class="card-title">Carta
                                    oferta</div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="CartaOferta"
                                        name="CartaOferta"
                                        value="<%= user.CartaOferta%>"
                                        placeholder="<%= user.CartaOferta%>">
                                        <option hidden
                                            value="<%=user.CartaOferta%>"
                                            selected>
                                            <%=user.CartaOferta%>
                                        </option>
                                        <option
                                            value="Sin presentar">
                                            Sin presentar
                                        </option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="Presentado">
                                            Presentado
                                        </option>
                                        <option value="Observado">
                                            Observado</option>
                                        <option value="ok">ok
                                        </option>
                                        <option value="NC">No
                                            corresponde/option>

                                    </select>

                                </div>
                                <%}%>
                                <%if (user.Privado=="NC"){%>
                                    <form-check>
                                        <input hidden checked type="radio"
                                        name="PlanoAnexo"
                                        id="PlanoAnexo"
                                        value="<%=user.PlanoAnexo%>"> 
                                    </form-check>
                                    <% }else{%>

                                <div class="card-title">Plano
                                    anexo</div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="PlanoAnexo"
                                        name="PlanoAnexo"
                                        value="<%= user.PlanoAnexo%>"
                                        placeholder="<%= user.PlanoAnexo%>">
                                        <option
                                            value="<%=user.PlanoAnexo%>"
                                            selected>
                                            <%=user.PlanoAnexo%>
                                        </option>
                                        <option
                                            value="Sin presentar">
                                            Sin presentar
                                        </option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="ok">ok
                                        </option>
                                        <option value="NC">No
                                            corresponde/option>

                                    </select>

                                </div>
                                <%}%>
                                <div class="card-title">
                                <%if (user.Hidraulica=="NC"){%>
                                    <form-check>
                                        <input hidden checked type="radio"
                                        name="HIDRAULICA1"
                                        id="HIDRAULICA1"
                                        value="No corresponde"> 
                                    </form-check>
                                <%}else{%>

                                <div class="card-title">
                                    Hidraúlica </div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="HIDRAULICA1"
                                        name="HIDRAULICA1"
                                       placeholder="<%=user.HidraulicaVisacion%>">
                                        <option  id="HIDRAULICA1"
                                        name="HIDRAULICA1"
                                            value= "<%=user.HidraulicaVisacion%>"
                                            selected hidden>
                                            <%=user.HidraulicaVisacion%>
                                        </option>
                                        <option  id="HIDRAULICA1"
                                        name="HIDRAULICA1"
                                            value="Sin presentar">
                                            Sin presentar
                                        </option>
                                        <option  id="HIDRAULICA1"
                                        name="HIDRAULICA1" value="EnGestion">En
                                            gestion
                                        </option>
                                        <option  id="HIDRAULICA1"
                                        name="HIDRAULICA1" value="ok">Ok
                                        </option>
                                      

                                    </select>
                                </div>
                                <%}%>
                                <%if (user.FerrocarrilesVisacion=="NC"){%>
                                    <input hidden checked type="radio"
                                    name="FERROCARRIL1"
                                    id="FERROCARRIL1"
                                    value="<%=user.FerrocarrilesVisacion%>"> 
                                <%}else{%>

                                <div class="card-title">
                                    Ferrocarriles</div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="FERROCARRIL1"
                                        name="FERROCARRIL1"
                                        value="<%=user.FerrocarrilesVisacion%>"
                                        placeholder="<%=user.FerrocarrilesVisacion%>">
                                        <option hidden
                                            value="<%=user.FerrocarrilesVisacion%>"
                                            selected>
                                            <%=user.FerrocarrilesVisacion%>
                                        </option>
                                        <option
                                            value="Sin presentar">
                                            Sin presentar
                                        </option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="ok">ok
                                        </option>
                                       
                                    </select>
                                </div>
                                <%}%>
                                <%if (user.DNV=="NC"){%>
                                    <input hidden checked type="radio"
                                    name="DNV1"
                                    id="DNV1"
                                    value="No corresponde"> 
                                <%}else{%>
                               
                                <div class="card-title">DNV
                                </div>
                                <div class="card-text">
                                    <select class="form-control"
                                        id="DNV1" name="DNV1"
                                        value="<%=user.DNVVisacion%>"
                                        placeholder="<%=user.DNVVisacion%>">
                                        <option hidden
                                            value="<%=user.DNVVisacion%>"
                                            selected>
                                            <%=user.DNVVisacion%>
                                        </option>
                                        <option
                                            value="Sin presentar">
                                            Sin presentar
                                        </option>
                                        <option value="EnGestion">En
                                            gestion
                                        </option>
                                        <option value="ok">ok
                                        </option>
                                        
                                    </select>
                                </div>
                                <%}%>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal"
                        onclick="CerrarModal()">Cerrar</button>
                    <button type="submit" class="btn btn-primary"
                        form="actualizarEtapas">Guardar
                        Cambios</button>
                </div>
            </div>
        </div>
    </div>
</th>