<div class="card  border-success text-center " >
    <div class="card-header bg-black text-white m-1" id="SeccionInterferencias">
        Interferencias
    </div>
    <div class="row">
        <div class="col ">

    
    <div class="card-body">
        <div class="card-title">Telefónica
        </div>
        <div class="card-text">
            <form-check>
                <%if (interferenciasypermisos.intTelefonica!="En gestion" && interferenciasypermisos.intTelefonica!="Pedida" && interferenciasypermisos.intTelefonica!="ok" ) {%>
                    <input type="radio" name="intTelefonica" id="intTelefonica" value="En gestion">
                    En
                    gestión
                    <input type="radio" name="intTelefonica" id="intTelefonica" value="Pedida"
                        onclick="estadoInterferencia('intTelefonicaPedida', 'intTelefonicaObtenida',true,false); ">
                    Pedida
                    <input type="radio" name="intTelefonica" id="intTelefonica" value="ok"
                        onclick="estadoInterferencia('intTelefonicaPedida', 'intTelefonicaObtenida',false,true);">
                    Ok
                    <div id="intTelefonicaPedida" style="display: none;">
                        Fecha en la que se pidió:
                        <input type="date" name="intTelefonicaPedida" value="<%= interferenciasypermisos.intTelefonicaPedida%>"
                            id="intTelefonicaPedida" placeholder="<%= interferenciasypermisos.intTelefonicaPedida %>">
                    </div>
                    <div id="intTelefonicaObtenida" style="display: none;">
                        Fecha en la que se vence:

                        <input type="date" name="intTelefonicaObtenida" id="intTelefonicaObtenida"
                            value="<%= interferenciasypermisos.intTelefonicaObtenida%>">
                    </div>
                    <%}%>
                        <%if (interferenciasypermisos.intTelefonica=="En gestion" ) {%>
                            <input checked type="radio" name="intTelefonica" id="intTelefonica" value="En gestion">
                            En
                            gestión
                            <input type="radio" name="intTelefonica" id="intTelefonica" value="Pedida"
                                onclick="estadoInterferencia('intTelefonicaPedida', 'intTelefonicaObtenida',true,false); ">
                            Pedida
                            <input type="radio" name="intTelefonica" id="intTelefonica" value="ok"
                                onclick="estadoInterferencia('intTelefonicaPedida', 'intTelefonicaObtenida',false,true);">
                            Ok
                            <div id="intTelefonicaPedida" style="display: none;">
                                Fecha en la que se pidió:
                                <input type="date" name="intTelefonicaPedida" value="<%= interferenciasypermisos.intTelefonicaPedida%>"
                                    id="intTelefonicaPedida" placeholder="<%= interferenciasypermisos.intTelefonicaPedida %>">
                            </div>
                            <div id="intTelefonicaObtenida" style="display: none;">
                                Fecha en la que se vence:
        
                                <input type="date" name="intTelefonicaObtenida" id="intTelefonicaObtenida"
                                    value="<%= interferenciasypermisos.intTelefonicaObtenida%>">
                            </div>
                            <%}%>
                                <%if (interferenciasypermisos.intTelefonica=="Pedida" ) {%>
                                    <input  type="radio" name="intTelefonica" id="intTelefonica" value="En gestion">
                                    En
                                    gestión
                                    <input checked type="radio" name="intTelefonica" id="intTelefonica" value="Pedida"
                                        onclick="estadoInterferencia('intTelefonicaPedida', 'intTelefonicaObtenida',true,false); ">
                                    Pedida
                                    <input type="radio" name="intTelefonica" id="intTelefonica" value="ok"
                                        onclick="estadoInterferencia('intTelefonicaPedida', 'intTelefonicaObtenida',false,true);">
                                    Ok
                                    <div id="intTelefonicaPedida" style="display: block;">
                                        Fecha en la que se pidió:
                                        <input type="date" name="intTelefonicaPedida" value="<%= interferenciasypermisos.intTelefonicaPedida%>"
                                            id="intTelefonicaPedida" placeholder="<%= interferenciasypermisos.intTelefonicaPedida %>">
                                    </div>
                                    <div id="intTelefonicaObtenida" style="display: none;">
                                        Fecha en la que se vence:
                
                                        <input type="date" name="intTelefonicaObtenida" id="intTelefonicaObtenida"
                                            value="<%= interferenciasypermisos.intTelefonicaObtenida%>">
                                    </div>
                                    <%}%>
                                        <%if (interferenciasypermisos.intTelefonica=="ok" ) { %>
                                            <input  type="radio" name="intTelefonica" id="intTelefonica" value="En gestion">
                                            En
                                            gestión
                                            <input  type="radio" name="intTelefonica" id="intTelefonica" value="Pedida"
                                                onclick="estadoInterferencia('intTelefonicaPedida', 'intTelefonicaObtenida',true,false); ">
                                            Pedida
                                            <input checked type="radio" name="intTelefonica" id="intTelefonica" value="ok"
                                                onclick="estadoInterferencia('intTelefonicaPedida', 'intTelefonicaObtenida',false,true);">
                                            Ok
                                            <div id="intTelefonicaPedida" style="display: none;">
                                                Fecha en la que se pidió:
                                                <input type="date" name="intTelefonicaPedida" value="<%= interferenciasypermisos.intTelefonicaPedida%>"
                                                    id="intTelefonicaPedida" placeholder="<%= interferenciasypermisos.intTelefonicaPedida %>">
                                            </div>
                                            <div id="intTelefonicaObtenida" style="display: block;">
                                                Fecha en la que se vence:
                        
                                                <input type="date" name="intTelefonicaObtenida" id="intTelefonicaObtenida"
                                                    value="<%= interferenciasypermisos.intTelefonicaObtenida%>">
                                            </div>
                                            <%}%>

            </form-check>
        </div>
    </div>
</div>
<div class="col ">


    <div class="card-body">
        <div class="card-title">Agua</div>
        <div class="card-text">
            <form-check>
                <input hidden type="radio" name="intAgua" id="intAgua" value="<%=interferenciasypermisos.intAgua%>" checked>
                <%if (interferenciasypermisos.intAgua!="En gestion" && interferenciasypermisos.intAgua!="Pedida" && interferenciasypermisos.intAgua!="ok" ) {%>
                    <input type="radio" name="intAgua" id="intAgua" value="En gestion">
                    En gestión
                    <input type="radio" name="intAgua" id="intAgua" value="Pedida"
                        onclick="estadoInterferencia('intAguaPedida', 'intAguaObtenida',true,false);">
                    Pedida
                    <input type="radio" name="intAgua" id="intAgua" value="ok"
                        onclick="estadoInterferencia('intAguaPedida', 'intAguaObtenida',false,true);">Ok
                    <div id="intAguaPedida" style="display: none;">
                        Fecha en la que se pidió
                        <input type="date" name="intAguaPedida" id="intAguaPedida" value="<%= interferenciasypermisos.intAguaPedida%>">
                    </div>
                    <div id="intAguaObtenida" style="display: none;">
                        Fecha en la que se vence
                        <input type="date" name="intAguaObtenida" id="intAguaObtenida"
                            value="<%= interferenciasypermisos.intAguaObtenida%>">
                    </div>
                    <%}%>
                        <%if(interferenciasypermisos.intAgua=="En gestion"){%>
                            <input checked type="radio" name="intAgua" id="intAgua" value="En gestion">
                            En gestión
                            <input type="radio" name="intAgua" id="intAgua" value="Pedida"
                                onclick="estadoInterferencia('intAguaPedida', 'intAguaObtenida',true,false);">
                            Pedida
                            <input type="radio" name="intAgua" id="intAgua" value="ok"
                                onclick="estadoInterferencia('intAguaPedida', 'intAguaObtenida',false,true);">Ok
                            <div id="intAguaPedida" style="display: none;">
                                Fecha en la que se pidió
                                <input type="date" name="intAguaPedida" id="intAguaPedida"
                                    value="<%= interferenciasypermisos.intAguaPedida%>">
                            </div>
                            <div id="intAguaObtenida" style="display: none;">
                                Fecha en la que se vence
                                <input type="date" name="intAguaObtenida" id="intAguaObtenida"
                                    value="<%= interferenciasypermisos.intAguaObtenida%>">
                            </div>
                            <%}%>
                                <%if (interferenciasypermisos.intAgua=="Pedida" ){%>
                                    <input type="radio" name="intAgua" id="intAgua" value="En gestion"> En gestión
                                    <input checked type="radio" name="intAgua" id="intAgua" value="Pedida"
                                        onclick="estadoInterferencia('intAguaPedida', 'intAguaObtenida',true,false);">

                                    Pedida
                                    <input type="radio" name="intAgua" id="intAgua" value="ok"
                                        onclick="estadoInterferencia('intAguaPedida', 'intAguaObtenida',false,true);">Ok
                                    <div id="intAguaPedida" style="display: block;">
                                        Fecha en la que se pidió
                                        <input type="date" name="intAguaPedida" id="intAguaPedida"
                                            value="<%= interferenciasypermisos.intAguaPedida%>">
                                    </div>
                                    <div id="intAguaObtenida" style="display: none;">
                                        Fecha en la que se vence
                                        <input type="date" name="intAguaObtenida" id="intAguaObtenida"
                                            value="<%= interferenciasypermisos.intAguaObtenida%>">
                                    </div>
                                    <%}%>
                                        <%if (interferenciasypermisos.intAgua=="ok" ){%>
                                            <input type="radio" name="intAgua" id="intAgua" value="En gestion"> En
                                            gestión
                                            <input type="radio" name="intAgua" id="intAgua" value="Pedida"
                                                onclick="estadoInterferencia('intAguaPedida', 'intAguaObtenida',true,false);">

                                            Pedida
                                            <input checked type="radio" name="intAgua" id="intAgua" value="ok"
                                                onclick="estadoInterferencia('intAguaPedida', 'intAguaObtenida',false,true);">Ok
                                            <div id="intAguaPedida" style="display: none;">
                                                Fecha en la que se pidió
                                                <input type="date" name="intAguaPedida" id="intAguaPedida"
                                                    value="<%= interferenciasypermisos.intAguaPedida%>">
                                            </div>
                                            <div id="intAguaObtenida" style="display: block;">
                                                Fecha en la que se vence
                                                <input type="date" name="intAguaObtenida" id="intAguaObtenida"
                                                    value="<%= interferenciasypermisos.intAguaObtenida%>">
                                            </div>
                                            <%}%>

                                                <!-- <div id="intAguaPedida" style="display: none;">
                    Fecha en la que se pidió
                    <input type="date" name="intAguaPedida" id="intAguaPedida" value="<%= interferenciasypermisos.intAguaPedida%>">
                </div>
                <div id="intAguaObtenida" style="display: none;">
                    Fecha en la que se vence
                    <input type="date" name="intAguaObtenida" id="intAguaObtenida" value="<%= interferenciasypermisos.intAguaObtenida%>">
                </div> -->
            </form-check>
        </div>
    </div>
</div>
<div class="col ">


    <div class="card-body">
        <div class="card-title">Cloacas
        </div>
        <div class="card-text">
            <form-check>
                <input hidden type="radio" name="intCloacas" id="intCloacas" value="<%=interferenciasypermisos.intCloacas%>" checked>
                <%if (interferenciasypermisos.intCloaca!="En gestion" && interferenciasypermisos.intCloaca!="Pedida" && interferenciasypermisos.intCloaca!="ok" ) {%>
                    <input type="radio" name="intCloacas" id="intCloacas" value="En gestion"> En
                    gestión
                    <input type="radio" name="intCloacas" id="intCloacas" value="Pedida"
                        onclick="estadoInterferencia('intCloacasPedida', 'intCloacasObtenida',true,false);">
                    Pedida
                    <input type="radio" name="intCloacas" id="intCloacas" value="ok"
                        onclick="estadoInterferencia('intCloacasPedida', 'intCloacasObtenida',false,true);">
                    Ok
                    <div id="intCloacasPedida" style="display: none;">
                        Fecha en la que se pidió
                        <input type="date" name="intCloacasPedida" id="intCloacasPedida"
                            value="<%= interferenciasypermisos.intCloacasPedida%>">
                    </div>
                    <div id="intCloacasObtenida" style="display: none;">
                        Fecha en la que se vence
                        <input type="date" name="intCloacasObtenida" id="intCloacasObtenida"
                            value="<%= interferenciasypermisos.intCloacasObtenida%>">
                    </div>
                    <%}%>
                        <%if(interferenciasypermisos.intCloaca=="En gestion"){%>
                            <input checked type="radio" name="intCloacas" id="intCloacas" value="En gestion"> En
                            gestión
                            <input type="radio" name="intCloacas" id="intCloacas" value="Pedida"
                                onclick="estadoInterferencia('intCloacasPedida', 'intCloacasObtenida',true,false);">
                            Pedida
                            <input type="radio" name="intCloacas" id="intCloacas" value="ok"
                                onclick="estadoInterferencia('intCloacasPedida', 'intCloacasObtenida',false,true);">
                            Ok
                            <div id="intCloacasPedida" style="display: none;">
                                Fecha en la que se pidió
                                <input type="date" name="intCloacasPedida" id="intCloacasPedida"
                                    value="<%= interferenciasypermisos.intCloacasPedida%>">
                            </div>
                            <div id="intCloacasObtenida" style="display: none;">
                                Fecha en la que se vence
                                <input type="date" name="intCloacasObtenida" id="intCloacasObtenida"
                                    value="<%= interferenciasypermisos.intCloacasObtenida%>">
                            </div>
                            <%}%>
                                <%if( interferenciasypermisos.intCloaca=="Pedida" ){%>
                                    <input type="radio" name="intCloacas" id="intCloacas" value="En gestion"> En
                                    gestión
                                    <input checked type="radio" name="intCloacas" id="intCloacas" value="Pedida"
                                        onclick="estadoInterferencia('intCloacasPedida', 'intCloacasObtenida',true,false);">
                                    Pedida
                                    <input type="radio" name="intCloacas" id="intCloacas" value="ok"
                                        onclick="estadoInterferencia('intCloacasPedida', 'intCloacasObtenida',false,true);">
                                    Ok
                                    <div id="intCloacasPedida" style="display: block;">
                                        Fecha en la que se pidió
                                        <input type="date" name="intCloacasPedida" id="intCloacasPedida"
                                            value="<%= interferenciasypermisos.intCloacasPedida%>">
                                    </div>
                                    <div id="intCloacasObtenida" style="display: none;">
                                        Fecha en la que se vence
                                        <input type="date" name="intCloacasObtenida" id="intCloacasObtenida"
                                            value="<%= interferenciasypermisos.intCloacasObtenida%>">
                                    </div>
                                    <%}%>
                                        <%if( interferenciasypermisos.intCloaca=="ok" ){%>
                                            <input type="radio" name="intCloacas" id="intCloacas" value="En gestion"> En
                                            gestión
                                            <input type="radio" name="intCloacas" id="intCloacas" value="Pedida"
                                                onclick="estadoInterferencia('intCloacasPedida', 'intCloacasObtenida',true,false);">
                                            Pedida
                                            <input checked type="radio" name="intCloacas" id="intCloacas" value="ok"
                                                onclick="estadoInterferencia('intCloacasPedida', 'intCloacasObtenida',false,true);">
                                            Ok
                                            <div id="intCloacasPedida" style="display: none;">
                                                Fecha en la que se pidió
                                                <input type="date" name="intCloacasPedida" id="intCloacasPedida"
                                                    value="<%= interferenciasypermisos.intCloacasPedida%>">
                                            </div>
                                            <div id="intCloacasObtenida" style="display: block;">
                                                Fecha en la que se vence
                                                <input type="date" name="intCloacasObtenida" id="intCloacasObtenida"
                                                    value="<%= interferenciasypermisos.intCloacasObtenida%>">
                                            </div>
                                            <%}%>


            </form-check>
        </div>
    </div>
</div>

    <div class="col ">

    
    <div class="card-body">
        <div class="card-title">Electricidad
        </div>
        <div class="card-text">
            <form-check>
                <input hidden type="radio" name="intElectricidad" id="intElectricidad" value="<%=interferenciasypermisos.intElectricidad%>"
                    checked>
                <%if (interferenciasypermisos.intElectricidad!="En gestion" && interferenciasypermisos.intElectricidad!="Pedida" && interferenciasypermisos.intElectricidad!="ok"
                    ) {%>

                    <input type="radio" name="intElectricidad" id="intElectricidad" value="En gestion"> En
                    gestión
                    <input type="radio" name="intElectricidad" id="intElectricidad" value="Pedida" value="ok"
                        onclick="estadoInterferencia('intElectricidadPedida', 'intElectricidadObtenida',true,false);">
                    Pedida
                    <input type="radio" name="intElectricidad" id="intElectricidad" value="ok" value="ok"
                        onclick="estadoInterferencia('intElectricidadPedida', 'intElectricidadObtenida',false,true);">
                    Ok
                    <div id="intElectricidadPedida" style="display: none;">
                        Fecha en la que se pidió
                        <input type="date" name="intElectricidadPedida" id="intElectricidadPedida"
                            value="<%= interferenciasypermisos.intElectricidadPedida%>">
                    </div>
                    <div id="intElectricidadObtenida" style="display: none;">
                        Fecha en la que se vence
                        <input type="date" name="intElectricidadObtenida" id="intElectricidadObtenida"
                            value="<%= interferenciasypermisos.intElectricidadObtenida%>">
                    </div>
                    <%}%>
                        <%if(interferenciasypermisos.intElectricidad=="En gestion"){%>
                            <input checked type="radio" name="intElectricidad" id="intElectricidad" value="En gestion">
                            En
                            gestión
                            <input type="radio" name="intElectricidad" id="intElectricidad" value="Pedida" value="ok"
                                onclick="estadoInterferencia('intElectricidadPedida', 'intElectricidadObtenida',true,false);">
                            Pedida
                            <input type="radio" name="intElectricidad" id="intElectricidad" value="ok" value="ok"
                                onclick="estadoInterferencia('intElectricidadPedida', 'intElectricidadObtenida',false,true);">
                            Ok
                            <div id="intElectricidadPedida" style="display: none;">
                                Fecha en la que se pidió
                                <input type="date" name="intElectricidadPedida" id="intElectricidadPedida"
                                    value="<%= interferenciasypermisos.intElectricidadPedida%>">
                            </div>
                            <div id="intElectricidadObtenida" style="display: none;">
                                Fecha en la que se vence
                                <input type="date" name="intElectricidadObtenida" id="intElectricidadObtenida"
                                    value="<%= interferenciasypermisos.intElectricidadObtenida%>">
                            </div>

                            <%}%>
                                <%if(interferenciasypermisos.intElectricidad=="Pedida"){%>
                                    <input type="radio" name="intElectricidad" id="intElectricidad" value="En gestion">
                                    En
                                    gestión
                                    <input checked type="radio" name="intElectricidad" id="intElectricidad"
                                        value="Pedida" value="ok"
                                        onclick="estadoInterferencia('intElectricidadPedida', 'intElectricidadObtenida',true,false);">
                                    Pedida
                                    <input type="radio" name="intElectricidad" id="intElectricidad" value="ok"
                                        value="ok"
                                        onclick="estadoInterferencia('intElectricidadPedida', 'intElectricidadObtenida',false,true);">
                                    Ok
                                    <div id="intElectricidadPedida" style="display: block;">
                                        Fecha en la que se pidió
                                        <input type="date" name="intElectricidadPedida" id="intElectricidadPedida"
                                            value="<%= interferenciasypermisos.intElectricidadPedida%>">
                                    </div>
                                    <div id="intElectricidadObtenida" style="display: none;">
                                        Fecha en la que se vence
                                        <input type="date" name="intElectricidadObtenida" id="intElectricidadObtenida"
                                            value="<%= interferenciasypermisos.intElectricidadObtenida%>">
                                    </div>

                                    <%}%>
                                        <%if(interferenciasypermisos.intElectricidad=="ok"){%>
                                            <input type="radio" name="intElectricidad" id="intElectricidad"
                                                value="En gestion"> En
                                            gestión
                                            <input type="radio" name="intElectricidad" id="intElectricidad"
                                                value="Pedida" value="ok"
                                                onclick="estadoInterferencia('intElectricidadPedida', 'intElectricidadObtenida',true,false);">
                                            Pedida
                                            <input checked type="radio" name="intElectricidad" id="intElectricidad"
                                                value="ok" value="ok"
                                                onclick="estadoInterferencia('intElectricidadPedida', 'intElectricidadObtenida',false,true);">
                                            Ok
                                            <div id="intElectricidadPedida" style="display: none;">
                                                Fecha en la que se pidió
                                                <input type="date" name="intElectricidadPedida"
                                                    id="intElectricidadPedida" value="<%= interferenciasypermisos.intElectricidadPedida%>">
                                            </div>
                                            <div id="intElectricidadObtenida" style="display: block;">
                                                Fecha en la que se vence
                                                <input type="date" name="intElectricidadObtenida"
                                                    id="intElectricidadObtenida"
                                                    value="<%= interferenciasypermisos.intElectricidadObtenida%>">
                                            </div>

                                            <%}%>
            </form-check>
        </div>
    </div>
</div>
</div>
<div class="row">
<div class="col ">
   
    <div class="card-body">

        <div class="card-title">Claro
        </div>
        <div class="card-text">
            <form-check>
                <%if (interferenciasypermisos.intClaro!="En gestion" && interferenciasypermisos.intClaro!="Pedida" && interferenciasypermisos.intClaro!="ok" ) {%>
                    <input hidden type="radio" name="intClaro" id="intClaro" value="<%=interferenciasypermisos.intClaro%>" checked>

                    <input type="radio" name="intClaro" id="intClaro" value="En gestion"> En
                    gestión
                    <input type="radio" name="intClaro" id="intClaro" value="Pedida"
                        onclick="estadoInterferencia('intClaroPedida', 'intClaroObtenida',true,false);">
                    Pedida
                    <input type="radio" name="intClaro" id="intClaro" value="ok"
                        onclick="estadoInterferencia('intClaroPedida', 'intClaroObtenida',false,true);">
                    Ok
                    <div id="intClaroPedida" style="display: none;">
                        Fecha en la que se pidió
                        <input type="date" name="intClaroPedida" id="intClaroPedida" value="<%= interferenciasypermisos.intClaroPedida%>">
                    </div>
                    <div id="intClaroObtenida" style="display: none;">
                        Fecha en la que se vence
                        <input type="date" name="intClaroObtenida" id="intClaroObtenida"
                            value="<%= interferenciasypermisos.intClaroObtenida%>">
                    </div>
                    <%}%>
                        <%if (interferenciasypermisos.intClaro=="En gestion" ){%>

                            <input checked type="radio" name="intClaro" id="intClaro" value="En gestion"> En
                            gestión
                            <input type="radio" name="intClaro" id="intClaro" value="Pedida"
                                onclick="estadoInterferencia('intClaroPedida', 'intClaroObtenida',true,false);">
                            Pedida
                            <input type="radio" name="intClaro" id="intClaro" value="ok"
                                onclick="estadoInterferencia('intClaroPedida', 'intClaroObtenida',false,true);">
                            Ok
                            <div id="intClaroPedida" style="display: none;">
                                Fecha en la que se pidió
                                <input type="date" name="intClaroPedida" id="intClaroPedida"
                                    value="<%= interferenciasypermisos.intClaroPedida%>">
                            </div>
                            <div id="intClaroObtenida" style="display: none;">
                                Fecha en la que se vence
                                <input type="date" name="intClaroObtenida" id="intClaroObtenida"
                                    value="<%= interferenciasypermisos.intClaroObtenida%>">
                            </div>
                            <%}%>
                                <%if (interferenciasypermisos.intClaro=="Pedida" ){%>

                                    <input type="radio" name="intClaro" id="intClaro" value="En gestion"> En
                                    gestión
                                    <input checked type="radio" name="intClaro" id="intClaro" value="Pedida"
                                        onclick="estadoInterferencia('intClaroPedida', 'intClaroObtenida',true,false);">
                                    Pedida
                                    <input type="radio" name="intClaro" id="intClaro" value="ok"
                                        onclick="estadoInterferencia('intClaroPedida', 'intClaroObtenida',false,true);">
                                    Ok
                                    <div id="intClaroPedida" style="display: block;">
                                        Fecha en la que se pidió
                                        <input type="date" name="intClaroPedida" id="intClaroPedida"
                                            value="<%= interferenciasypermisos.intClaroPedida%>">
                                    </div>
                                    <div id="intClaroObtenida" style="display: none;">
                                        Fecha en la que se vence
                                        <input type="date" name="intClaroObtenida" id="intClaroObtenida"
                                            value="<%= interferenciasypermisos.intClaroObtenida%>">
                                    </div>
                                    <%}%>
                                        <%if (interferenciasypermisos.intClaro=="ok" ){%>

                                            <input type="radio" name="intClaro" id="intClaro" value="En gestion"> En
                                            gestión
                                            <input type="radio" name="intClaro" id="intClaro" value="Pedida"
                                                onclick="estadoInterferencia('intClaroPedida', 'intClaroObtenida',true,false);">
                                            Pedida
                                            <input checked type="radio" name="intClaro" id="intClaro" value="ok"
                                                onclick="estadoInterferencia('intClaroPedida', 'intClaroObtenida',false,true);">
                                            Ok
                                            <div id="intClaroPedida" style="display: none;">
                                                Fecha en la que se pidió
                                                <input type="date" name="intClaroPedida" id="intClaroPedida"
                                                    value="<%= interferenciasypermisos.intClaroPedida%>">
                                            </div>
                                            <div id="intClaroObtenida" style="display: block;">
                                                Fecha en la que se vence
                                                <input type="date" name="intClaroObtenida" id="intClaroObtenida"
                                                    value="<%= interferenciasypermisos.intClaroObtenida%>">
                                            </div>
                                            <%}%>
            </form-check>
        </div>
    </div>
</div>
<div class="col ">
    
    <div class="card-body">

        <div class="card-title">Arnet
        </div>
        <div class="card-text">
            <form-check>
                <%if (interferenciasypermisos.intArnet!="En gestion" && interferenciasypermisos.intArnet!="Pedida" && interferenciasypermisos.intArnet!="ok" ) {%>
                    <input hidden type="radio" name="intArnet" id="intArnet" value="<%=interferenciasypermisos.intArnet%>" checked>
                    <input type="radio" name="intArnet" id="intArnet" value="En gestion"> En
                    gestión
                    <input type="radio" name="intArnet" id="intArnet" value="Pedida"
                        onclick="estadoInterferencia('intArnetPedida', 'intArnetObtenida',true,false);">
                    Pedida
                    <input type="radio" name="intArnet" id="intArnet" value="ok"
                        onclick="estadoInterferencia('intArnetPedida', 'intArnetObtenida',false,true);">
                    Ok
                    <div id="intArnetPedida" style="display: none;">
                        Fecha en la que se pidió
                        <input type="date" name="intArnetPedida" id="intArnetPedida" value="<%= interferenciasypermisos.intArnetPedida%>">
                    </div>
                    <div id="intArnetObtenida" style="display: none;">
                        Fecha en la que se vence
                        <input type="date" name="intArnetObtenida" id="intArnetObtenida"
                            value="<%= interferenciasypermisos.intArnetObtenida%>">
                    </div>
                    <%}%>
                        <%if (interferenciasypermisos.intArnet=="EnGestion" ){%>
                            <input checked type="radio" name="intArnet" id="intArnet" value="En gestion"> En
                            gestión
                            <input type="radio" name="intArnet" id="intArnet" value="Pedida"
                                onclick="estadoInterferencia('intArnetPedida', 'intArnetObtenida',true,false);">
                            Pedida
                            <input type="radio" name="intArnet" id="intArnet" value="ok"
                                onclick="estadoInterferencia('intArnetPedida', 'intArnetObtenida',false,true);">
                            Ok
                            <div id="intArnetPedida" style="display: none;">
                                Fecha en la que se pidió
                                <input type="date" name="intArnetPedida" id="intArnetPedida"
                                    value="<%= interferenciasypermisos.intArnetPedida%>">
                            </div>
                            <div id="intArnetObtenida" style="display: none;">
                                Fecha en la que se vence
                                <input type="date" name="intArnetObtenida" id="intArnetObtenida"
                                    value="<%= interferenciasypermisos.intArnetObtenida%>">
                            </div>
                            <%}%>
                                <%if (interferenciasypermisos.intArnet=="Pedida" ){%>
                                    <input type="radio" name="intArnet" id="intArnet" value="En gestion"> En
                                    gestión
                                    <input checked type="radio" name="intArnet" id="intArnet" value="Pedida"
                                        onclick="estadoInterferencia('intArnetPedida', 'intArnetObtenida',true,false);">
                                    Pedida
                                    <input type="radio" name="intArnet" id="intArnet" value="ok"
                                        onclick="estadoInterferencia('intArnetPedida', 'intArnetObtenida',false,true);">
                                    Ok
                                    <div id="intArnetPedida" style="display: block;">
                                        Fecha en la que se pidió
                                        <input type="date" name="intArnetPedida" id="intArnetPedida"
                                            value="<%= interferenciasypermisos.intArnetPedida%>">
                                    </div>
                                    <div id="intArnetObtenida" style="display: none;">
                                        Fecha en la que se vence
                                        <input type="date" name="intArnetObtenida" id="intArnetObtenida"
                                            value="<%= interferenciasypermisos.intArnetObtenida%>">
                                    </div>
                                    <%}%>

                                        <%if (interferenciasypermisos.intArnet=="ok" ){%>
                                            <input type="radio" name="intArnet" id="intArnet" value="En gestion"> En
                                            gestión
                                            <input type="radio" name="intArnet" id="intArnet" value="Pedida"
                                                onclick="estadoInterferencia('intArnetPedida', 'intArnetObtenida',true,false);">
                                            Pedida
                                            <input checked type="radio" name="intArnet" id="intArnet" value="ok"
                                                onclick="estadoInterferencia('intArnetPedida', 'intArnetObtenida',false,true);">
                                            Ok
                                            <div id="intArnetPedida" style="display: none;">
                                                Fecha en la que se pidió
                                                <input type="date" name="intArnetPedida" id="intArnetPedida"
                                                    value="<%= interferenciasypermisos.intArnetPedida%>">
                                            </div>
                                            <div id="intArnetObtenida" style="display: block;">
                                                Fecha en la que se vence
                                                <input type="date" name="intArnetObtenida" id="intArnetObtenida"
                                                    value="<%= interferenciasypermisos.intArnetObtenida%>">
                                            </div>
                                            <%}%>
            </form-check>
        </div>
    </div>
</div>
<div class="col ">
    
    <div class="card-body">

        <div class="card-title">Arsat
        </div>
        <div class="card-text">
            <form-check>
                <%if (interferenciasypermisos.intArsat!="En gestion" && interferenciasypermisos.intArsat!="Pedida" && interferenciasypermisos.intArsat!="ok" ) {%>
                    <input hidden type="radio" name="intArsat" id="intArsat" value="<%=interferenciasypermisos.intArsat%>" checked>
                    <input type="radio" name="intArsat" id="intArsat" value="En gestion"> En
                    gestión
                    <input type="radio" name="intArsat" id="intArsat" value="Pedida"
                        onclick="estadoInterferencia('intArsatPedida', 'intArsatObtenida',true,false);">
                    Pedida
                    <input type="radio" name="intArsat" id="intArsat" value="ok"
                        onclick="estadoInterferencia('intArsatPedida', 'intArsatObtenida',false,true);">
                    Ok
                    <div id="intArsatPedida" style="display: none;">
                        Fecha en la que se pidió
                        <input type="date" name="intArsatPedida" id="intArsatPedida" value="<%= interferenciasypermisos.intArsatPedida%>">
                    </div>
                    <div id="intArsatObtenida" style="display: none;">
                        Fecha en la que se vence
                        <input type="date" name="intArsatObtenida" id="intArsatObtenida"
                            value="<%= interferenciasypermisos.intArsatObtenida%>">
                    </div>
                    <%}%>
                        <%if(interferenciasypermisos.intArsat=="En gestion"){%>
                            <input checked type="radio" name="intArsat" id="intArsat" value="En gestion"> En
                            gestión
                            <input type="radio" name="intArsat" id="intArsat" value="Pedida"
                                onclick="estadoInterferencia('intArsatPedida', 'intArsatObtenida',true,false);">
                            Pedida
                            <input type="radio" name="intArsat" id="intArsat value="ok"
                                onclick="estadoInterferencia('intArsatPedida', 'intArsatObtenida',false,true);">
                            Ok
                            <div id="intArsatPedida" style="display: none;">
                                Fecha en la que se pidió
                                <input type="date" name="intArsatPedida" id="intArsatPedida"
                                    value="<%= interferenciasypermisos.intArsatPedida%>">
                            </div>
                            <div id="intArsatObtenida" style="display: none;">
                                Fecha en la que se vence
                                <input type="date" name="intArsatObtenida" id="intArsatObtenida"
                                    value="<%= interferenciasypermisos.intArsatObtenida%>">
                            </div>
                            <%}%>
                                <%if(interferenciasypermisos.intArsat=="Pedida"){%>
                                    <input type="radio" name="intArsat" id="intArsat" value="En gestion"> En
                                    gestión
                                    <input checked type="radio" name="intArsat" id="intArsat" value="Pedida"
                                        onclick="estadoInterferencia('intArsatPedida', 'intArsatObtenida',true,false);">
                                    Pedida
                                    <input type="radio" name="intArsat" id="intArsat" value="ok"
                                        onclick="estadoInterferencia('intArsatPedida', 'intArsatObtenida',false,true);">
                                    Ok
                                    <div id="intArsatPedida" style="display: block;">
                                        Fecha en la que se pidió
                                        <input type="date" name="intArsatPedida" id="intArsatPedida"
                                            value="<%= interferenciasypermisos.intArsatPedida%>">
                                    </div>
                                    <div id="intArsatObtenida" style="display: none;">
                                        Fecha en la que se vence
                                        <input type="date" name="intArsatObtenida" id="intArsatObtenida"
                                            value="<%= interferenciasypermisos.intArsatObtenida%>">
                                    </div>
                                    <%}%>
                                        <%if(interferenciasypermisos.intArsat=="ok"){%>
                                            <input type="radio" name="intArsat" id="intArsat" value="En gestion"> En
                                            gestión
                                            <input type="radio" name="intArsat" id="intArsat" value="Pedida"
                                                onclick="estadoInterferencia('intArsatPedida', 'intArsatObtenida',true,false);">
                                            Pedida
                                            <input checked type="radio" name="intArsat" id="intArsat" value=" ok"
                                                onclick="estadoInterferencia('intArsatPedida', 'intArsatObtenida',false,true);">
                                            Ok
                                            <div id="intArsatPedida" style="display: none;">
                                                Fecha en la que se pidió
                                                <input type="date" name="intArsatPedida" id="intArsatPedida"
                                                    value="<%= interferenciasypermisos.intArsatPedida%>">
                                            </div>
                                            <div id="intArsatObtenida" style="display: block;">
                                                Fecha en la que se vence
                                                <input type="date" name="intArsatObtenida" id="intArsatObtenida"
                                                    value="<%= interferenciasypermisos.intArsatObtenida%>">
                                            </div>
                                            <%}%>
            </form-check>
        </div>
    </div>
</div>
<div class="col ">
    
    <div class="card-body">

        <div class="card-title">Telecom
        </div>
        <div class="card-text">
            <form-check>
                <%if (interferenciasypermisos.intTelecom!="En gestion" && interferenciasypermisos.intTelecom!="Pedida" && interferenciasypermisos.intTelecom!="ok" ) {%>
                    <input hidden type="radio" name="intTelecom" id="intTelecom" value="<%=interferenciasypermisos.intTelecom%>" checked>
                    <input type="radio" name="intTelecom" id="intTelecom" value="En gestion"> En
                    gestión
                    <input type="radio" name="intTelecom" id="intTelecom" value="Pedida"
                        onclick="estadoInterferencia('intTelecomPedida', 'intTelecomObtenida',true,false);">
                    Pedida
                    <input type="radio" name="intTelecom" id="intTelecom " value="ok"
                        onclick="estadoInterferencia('intTelecomPedida', 'intTelecomObtenida',false,true);">
                    Ok
                    <div id="intTelecomPedida" style="display: none;">
                        Fecha en la que se pidió
                        <input type="date" name="intTelecomPedida" id="intTelecomPedida"
                            value="<%= interferenciasypermisos.intTelecomPedida%>">
                    </div>
                    <div id="intTelecomObtenida" style="display: none;">
                        Fecha en la que se vence
                        <input type="date" name="intTelecomObtenida" id="intTelecomObtenida"
                            value="<%= interferenciasypermisos.intTelecomObtenida%>">
                    </div>
                    <%}%>
                        <%if(interferenciasypermisos.intTelecom=="En gestion"){%>
                            <input checked type="radio" name="intTelecom" id="intTelecom" value="En gestion"> En
                            gestión
                            <input type="radio" name="intTelecom" id="intTelecom" value="Pedida"
                                onclick="estadoInterferencia('intTelecomPedida', 'intTelecomObtenida',true,false);">
                            Pedida
                            <input type="radio" name="intTelecom" id="intTelecom" value="ok"
                                onclick="estadoInterferencia('intTelecomPedida', 'intTelecomObtenida',false,true);">
                            Ok
                            <div id="intTelecomPedida" style="display: none;">
                                Fecha en la que se pidió
                                <input type="date" name="intTelecomPedida" id="intTelecomPedida"
                                    value="<%= interferenciasypermisos.intTelecomPedida%>">
                            </div>
                            <div id="intTelecomObtenida" style="display:none;">
                                Fecha en la que se vence
                                <input type="date" name="intTelecomObtenida" id="intTelecomObtenida"
                                    value="<%= interferenciasypermisos.intTelecomObtenida%>">
                            </div>
                            <%}%>

                                <%if(interferenciasypermisos.intTelecom=="Pedida"){%>
                                    <input type="radio" name="intTelecom" id="intTelecom" value="En gestion"> En
                                    gestión
                                    <input checked type="radio" name="intTelecom" id="intTelecom" value="Pedida"
                                        onclick="estadoInterferencia('intTelecomPedida', 'intTelecomObtenida',true,false);">
                                    Pedida
                                    <input type="radio" name="intTelecom" id="intTelecom" value="ok"
                                        onclick="estadoInterferencia('intTelecomPedida', 'intTelecomObtenida',false,true);">
                                    Ok
                                    <div id="intTelecomPedida" style="display:block;">
                                        Fecha en la que se pidió
                                        <input type="date" name="intTelecomPedida" id="intTelecomPedida"
                                            value="<%= interferenciasypermisos.intTelecomPedida%>">
                                    </div>
                                    <div id="intTelecomObtenida" style="display:none;">
                                        Fecha en la que se vence
                                        <input type="date" name="intTelecomObtenida" id="intTelecomObtenida"
                                            value="<%= interferenciasypermisos.intTelecomObtenida%>">
                                    </div>
                                    <%}%>
                                        <%if(interferenciasypermisos.intTelecom=="ok"){%>
                                            <input type="radio" name="intTelecom" id="intTelecom" value="En gestion">
                                            En
                                            gestión
                                            <input  type="radio" name="intTelecom" id="intTelecom"
                                                value="Pedida"
                                                onclick="estadoInterferencia('intTelecomPedida', 'intTelecomObtenida',true,false);">
                                            Pedida
                                            <input checked type="radio" name="intTelecom" id="intTelecom" value="ok"
                                                onclick="estadoInterferencia('intTelecomPedida', 'intTelecomObtenida',false,true);">
                                            Ok
                                            <div id="intTelecomPedida" style="display:none;">
                                                Fecha en la que se pidió
                                                <input type="date" name="intTelecomPedida" id="intTelecomPedida"
                                                    value="<%= interferenciasypermisos.intTelecomPedida%>">
                                            </div>
                                            <div id="intTelecomObtenida" style="display: block;">
                                                Fecha en la que se vence
                                                <input type="date" name="intTelecomObtenida" id="intTelecomObtenida"
                                                    value="<%= interferenciasypermisos.intTelecomObtenida%>">
                                                <%}%>
            </form-check>
        </div>
    </div>
</div>
</div>
</div>
</div>
<br>