<!DOCTYPE html>
<html lang="es">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finanzas:Vista de la obra</title>
</head>

<body>
  <%- include('../../partials/menusuperior.ejs'); %>

    <div class="VistaObra">
      <div class="Encabezado">
        <button class="btn btn-danger m-2" onclick="history.go(-1)">Atrás</button>
        <h1 class="text-center"> Obra <%=NombreObra%>
        </h1>
      </div>
      <h2 class="text-center">Lista de clientes que contiene la obra</h2>
      <div class="container VistaClientes m-2">

        <label for="BuscadorCliente">Buscar cliente</label>
        <input class="border border-danger" type="text" name="BuscadorCliente" id="BuscadorCliente">
        <button class="btn btn-primary" onclick="ExportarAExcel();" disabled>Exportar planilla</button>
        <button class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#ModalConfiguracion">Configuraciones de la obra</button>
      </div>
            <table id="TablaObras" class="table table-bordered table-inverse table-responsive"
        style="display: block; width:100%;">
        <thead class="thead-default">
          <tr>
            <th>Cliente</th>
            <th>Anticipo financiero </th>
            <th>Cuota1 </th>
            <th>Cuota2 </th>
            <th>Cuota3 </th>
            <th>Cuota4 </th>
            <th>Cuota5 </th>
            <th>Cuota6 </th>
            <%var cuota7 = true;%>
            <%var cuota8 = true;%>
            <%var cuota9 = true;%>
            <%var cuota10 = true;%>
            <%var cuota11 = true;%>
            <%var cuota12 = true;%>
           <%PredeterminadosyCobros.forEach((cobros)=>{%>
            <%if((cobros.Cuota7!=null && cobros.Cuota7!=0 && cobros.Cuota7!=0000 && cobros.PredeterminadoCuota7!=null && cobros.PredeterminadoCuota7!=0 && cobros.PredeterminadoCuota7!=0000)){}else{cuota7=false;}%>
            <%if((cobros.Cuota8!=null && cobros.Cuota8!=0 && cobros.Cuota8!=0000 && cobros.PredeterminadoCuota8!=null && cobros.PredeterminadoCuota8!=0 && cobros.PredeterminadoCuota8!=0000)){}else{cuota8=false;}%>
            <%if((cobros.Cuota9!=null && cobros.Cuota9!=0 && cobros.Cuota9!=0000 && cobros.PredeterminadoCuota9!=null && cobros.PredeterminadoCuota9!=0 && cobros.PredeterminadoCuota9!=0000)){}else{cuota9=false;}%>
            <%if((cobros.Cuota10!=null && cobros.Cuota10!=0 && cobros.Cuota10!=0000 && cobros.PredeterminadoCuota10!=null && cobros.PredeterminadoCuota10!=0 && cobros.PredeterminadoCuota10!=0000)){}else{ cuota10=false;}%>
            <%if((cobros.Cuota11!=null && cobros.Cuota11!=0 && cobros.Cuota11!=0000 && cobros.PredeterminadoCuota11!=null && cobros.PredeterminadoCuota11!=0 && cobros.PredeterminadoCuota11!=0000)){}else{ cuota11=false;}%>
            <%if((cobros.Cuota12!=null && cobros.Cuota12!=0 && cobros.Cuota12!=0000 && cobros.PredeterminadoCuota12!=null && cobros.PredeterminadoCuota12!=0 && cobros.PredeterminadoCuota12!=0000)){}else{ cuota12=false;}%>
           <%})%>
          
<%if(cuota7){%>
  <th>Cuota7 </th>
  <%}%>
<%if(cuota8){%>
  <th>Cuota8 </th>
  <%}%>
<%if(cuota9){%>
  <th>Cuota9 </th>
  <%}%>
<%if(cuota10){%>
  <th>Cuota10 </th>
  <%}%>
<%if(cuota11){%>
  <th>Cuota11 </th>
  <%}%>
<%if(cuota12){%>
  <th>Cuota12 </th>
  <%}%>

          <th>Permiso DNV </th>
            <th>Permiso DPV </th>
            <th>Permiso Hidraulica </th>
            <th>Permiso FFCC </th>
            <th>Permiso Privado </th>
            <th>Permiso Municipal </th>
            <th>Servicio Domiciliario </th>
            <th>Ingreso documentación por comienzo tramite </th>
            <th>Permiso Irrigación </th>

          </tr>
        </thead>
        <tbody>
          <% PredeterminadosyCobros.forEach((cliente)=>{ %>
          <tr>
            
              <td class="text-center">
                <a href="/Finanzas/CobroDeObras/EditarCliente/<%=cliente.ID_cliente%>">
                  <%= cliente.NombreCliente%>
                </a>
              </td>
              <%if(cliente.AnticipoFinanciero==null || cliente.AnticipoFinanciero=='0000'){%>
                <td class="text-center text-muted">
                  <%=cliente.PredeterminadoAnticipoFinanciero%>
                </td>
                <%}else{%>
                  <%if(cliente.AnticipoFinanciero>cliente.PredeterminadoAnticipoFinanciero ){%>
                    <td class="text-center text-warning">
                      <%=cliente.AnticipoFinanciero %>
                    </td>
                    <%}%>
                      <%if(cliente.AnticipoFinanciero<cliente.PredeterminadoAnticipoFinanciero){%>
                        <td class="text-center text-danger">
                          <%=cliente.AnticipoFinanciero %>
                        </td>
                        <%}%>

                          <%if(cliente.AnticipoFinanciero==cliente.PredeterminadoAnticipoFinanciero){%>

                            <td class="text-center text-success ">
                              <%=cliente.AnticipoFinanciero%>
                            </td>

                            <%}%>
                            <%}%>
                              <%if(cliente.Cuota1==null ||cliente.Cuota1=='0000'){%>
                                <td class="text-center text-muted">
                                  <%=cliente.PredeterminadoCuota1%>
                                </td>
                                <%}else{%>
                                  <%if(cliente.Cuota1>cliente.PredeterminadoCuota1 ){%>
                                    <td class="text-center text-warning">
                                      <%=cliente.Cuota1 %>
                                    </td>
                                    <%}%>
                                      <%if(cliente.Cuota1<cliente.PredeterminadoCuota1){%>
                                        <td class="text-center text-danger">
                                          <%=cliente.Cuota1 %>
                                        </td>
                                        <%}%>

                                          <%if(cliente.Cuota1==cliente.PredeterminadoCuota1){%>
                                            <td class="text-center text-success ">
                                              <%=cliente.Cuota1%>
                                            </td>
                                            <%}%>
<%}%>
<%if(cliente.Cuota2==null || cliente.Cuota2=='0000'){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota2%>
  </td>
  <%}else{%>
    <%if(cliente.Cuota2>cliente.PredeterminadoCuota2 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota2 %>
      </td>
      <%}%>
        <%if(cliente.Cuota2<cliente.PredeterminadoCuota2){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota2 %>
          </td>
          <%}%>

            <%if(cliente.Cuota2==cliente.PredeterminadoCuota2){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota2%>
              </td>
              <%}%>
<%}%>
<%if(cliente.Cuota3==null || cliente.Cuota3=='0000'){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota3%>
  </td>
  <%}else{%>
    <%if(cliente.Cuota3>cliente.PredeterminadoCuota3 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota3 %>
      </td>
      <%}%>
        <%if(cliente.Cuota3<cliente.PredeterminadoCuota3){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota3 %>
          </td>
          <%}%>

            <%if(cliente.Cuota3==cliente.PredeterminadoCuota3){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota3%>
              </td>
              <%}%>
<%}%>
<%if(cliente.Cuota4==null || cliente.Cuota4=='0000'){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota4%>
  </td>
  <%}else{%>
    <%if(cliente.Cuota4>cliente.PredeterminadoCuota4 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota4 %>
      </td>
      <%}%>
        <%if(cliente.Cuota4<cliente.PredeterminadoCuota4){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota4 %>
          </td>
          <%}%>

            <%if(cliente.Cuota4==cliente.PredeterminadoCuota4){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota4%>
              </td>
              <%}%>
<%}%>
<%if(cliente.Cuota5==null || cliente.Cuota5=='0000'){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota5%>
  </td>
  <%}else{%>
    <%if(cliente.Cuota5>cliente.PredeterminadoCuota5 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota5 %>
      </td>
      <%}%>
        <%if(cliente.Cuota5<cliente.PredeterminadoCuota5){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota5 %>
          </td>
          <%}%>

            <%if(cliente.Cuota5==cliente.PredeterminadoCuota5){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota5%>
              </td>
              <%}%>
<%}%>
<%if(cliente.Cuota6==null || cliente.Cuota6=='0000'){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota6%>
  </td>
  <%}else{%>
    <%if(cliente.Cuota6>cliente.PredeterminadoCuota6 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota6 %>
      </td>
      <%}%>
        <%if(cliente.Cuota6<cliente.PredeterminadoCuota6){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota6 %>
          </td>
          <%}%>

            <%if(cliente.Cuota6==cliente.PredeterminadoCuota6){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota6%>
              </td>
              <%}%>
              <%}%>
<%if(cliente.Cuota7==null || cliente.Cuota7=='0000'){%>
  <%if(cliente.PredeterminadoCuota7==null || cliente.PredeterminadoCuota7==0000 || cliente.PredeterminadoCuota7==0){}else{%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota7%>
  </td>
  <%}}else{%>
    <%if(cliente.Cuota7>cliente.PredeterminadoCuota7 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota7 %>
      </td>
      <%}%>
        <%if(cliente.Cuota7<cliente.PredeterminadoCuota7){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota7 %>
          </td>
          <%}%>

            <%if(cliente.Cuota7==cliente.PredeterminadoCuota7){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota7%>
              </td>
              <%}%>
<%}%>

<%if(cliente.Cuota8==null || cliente.Cuota8=='0000'){%>
  <%if(cliente.PredeterminadoCuota8==null || cliente.PredeterminadoCuota8==0000 || cliente.PredeterminadoCuota8==0){}else{%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota8%>
  </td>
  <%}}else{%>
    <%if(cliente.Cuota8>cliente.PredeterminadoCuota8 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota8 %>
      </td>
      <%}%>
        <%if(cliente.Cuota8<cliente.PredeterminadoCuota8){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota8 %>
          </td>
          <%}%>

            <%if(cliente.Cuota8==cliente.PredeterminadoCuota8){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota8%>
              </td>
              <%}%>
<%}%>

<%if(cliente.Cuota9==null || cliente.Cuota9=='0000'){%>
  <%if(cliente.PredeterminadoCuota9==null || cliente.PredeterminadoCuota9==0000 || cliente.PredeterminadoCuota9==0){}else{%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota9%>
  </td>
  <%}}else{%>
    <%if(cliente.Cuota9>cliente.PredeterminadoCuota9 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota9 %>
      </td>
      <%}%>
        <%if(cliente.Cuota9<cliente.PredeterminadoCuota9){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota9 %>
          </td>
          <%}%>

            <%if(cliente.Cuota9==cliente.PredeterminadoCuota9){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota9%>
              </td>
              <%}%>
<%}%>

<%if(cliente.Cuota10==null || cliente.Cuota10=='0000'){%>
  <%if(cliente.PredeterminadoCuota10==null || cliente.PredeterminadoCuota10==0000 || cliente.PredeterminadoCuota10==0){}else{%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota10%>
  </td>
  <%}}else{%>
    <%if(cliente.Cuota10>cliente.PredeterminadoCuota10 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota10 %>
      </td>
      <%}%>
        <%if(cliente.Cuota10<cliente.PredeterminadoCuota10){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota10 %>
          </td>
          <%}%>

            <%if(cliente.Cuota10==cliente.PredeterminadoCuota10){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota10%>
              </td>
              <%}%>
<%}%>

<%if(cliente.Cuota11==null || cliente.Cuota11=='0000'){%>
  <%if(cliente.PredeterminadoCuota11==null || cliente.PredeterminadoCuota11==0000 || cliente.PredeterminadoCuota11==0){}else{%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota11%>
  </td>
  <%}}else{%>
    <%if(cliente.Cuota11>cliente.PredeterminadoCuota11 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota11 %>
      </td>
      <%}%>
        <%if(cliente.Cuota11<cliente.PredeterminadoCuota11){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota11 %>
          </td>
          <%}%>

            <%if(cliente.Cuota11==cliente.PredeterminadoCuota11){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota11%>
              </td>
              <%}%>
<%}%>

<%if(cliente.Cuota12==null || cliente.Cuota12=='0000'){%>
  <%if(cliente.PredeterminadoCuota12==null || cliente.PredeterminadoCuota12==0000 || cliente.PredeterminadoCuota12==0){}else{%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoCuota12%>
  </td>
  <%}}else{%>
    <%if(cliente.Cuota12>cliente.PredeterminadoCuota12 ){%>
      <td class="text-center text-warning">
        <%=cliente.Cuota12 %>
      </td>
      <%}%>
        <%if(cliente.Cuota12<cliente.PredeterminadoCuota12){%>
          <td class="text-center text-danger">
            <%=cliente.Cuota12 %>
          </td>
          <%}%>

            <%if(cliente.Cuota12==cliente.PredeterminadoCuota12){%>
              <td class="text-center text-success ">
                <%=cliente.Cuota12%>
              </td>
              <%}%>
<%}%>

<%if(cliente.DNV==null){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoDNV%>
  </td>
  <%}else{%>
    <%if(cliente.DNV>cliente.PredeterminadoDNV ){%>
      <td class="text-center text-warning">
        <%=cliente.DNV %>
      </td>
      <%}%>
        <%if(cliente.DNV<cliente.PredeterminadoDNV){%>
          <td class="text-center text-danger">
            <%=cliente.DNV %>
          </td>
          <%}%>

            <%if(cliente.DNV==cliente.PredeterminadoDNV){%>
              <td class="text-center text-success ">
                <%=cliente.DNV%>
              </td>
              <%}%>
<%}%>
<%if(cliente.DPV==null){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoDPV%>
  </td>
  <%}else{%>
    <%if(cliente.DPV>cliente.PredeterminadoDPV ){%>
      <td class="text-center text-warning">
        <%=cliente.DPV %>
      </td>
      <%}%>
        <%if(cliente.DPV<cliente.PredeterminadoDPV){%>
          <td class="text-center text-danger">
            <%=cliente.DPV %>
          </td>
          <%}%>

            <%if(cliente.DPV==cliente.PredeterminadoDPV){%>
              <td class="text-center text-success ">
                <%=cliente.DPV%>
              </td>
              <%}%>
<%}%>
<%if(cliente.Hidraulica==null){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoHidraulica%>
  </td>
  <%}else{%>
    <%if(cliente.Hidraulica>cliente.PredeterminadoHidraulica ){%>
      <td class="text-center text-warning">
        <%=cliente.Hidraulica %>
      </td>
      <%}%>
        <%if(cliente.Hidraulica<cliente.PredeterminadoHidraulica){%>
          <td class="text-center text-danger">
            <%=cliente.Hidraulica %>
          </td>
          <%}%>

            <%if(cliente.Hidraulica==cliente.PredeterminadoHidraulica){%>
              <td class="text-center text-success ">
                <%=cliente.Hidraulica%>
              </td>
              <%}%>
<%}%>
<%if(cliente.FFCC==null){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoFFCC%>
  </td>
  <%}else{%>
    <%if(cliente.FFCC>cliente.PredeterminadoFFCC ){%>
      <td class="text-center text-warning">
        <%=cliente.FFCC %>
      </td>
      <%}%>
        <%if(cliente.FFCC<cliente.PredeterminadoFFCC){%>
          <td class="text-center text-danger">
            <%=cliente.FFCC %>
          </td>
          <%}%>

            <%if(cliente.FFCC==cliente.PredeterminadoFFCC){%>
              <td class="text-center text-success ">
                <%=cliente.FFCC%>
              </td>
              <%}%>
<%}%>
<%if(cliente.Privado==null){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoPrivado%>
  </td>
  <%}else{%>
    <%if(cliente.Privado>cliente.PredeterminadoPrivado ){%>
      <td class="text-center text-warning">
        <%=cliente.Privado %>
      </td>
      <%}%>
        <%if(cliente.Privado<cliente.PredeterminadoPrivado){%>
          <td class="text-center text-danger">
            <%=cliente.Privado %>
          </td>
          <%}%>

            <%if(cliente.Privado==cliente.PredeterminadoPrivado){%>
              <td class="text-center text-success ">
                <%=cliente.Privado%>
              </td>
              <%}%>
<%}%>
<%if(cliente.Municipal==null){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoMunicipal%>
  </td>
  <%}else{%>
    <%if(cliente.Municipal>cliente.PredeterminadoMunicipal ){%>
      <td class="text-center text-warning">
        <%=cliente.Municipal %>
      </td>
      <%}%>
        <%if(cliente.Municipal<cliente.PredeterminadoMunicipal){%>
          <td class="text-center text-danger">
            <%=cliente.Municipal %>
          </td>
          <%}%>

            <%if(cliente.Municipal==cliente.PredeterminadoMunicipal){%>
              <td class="text-center text-success ">
                <%=cliente.Municipal%>
              </td>
              <%}%>
<%}%>
<%if(cliente.ServicioDomiciliario==null){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoServicioDomiciliario%>
  </td>
  <%}else{%>
    <%if(cliente.ServicioDomiciliario>cliente.PredeterminadoServicioDomiciliario ){%>
      <td class="text-center text-warning">
        <%=cliente.ServicioDomiciliario %>
      </td>
      <%}%>
        <%if(cliente.ServicioDomiciliario<cliente.PredeterminadoServicioDomiciliario){%>
          <td class="text-center text-danger">
            <%=cliente.ServicioDomiciliario %>
          </td>
          <%}%>

            <%if(cliente.ServicioDomiciliario==cliente.PredeterminadoServicioDomiciliario){%>
              <td class="text-center text-success ">
                <%=cliente.ServicioDomiciliario%>
              </td>
              <%}%>
<%}%>
<%if(cliente.IngresoDocumentacion==null){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoIngresoDocumentacion%>
  </td>
  <%}else{%>
    <%if(cliente.IngresoDocumentacion>cliente.PredeterminadoIngresoDocumentacion ){%>
      <td class="text-center text-warning">
        <%=cliente.IngresoDocumentacion %>
      </td>
      <%}%>
        <%if(cliente.IngresoDocumentacion<cliente.PredeterminadoIngresoDocumentacion){%>
          <td class="text-center text-danger">
            <%=cliente.IngresoDocumentacion %>
          </td>
          <%}%>

            <%if(cliente.IngresoDocumentacion==cliente.PredeterminadoIngresoDocumentacion){%>
              <td class="text-center text-success ">
                <%=cliente.IngresoDocumentacion%>
              </td>
              <%}%>
<%}%>
<%if(cliente.Irrigacion==null){%>
  <td class="text-center text-muted">
    <%=cliente.PredeterminadoIrrigacion%>
  </td>
  <%}else{%>
    <%if(cliente.Irrigacion>cliente.PredeterminadoIrrigacion ){%>
      <td class="text-center text-warning">
        <%=cliente.Irrigacion %>
      </td>
      <%}%>
        <%if(cliente.Irrigacion<cliente.PredeterminadoIrrigacion){%>
          <td class="text-center text-danger">
            <%=cliente.Irrigacion %>
          </td>
          <%}%>

            <%if(cliente.Irrigacion==cliente.PredeterminadoIrrigacion){%>
              <td class="text-center text-success ">
                <%=cliente.Irrigacion%>
              </td>
              <%}%>
<%}%>
</tr>
          <% })%>

        </tbody>

      </table>

    </div>

    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="ModalConfiguracion" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitleId">Configuraciones de la carpeta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="container">
              <div class="row">
                <h3 class="text-center"
                title="Configura el valor predeterminado que se mostrará al momento de cargar un pago.">Configurar
                montos que pagarán los clientes</h3>
              </div>
              <div class="row">
                <div class="col border border-secondary"> <label for="AnticipoFinanciero"> Anticipo Financiero</label>
                  <button class="btn btn-outline-success p-1 bi bi-gear  " id="AnticipoFinanciero" onclick="editarPago(this.id)">
                    
                  </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota1"> Cuota 1</label>
                  <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota1" onclick="editarPago(this.id)">
                    
                  </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota2"> Cuota 2</label>
                  <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota2" onclick="editarPago(this.id)">
                    
                  </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota3"> Cuota 3</label>
               <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota3" onclick="editarPago(this.id)">
                
              </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota4"> Cuota 4</label>
                  <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota4" onclick="editarPago(this.id)">
                    
                  </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota5"> Cuota 5</label>
               <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota5" onclick="editarPago(this.id)">
                
              </button> 
                </div>
              </div>
                <div class="row">
                <div class="col border border-secondary"> <label for="Cuota6"> Cuota 6</label>
               <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota6" onclick="editarPago(this.id)">
                
              </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota7"> Cuota 7</label>
                   
                  <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota7" onclick="editarPago(this.id)">
                    
                  </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota8"> Cuota 8</label>
                  <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota8" onclick="editarPago(this.id)">
                    
                  </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota9"> Cuota 9</label>
                  <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota9" onclick="editarPago(this.id)">
                    
                  </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota10"> Cuota 10</label>
                  <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota10" onclick="editarPago(this.id)">
                    
                  </button> 
                </div>
                <div class="col border border-secondary"> <label for="Cuota11"> Cuota 11</label>
                  <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota11" onclick="editarPago(this.id)">
                    
                  </button> 
                </div>
              </div>                                  
                 <div class="row">
                   <div class="col border border-secondary"> <label for="Cuota12"> Cuota 12</label>
               <button class="btn btn-outline-success p-1 bi bi-gear  " id="Cuota12" onclick="editarPago(this.id)">
                
              </button> 
                  </div>
                   <div class="col border border-secondary"> <label for="DNV"> Permiso DNV </label>
                    <button class="btn btn-outline-success p-1 bi bi-gear  " id="DNV" onclick="editarPago(this.id)">
                      
                    </button> 
                  </div>
                   <div class="col border border-secondary"> <label for="DPV"> Permiso DPV</label>
                    <button class="btn btn-outline-success p-1 bi bi-gear  " id="DPV" onclick="editarPago(this.id)">
                      
                    </button> 
                  </div>
                   <div class="col border border-secondary"> <label for="Hidraulica"> Permiso Hidraulica</label>
                    <button class="btn btn-outline-success p-1 bi bi-gear  " id="Hidraulica" onclick="editarPago(this.id)">
                      
                    </button> 
                  </div>
                   <div class="col border border-secondary"> <label for="FFCC"> Permiso FFCC</label>
                    <button class="btn btn-outline-success p-1 bi bi-gear  " id="FFCC" onclick="editarPago(this.id)">
                      
                    </button> 
                  </div>
                   <div class="col border border-secondary"> <label for="Privado"> Permiso Privado</label>
                    <button class="btn btn-outline-success p-1 bi bi-gear  " id="Privado" onclick="editarPago(this.id)">
                      
                    </button> 
                  </div>
                
                </div>
                <div class="row">
                  <div class="col border border-secondary"> <label for="Municipal"> Permiso Municipal</label>
                    <button class="btn btn-outline-success p-1 bi bi-gear  " id="Municipal" onclick="editarPago(this.id)">
                      
                    </button> 
                  </div>
                   <div class="col border border-secondary"> <label for="ServicioDomiciliario"> Servicio domiciliario </label>
                    <button class="btn btn-outline-success p-1 bi bi-gear  " id="ServicioDomiciliario" onclick="editarPago(this.id)">
                      
                    </button>
                  </div>
                </div>   
            <form action="actualizarConfigObra" method="post">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional: Place to the bottom of scripts -->
    <script>
      const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)

    </script>
</body>
<script>
  function editarPago(id, valor) {
    $('#' + id).empty();
    $('#' + id).removeAttr("onclick")
    $('#' + id).parent().append(
      '<form  action="/Finanzas/actualizarPredeterminadosObraEntera/<%=id_Obra%>/' + id + '/<%=NombreObra%>" method="post">'+
        '<div class="m-1 text-center">'+
        '<input name="valor" type="number" placeholder="Ingrese el monto a editar">' +
      '<button class="btn btn-sm btn-success m-1 " type="submit" >Actualizar</button></form>'+
      '</div>'
    );
  }
  function EnviarFormulario() {
    $('#formActualizarPago').submit();
  }
  $('#TipoCobro').click(function () {
    $('#FormTipoCobro').submit();
  })
  jQuery("#BuscadorCliente").keyup(function () {
    if (jQuery(this).val() != "0") {
      jQuery("#TablaObras tbody>tr").hide();
      jQuery("#TablaObras td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show();
    }
    ("#TablaObras tbody>tr").show();
  }
  )

  jQuery.extend(jQuery.expr[":"],
    {
      "contiene-palabra": function (elem, i, match, array) {
        return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
      }
    });

  function danger() {
    $("#TablaObras").table2excel({
      name: "file.xlsx"
    });

  }
</script>



</html>