<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas:Vista de la obra</title>
</head>

<body>
    <%- include('../../partials/menusuperior.ejs'); %>

        <div class="VistaObra">
            <div class="Encabezado">
                <button class="btn btn-danger m-2" onclick="history.go(-1)">Atrás</button>
                <h1 class="text-center"> Obra <%=Clientes[0].NombreObra%>
                </h1>
            </div>
            <h2>Lista de clientes que contiene la obra</h2>
            <label for="Buscador">Buscar</label>
            <table id="TablaObras" class="table table-bordered table-inverse table-responsive"
                style="display: block; width:100%;">
                <thead class="thead-default">
                    <tr>
                        <th>Cliente</th>
                        <th>Domicilio</th>
                        <th>Anticipo financiero </th>
                        <th>Cuota1 </th>
                        <th>Cuota2 </th>
                        <th>Cuota3 </th>
                        <th>Cuota4 </th>
                        <th>Cuota5 </th>
                        <th>Cuota6 </th>
                        <th>Cuota7 </th>
                        <th>Cuota8 </th>
                        <th>Cuota9 </th>
                        <th>Cuota10 </th>
                        <th>Cuota11 </th>
                        <th>Cuota12 </th>
                        <th>Permiso DNV </th>
                        <th>Permiso DPV </th>
                        <th>Permiso Hidraulica </th>
                        <th>Permiso FFCC </th>
                        <th>Permiso Privado </th>
                        <th>Permiso Municipal </th>
                        <th>Servicio Domiciliario </th>
                        <th>Ingreso documentación por comienzo tramite </th>
                        <th>Permiso Irrigación </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% Clientes.forEach((cliente)=>{ %>
                            <td>
                                <%= cliente.NombreCliente%>

                            </td>
                            <td>
                                <%= cliente.Direccion%>
                            </td>
                          <%if(cliente.AnticipoFinanciero==null){%>
                            <td class="text-center"> </td>
                          <%}else{%>
                            <td class="text-center"><%=cliente.AnticipoFinanciero%></td>
                            <%}%>
                            <%if(cliente.Cuota1==null){%>
                                <td class="text-center"> </td>
                              <%}else{%>
                                <td class="text-center"><%=cliente.Cuota1%></td>
                                <%}%>
                                <%if(cliente.Cuota2==null){%>
                                    <td class="text-center"> </td>
                                  <%}else{%>
                                    <td class="text-center"><%=cliente.Cuota2%></td>
                                    <%}%>
                                    <%if(cliente.Cuota3==null){%>
                                        <td class="text-center"> </td>
                                      <%}else{%>
                                        <td class="text-center"><%=cliente.Cuota3%></td>
                                        <%}%>
                                        <%if(cliente.Cuota4==null){%>
                                            <td class="text-center"> </td>
                                          <%}else{%>
                                            <td class="text-center"><%=cliente.Cuota4%></td>
                                            <%}%>
                                            <%if(cliente.Cuota5==null){%>
                                                <td class="text-center"> </td>
                                              <%}else{%>
                                                <td class="text-center"><%=cliente.Cuota5%></td>
                                                <%}%>
                                                <%if(cliente.Cuota6==null){%>
                                                    <td class="text-center"> </td>
                                                  <%}else{%>
                                                    <td class="text-center"><%=cliente.Cuota6%></td>
                                                    <%}%>
                                                    <%if(cliente.Cuota7==null){%>
                                                        <td class="text-center"> </td>
                                                      <%}else{%>
                                                        <td class="text-center"><%=cliente.Cuota7%></td>
                                                        <%}%>
                                                        <%if(cliente.Cuota8==null){%>
                                                            <td class="text-center"> </td>
                                                          <%}else{%>
                                                            <td class="text-center"><%=cliente.Cuota8%></td>
                                                            <%}%>
                                                            <%if(cliente.Cuota9==null){%>
                                                                <td class="text-center"> </td>
                                                              <%}else{%>
                                                                <td class="text-center"><%=cliente.Cuota9%></td>
                                                                <%}%>
                                                                <%if(cliente.Cuota10==null){%>
                                                                    <td class="text-center"> </td>
                                                                  <%}else{%>
                                                                    <td class="text-center"><%=cliente.Cuota10%></td>
                                                                    <%}%>
                                                                    <%if(cliente.Cuota11==null){%>
                                                                        <td class="text-center"> </td>
                                                                      <%}else{%>
                                                                        <td class="text-center"><%=cliente.Cuota11%></td>
                                                                        <%}%>
                                                                        <%if(cliente.Cuota12==null){%>
                                                                            <td class="text-center"> </td>
                                                                          <%}else{%>
                                                                            <td class="text-center"><%=cliente.Cuota12%></td>
                                                                            <%}%>
                                                                              <%if(cliente.DNV==null){%>
                                                                    <td class="text-center"> </td>
                                                                  <%}else{%>
                                                                    <td class="text-center"><%=cliente.DNV%></td>
                                                                    <%}%>
                                                                    <%if(cliente.DPV==null){%>
                                                                        <td class="text-center"> </td>
                                                                      <%}else{%>
                                                                        <td class="text-center"><%=cliente.DPV%></td>
                                                                        <%}%>
                                                                        <%if(cliente.Hidraulica==null){%>
                                                                            <td class="text-center"> </td>
                                                                          <%}else{%>
                                                                            <td class="text-center"><%=cliente.Hidraulica%></td>
                                                                            <%}%>
                                                                            <%if(cliente.FFCC==null){%>
                                                                                <td class="text-center"> </td>
                                                                              <%}else{%>
                                                                                <td class="text-center"><%=cliente.FFCC%></td>
                                                                                <%}%>
                                                                                <%if(cliente.Municipal==null){%>
                                                                                    <td class="text-center"> </td>
                                                                                  <%}else{%>
                                                                                    <td class="text-center"><%=cliente.Municipal%></td>
                                                                                    <%}%>
                                                                                    <%if(cliente.ServicioDomiciliario==null){%>
                                                                                        <td class="text-center"> </td>
                                                                                      <%}else{%>
                                                                                        <td class="text-center"><%=cliente.ServicioDomiciliario%></td>
                                                                                        <%}%>
                                                                                        <%if(cliente.IngresoDocumentacion==null){%>
                                                                                            <td class="text-center"> </td>
                                                                                          <%}else{%>
                                                                                            <td class="text-center"><%=cliente.IngresoDocumentacion%></td>
                                                                                            <%}%>
                                                                                            <%if(cliente.Irrigacion==null){%>
                                                                                                <td class="text-center"> </td>
                                                                                              <%}else{%>
                                                                                                <td class="text-center"><%=cliente.Irrigacion%></td>
                                                                                                <%}%>
                                                                                                                                                                                                                                                                                                                                                                                          
                            
                           
                              
                    </tr>
                    <% })%>



                </tbody>
            </table>
        </div>
</body>
<script>
    $('#TipoCobro').click(function () {
        $('#FormTipoCobro').submit();
    })
</script>

</html>