<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Seguros</title>
</head>

<body>
    <%- include('../menusuperior.ejs'); %>
         
            
                <h2 class="text-center">Actualizar póliza de Albacaución</h2>
         
        <div class="form-group">
            <div id="ActualizarPoliza" class="container border border- danger md-center " style="display:block ;">
                <form id="formularioBorrarBoton" action="/DarBajaPolizaAlbacaucion/<%=obras[0].ID_poliza%>" method="post">
                    <button type="button" class="btn btn-outline-danger" onclick="mostrarAlerta()">
                        <i class="bi bi-file-earmark-x" title="Eliminar póliza"></i>
                    </button>
                </form>     
                <form class="" action="/ActualizarPolizaAlbacaucion/<%=obras[0].ID_poliza%>" method="post">
                <div class="row justify-content-md-center ">
                    <div class="col m-1">
                        <div class="row">
<input type="hidden" name="Aseguradora" value="Albacaucion">
                            <!-- <label class="fw-bold" for="Aseguradora">Aseguradora</label>
                            <select name="Aseguradora" id="Aseguradora">Aseguradora
                                <option selected class="m-1" value="<%=obras[0].Aseguradora%>">
                                    <%=obras[0].Aseguradora%>
                                </option>
                            </select> -->

                            <input hidden type="text" name="ID" id="ID" value="<%=obras[0].ID_poliza%>">
                        </div>
                        <div class="row">
                            <label class="fw-bold" for="Obra">Obra</label>
                            <select name="Obra" id="">
                                <%listadoObras.forEach((listadoObra)=>{%>
                                    <%if(listadoObra.Nombre==obras[0].Obra){%>
                                        <option value="<%=listadoObra.Nombre%>" selected><%=listadoObra.Nombre%></option>    
                                        <%}else{%>
                                            <option value="<%=listadoObra.Nombre%>"><%=listadoObra.Nombre%></option>        
                                            <%}%>
                                    <%})%>
                            </select>
                        </div>
                        <div class="row">


                            <label class="fw-bold" for="Asegurado">Asegurado</label>
                            <input class="m-1" value="<%=obras[0].NombreAsegurado%>"
                                placeholder="<%=obras[0].NombreAsegurado%>" aria-label="<%=obras[0].NombreAsegurado%>"
                                required type="text" name="Asegurado" id="Asegurado">
                        </div>
                        <div class="row">


                            <label class="fw-bold" for="NPoliza">Número de póliza</label>
                            <input value="<%=obras[0].NumeroPoliza%>" class="m-1" required type="number" name="NPoliza"
                                id="NPoliza">
                        </div>
                        <div class="row">
                            <label class="fw-bold" for="FechaEmisionPoliza">Fecha de emisión
                                </label>
                            <input  type="date" value="<%=obras[0].FechaEmisionPoliza%>" class=" m-1"
                                id="FechaEmisionPoliza" name="FechaEmisionPoliza"
                                placeholder="Ingrese la fecha de emision "
                                aria-label="<%=obras[0].FechaEmisionPoliza%>">                               
                                  <small id="FechaEmisionPolizaSmall" class="form-text text-muted">Fecha emisión actual:<%=moment(obras[0].FechaEmisionPoliza).format('DD/MM/YYYY')%></small>
                        </div>
                        <div class="row ">
                            <label class="fw-bold" for="DescripcionRiesgo">Tipo de riesgo</label>
                            <select name="DescripcionRiesgo" id="DescripcionRiesgo">Seleccione el tipo de poliza
                                <option selected value="<%=obras[0].Riesgo%>">
                                    <%=obras[0].Riesgo%>
                                </option>
                                <option value="Ejecucion de Contrato"> Ejecución de contrato</option>
                                <option value="Fondo de reparo"> Fondo de reparo</option>
                                <option value="Garantia de anticipo"> Garantía de anticipo</option>
                                <option value="Garantia de acopio"> Garantía de acopio</option>
                                <option value="Mantenimiento de oferta"> Mantenimiento de oferta</option>
                            </select>
                        </div>
                    </div>
                    <div class="col m-1">
                       
                        <div class="row">




                            <label class="fw-bold" for="Valor">Monto</label>
                            <input required type="number" class="m-1" id="Valor" name="Valor"
                                value="<%=obras[0].Valor%>" placeholder="Ingrese el valor de la póliza "
                                aria-label="<%=obras[0].Valor%>">
                        </div>
                        <div class="row">
                            <label class="fw-bold" for="VigenciaPoliza">Vigencia</label>
                            <select name="VigenciaPoliza" id="VigenciaPoliza">Seleccione la vigencia de la poliza
                                <option selected value="<%=obras[0].VigenciaPoliza%>">
                                    <%=obras[0].VigenciaPoliza%>
                                </option>
                                <option value="Trimestral">Trimestral</option>
                                <option value="Semestral">Semestral</option>
                                <option value="Anual">Anual</option>
                            </select>
                        </div>
                        <div class="row">
                            <label class="fw-bold" for="MontoAsegurado">Valor Asegurado</label>
                            <input  required type="number" class="m-1" id="MontoAsegurado" name="MontoAsegurado"
                                value="<%=obras[0].MontoAsegurado%>"
                                placeholder="Ingrese el Monto Asegurado de la póliza "
                                aria-label="<%=obras[0].MontoAsegurado%>">
                        </div>
                        <div class="row">
                            <label class="fw-bold" for="Endoso">N° de endoso</label>
                            <input  type="number" class="m-1" id="Endoso" name="Endoso"
                                value="<%=obras[0].Endoso%>"
                                placeholder="<%=obras[0].Endoso%>"
                                aria-label="<%=obras[0].Endoso%>">
                        </div>
                        <div class="row">
                            <label class="fw-bold mt-1" for="ProximaRefacturacion">Refacturación</label>
                           <input type="date" name="ProximaRefacturacion" id="ProximaRefacturacion" value="">
                           <small id="ProximaRefacturacionSmall" class="form-text text-muted">Proxima refacturación: <%=moment(obras[0].ProximaRefacturacion).format('DD/MM/YYYY')%></small>

                        </div>  

                    </div>
                    <div class="col m-1">
                     
                        
                        <div class="row">
                            <label class="fw-bold" for="Estado">Estado</label>
                            <select name="Estado" id="Estado">Seleccione el estado
                                <%if(obras[0].Estado=="Vigente"){%>
                                    <option value="Vigente" selected>Vigente</option>
                                    <option value="Dada de baja">Dada de baja</option>

                                    <%} if(obras[0].Estado=="Dada de baja"){%>
                                        <option value="Vigente" >Vigente</option>
                                        <option value="Dada de baja" selected>Dada de baja</option>
    
                                            <%=obras[0].Estado%>
                                        </option>
                                        <%}%>
                                        
                                
                            </select>
                        </div>
                        <div class="row  mt-2">
                            <label class="fw-bold " for="Descripcion">Endoso pagado</label>
                            <select class="" name="EndosoPagado" id="">
                                <option value="<%=obras[0].EndosoPagado%>" selected hidden> <%=obras[0].EndosoPagado%></option>
                                
                                <option value="S">Si</option>
                                <option value="N">No</option>

                            </select>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label for="" class="form-label fw-bold">Doc. para aseguradora</label>
                                <select class="form-select form-select-sm" name="DocumentacionAPresentar" id="SelectDocumentacionAPresentar">
                                    <option selected>Certificado</option>
                                    <option value="">Recepción Provisoria</option>
                                    <option value="">Recepción Definitiva</option>
                                </select>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col m-1">
                        <div class="row mt-2">
                            <label class="fw-bold" for="Descripcion">Descripción</label>
                            <textarea class="form-control" type="textarea" name="Descripcion" id="Descripcion" rows="5" placeholder="<%=obras[0].Descripcion%>"> <%=obras[0].Descripcion%></textarea> 
                        </div>
                    </div>
                </div>
                    <button class="btn btn-success" type="submit">Actualizar póliza</button>
            </div>
        </div>
        </div>
    </form>

</body>
<script>
    function mostrarAlerta() {
        if (window.confirm("ATENCIÓN. Esta por borrar una póliza del sistema.¿Desea continuar con el proceso?")) {
            window.alert("La poliza ha sido borrada");
            document.getElementById('formularioBorrarBoton').submit();
        }
        else {
            window.alert("Operación cancelada.");
        }
    }
    $(document).ready(function(){
        $('#ProximaRefacturacion').val('<%=obras[0].ProximaRefacturacion%>');
        $('#Descripcion').html('<%=obras[0].Descripcion%>');
        $('#FechaEmisionPoliza').val('<%=obras[0].FechaEmisionPoliza%>');
    })
   
</script>

</html>