<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición cliente obras</title>
</head>

<body>
    <%- include('../../../Finanzas/partials/menusuperior.ejs'); %>


        <div class="container-fluid">
            <h1 class="text-center">Editar cliente de obras</h1>
        </div>
        <form action="/Finanzas/Cobrodeobras/EditarCliente/<%=results[0].ID_cliente%>" method="post">
            <div class="form-group">
                <div class="container border border-secondary">
                    <div class="row p-3">
                        <div class="col">
                            <label for="Nombre">Nombre</label>
                            <input value="<%=results[0].NombreCliente%>" type="text" class="form-control" id="Nombre"
                                name="Nombre" placeholder="Ingrese el nombre ">
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="DNI">DNI</label>
                                <input value="<%=results[0].DNICliente%>" required type="number" class="form-control"
                                    id="DNI" name="DNI" placeholder="DNI">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="Teléfono">Teléfono</label>
                                <input value="<%=results[0].Telefono%>"  type="tel" class="form-control"
                                    id="Teléfono" name="Teléfono" placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="Correo">Correo</label>
                                <input value="<%=results[0].Correo%>"  type="email" class="form-control"
                                    id="Correo" name="Correo" placeholder="Correo">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="Direccion">Dirección</label>
                                <input value="<%=results[0].Direccion%>" required type="text" class="form-control"
                                    id="Direccion" name="Direccion" placeholder="Domicilio">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="Facturar">¿Es un cliente al cúal se debe de facturar?</label>
                                <Select>
                                    <option value="N" selected>No</option>
                                    <option value="S">Sí</option>

                                </Select>
                            </div>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col">Seleccione la obra a la cúal pertenece
                            <select name="Obra" id="Obra">
                                <option selected value="<%=results[0].NombreObra%>">
                                    <%=results[0].NombreObra%>
                                </option>
                                <%obras.forEach((obra)=>{ %>
                                    <option value="<%=obra.Nombre%>">
                                        <%=obra.Nombre%>
                                    </option>
                                    <%})%>
                            </select>
                        </div>
                        <div class="col">
                            <div class="col">
                                ¿Cuotas por cobrar?
                                <select name="CuotasQuePaga" id="CuotasQuePaga">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" onclick="history.go(-1);">Cancelar</button>
                            <button class="btn btn-success" id="btnGuardarCliente" type="submit">Guardar cliente</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive container mt-3 border border-danger">
            <table class="table table table-bordered">
                <thead>
                    <tr>
                        <h3 class="text-center" title="Configura el valor predeterminado que se mostrará al momento de cargar un pago.">Montos que debe pagar el cliente</h3>
                    </tr>
                    <tr>
                       
                            <th scope="col" id="AnticipoFinanciero" onclick="editarPago(this.id,'0')">Anticipo Financiero</th>
                        <th scope="col" id="Cuota1" onclick="editarPago(this.id,'0')">Cuota 1</th>
                        <th scope="col" id="Cuota2" onclick="editarPago(this.id,'0')">Cuota 2</th>
                        <th scope="col" id="Cuota3" onclick="editarPago(this.id,'0')">Cuota 3</th>
                        <th scope="col" id="Cuota4" onclick="editarPago(this.id,'0')">Cuota 4</th>
                        <th scope="col" id="Cuota5" onclick="editarPago(this.id,'0')">Cuota 5</th>
                        <th scope="col" id="Cuota6" onclick="editarPago(this.id,'0')">Cuota 6</th>
                        <%if(pagosPredeterminados.CantidadCuotas>6){ %>
                        <th scope="col" id="Cuota7" onclick="editarPago(this.id,'0')">Cuota 7</th>
                        <th scope="col" id="Cuota8" onclick="editarPago(this.id,'0')">Cuota 8</th>
                        <th scope="col" id="Cuota9" onclick="editarPago(this.id,'0')">Cuota 9</th>
                        <th scope="col" id="Cuota10" onclick="editarPago(this.id,'0')">Cuota 10</th>
                        <th scope="col" id="Cuota11" onclick="editarPago(this.id,'0')">Cuota 11</th>
                        <th scope="col" id="Cuota12" onclick="editarPago(this.id,'0')">Cuota 12</th>
                        
                            <%}%>
                       
                        <th scope="col">Permiso DNV </th>
                        <th scope="col">Permiso DPV</th>
                        <th scope="col">Permiso Hidraulica</th>
                        <th scope="col">Permiso FFCC</th>
                        <th scope="col">Permiso Privado</th>
                        <th scope="col">Permiso Municipal</th>
                        <th scope="col">Servicio domiciliario </th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                            
                        <%pagosPredeterminados.forEach((pago)=>{%>
                           <%= pago%>
                            <td> <button class="btn btn-lg " id="AnticipoFinanciero" onclick="editarPago(this.id,'<%= pago.AnticipoFinanciero %>')">
                                    <%= pago.AnticipoFinanciero%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota1" onclick="editarPago(this.id,'<%= pago.Cuota1%>')">
                                    <%= pago.Cuota1%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota2" onclick="editarPago(this.id,'<%= pago.Cuota2%>')">
                                    <%= pago.Cuota2%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota3" onclick="editarPago(this.id,'<%= pago.Cuota3%>')">
                                    <%= pago.Cuota3%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota4" onclick="editarPago(this.id,'<%= pago.Cuota4%>')">
                                    <%= pago.Cuota4%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota5" onclick="editarPago(this.id,'<%= pago.Cuota5%>')">
                                    <%= pago.Cuota5%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota6" onclick="editarPago(this.id,'<%= pago.Cuota6%>')">
                                    <%= pago.Cuota6%>
                                </button> </td>
                                <%if(pagosPredeterminados.CantidadCuotas>6){ %>
                            <td> <button class="btn btn-lg " id="Cuota7" onclick="editarPago(this.id,'<%= pago.Cuota7%>')">
                                    <%= pago.Cuota7%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota8" onclick="editarPago(this.id,'<%= pago.Cuota8%>')">
                                    <%= pago.Cuota8%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota9" onclick="editarPago(this.id,'<%= pago.Cuota9%>')">
                                    <%= pago.Cuota9%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota10" onclick="editarPago(this.id,'<%= pago.Cuota10%>')">
                                    <%= pago.Cuota10%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota11" onclick="editarPago(this.id,'<%= pago.Cuota11%>')">
                                    <%= pago.Cuota11%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Cuota12" onclick="editarPago(this.id,'<%= pago.Cuota12%>')">
                                    <%= pago.Cuota12%>
                                </button> </td>
                                <%}%>
                            <td> <button class="btn btn-lg " id="DNV" onclick="editarPago(this.id,'<%= pago.DNV%>')">
                                    <%= pago.DNV%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="DPV" onclick="editarPago(this.id,'<%= pago.DPV%>')">
                                    <%= pago.DPV%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Hidraulica" onclick="editarPago(this.id,'<%= pago.Hidraulica%>')">
                                    <%= pago.Hidraulica%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="FFCC" onclick="editarPago(this.id,'<%= pago.FFCC%>')">
                                    <%= pago.FFCC%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Privado" onclick="editarPago(this.id,'<%= pago.Privado%>')">
                                    <%= pago.Privado%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="Municipal" onclick="editarPago(this.id,'<%= pago.Municipal%>')">
                                    <%= pago.Municipal%>
                                </button> </td>
                            <td> <button class="btn btn-lg " id="ServicioDomiciliario"onclick="editarPago(this.id,'<%= pago.ServicioDomiciliario%>')">
                                <%= pago.ServicioDomiciliario%>
                            </button>
                            </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
        
        <script>
            const myModal = new bootstrap.Modal(document.getElementById('modalEditarPago'), options)
            function editarPago(id, valor) {
                $('#btnGuardarCliente').attr('disabled',true);
                $('#' + id).empty();
                $('#' + id).removeAttr("onclick")
                $('#' + id).append(
                    '<form id="formActualizarPagoPredeterminado" action="ActualizarPagoPredeterminado/<%=results[0].ID_cliente%>/' + id + '" method="post">'+
                '<label for="Monto">Monto:</label><input id="Monto" name="valor" type="number" required>' +
                    '<button class="btn btn-outline-success m-1" type="submit">Actualizar</button>'+
                    '</form>'
                );
            
        }
            function EnviarFormulario() {
                $('#formActualizarPagoPredeterminado').submit();
            }
        </script>

</html>