<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo cliente</title>
</head>
<body>
    <%- include('../../partials/menusuperior.ejs'); %>
    <div class="container">
    <h1 class="text-center">Nuevo cliente</h1>
   
    </div>
    <button class="btn bi bi-arrow-bar-left bg-danger text-light" onclick="history.go(-1);" title="Ir a pagína anterior"></button>
    <form action="guardarCliente" method="post">
        <div class="container-fluid border mt-2">
    <div class="form-group">
        <div class="row mb-4 ">
            <div class="col-2">
                <label for="Nombre">Nombre y Apellido</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre">
            </div>
            
            <div class="col-2">
                <div class="form-group">
                    <label for="DNI">DNI</label>
                    <input required type="number" class="form-control" id="DNI" name="DNI" >
                  </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="Teléfono">Teléfono</label>
                    <input type="tel" class="form-control" id="Teléfono" name="Teléfono" >
                  </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="Correo">Correo</label>
                    <input type="email" class="form-control" id="Correo" name="Correo" >
                  </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="Domicilio">Manzana y lote</label>
                    <input required type="text" class="form-control" id="Domicilio" name="Domicilio" >
                  </div>
            </div>
           
        </div>
        <div class="row mb-4 ">
            <div class="col-4">Obra
                <select name="Obra" id="Obra">
<option value="<%=NombreObra%>" selected> <%=NombreObra%> </option>
                    <%ListadoObras.forEach((ListaObras)=>{ %>
<%if(ListaObras.Nombre==NombreObra){}else{%>
                       <option value="<%=ListaObras.Nombre%>"><%=ListaObras.Nombre%></option> 
                        <%}})%>
                </select>
            </div>
            <div class="col">
                ¿Cuotas por cobrar?
                <select name="CuotasQuePaga" id="CuotasQuePaga">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
    </div>
            <div class="row">
            <div class="mb-3 col-2">
            <label class="form-label " for="Importe">Valor cuota</label>
<input class="form-control" type="number" id="Importe" name="ImporteCuota">
</div>
<div class="mb-3 col-2">
<label class="form-label " for="Anticipo">Valor anticipo financiero</label>
<input class="form-control" type="number" id="Anticipo" name="ImporteAnticipoFinanciero">
</div>
          <div class="mb-3 col-2">
            <label for="" class="form-label">Valor servicio domiciliario</label>
            <input type="number"
              class="form-control" name="ImporteServicioDomiciliario" id="" aria-describedby="helpId" placeholder="">
          </div>
        </div>
       
   
    </div>
    <button class="btn btn-success text-center" type="submit">Guardar cliente</button>

</div>
    </form>
    <form action="/Finanzas/NuevoCliente/cargarLote" method="post" id="CargarclientesporlotePOST"></form>
    <form action="/Finanzas/NuevoCliente/cargarLote" method="get" id="CargarclientesporloteGET"></form>

    </body>
    <script>
function CargarClientesPorlote(){
    window.location.href = "/Finanzas/NuevoCliente/cargarLote";
//   document.getElementById('CargarclientesporloteGET').submit();

  
}
    </script> 
     
</html>