<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo cliente</title>
</head>
<body>
    <%- include('../../partials/menusuperior.ejs'); %>
    <div class="container">
    <h1 class="text-center">Nuevo cliente</h1>
   
    </div>
    <button class="btn bi bi-arrow-bar-left bg-danger text-light" onclick="history.go(-1);" title="Ir a pagína anterior"></button>
    <a href="/Finanzas/NuevoCliente/cargarLote">
        <button class="btn btn-primary" >Cargar clientes por lote</button>
    </a>
    <form action="guardarCliente" method="post">
        <div class="container-fluid border mt-2">
    <div class="form-group">
        
        <div class="row p-3">
            <div class="col">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre"
                  placeholder="Ingrese el nombre ">
            </div>
            <div class="col">
                <label for="Apellido">Apellido</label>
                <input type="text" class="form-control" id="Apellido" name="Apellido"
                  placeholder="Ingrese el apellido ">
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="DNI">DNI</label>
                    <input required type="number" class="form-control" id="DNI" name="DNI" placeholder="DNI">
                  </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Teléfono">Teléfono</label>
                    <input required type="tel" class="form-control" id="Teléfono" name="Teléfono" placeholder="Teléfono">
                  </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Correo">Correo</label>
                    <input required type="email" class="form-control" id="Correo" name="Correo" placeholder="Correo">
                  </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Domicilio">Domicilio</label>
                    <input required type="text" class="form-control" id="Domicilio" name="Domicilio" placeholder="Domicilio">
                  </div>
            </div>
           
        </div>
        <div class="row m-2 ">
            <div class="col">Seleccione la obra a la cúal pertenece
                <select name="Obra" id="Obra">
<option value="<%=NombreObra%>" selected> <%=NombreObra%> </option>
                    <%ListadoObras.forEach((ListaObras)=>{ %>
<%if(ListaObras.Nombre==NombreObra){}else{%>
                       <option value="<%=ListaObras.Nombre%>"><%=ListaObras.Nombre%></option> 
                        <%}})%>
                </select>
            </div>
            
            
            <div class="col">
                ¿Cuotas por cobrar?
                <select name="CuotasQuePaga" id="CuotasQuePaga">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <br>
            <label class="p-2" for="Importe">Monto de cada cuota</label>
<input type="number" id="Importe" name="ImporteCuota">
<br>
<label class="p-2" for="Anticipo">Monto del anticipo financiero</label>
<input type="number" id="Anticipo" name="ImporteAnticipoFinanciero">
            </div>
          

    </div>
    </div>
    <button class="btn btn-success text-center" type="submit">Guardar cliente</button>

</div>
    </form>
    <form action="/Finanzas/NuevoCliente/cargarLote" method="post" id="CargarclientesporlotePOST"></form>
    <form action="/Finanzas/NuevoCliente/cargarLote" method="get" id="CargarclientesporloteGET"></form>

    </body>
    <script>
function CargarClientesPorlote(){
    window.location.href = "/Finanzas/NuevoCliente/cargarLote";
//   document.getElementById('CargarclientesporloteGET').submit();

  
}
    </script> 
     
</html>