<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Boostrap 5-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <title>Editar Cliente</title>
</head>

<body>
  <%- include('./partials/menusuperior.ejs')%>
    <% if(user) { %>
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center">
            <div class="container-fluid">
              <div class="row justify-content-md-center">
                <div class="col-md-auto">
                  <a href="/editarTareas/<%=user.id%>"><button class="btn btn-success"> Volver atras</button></a>

                </div>
                <div class="col-md-auto">
                  <h3> Editar cliente </h3>

                </div>
                <div class="col-md-auto">
                  <form action="delete/<%=user.id%>" method="post">
                    <button type="submit" class="btn btn-danger" onclick="return confirmarDelete()"> Eliminar
                      Cliente</button>

                  </form>
                </div>
              </div>

            </div>

          </div>

          <form action="/update/<%= user.id%>" method="POST">
            <input type="hidden" name="id" id="id" value="<%= user.id%>">
            <div class="form-group">

              <label for="Nombre">Nombre de carpeta</label>
              <input type="text" class="form-control" id="NombreCarpeta" name="NombreCarpeta" value="<%= user.Nombre%>"
                placeholder="<%= user.Nombre%>">
            </div>
            <div class="form-group">
              <label for="Numero de Carpeta">N° de carpeta</label>
              <input type="text" class="form-control" id="NCarpeta" name="NCarpeta" value="<%= user.NCarpeta%>"
                placeholder="<%= user.NCarpeta%>">
            </div>
            <div class="form-group">
              <label for="Comitente">Comitente</label>
              <input type="Comitente" class="form-control" id="Comitente" name="Comitente" value="<%= user.Comitente%>"
                placeholder="%= user.Comitente%">
            </div>
            <div class="form-group">
              <label for="Departamento">Departamento</label>
              <select class="form-control" id="Ubicacion" name="Ubicacion">
                <option hidden value="<%=user.Ubicacion%>" selected>
                  <%=user.Ubicacion%>>
                </option>
                <option value="Ciudad de Mendoza">Ciudad de Mendoza </option>
                <option value="Godoy Cruz">Godoy Cruz</option>
                <option value="Lujan de Cuyo">Luján de Cuyo </option>
                <option value="Las Heras">Las Heras</option>
                <option value="Maipú">Maipú</option>
                <option value="San Martín">San Martín</option>
                <option value="Malargüe">Malargüe</option>
                <option value="San Carlos">San Carlos</option>
                <option value="GralAlvear">Gral Alvear</option>
                <option value="Tunuyan">Tunuyán</option>
                <option value="Tupungato">Tupungato</option>
                <option value="San Rafael">San Rafael</option>
                <option value="Santa Rosa">Santa Rosa</option>
                <option value="Gral Paz">Gral Paz</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Tipos de red">Tipo de red</label>
              <select class="form-control" id="TipoDeRed" name="TipoDeRed">
                <option hidden value="<%=user.TipoDeRed%>" selected>
                  <%=user.TipoDeRed%>
                </option>
                <option value="Pead">Pead</option>
                <option value="Acero">Acero</option>
                <option value="Gasoducto">Gasoducto</option>
                <option value="Red interna">Interna</option>
              </select>
            </div>

        </div>
        <div class="container ">
          <div class="card ">
            <div class="card-body border border-success ">
              <h5 class="text-center ">Jurisdicciones</h5>
              <br>
              <% if (user.Hidraulica!="" ){%>
                <div class="form-check-inline">
                  <input class="form-check-input" type="checkbox" checked id="HIDRAULICA" name="HIDRAULICA">
                  <label class="form-check-label" for="defaultCheck1">
                    Hidraúlica
                  </label>
                </div>

                <%}else{%>
                  <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="pedir" id="HIDRAULICA" name="HIDRAULICA">
                    <label class="form-check-label" for="defaultCheck1">
                      Hidraúlica
                    </label>
                  </div>

                    <%}%>
                  <% if (user.Ferrocarriles!="" ){%>
                    <div class="form-check-inline">
                      <input class="form-check-input" type="checkbox" checked id="FERROCARRIL" name="FERROCARRIL">
                      <label class="form-check-label" for="defaultCheck1">
                        Ferrocarril
                      </label>
                    </div>

                    <%}else{%>
                      <div class="form-check-inline">
                        <input class="form-check-input" type="checkbox" value="pedir" id="FERROCARRIL"
                          name="FERROCARRIL">
                        <label class="form-check-label" for="defaultCheck1">
                          Ferrocarril
                        </label>
                      </div>
                        <%}%>
                      
                      <% if (user.DNV!="" ){%>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="checkbox" checked id="DNV" name="DNV">
                          <label class="form-check-label" for="defaultCheck1">
                            DNV
                          </label>
                        </div>

                          <%}else{%>

                        <div class="form-check-inline">
                          <input class="form-check-input" type="checkbox" value="pedir" id="DNV" name="DNV">
                          <label class="form-check-label" for="defaultCheck1">
                            DNV
                          </label>
                        </div>

                          <%}%>
                        <% if (user.DPV!="" ){%>
                          <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" checked id="DPV" name="DPV">
                            <label class="form-check-label" for="defaultCheck1">
                              Dirección Provincial de vialidad

                            </label>
                          </div>
                          <%}else{%>
                            <div class="form-check-inline">
                              <input class="form-check-input" type="checkbox" value="pedir" id="DPV" name="DPV">
                              <label class="form-check-label" for="defaultCheck1">
                                Dirección Provincial de vialidad
                              </label>
                            </div>

                              <%}%>
                        
                            <% if (user.Irrigacion!="" ){%>
                              <div class="form-check-inline">
                                <input class="form-check-input" type="checkbox" checked id="IRRIGACION"
                                  name="IRRIGACION">
                                <label class="form-check-label" for="defaultCheck1">
                                  Irrigación

                                </label>
                              </div>
                              <%}else{%>
                                <div class="form-check-inline">
                                  <input class="form-check-input" type="checkbox" value="pedir" id="IRRIGACION"
                                    name="IRRIGACION">
                                  <label class="form-check-label" for="defaultCheck1">
                                    Irrigación
                                  </label>
                                </div>

                                  <%}%>
                                <% if (user.PerMunicipal!="" ){%>
                                  <div class="form-check-inline">
                                    <input class="form-check-input" type="checkbox" checked id="PerMunicipal"
                                      name="PerMunicipal">
                                    <label class="form-check-label" for="defaultCheck1">
                                      Permiso Municipal

                                    </label>
                                  </div>
                                  <%}else{%>
                                    <div class="form-check-inline">
                                      <input class="form-check-input" type="checkbox" value="pedir" id="PerMunicipal"
                                        name="PerMunicipal">
                                      <label class="form-check-label" for="defaultCheck1">
                                        Permiso Municipal
                                      </label>
                                    </div>
                                      <%}%>
                                    <% if (user.Privado!="" ){%>
                                      <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" checked id="PRIVADO"
                                          name="PRIVADO">
                                        <label class="form-check-label" for="defaultCheck1">
                                          Privado

                                        </label>
                                      </div>
                                      <%}else{%>
                                        <div class="form-check-inline">
                                          <input class="form-check-input" type="checkbox" value="pedir" id="PRIVADO"
                                            name="PRIVADO">
                                          <label class="form-check-label" for="defaultCheck1">
                                            Privado
                                          </label>
                                        </div>

                                          <%}%>

                                        <% if (user.Otrospermisos!='' ){%>
                                          <div class="form-check-inline">
                                            <input class="form-check-input" type="checkbox" checked id="OTROSPERMISOS"
                                              name="OTROSPERMISOS">
                                            <label class="form-check-label" for="defaultCheck1">
                                              Otros permisos

                                            </label>
                                          </div>
                                          <%}else{%>
                                            <div class="form-check-inline">
                                              <input class="form-check-input" type="checkbox" value="pedir"
                                                id="OTROSPERMISOS" name="OTROSPERMISOS">
                                              <label class="form-check-label" for="defaultCheck1">
                                                Otros permisos
                                              </label>
                                            </div>

                                              <%}%>
            </div>
          </div>
        </div>
                                            <br>
                                            <div class="container-fluid">
                                              <div class="row justify-content-md-center">
                                                <div class="col-md-auto">

                                                  <button type="submit"
                                                    class="btn btn-primary text-center">Actualizar</button>
                                                </div>
                                                <div class="col-md-auto">
                                                  <button onClick="history.go(-1);"
                                                    class="btn btn-secondary text-center"">Cancelar</button>
            <!-- <a href=" /adminecogas" class="btn btn-secondary text-center">Cancelar</a> -->
                                                </div>
                                              </div>

                                              </form>
                                              <% } %>
                                                <script>
                                                  function confirmarDelete() {
                                                    var respuesta = confirm("¿Estas seguro que deseas eliminar el cliente?");
                                                    if (respuesta == true) {
                                                      return true
                                                    }
                                                    else {
                                                      return false
                                                    }
                                                  }
                                                </script>
</body>

</html>