<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas de <%=user.Nombre%>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="editarTareas.css" rel="stylesheet" type="text/css">
</head>

<body>

    <%- include('./partials/menusuperior.ejs')%>
        <% if(user) { %>
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center">
                        <div class="container-fluid">
                            <div class="row justify-content-md-center">
                                <h1 class="text-uppercase">
                                    <%= user.Nombre%>
                                </h1>
                                <br>

                                <div class="col-md-auto">
                                    <a href="/historialcarpeta/<%= user.Nombre%>" class="btn btn-success ">Ver
                                        Historial</a>
                                </div>
                                <div class="col-md-auto">
                                    <a href="/edit/<%= user.id%>" class="btn btn-success ">Mas información</a>
                                </div>
                                <form action="/ActualizarEstadoCarpeta/<%= user.id%>" method="POST">
                                    <input type="hidden" name="id" id="id" value="<%= user.id%>">
                                    <input type="hidden" name="Nombre" id="Nombre" value="<%= user.Nombre%>">

                                    <div class="col-md-auto">
                                        <br>
                                        Estado de la carpeta:
                                        <select class="btn btn-outline-success" id="Estado" name="Estado"
                                            value="<%= user.Estado%>" placeholder="<%= user.Estado%>">
                                            <option hidden value="<%=user.Estado%>" selected>
                                                <%=user.Estado%>
                                            </option>
                                            <option value="Sin presentar">Sin presentar</option>
                                            <option value="1ra parte">1ra parte</option>
                                            <option value="2da parte">2da parte</option>
                                            <option value="Obras">Obras</option>
                                            <option value="Caos">Caos</option>
                                            <option value="Finalizada">Finalizada</option>
                                        </select>
                                        <button type="submit" class="btn btn-success text-center">Actualizar
                                            Estado</button>

                                    </div>
                                </form>
                            </div>
                            <form action="/ActualizarProximasTareas/<%= user.id%>" method="POST">

                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-secondary">
                <div class="card-header text-center">
                    <h3>Tareas de la carpeta</h3>
                </div>
                <div class="card-body">

                    <div class="container ">

                        <input type="hidden" name="id" id="id" value="<%= user.id%>">
                        <input type="hidden" name="Nombre" id="Nombre" value="<%= user.Nombre%>">
                        <div class="form-group">
                            <table>
                                <thead>
                                <tr>
                                    <td class="text-center p-1">
                                        <label for="Tarea Realizada">Tarea Realizada: </label>
                                    </td>
                                    <td class="text-center p-1">
                                        <label for="Proxima Tarea">Proxima Tarea: </label>
                                    </td>
                                    <td class="text-center p-1">
                                        <label for="FechaLimite">Fecha Limite: </label>
                                    </td>
                                    <td class="text-center p-1" colspan="6">
                                        <label for="EstadoEtapa"> Etapa de la tarea:</label>

                                    </td>

                                </tr>
                            </thead>
                                <tr>
                                    <tbody>
                                    <td>
                                        <input class="p-1" type="text" name="TareaRealizada" id="TareaRealizada"
                                            placeholder="Ingrese ultima tarea realizada">
                                    </td>
                                    <td>
                                        <input class="p-1" type="text" name="ProximaTarea" id="ProximaTarea"
                                            placeholder="Ingrese la proxima tarea" </div>
                                    </td>
                                    <td>
                                        <input class="p-1" type="date" required name="Fecha_limite" id="Fecha_limite"
                                            value="<%=user.Fecha_limite%>">
                                    </td>
                                    <td>
                                        <input class="form-check-input" required type="radio" name="EtapaTarea"
                                            id="EtapaTarea" value="Sin Presentar">
                                        <label class="form-check-label" for="EtapaTarea">Sin presentar</label>
                                    </td>
                                    <td>
                                        <input class="form-check-input" type="radio" name="EtapaTarea" id="EtapaTarea"
                                            value="1ra parte">
                                        <label class="form-check-label" for="EtapaTarea">1ra parte</label>
                                    </td>
                                    <td> <input class="form-check-input" type="radio" name="EtapaTarea" id="EtapaTarea"
                                            value="2da parte">
                                        <label class="form-check-label" for="EtapaTarea"> 2da parte</label>
                                    </td>
                                    <td> <input class="form-check-input" type="radio" name="EtapaTarea" id="EtapaTarea"
                                            value="Obras">
                                        <label class="form-check-label" for="EtapaTarea">Obras </label>
                                    </td>
                                    <td> <input class="form-check-input" type="radio" name="EtapaTarea" id="EtapaTarea"
                                            value="Caos">
                                        <label class="form-check-label" for="EtapaTarea">Caos </label>
                                    </td>
                                    <td>

                                        <input class="form-check-input" type="radio" name="EtapaTarea" id="EtapaTarea"
                                            value="Finalizada">
                                        <label class="form-check-label" for="EtapaTarea">Finalizada </label>
                                    </td>
                                    </td>

                                </tbody>

                                </tr>

                               
                                <tr>
                                <label class="text-center border border-secondary p-1" for="Tarea Anterior">Tarea Anterior: <%= user.ProximaTarea%> </label>
                            </tr>
                            <br>
                           

                            </table>
                            
                        </div>

                    </div>
                <br>
                <label for="ResponsableDeTarea"> Responsable de la Tarea:</label>
                <br>
                <div required>
                    <input type="radio" name="ResponsableDeTarea" id="ResponsableDeTarea" required value="Mauricio"> Mauricio
                    <input type="radio" name="ResponsableDeTarea" id="ResponsableDeTarea" value="Gustavo"> Gustavo
                    <input type="radio" name="ResponsableDeTarea" id="ResponsableDeTarea" value="Mario"> Mario
                </div>
                
                <div class="button-group text-center" role="group">
                    <button type="submit" class="btn btn-success text-center">Actualizar Tarea</button>
                    <button onClick="history.go(-1);" class="btn btn-secondary text-center"">Cancelar</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
            <br>
    </div>
            <form action=" /actPrelCarpEcogas/<%=user.id%>" id="actPrelCarpEcogas" method="post">
                        <input type="hidden" name="Nombre" id="Nombre" value="<%= user.Nombre%>">
                        <input type="hidden" name="id" id="id" value="<%= user.id%>">

                        <div class=" container">

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-sm table-hover "
                                    style="width: 100%">
                                    <thead>


                                        <h3 class="text-center">Etapas de la carpeta</h3>
                                        <tr class="table-active">

                                            <%- include('./partials/editartareas/modalpreliminar.ejs')%>
                                                </form>
                                                <form action=" /act1pCarpEcogas/<%=user.id%>" id="act1pCarpEcogas"
                                                    method="post">
                                                    <input type="hidden" name="Nombre" id="Nombre"
                                                        value="<%= user.Nombre%>">
                                                    <input type="hidden" name="id" id="id" value="<%= user.id%>">

                                                    <%- include('./partials/editartareas/modal1p.ejs')%>
                                                </form>
                                                <form action=" /act2pCarpEcogas/<%=user.id%>" id="act2pCarpEcogas"
                                                    method="post">
                                                    <input type="hidden" name="Nombre" id="Nombre"
                                                        value="<%= user.Nombre%>">
                                                    <input type="hidden" name="id" id="id" value="<%= user.id%>">
                                                    <%- include('./partials/editartareas/modal2p-1de4Inicio.ejs')%>
                                                        <%-
                                                            include('./partials/editartareas/modal2p-2de4Permisos.ejs')%>
                                                            <%-
                                                                include('./partials/editartareas/modal2p-3de4Interferencias.ejs')%>

                                                                <%-
                                                                    include('./partials/editartareas/modal2p-4de4Final.ejs')%>
                                                </form>
                                                <form action=" /actObrasCarpEcogas/<%=user.id%>" id="actObrasCarpEcogas"
                                                    method="post">
                                                    <input type="hidden" name="id" id="id" value="<%= user.id%>">
                                                    <input type="hidden" name="Nombre" id="Nombre"
                                                        value="<%= user.Nombre%>">
                                                    <input type="hidden" name="PCaprobado" id="PCaprobado"
                                                        value="<%= user.PCaprobado%>">
                                                    <input type="hidden" name="Avisos" id="Avisos"
                                                        value="<%= user.Avisos%>">

                                                    <!-- Obras -->
                                                    <th>
                                                        <button type="button" class="btn btn-success"
                                                            data-toggle="modal" data-target="#ModalObras">
                                                            Obras
                                                        </button>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="ModalObras" tabindex="-1"
                                                            role="dialog" aria-labelledby="Obras aria-hidden=" true">
                                                            <div class="modal-dialog modal-dialog-centered"
                                                                role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="Obras">Obras
                                                                        </h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="container">
                                                                            <div class="card p-3 border-secondary">
                                                                                <div class="card-header">
                                                                                    Documentación presentada a
                                                                                    inspección</div>
                                                                                <div class="card-title">Actas de
                                                                                    inicio</div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="ActasDeInicio"
                                                                                        name="ActasDeInicio"
                                                                                        value="<%= user.ActasDeInicio%>"
                                                                                        placeholder="<%= user.ActasDeInicio%>">
                                                                                        <option hidden
                                                                                            value="<%=user.ActaDeInicio%>"
                                                                                            selected>
                                                                                            <%=user.ActaDeInicio%>
                                                                                        </option>
                                                                                        <option value="Sin presentar">
                                                                                            Sin presentar
                                                                                        </option>
                                                                                        <option value="Presentado">
                                                                                            Presentado</option>

                                                                                    </select>
                                                                                </div>
                                                                                <div class="card-title">Permisos
                                                                                </div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="Permisos" name="Permisos"
                                                                                        value="<%= user.Permisos%>"
                                                                                        placeholder="<%= user.Permisos%>">
                                                                                        <option
                                                                                            value="<%=user.Permisos%>"
                                                                                            selected>
                                                                                            <%=user.Permisos%>
                                                                                        </option>
                                                                                        <option value="Sin presentar">
                                                                                            Sin presentar
                                                                                        </option>
                                                                                        <option value="Presentados">
                                                                                            Presentados</option>

                                                                                    </select>
                                                                                </div>
                                                                                <div class="card-title">
                                                                                    Interferencias</div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="Interferencias"
                                                                                        name="Interferencias"
                                                                                        value="<%= user.Interferencias%>"
                                                                                        placeholder="<%= user.Interferencias%>">
                                                                                        <option
                                                                                            value="<%=user.Interferencias%>"
                                                                                            selected>
                                                                                            <%=user.Interferencias%>
                                                                                        </option>
                                                                                        <option value="Sin presentar">
                                                                                            Sin presentar
                                                                                        </option>
                                                                                        <option value="Presentado">
                                                                                            Presentado</option>

                                                                                    </select>
                                                                                </div>
                                                                                <div class="card-title">Libro de
                                                                                    ordenes de servicios
                                                                                </div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="LibroOrdenesServicio"
                                                                                        name="LibroOrdenesServicio"
                                                                                        value="<%= user.LibroOrdenesServicio%>"
                                                                                        placeholder="<%= user.LibroOrdenesServicio%>">
                                                                                        <option
                                                                                            value="<%=user.LibroOrdenesServicio%>"
                                                                                            selected>
                                                                                            <%=user.LibroOrdenesServicio%>
                                                                                        </option>
                                                                                        <option value="Sin presentar">
                                                                                            Sin presentar
                                                                                        </option>
                                                                                        <option value="Presentado">
                                                                                            Presentado</option>

                                                                                    </select>
                                                                                </div>

                                                                                <div class="card-title">Libro de
                                                                                    de notas de
                                                                                    pedido
                                                                                </div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="LibroNotasPedido"
                                                                                        name="LibroNotasPedido"
                                                                                        value="<%= user.LibroNotasPedido%>"
                                                                                        placeholder="<%= user.LibroNotasPedido%>">
                                                                                        <option
                                                                                            value="<%=user.LibroNotasPedido%>"
                                                                                            selected>
                                                                                            <%=user.LibroNotasPedido%>
                                                                                        </option>
                                                                                        <option value="Sin presentar">
                                                                                            Sin presentar
                                                                                        </option>
                                                                                        <option value="Presentado">
                                                                                            Presentado</option>

                                                                                    </select>
                                                                                </div>
                                                                                <div class="card-title">PC entregado a
                                                                                    inspección
                                                                                </div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="PCEntregadoInspeccion"
                                                                                        name="PCEntregadoInspeccion"
                                                                                        value="<%= user.PCEntregadoInspeccion%>"
                                                                                        placeholder="<%= user.PCEntregadoInspeccion%>">
                                                                                        <option hidden
                                                                                            value="<%=user.PCEntregadoInspeccion%>"
                                                                                            selected>
                                                                                            <%=user.PCEntregadoInspeccion%>
                                                                                        </option>
                                                                                        <option value="Sin presentar">
                                                                                            Sin presentar
                                                                                        </option>
                                                                                        <option value="Presentado">
                                                                                            Presentado</option>

                                                                                    </select>
                                                                                </div>
                                                                                <div class="card-title">Avisos</div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="AvisosDeObra"
                                                                                        name="AvisosDeObra"
                                                                                        value="<%= user.AvisosDeObra%>"
                                                                                        placeholder="<%= user.AvisosDeObra%>">
                                                                                        <option
                                                                                            value="<%=user.AvisosDeObra%>"
                                                                                            selected>
                                                                                            <%=user.AvisosDeObra%>
                                                                                        </option>
                                                                                        <option value="Sin presentar">
                                                                                            Sin presentar
                                                                                        </option>
                                                                                        <option value="Presentado">
                                                                                            Presentado</option>

                                                                                    </select>
                                                                                </div>
                                                                                <div class="card-title">Cronograma
                                                                                    firmado por comitente
                                                                                </div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="CronogramaFirmadoComitente"
                                                                                        name="CronogramaFirmadoComitente"
                                                                                        value="<%= user.CronogramaFirmadoComitente%>"
                                                                                        placeholder="<%= user.CronogramaFirmadoComitente%>">
                                                                                        <option
                                                                                            value="<%=user.CronogramaFirmadoComitente%>"
                                                                                            selected>
                                                                                            <%=user.CronogramaFirmadoComitente%>
                                                                                        </option>
                                                                                        <option value="Sin presentar">
                                                                                            Sin presentar
                                                                                        </option>
                                                                                        <option value="Presentado">
                                                                                            Presentado</option>

                                                                                    </select>
                                                                                </div>

                                                                            </div>
                                                                            <br>
                                                                            <div class="card p-3 border-secondary">
                                                                                <div class="card-header">
                                                                                    Comunicación de obras</div>
                                                                                <div class="card-title">Orden de
                                                                                    servicio</div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="OrdenServicio"
                                                                                        name="OrdenServicio"
                                                                                        value="<%= user.OrdenServicio%>"
                                                                                        placeholder="<%= user.OrdenServicio%>">
                                                                                        <option
                                                                                            value="<%=user.OrdenServicio%>"
                                                                                            selected>
                                                                                            <%=user.OrdenServicio%>
                                                                                        </option>
                                                                                        <option value="Si">Si
                                                                                        </option>
                                                                                        <option value="No">No
                                                                                        </option>

                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal"
                                                                                onclick="CerrarModal()">
                                                                                Cerrar</button>
                                                                            <button type="submit"
                                                                                class="btn btn-primary"
                                                                                form="actObrasCarpEcogas">Guardar
                                                                                Cambios</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </th>
                                                </form>
                                                <form action=" /actCaosCarpEcogas/<%=user.id%>" id="actCaosCarpEcogas"
                                                    method="post">
                                                    <input type="hidden" name="id" id="id" value="<%= user.id%>">
                                                    <input type="hidden" name="Nombre" id="Nombre"
                                                        value="<%= user.Nombre%>">
                                                    <input type="hidden" name="PCaprobado" id="PCaprobado"
                                                        value="<%= user.PCaprobado%>">
                                                    <input type="hidden" name="Avisos" id="Avisos"
                                                        value="<%= user.Avisos%>">
                                                    <!--Caos-->
                                                    <th>
                                                        <button type="button" class="btn btn-success"
                                                            data-toggle="modal" data-target="#ModalCaos">
                                                            Caos
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="ModalCaos" tabindex="-1"
                                                            role="dialog" aria-labelledby="Caos aria-hidden=" true">
                                                            <div class="modal-dialog modal-dialog-centered"
                                                                role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="Caos">CAOS
                                                                            (Conforme a obras)</h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="container">
                                                                            <div class="card p-3 border-secondary">
                                                                                <div class="card-header">Actas
                                                                                    finales de Ecogas</div>
                                                                                <select class="form-control"
                                                                                    id="ActasFinales"
                                                                                    name="ActasFinales"
                                                                                    value="<%= user.ActasFinales%>"
                                                                                    placeholder="<%= user.ActasFinales%>">
                                                                                    <option hidden
                                                                                        value="<%=user.ActasFinales%>"
                                                                                        selected>
                                                                                        <%=user.ActasFinales%>
                                                                                    </option>
                                                                                    <option value="Sin recibir">
                                                                                        Sin recibir</option>
                                                                                    <option value="Recibidas"> 
                                                                                        Recibidas 
                                                                                    </option>
                                                                                    <option value="Firmadas">Firmadas</option>
                                                                                    <option value="ok">ok</option>
                                                                                </select>
                                                                                <div class="card-header">Planos y
                                                                                    croquis</div>
                                                                                <div class="card-text">
                                                                                    <select class="form-control"
                                                                                        id="PlanosyCroquis"
                                                                                        name="PlanosyCroquis"
                                                                                        value="<%= user.PlanosyCroquis%>"
                                                                                        placeholder="<%= user.PlanosyCroquis%>">
                                                                                        <option hidden
                                                                                            value="<%=user.PlanosyCroquis%>"
                                                                                            selected>
                                                                                            <%=user.PlanosyCroquis%>
                                                                                        </option>
                                                                                        <option value="EnGestion">En
                                                                                            gestion</option>
                                                                                            <option value="Presentado">Presentado
                                                                                                <option value="Aprobado/Impreso">Aprobado/Impreso
                                                                                                    <option value="ok">ok
                                                                                        </option>


                                                                                    </select>
                                                                                </div>

                                                                                </select>
                                                                                <div class="card-title">Conformes de
                                                                                    Permisos</div>
                                                                                <select class="form-control"
                                                                                    id="ConformeDePermisos"
                                                                                    name="ConformeDePermisos"
                                                                                    value="<%= user.ConformeDePermisos%>"
                                                                                    placeholder="<%= user.ConformeDePermisos%>">
                                                                                    <option
                                                                                        value="<%=user.ConformeDePermisos%>"
                                                                                        selected>
                                                                                        <%=user.ConformeDePermisos%>
                                                                                    </option>
                                                                                    <option value="Sin presentar">
                                                                                        Sin presentar</option>
                                                                                    <option value="Solicitado">Solicitado</option>
                                                                                    <option value="Entregado">Entregado</option>
                                                                                    <option value="ok">ok</option>

                                                                                </select>
                                                                                <div class="card-title">Prueba de
                                                                                    hermeticidad</div>
                                                                                <select class="form-control"
                                                                                    id="PruebaHermeticidad"
                                                                                    name="PruebaHermeticidad"
                                                                                    value="<%= user.PruebaHermeticidad%>"
                                                                                    placeholder="<%= user.PruebaHermeticidad%>">
                                                                                    <option
                                                                                        value="<%=user.PruebaHermeticidad%>"
                                                                                        selected>
                                                                                        <%=user.PruebaHermeticidad%>
                                                                                    </option>
                                                                                    <option value="Sin realizar">
                                                                                        Sin realizar</option>
                                                                                    <option value="Realizada">Realizada</option>
                                                                                    <option value="ok">ok</option>

                                                                                </select>
                                                                                <div class="card-title">Informes
                                                                                    finales</div>
                                                                                <select class="form-control"
                                                                                    id="InformesFinales"
                                                                                    name="InformesFinales"
                                                                                    value="<%= user.InformesFinales%>"
                                                                                    placeholder="<%= user.InformesFinales%>">
                                                                                    <option
                                                                                        value="<%=user.InformesFinales%>"
                                                                                        selected>
                                                                                        <%=user.InformesFinales%>
                                                                                    </option>
                                                                                    <option value="EnGestion">En
                                                                                        gestion</option>
                                                                                    <option value="Firmados">Firmados</option>
                                                                                    <option value="ok">ok</option>

                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal"
                                                                                onclick="CerrarModal()">
                                                                                Cerrar</button>
                                                                            <button type="submit"
                                                                                class="btn btn-primary"
                                                                                form="actCaosCarpEcogas">Guardar
                                                                                Cambios</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </th>

                                                </form>

                                                <form action=" /actFinalCarpEcogas/<%=user.id%>" id="actFinalCarpEcogas"
                                                    method="post">
                                                    <input type="hidden" name="Nombre" id="Nombre"
                                                        value="<%= user.Nombre%>">
                                                    <input type="hidden" name="id" id="id" value="<%= user.id%>">


                                                    <!--Finalizada-->
                                                    <th>
                                                        <button type="button" class="btn btn-success"
                                                            data-toggle="modal" data-target="#ModalFinalizacion">
                                                            Finalización
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="ModalFinalizacion" tabindex="-1"
                                                            role="dialog" aria-labelledby="Caos aria-hidden=" true">
                                                            <div class="modal-dialog modal-dialog-centered"
                                                                role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="ModalFinalizacion">
                                                                            Finalización</h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="container">
                                                                            <div class="card p-3 border-secondary">
                                                                                <label
                                                                                    for="PresentacionFinal">Presentacion
                                                                                    Final</label>
                                                                                <select class="form-control"
                                                                                    id="PresentacionFinal"
                                                                                    name="PresentacionFinal"
                                                                                    value="<%= user.PresentacionFinal%>"
                                                                                    placeholder="<%= user.PresentacionFinal%>">
                                                                                    <option hidden
                                                                                        value="<%=user.PresentacionFinal%>"
                                                                                        selected>
                                                                                        <%=user.PresentacionFinal%>
                                                                                    </option>
                                                                                    <option value="Sin presentar">Sin presentar</option>
                                                                                    <option value="ok">ok</option>
                                                                                </select>
                                                                                <label
                                                                                    for="HabilitacionFinal">Habilitación
                                                                                    de
                                                                                    Obra</label>
                                                                                <select class="form-control"
                                                                                    id="HabilitacionFinal"
                                                                                    name="HabilitacionFinal"
                                                                                    value="<%= user.HabilitacionFinal%>"
                                                                                    placeholder="<%= user.HabilitacionFinal%>">
                                                                                    <option hidden
                                                                                        value="<%=user.HabilitacionFinal%>"
                                                                                        selected>
                                                                                        <%=user.HabilitacionFinal%>
                                                                                    </option>
                                                                                    <option value="No">No realizada
                                                                                    </option>
                                                                                    <option value="ok">Ok</option>
                                                                                </select>

                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal"
                                                                            onclick="CerrarModal()">Cerrar</button>
                                                                        <button type="submit" class="btn btn-primary"
                                                                            form="actFinalCarpEcogas">Guardar
                                                                            Cambios</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </th>
                                                </form>
                                                <form action=" /actualizarEtapas/<%=user.id%>" id="actPrelCarpEcogas"
                                                    method="post">

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <!-- Ifs de las etapas de la carpeta, controlan la frase que se muestra al usuario debajo de cada etapa. -->
                                            <th class="table-success">
                                                <!-- Gestion de la primera parte, muestra en "Etapas de la carpeta" de cada carpeta, un resumen de como va cada area de la carpeta -->
                                                <% if(user.Mensura=="ok" && user.TituloDePropiedad=="ok" &&
                                                    (user.DocumentaciónSociedad=="ok" ||
                                                    user.DocumentaciónSociedad=="NC" )&& (user.ActaCargoVigente=="ok" ||
                                                    user.ActaCargoVigente=="NC" ) && user.Cotizacion=="ok" ){%>
                                                    <p> Todo finalizado </p>
                                                    <%}%>
                                                        <%if(user.Mensura=="EnGestion"||
                                                            user.TituloDePropiedad=="EnGestion" ||
                                                            user.DocumentaciónSociedad=="EnGestion" ||
                                                            user.ActaCargoVigente=="EnGestion" ||
                                                            user.Cotizacion=="EnGestion" ){%>
                                                            <p>Se encuentra en gestión </p>
                                                            <%}%>
                                            </th>
                                            <th class="table-success">
                                                <!-- Configuracion de el cuadro de "Primera parte" -->
                                                <%if(user.Comercial=="ok" && user.PCaprobado=="ok" &&
                                                    user.CartaOferta=="ok" ){%>
                                                    Finalizada
                                                    <%} if(user.Comercial=="EnGestion" || user.PCaprobado=="EnGestion"
                                                        || user.CartaOferta=="EnGestion" ){%>
                                                        <p>Se encuentra en gestión </p>
                                                        <%}%>
                                            </th>
                                            <th class="table-success">
                                                <!-- Configuracion cuadro "Segunda Parte" -->
                                                <%if(user.AvisoInicioObras=="ok" && user.CertificadoRT=="ok" &&
                                                    user.Interferencias=="ok" && user.Permisos=="ok" &&
                                                    user.Programadeseguridad=="ok" ){%>
                                                    Finalizada
                                                    <%}%>
                                                        <%if(user.MailAutorizacion=="EnGestion" ||
                                                            user.CertificadoRT=="EnGestion" ||
                                                            user.Interferencias=="EnGestion" ||
                                                            user.Permisos=="EnGestion" ||
                                                            user.Programadeseguridad=="EnGestion" ){%>
                                                            En Gestion
                                                            <%}%>
                                            </th>
                                            <th class="table-success">

                                            </th>
                                            <th class="table-success">
                                                <!-- Configuracion cuadro "Caos" -->
                                                <%if(user.DocInspeccion=="ok"&& user.PlanosyCroquis=="ok" &&
                                                    user.ActasFinales=="ok" && user.InformesFinales=="ok" &&
                                                    user.ConformedePermisos=="ok" &&user.PresentacionFinal=="ok" ){%>
                                                    Finalizada
                                                    <%}%>
                                                        <%if(user.DocInspeccion=="EnGestion"||
                                                            user.PlanosyCroquis=="EnGestion"
                                                            ||user.ActasFinales=="EnGestion" ||
                                                            user.InformesFinales=="EnGestion"
                                                            ||user.ConformedePermisos=="EnGestion"
                                                            ||user.PresentacionFinal=="EnGestion" ){%>
                                                            En Gestion
                                                            <%}%>
                                            </th>
                                            <th class="table-success">
                                                <%if(user.PresentacionFinal=="ok"){%>
                                                    Finalizada
                                                    <%}%>
                                            </th>

                                        </tr>
                                    </tbody>


                                  
                                    </form>
                            </div>

                            <% } %>
                                <script
                                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                                    crossorigin="anonymous"></script>
                                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                    crossorigin="anonymous"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                                    crossorigin="anonymous"></script>
                                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                                    crossorigin="anonymous"></script>
                                <script>
                                    function tablaInterferencias {
                                        var boton = document.getElementById("botonMostrarInterferencias");
                                        var tabla = document.getElementById("tablaInterferencias");
                                    };

                                </script>
                                <script>
                                    function estadoInterferencia(nombrePedida, nombreObtenida, booleanIntPedida, boolRecibida) {
                                        if (booleanIntPedida) {
                                            elemento = document.getElementById(nombrePedida);
                                            elemento.style.display = "block";
                                        }
                                        else {
                                            elemento = document.getElementById(nombrePedida);
                                            elemento.style.display = "none";
                                        }
                                        if (boolRecibida) {
                                            elemento = document.getElementById(nombreObtenida);
                                            elemento.style.display = "block";
                                        }
                                        else {
                                            elemento = document.getElementById(nombreObtenida);
                                            elemento.style.display = "none";
                                        }
                                    }
// function FechaVencimientoPermiso(NombrePermiso,NombreCasilleroMostrar){
//     elemento= document.getElementById(NombrePermiso);


// }
                                </script>
                                <script>
                                    $(document).ready(
                                        function AbrirEstadoCarpeta() {
                                            var user = '<%= user.Estado %>';
                                            // window.alert("aa");
                                            // $('#ModalPreliminar').modal('show');

                                            if ((user) == "Sin presentar") {
                                                $('#ModalPreliminar').modal('show');
                                            };
                                            if ((user) == "1ra parte") {
                                                $('#PrimeraParte').modal('show');
                                            };
                                            if ((user) == "2da parte") {
                                                $('#ModalSegundaParte').modal('show');
                                            };
                                            if ((user) == "Caos") {
                                                $('#ModalCaos').modal('show');
                                            };
                                            if ((user) == "Obras") {
                                                $('#ModalObras').modal('show');
                                            }

                                        });
                                </script>
                                <script>
                                    function CerrarModal() {
                                        $('#ModalPreliminar').modal('hide');
                                        $('#PrimeraParte').modal('hide');
                                        $('#ModalSegundaParte').modal('hide');
                                        $('#ModalCaos').modal('hide');

                                    }
                                </script>

</body>

</html>