<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Boostrap 5-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <title>Editar Cliente</title>
</head>

<body>
  <%- include('./partials/menusuperior.ejs')%>
    <% if(user) { %>
      <div class="card">
        <div class="card-body">
          <div class="card-title  text-center">
            <div class="container-fluid">
              <div class="row justify-content-md-center">
                <div class="col-md-auto">
                  <a href="/editarTareas/<%=user.id%>"><button class="btn btn-success"> Volver atras</button></a>

                </div>
                <div class="col-md-auto">
                  <h3> Editar cliente </h3>

                </div>
                <div class="col-md-auto">
                  <form action="delete/<%=user.id%>" method="post">
                    <button type="submit" class="btn btn-danger" onclick="return confirmarDelete()"> Eliminar
                      Cliente</button>

                  </form>
                </div>
              </div>

            </div>

          </div>

          <form action="/update/<%= user.id%>" method="POST">
            <input type="hidden" name="id" id="id" value="<%= user.id%>">
            <div class="form-group">

              <label for="Nombre">Nombre de carpeta</label>
              <input type="text" class="form-control" id="NombreCarpeta" name="NombreCarpeta" value="<%= user.Nombre%>"
                placeholder="<%= user.Nombre%>">
            </div>
            <div class="form-group">
              <label for="Numero de Carpeta">N° de carpeta</label>
              <input type="text" class="form-control" id="NCarpeta" name="NCarpeta" value="<%= user.NCarpeta%>"
                placeholder="<%= user.NCarpeta%>">
            </div>
            <div class="form-group">
              <label for="Comitente">Comitente</label>
              <input type="Comitente" class="form-control" id="Comitente" name="Comitente" value="<%= user.Comitente%>"
                placeholder="%= user.Comitente%">
            </div>
            <div class="form-group">
              <label for="Departamento">Departamento</label>
              <select class="form-control" id="Ubicacion" name="Ubicacion">
                <option hidden value="<%=user.Ubicacion%>" selected>
                  <%=user.Ubicacion%>>
                </option>
                <option value="Ciudad de Mendoza">Ciudad de Mendoza </option>
                <option value="Godoy Cruz">Godoy Cruz</option>
                <option value="Lujan de Cuyo">Luján de Cuyo </option>
                <option value="Las Heras">Las Heras</option>
                <option value="Maipú">Maipú</option>
                <option value="San Martín">San Martín</option>
                <option value="Malargüe">Malargüe</option>
                <option value="San Carlos">San Carlos</option>
                <option value="GralAlvear">Gral Alvear</option>
                <option value="Tunuyan">Tunuyán</option>
                <option value="Tupungato">Tupungato</option>
                <option value="San Rafael">San Rafael</option>
                <option value="Santa Rosa">Santa Rosa</option>
                <option value="Gral Paz">Gral Paz</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Tipos de red">Tipo de red</label>
              <select class="form-control" id="TipoDeRed" name="TipoDeRed">
                <option hidden value="<%=user.TipoDeRed%>" selected>
                  <%=user.TipoDeRed%>
                </option>
                <option value="Pead">Pead</option>
                <option value="Acero">Acero</option>
                <option value="Gasoducto">Gasoducto</option>
                <option value="Red interna">Interna</option>
              </select>
            </div>

        </div>
        <div class="container">
          <div class="card ">
            <div class="card p-3 border-primary ">
              <div class="card-header bg-primary text-white text-center">
                Jurisdicciones</div>

                <div class="card-body">
                  <div class="card-title text-center">Hidraúlica

                  </div>
                  <div class="card-text text-center">
                    <form-check>
                      <%if (user.Hidraulica=="pedir" ){%>
                        <input checked type="radio" name="HIDRAULICA" id="HIDRAULICA" value="pedir"> pedir
                        <%}else{%>
                          <input type="radio" name="HIDRAULICA" id="HIDRAULICA" value="pedir"> pedir
                          <%}%>

                            <%if (user.Hidraulica=="NC" ){%>
                              <input checked type="radio" name="HIDRAULICA" id="HIDRAULICA" value="NC"> No corresponde
                              <%}else{%>
                                <input type="radio" name="HIDRAULICA" id="HIDRAULICA" value="NC"> No corresponde
                                <%}%>



                    </form-check>
                  </div>
                </div>


                    <div class="card-body">
                      <div class="card-title text-center">Ferrocarril
                      </div>
                      <div class="card-text text-center">
                        <form-check>
                          <%if (user.Ferrocarriles=="pedir" ){%>
                            <input checked type="radio" name="Ferrocarriles" id="Ferrocarriles" value="pedir"> pedir
                            <%}else{%>
                              <input type="radio" name="Ferrocarriles" id="Ferrocarriles" value="pedir"> pedir
                              <%}%>

                                <%if (user.Ferrocarriles=="NC" ){%>
                                  <input checked type="radio" name="FERROCARRIL" id="FERROCARRIL" value="NC"> No
                                  corresponde
                                  <%}else{%>
                                    <input type="radio" name="FERROCARRIL" id="FERROCARRIL" value="NC"> No corresponde
                                    <%}%>

                        </form-check>
                      </div>
                    </div>


                        <div class="card-body">
                          <div class="card-title text-center">
                            Municipal </div>
                          <div class="card-text text-center">
                            <form-check>
                              <%if (user.PerMunicipal=="pedir" ){%>
                                <input checked type="radio" name="PerMunicipal" id="PerMunicipal" value="pedir"> pedir
                                <%}else{%>
                                  <input type="radio" name="PerMunicipal" id="PerMunicipal" value="pedir"> pedir
                                  <%}%>

                                    <%if (user.PerMunicipal=="NC" ){%>
                                      <input checked type="radio" name="PerMunicipal" id="PerMunicipal" value="NC"> No
                                      corresponde
                                      <%}else{%>
                                        <input type="radio" name="PerMunicipal" id="PerMunicipal" value="NC"> No
                                        corresponde
                                        <%}%>



                            </form-check>
                          </div>

                              <div class="card-body">
                                <div class="card-title text-center">DNV</div>
                                <div class="card-text text-center">
                                  <form-check>
                                    <%if (user.DNV=="pedir" ){%>
                                      <input checked type="radio" name="DNV" id="DNV" value="pedir"> pedir
                                      <%}else{%>
                                        <input type="radio" name="DNV" id="DNV" value="pedir"> pedir
                                        <%}%>

                                          <%if (user.DNV=="NC" ){%>
                                            <input checked type="radio" name="DNV" id="DNV" value="NC"> No corresponde
                                            <%}else{%>
                                              <input type="radio" name="DNV" id="DNV" value="NC"> No corresponde
                                              <%}%>


                                  </form-check>
                                </div>
                              </div>

                                  <div class="card-body">
                                    <div class="card-title text-center">DPV</div>
                                    <div class="card-text text-center">
                                      <form-check>
                                        <%if (user.DPV=="pedir" ){%>
                                          <input checked type="radio" name="DPV" id="DPV" value="pedir"> pedir
                                          <%}else{%>
                                            <input type="radio" name="DPV" id="DPV" value="pedir"> pedir
                                            <%}%>

                                              <%if (user.DPV=="NC" ){%>
                                                <input checked type="radio" name="DPV" id="DPV" value="NC"> No
                                                corresponde
                                                <%}else{%>
                                                  <input type="radio" name="DPV" id="DPV" value="NC"> No corresponde
                                                  <%}%>

                                      </form-check>
                                    </div>
                                  </div>


                                      <div class="card-body">
                                        <div class="card-title text-center">Irrigación
                                        </div>
                                        <div class="card-text text-center">
                                          <form-check>
                                            <%if (user.Irrigacion=="pedir" ){%>
                                              <input checked type="radio" name="Irrigacion" id="Irrigacion"
                                                value="pedir"> pedir
                                              <%}else{%>
                                                <input type="radio" name="Irrigacion" id="Irrigacion" value="pedir">
                                                pedir
                                                <%}%>

                                                  <%if (user.Irrigacion=="NC" ){%>
                                                    <input checked type="radio" name="Irrigacion" id="Irrigacion"
                                                      value="NC"> No corresponde
                                                    <%}else{%>
                                                      <input type="radio" name="Irrigacion" id="Irrigacion" value="NC">
                                                      No corresponde
                                                      <%}%>

                                          </form-check>
                                        </div>
                                      </div>


                                          <div class="card-body">
                                            <div class="card-title text-center">Privado 
                                            </div>
                                            <div class="card-text text-center">
                                              <form-check>

                                                <%if (user.Privado=="pedir" ){%>
                                                  <input checked type="radio" name="Privado" id="Privado"
                                                    value="pedir">pedir
                                                  <%} else{%>
                                                    <input  type="radio" name="Privado"
                                                    id="Privado" value="pedir"> pedir
                                                    <%}%>
                                                    
                                                      <%if (user.Privado=="NC" ){%>
                                                        <input checked type="radio" name="Privado" id="Privado"
                                                          value="NC"> No corresponde
                                                        <%}else{%>
                                                          <input  type="radio" name="Privado"
                                                          id="Privado" value="NC">No corresponde
                                                          <%}%>
                                              </form-check>
                                            </div>
                                          </div>


                                              <div class="card-body">
                                                <div class="card-title text-center">Otros permisos
                                                </div>
                                                <div class="card-text text-center">
                                                  <form-check>

                                                    <%if (user.Otrospermisos=="pedir" ){%>
                                                      <input checked type="radio" name="Otrospermisos"
                                                        id="Otrospermisos" value="pedir"> pedir
                                                      <%}else{%>
                                                        <input  type="radio" name="Otrospermisos"
                                                        id="Otrospermisos" value="pedir"> pedir
                                                    <%if (user.Otrospermisos=="NC" ){%>

                                                        <input checked type="radio" name="Otrospermisos" id="Otrospermisos"
                                                          value="NC"> No corresponde
                                                          <%}else{%>


                                                            <input  type="radio" name="Otrospermisos" id="Otrospermisos"
                                                            value="NC"> No corresponde
                                                            <%}%>

                                                  </form-check>
                                                </div>
                                              </div>

                                                <%}%>


                        </div>

            </div>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="col-md-auto">

              <button type="submit" class="btn btn-primary text-center">Actualizar</button>
            </div>
            <div class="col-md-auto">
              <button onClick="history.go(-1);" class="btn btn-secondary text-center"">Cancelar</button>
            <!-- <a href=" /adminecogas" class="btn btn-secondary text-center">Cancelar</a> -->
            </div>
          </div>

          </form>
          <% } %>
            <script>
              function confirmarDelete() {
                var respuesta = confirm("¿Estas seguro que deseas eliminar el cliente?");
                if (respuesta == true) {
                  return true
                }
                else {
                  return false
                }
              }
            </script>
</body>

</html>