<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joval S.A.</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="../css/estadogeneral.css">
  <!-- dataTable js -->
  <title>Estado General</title>
</head>

<body>
  <%- include('./partials/menusuperior.ejs')%>
    <h1 class="text-center">Estado General</h1>
    <div class="container-fluid ">
      <label for="buscador">Buscar:</label> <input type="text" id="buscador" value="" />  
      <div class="btn-group p-3 btn-group-sm " role="group" aria-label="Basic example">
        <button id="Preliminar" type="button" class="btn btn-primary" onclick="FiltrarTablaEstadoGeneral('Preliminar')">Prel</button>
        <button id="1P" type="button" class="btn btn-primary"onclick="FiltrarTablaEstadoGeneral('1P')">1ra Parte</button>
        <button id="2P" type="button" class="btn btn-primary"onclick="FiltrarTablaEstadoGeneral('2P')">2da Parte</button>
        <button id="Obras" type="button" class="btn btn-primary" onclick="FiltrarTablaEstadoGeneral('Obras')">Obras</button>
        <button id="Caos" type="button" class="btn btn-primary" onclick="FiltrarTablaEstadoGeneral('Caos')">Caos</button>
        <button id="FinObra" type="button" class="btn btn-primary"onclick="FiltrarTablaEstadoGeneral('FinObra')">Fin de obra</button>
        <button id="LimpiarFiltros" type="button" class="btn btn-secondary" onclick="FiltrarTablaEstadoGeneral('LimpiarFiltros')">Limpiar Filtros</button>
        
      </div>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button id="btnVerFinalizadas" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalObrasFinalizadas">Finalizadas</button>
      </div>
      <table id="EstadoGeneral" class="table table-striped table-bordered border-secondary text-center table-sm compact table-condensed">
        <thead class="p-0">
       
          <tr class="m-0 p-0">
            <th id="DatosCarpeta" class="text-center m-0 text-light bg-dark p-0" value="0" colspan="3">
              <button class="btn text-light">Datos de carpeta</button>

            </th>
            <th  class="EncabezadoPreliminar SeccionTabla text-center m-0 text-light bg-dark p-0" value="1" colspan="3">
              <button id="Preliminar" class="btn text-light">Preliminar</button>
            </th>
            <th  class="Encabezado1P SeccionTabla text-center m-0 text-light bg-dark p-0" value="2" colspan="4">
              <button id="1P" class="btn text-light">1ra parte</button>
            </th>
            <th  class="Encabezado2P SeccionTabla text-center m-0 text-light bg-dark p-0" value="3" colspan="11">
              <button id="2P" class="btn text-light">2da parte</button>
            </th>
            <th  class="EncabezadoObras SeccionTabla text-center m-0 text-light bg-dark p-0" value="4" colspan="2">
              <button id="Obras" class="btn text-light">Obras</button>
            </th>
            <th  class="EncabezadoCaos SeccionTabla text-center m-0 text-light bg-dark p-0" value="5" colspan="5">
              <button id="Caos" class="btn text-light">Caos</button>
            </th>
            <th  class="EncabezadoFin SeccionTabla text-center m-0 text-light bg-dark p-0" value="6" colspan="2">
              <button id="FinObra" class="btn text-light">Fin de obra</button>
            </th>
          </tr>
          <tr id="Segundotr" class="m-0 p-0">
            <th id="DatosCarpeta" class="text-center p-0">
              <button id="BTNCodigo" class="btn">C贸digo </button>
            </th>
            <th id="DatosCarpeta" class="text-center p-0 ">
              <button class="btn">Nombre </button>
            </th>
            <th id="DatosCarpeta" class="text-center p-0">
              <button class="btn">Estado </button>
            </th>
            <th  class="EncabezadoPreliminar text-center p-0  MenuSuperior ">
              <button class="btn"> Propuesta de traza </button>
            </th>
            <th  class="EncabezadoPreliminar text-center p-0  MenuSuperior ">
              <button class="btn"> Doc. Terreno </button>
            </th>
            <th  class="EncabezadoPreliminar text-center p-0  MenuSuperior ">
              <button class="btn"> Doc. Sociedad </button>
            </th>
            <th  class="EncabezadoPreliminar text-center p-0  MenuSuperior ">
              <button class="btn"> Doc. contractual </button>
            </th>
            <th  class="Encabezado1P text-center p-0  MenuSuperior ">
              <button class="btn"> Com. </button>
            </th>
            <th  class="Encabezado1P text-center p-0  MenuSuperior ">
              <button class="btn"> Tec. </button>
            </th>
            <th  class="Encabezado1P text-center p-0  MenuSuperior">
              <button class="btn"> Per. esp. </button>
            </th>
            <th  class="Encabezado1P text-center p-0  MenuSuperior">
              <button class="btn"> Ambiente </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Mail Ecogas </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Doc. obra </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Seg. </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Int. </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Perm. </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Plan trabajos </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Matr. </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Amb. </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Nota normas vigentes </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> DDJJ NAG 153 </button>
            </th>
            <th  class="Encabezado2P text-center p-0  MenuSuperior">
              <button class="btn"> Avisos </button>
            </th>
            <th  class="EncabezadoObras text-center p-0  MenuSuperior">
              <button class="btn"> Doc. Insp </button>
            </th>
            <th  class="EncabezadoObras text-center p-0  MenuSuperior">
              <button class="btn"> Com. obras </button>
            </th>
            <th  class="EncabezadoCaos text-center p-0  MenuSuperior">
              <button class="btn"> Actas finales </button>
            </th>
            <th  class="EncabezadoCaos text-center p-0  MenuSuperior">
              <button class="btn"> Plano y croquis </button>
            </th>
            <th  class="EncabezadoCaos text-center p-0  MenuSuperior">
              <button class="btn"> Conformes </button>
            </th>
            <th  class="EncabezadoCaos text-center p-0  MenuSuperior">
              <button class="btn"> Prueba hermeticidad </button>
            </th>
            <th  class="EncabezadoCaos text-center p-0  MenuSuperior">
              <button class="btn"> Info. finales </button>
            </th>
            <th  class="EncabezadoFin text-center p-0  MenuSuperior">
              <button class="btn"> Presentaci贸n final </button>
            </th>
            <th  class="EncabezadoFin text-center p-0  MenuSuperior">
              <button class="btn"> Habilitaci贸n de obra </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <% if(results){%>
            <% results.forEach((clientes)=>{ %>
              <%if(clientes.Estado!="Finalizada"){%>
                <tr>
                  <td class="text-center" id="Codigos">
                    <%=clientes.CodigoVigentes%>
                  </td>
                  <td class="text-center Nombre static">
                    <a href="/editarTareas/<%=clientes.id%>" class="">
                      <%=clientes.Nombre%>
                    </a>
                  </td>
                  <td>
                    <a href="/historialcarpeta/<%=clientes.Nombre%>">
                      <%=clientes.Estado%>
                    </a>

                    <button type="button" id="Popover" class="btnPopover btn" data-bs-toggle="popover"
                      title="Datos de la carpeta"
                      data-bs-content=" Inspector: <%=clientes.InspectorAsignado%>.
                      Fecha de inicio: <%=moment(clientes.FechaInicioTrabajos).format('DD-MM-YYYY')%>.
                       Fecha de fin de obra: <%=moment(clientes.FechaFinDeObra).format('DD-MM-YYYY')%>.">
                      <i class="bi bi-info-circle-fill"></i></button>

                  </td>
                   <!-- Propuesta de traza -->
                  <td class="td p-0 Preliminar">
                    <%=clientes.PropuestaDeTraza%>
                  </td>

                  <!-- Documentacion Terreno -->
                  <td class="td p-0 Preliminar">
                    <%=clientes.DocumentacionTerreno%>
                  </td>

                  <!-- // -->
                  <!-- Documentacion Sociedad -->
                  <td class="td p-0 Preliminar">
                    <%=clientes.DocumentacionSociedad%>
                  </td>
                  <!-- // -->
                  <!-- Documentacion Contractual -->
                  <td class="td p-0 Preliminar">
                    <%=clientes.DocumentacionContractual%>
                  </td>
                  <!-- // -->
                  <!-- Comercial  -->
                  <td class="td p-0 1P">
                    <%=clientes.Comercial%>
                  </td>
                  <!-- // -->
                  <!-- Tecnica  -->
                  <td class="td p-0 1P">
                    <%=clientes.Tecnica%>
                  </td>


                  <!-- //  -->
                  <!-- Permisos Especiales  -->

                  <td class="td p-0 1P">
                    <%=clientes.PermisosEspeciales%>
                  </td>
                  <!-- DocumentacionAmbiental  -->

                  <td class="td p-0 1P">
                    <%=clientes.DocumentacionAmbiental%>
                  </td>
                  <!-- // -->
                  <!-- Mail de autorizaci贸n -->
                  <td class="td p-0 2P">
                    <%=clientes.MailAutorizacion%>
                  </td>

                  <!-- // -->
                  <!-- Documentacion de obra -->
                  <td class="td p-0 2P">
                    <%=clientes.DocumentacionObra%>
                  </td>

                  <!-- // -->
                  <!-- Seguridad -->
                  <td class="td p-0 2P">
                    <%=clientes.Seguridad%>
                  </td>
                  <!-- // -->
                  <!-- Interferencias -->
                  <td class="td p-0 2P">
                    <%=clientes.Interferencias%>
                  </td>

                  <!-- // -->
                  <!-- Permisos -->
                  <td class="td p-0 2P">
                    <%=clientes.Permisos%>
                  </td>
                  <!-- // -->
                  <!-- Plan de trabajo -->
                  <td class="td p-0 2P">
                    <%=clientes.PlanDeTrabajo%>
                  </td>
                  <!-- // -->
                  <!-- Matriculas -->
                  <td class="td p-0 2P">
                    <%=clientes.Matriculas%>
                  </td>
                  <!-- // -->
                  <!-- Ambiente -->
                  <td class="td p-0 2P">
                    <%=clientes.Ambiente%>
                  </td>
                  <!-- // -->
                  <!-- Nota cumplimiento normativas -->
                  <td class="td p-0 2P">
                    <%=clientes.NotaCumplimentoNormativas%>
                  </td>
                  <!-- // -->
                  <!-- DDJJ NAG 153 -->
                  <td class="td p-0 2P">
                    <%=clientes.DDJJNAG153%>
                  </td>
                  <!-- // -->
                  <!-- Avisos -->
                  <td class="td p-0 2P">
                    <%=clientes.Avisos%>
                  </td>
                  <!-- // -->
                  <!-- Documentacion de inspeccion -->
                  <td class="td Obras" >
                    <%=clientes.DocumentacionInspeccion%>
                  </td>
                  <!-- // -->
                  <!-- Comunicacion de obras -->
                  <td class="td Obras" >
                    <%=clientes.ComunicacionObras%>
                  </td>
                  <!-- // -->
                  <!-- Actas finales de ecogas -->
                  <td class="td p-0 CAOS">
                    <%=clientes.ActasFinalesEcogas%>
                  </td>
                  <!-- // -->
                  <!-- Planos y Croquis -->
                  <td class="td p-0 CAOS">
                    <%=clientes.PlanosyCroquis%>
                  </td>
                  <!-- // -->
                  <!-- ConformeEntidades -->
                  <td class="td p-0 CAOS">
                    <%=clientes.ConformeEntidades%>
                  </td>
                  <!-- // -->
                  <!-- PruebaHermeticidad -->
                  <td class="td p-0 CAOS">
                    <%=clientes.PruebaHermeticidad%>
                  </td>
                  <!-- // -->
                  <!-- Informes finales -->
                  <td class="td p-0 CAOS">
                    <%=clientes.InformesFinales%>
                  </td>
                  <!-- // -->
                  <!-- Presentacion final -->
                  <td class="td p-0 FinObra">
                    <%=clientes.PresentacionFinal%>
                  </td>
                  <!-- // -->
                  <!-- HabilitacionObra -->
                  <td class="td p-0 FinObra">
                    <%=clientes.HabilitacionObra%>
                  </td>
                </tr>
                <% }})};%>
                
</tbody>
</table>
</div>
<div class="modal fade" id="modalObrasFinalizadas" tabindex="1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Finalizadas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive-sm">
          <table id="tableFinalizadas" class="table tabler-bordered">
            <thead>
              <tr class="sticky-top bg-info">
                <th class="">Nombre</th>
                <th class="">Codigo finalizada</th>
                <th class=""></th>
              </tr>
            </thead>
            <tbody>
              <% Finalizadas.forEach((carpeta2)=>{ %>
                <tr class="">
                  <td><%=carpeta2.Nombre%></td>
                  <td><%=carpeta2.CodigoFinalizadas%></td>
                  <td> <button class="btn btn-outline-primary btn-sm" onclick="EditarFinalizada('<%=carpeta2.Nombre%>')"><i class="bi bi-pencil-square"></i></button></td>
                </tr>      
                <%})%>
            </tbody>
          </table>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
   
      </div>
    </div>
  </div>
</div>
</body>
<script>
  $(function () {
    $('[data-bs-toggle="popover"]').popover({trigger:'focus'})
   
  })
  jQuery("#buscador").keyup(function () {
    if (jQuery(this).val() != "0") {
      jQuery("#EstadoGeneral tbody>tr").hide();
      jQuery("#EstadoGeneral td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show();
    }
    else {
      jQuery("#EstadoGeneral tbody>tr").show();
    }
  });

  jQuery.extend(jQuery.expr[":"],
    {
      "contiene-palabra": function (elem, i, match, array) {
        return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
      }
    });

  $(document).ready(() => {


    $('#Segundotr').children($('th')).each(function (columna) {
      $(this).click(function () {
        let registros = $('#EstadoGeneral').find('tbody > tr').get();
        registros.sort(function (a, b) {
          let valor1 = $(a).children('td').eq(columna).text().toUpperCase();
          let valor2 = $(b).children('td').eq(columna).text().toUpperCase();
          return valor1 < valor2 ? -1 : valor1 > valor2 ? 1 : 0;
        })
        $.each(registros, function (indice, elemento) {
          // $('tbody').append(elemento);
          $('#EstadoGeneral tbody').append(elemento);

        })
      })
    })
    // El codigo debajo simula un click en el boton de "Codigo", lo que hace que se ordenen los codigos de menos a mayor practicamente al abrir la ventana
    $('#BTNCodigo').trigger("click");
    $('td').each(function () {
      var contenido = $(this).text();
      contenido = contenido.toUpperCase();
      if ( contenido.includes( "OK") ||  contenido.includes( "REALIZADA") ||  contenido.includes( "RECIBIDO")) {
        $(this).addClass('align-middle bg-success');
      }
      if ( contenido.includes( "PEDIR") ||  contenido.includes( "NO RECIBIDO") ||  contenido.includes( "SIN PRESENTAR") ||  contenido.includes( "OBSERVADO")) {
        $(this).addClass('align-middle bg-danger text-white');
      }
      if ( contenido.includes( "ENGESTION") ||  contenido.includes( "SOLICITADO")) {
        $(this).addClass('align-middle bg-warning ');
      }
      if ( contenido.includes( "LEER HISTORIAL DE CARPETA") || contenido.includes( "PRESENTADO") || contenido.includes( "APROBADO/IMPRESO") || contenido.includes( "FIRMADAS")) {
        $(this).addClass('align-middle bg-info ');
      }
    })
    jQuery("#Obras").trigger('click');
  })
  function FiltrarTablaEstadoGeneral(palabraClave){
    jQuery("#EstadoGeneral").show();
    $('.Preliminar').hide();
    $('.1P').hide();
    $('.2P').hide();
    $('.Obras').hide();
    $('.CAOS ').hide();
    $('.FinObra').hide();
    $('.SeccionTabla').hide();
    $('.MenuSuperior').hide();
    $('.td').hide();
    jQuery("#EstadoGeneral tbody>tr").hide();
    if(palabraClave=="Preliminar"){
      $('.Preliminar').show();
   $('.EncabezadoPreliminar').show();
      jQuery("#EstadoGeneral tbody>tr").hide();
   jQuery("#EstadoGeneral td:contiene-palabra('Preliminar')").parent("tr").show();
    }
if(palabraClave=="1P"){
  $('.1P').show();
$('.Encabezado1P').show();
jQuery("#EstadoGeneral td:contiene-palabra('1ra')").parent("tr").show();
}
if(palabraClave=="2P"){
  $('.2P').show();
$('.Encabezado2P').show();
jQuery("#EstadoGeneral td:contiene-palabra('2da')").parent("tr").show();
}
if(palabraClave=="Obras"){
  $('.Obras').show();
$('.EncabezadoObras').show();
jQuery("#EstadoGeneral td:contiene-palabra('Obras')").parent("tr").show();
}
if(palabraClave=="Caos"){
  $('.CAOS').show();
$('.EncabezadoCaos').show();
jQuery("#EstadoGeneral td:contiene-palabra('Caos')").parent("tr").show();
}
if(palabraClave=="FinObra"){
  $('.FinObra').show();
$('.EncabezadoFin').show();
jQuery("#EstadoGeneral td:contiene-palabra('Caos')").parent("tr").show();
}
if(palabraClave=="LimpiarFiltros"){
  jQuery("#EstadoGeneral").show();
  jQuery("#EstadoGeneral tbody>tr").show();
  $('.SeccionTabla').show();
    $('.MenuSuperior').show();
    $('.td').show();

}

  } 

  // jQuery("#Preliminar").click(function () {
  //   //Primero Dibuja todo
  //   jQuery("#EstadoGeneral SeccionTabla").show();
  //   jQuery("#EstadoGeneral #EncabezadoPreliminar").show();
  //   jQuery("#EstadoGeneral #Encabezado1P").show();
  //   jQuery("#EstadoGeneral #Encabezado2P").show();
  //   jQuery("#EstadoGeneral #EncabezadoObras").show();
  //   jQuery("#EstadoGeneral #EncabezadoCaos").show();
  //   jQuery("#EstadoGeneral #EncabezadoFin").show();
  //   jQuery("#EstadoGeneral tbody>tr").show();
   

  //   //Luego borra lo que hagafalta
  //   jQuery("#EstadoGeneral SeccionTabla").hide();
  //   jQuery("#EstadoGeneral #Encabezado1P").hide();
  //   jQuery("#EstadoGeneral #Encabezado2P").hide();
  //   jQuery("#EstadoGeneral #EncabezadoObras").hide();
  //   jQuery("#EstadoGeneral #EncabezadoCaos").hide();
  //   jQuery("#EstadoGeneral #EncabezadoFin").hide();
    

  //   //Busca en "Estado" la palabra clave
  //   let palabra = "Preliminar";
  //   jQuery("#EstadoGeneral tbody>tr").hide();
  //   jQuery("#EstadoGeneral td:contiene-palabra('" + palabra + "')").parent("tr").show();
    
    
  //   $('.1P').hide();
  //   $('.2P').hide();
  //   $('.Obras').hide();
  //   $('.CAOS ').hide();
  //   $('.FinObra').hide();
  //   $('.Preliminar').show();

  // })
 
$('#btnVerFinalizadas').click(function(){
  $('#modalObrasFinalizadas').modal('show');
})
function EditarFinalizada(NombreObra) {
  $.ajax({
    type: "Get",
    url: "/Adminecogas/DatosObras/all",
    data: "data",
    success: function (response) {
      response.forEach(element => {
        if(element.Nombre==NombreObra){
          var url= '/editarTareas/'+element.id;
          window.open(url);
        }
      });
    }
  });
  }
</script>

</html>