<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joval S.A.</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/estadogeneral.css">
    <title>Estado General</title>
</head>

<body>
    <%- include('./partials/menusuperior.ejs')%>
        <h1 class="text-center">Estado General</h1>

        <div class="container-fluid">
            <div class="table-responsive-sm ">
                	
<label for="buscador">Buscar:</label> <input type="text" id="buscador" value=""/>
                <table id="EstadoGeneral" class="table table-striped table-bordered border-secondary  text-center table-sm "
                    style="width: 100%">
                    <thead>
                        <tr>
                            <th class="text-center text-light bg-dark  " colspan="6">Datos de carpeta</th>
                            <th class="text-center text-light bg-dark " colspan="3">Preliminar</th>
                            <th class="text-center text-light bg-dark " colspan="3">1ra parte</th>
                            <th class="text-center text-light bg-dark " colspan="10">2da parte</th>
                            <th class="text-center text-light bg-dark " colspan="2">Obras</th>
                            <th class="text-center text-light bg-dark " colspan="5">Caos</th>
                            <th class="text-center text-light bg-dark " colspan="2">Fin de obra</th>

                        </tr>
                        <tr>
                            <th class="text-center p-3">
                                <h4>Nombre</h4>
                            </th>
                            <th class="text-center p-3">
                                <h4>N° de carpeta</h4>
                            </th>
                            <th class="text-center p-3">
                                <h4>Ubicación</h4>
                            </th>
                            <th class="text-center p-3">
                                <h4>Comitente</h4>
                            </th>
                            <th class="text-center p-3">
                                <h4>Estado</h4>
                            </th>
                            <th class="text-center p-3">
                                <h4>Fecha firma de contrato</h4>
                            </th>

                            <th class="text-center p-3 ">
                                Documentación del terreno
                            </th>
                            <th class="text-center p-3 ">
                                Documentación de la Sociedad
                            </th>
                            <th class="text-center p-3 ">
                                Documentación contractual
                            </th>
                            <th class="text-center p-3 ">
                                Comercial
                            </th>
                            <th class="text-center p-3 ">
                                Tecnica
                            </th>

                            <th class="text-center p-3">
                                Permisos especiales
                            </th>
                            <th class="text-center p-3">
                                Documentación de obra
                            </th>
                            <th class="text-center p-3">
                                Seguridad
                            </th>
                            <th class="text-center p-3">
                                Interferencias
                            </th>
                            <th class="text-center p-3">
                                Permisos
                            </th>
                            <th class="text-center p-3">
                                Plan de trabajos
                            </th>
                            <th class="text-center p-3">
                                Matriculas
                            </th>
                            <th class="text-center p-3">
                                Ambiente
                            </th>
                            <th class="text-center p-3">
                                Nota cumplimento de normas vigentes
                            </th>
                            <th class="text-center p-3">
                                DDJJ NAG 153
                            </th>
                            <th class="text-center p-3">
                                Avisos
                            </th>
                            <th class="text-center p-3">
                                Documentación de inspección
                            </th>
                            <th class="text-center p-3">
                                Comunicación de obras
                            </th>
                            <th class="text-center p-3">
                                Actas finales de Ecogas
                            </th>
                            <th class="text-center p-3">
                                Plano y croquis
                            </th>
                            <th class="text-center p-3">
                                Conforme de entidades
                            </th>
                            <th class="text-center p-3">
                                Prueba de hermeticidad
                            </th>
                            <th class="text-center p-3">
                                Informe finales
                            </th>
                            <th class="text-center p-3">
                                Presentación final
                            </th>
                            <th class="text-center p-3">
                                Habilitación de obra
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <% if(results){%>
                        <% results.forEach((clientes)=>{ %>
                            <tr>
                                <td class="text-center Nombre">
                                    <a href="/editarTareas/<%=clientes.id%>" class="">
                                        <%=clientes.Nombre%>
                                    </a>
                                </td>
                                <td >
                                        <%=clientes.NCarpeta%>
                                </td>
                                <td >
                                    <%=clientes.Ubicacion%>
                                </td>
                                <td >
                                    <%=clientes.Comitente%>
                                </td>
                               
                                <td >
                                    <a href="/historialcarpeta/<%=clientes.Nombre%>">
                                    <%=clientes.Estado%>

                                    </a>
                                        <%if(clientes.Estado=="Sin presentar"|| clientes.Estado=="Preliminar"){%>
                                            <progress max="4" value="0"></progress>
                                            <%}%>
                                                <%if(clientes.Estado=="1ra parte"){%>
                                                    <progress max="4" value="1"></progress>
                                                    <%}%>

                                                        <%if(clientes.Estado=="2da parte"){%>
                                                            <progress max="4" value="2"></progress>
                                                            <%}%>

                                                                <%if(clientes.Estado=="CAOS"){%>
                                                                    <progress max="4" value="3"></progress>
                                                                    <%}%>

                                                                        <%if(clientes.Estado=="Finalizada"){%>
                                                                            <progress max="4" value="4"></progress>
                                                                            <%}%>
                                                                                <%if(clientes.Estado=="en obras"){%>
                                                                                    <br>
                                                                                    <img src="https://media.istockphoto.com/vectors/men-working-road-sign-vector-id856987802?s=612x612"
                                                                                        alt="" widtd="45px"
                                                                                        height="45px"
                                                                                        class="text-center">
                                                                                    <%}%>
                                </td>
                                <td >
                                    <%= moment(clientes.Fechafirmacontrato).format('DD-MM-YYYY')%>
                                </td>

                                <!-- Documentacion Terreno -->
                                <%if(clientes.DocumentacionTerreno=="ok"){%>
                                    <td class="text-light bg-success">
                                        <%=clientes.DocumentacionTerreno%>
                                    </td>
                                    <%}%>
                                    <%if(clientes.DocumentacionTerreno=="EnGestion" || clientes.DocumentacionTerreno=="Presentado"){%>
                                        <td class="text-dark bg-warning">
                                            <%=clientes.DocumentacionTerreno%>
                                        </td>
                                        <%}%>
                                        <%if(clientes.DocumentacionTerreno=="Sin presentar"){%>
                                            <td class="text-light bg-danger">
                                                <%=clientes.DocumentacionTerreno%>
                                            </td>
                                            <%}%>
                                         <%if(clientes.DocumentacionTerreno!="ok"&& clientes.DocumentacionTerreno!="Presentado"&& clientes.DocumentacionTerreno!="EnGestion"&& clientes.DocumentacionTerreno!="Presentado"&& clientes.DocumentacionTerreno!="Sin presentar"){%>
                                            <%if(clientes.DocumentacionTerreno==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>
                                            <td class="text-dark">
                                                <%=clientes.DocumentacionTerreno%>
                                            </td>
                                            
                                            <%}}%>
                                            
                                         <!-- // -->
                                        <!-- Documentacion Sociedad -->
                                        <%if(clientes.DocumentacionSociedad=="ok"){%>
                                            <td class="text-light bg-success">
                                                <%=clientes.DocumentacionSociedad%>
                                            </td>
                                            <%}%>
                                            <%if(clientes.DocumentacionSociedad=="EnGestion" || clientes.DocumentacionSociedad=="Presentado"){%>
                                                <td class="text-dark bg-warning">
                                                    <%=clientes.DocumentacionSociedad%>
                                                </td>
                                                <%}%>

                                                <%if(clientes.DocumentacionSociedad=="Sin presentar"){%>
                                                    <td class="text-light bg-danger">
                                                        <%=clientes.DocumentacionSociedad%>
                                                    </td>
                                                    <%}%>
                                                    <%if(clientes.DocumentacionSociedad!="ok"&& clientes.DocumentacionSociedad!="EnGestion"&& clientes.DocumentacionSociedad!="Presentado"&& clientes.DocumentacionSociedad!="Presentado" && clientes.DocumentacionSociedad!="Sin presentar"){%>
                                                        <%if(clientes.DocumentacionSociedad==null){ %>
                                                            <td class="text-dark bg-danger">
                                                              ERROR
                                                            </td>
                                                            <%}else{%>   <td class="text-dark">
                                                            <%=clientes.DocumentacionSociedad%>
                                                        </td>
                                                        <%}}%>
                                                       
                            <!-- // -->
                            <!-- Documentacion Contractual -->
                            <%if(clientes.DocumentacionContractual=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.DocumentacionContractual%>
                                </td>
                                <%}%>
                                <%if(clientes.DocumentacionContractual=="EnGestion" || clientes.DocumentacionContractual=="Presentado"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.DocumentacionContractual%>
                                    </td>
                                    <%}%>
                                    <%if(clientes.DocumentacionContractual=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.DocumentacionContractual%>
                                        </td>
                                        <%}%>
                                        <%if(clientes.DocumentacionContractual!="ok"&& clientes.DocumentacionContractual!="EnGestion" && clientes.DocumentacionContractual!="Presentado"&& clientes.DocumentacionContractual!="Sin presentar"){%>
                                            <%if(clientes.DocumentacionContractual==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>
                                            <td class="text-dark">
                                                <%=clientes.DocumentacionContractual%>
                                            </td>
                                            <%}}%>
                                           
                              <!-- // -->
                              <!-- Comercial  -->
                              <%if(clientes.Comercial=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.Comercial%>
                                </td>
                                <%}%>
                                <%if(clientes.Comercial=="EnGestion" || clientes.Comercial=="Presentado"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.Comercial%>
                                    </td>
                                    <%}%>
                                    <%if(clientes.Comercial=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.Comercial%>
                                        </td>
                                        <%}%>
                                        <%if(clientes.Comercial!="ok"&& clientes.Comercial!="EnGestion" && clientes.Comercial!="Presentado"&& clientes.Comercial!="Sin presentar"){%>
                                            <%if(clientes.Comercial==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>
                                            <td class="text-dark">
                                                <%=clientes.Comercial%>
                                            </td>
                                            <%}}%>
                                           
                            <!-- // -->
                            <!-- Tecnica  -->
                            <%if(clientes.Tecnica=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.Tecnica%>
                                </td>
                                <%}%>
                                <%if(clientes.Tecnica=="EnGestion" || clientes.Tecnica=="Presentado"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.Tecnica%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.Tecnica=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.Tecnica%>
                                        </td>
                                        <%}%>
                                        <%if(clientes.Tecnica!="ok"&& clientes.Tecnica!="EnGestion" && clientes.Tecnica!="Presentado"&& clientes.Tecnica!="Sin presentar"){%>
                                            <%if(clientes.Tecnica==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>
                                            <td class="text-dark">
                                                <%=clientes.Tecnica%>
                                            </td>
                                            <%}}%>
                                           
                                 <!-- //  -->
                                 <!-- Permisos Especiales  -->
                                 <%if(clientes.PermisosEspeciales=="ok"){%>
                                    <td class="text-light bg-success">
                                        <%=clientes.PermisosEspeciales%>
                                    </td>
                                    <%}%>
                                    <%if(clientes.PermisosEspeciales=="EnGestion" || clientes.PermisosEspeciales=="Presentado"){%>
                                        <td class="text-dark bg-warning">
                                            <%=clientes.PermisosEspeciales%> 
                                        </td>
                                        <%}%>
                                        <%if(clientes.PermisosEspeciales=="Sin presentar"){%>
                                            <td class="text-light bg-danger">
                                                <%=clientes.PermisosEspeciales%>
                                            </td>
                                            <%}%>
                                            <%if(clientes.PermisosEspeciales=="Observado" || clientes.PermisosEspeciales=="Pedir"){%>
                                                <td class="text-light bg-danger">
                                                    <%=clientes.PermisosEspeciales%>
                                                </td>
                                                <%}%>
                                                <%if(clientes.PermisosEspeciales!="ok"&& clientes.PermisosEspeciales!="EnGestion"&& clientes.PermisosEspeciales!="Presentado"&& clientes.PermisosEspeciales!="Sin presentar"&& clientes.PermisosEspeciales!="Observado"){%>
                                                    <%if(clientes.PermisosEspeciales==null){ %>
                                                        <td class="text-dark bg-danger">
                                                          ERROR
                                                        </td>
                                                        <%}else{%>
                                                    <td class="text-dark">
                                                        <%=clientes.PermisosEspeciales%>
                                                    </td>
                                                    <%}}%>
                                                
                             <!-- // -->
                             <!-- Documentacion de obra -->
                             <%if(clientes.DocumentacionObra=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.DocumentacionObra%>
                                </td>
                                <%}%>
                                <%if(clientes.DocumentacionObra=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.DocumentacionObra%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.DocumentacionObra=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.DocumentacionObra%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.DocumentacionObra!="Sin presentar")&&(clientes.DocumentacionObra!="EnGestion")&&(clientes.DocumentacionObra!="ok")){%>
                                            <%if(clientes.DocumentacionObra==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%> <td class="text-dark ">
                                                <%=clientes.DocumentacionObra%>
                                            </td>
                                            <%}}%>
                                            
                            <!-- // -->
                            <!-- Seguridad -->
                            <%if(clientes.Seguridad=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.Seguridad%>
                                </td>
                                <%}%>
                                <%if(clientes.Seguridad=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.Seguridad%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.Seguridad=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.Seguridad%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.Seguridad!="Sin presentar")&&(clientes.Seguridad!="EnGestion")&&(clientes.Seguridad!="ok")){%>
                                            <%if(clientes.Seguridad==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>  <td class="text-dark ">
                                                <%=clientes.Seguridad%>
                                            </td>
                                            <%}}%>
                                          
                            <!-- // -->
                            <!-- Interferencias -->
                            <%if(clientes.Interferencias=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.Interferencias%>
                                </td>
                                <%}%>
                                <%if(clientes.Interferencias=="EnGestion" || clientes.Interferencias=="Pedida"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.Interferencias%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.Interferencias=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.Interferencias%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.Interferencias!="Sin presentar")&&(clientes.Interferencias!="EnGestion")&&(clientes.Interferencias!="ok")){%>
                                            <%if(clientes.Interferencias==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>  <td class="text-dark">
                                                <%=clientes.Interferencias%>
                                            </td>
                                            <%}}%>
                                           
                            <!-- // -->
                            <!-- Permisos -->
                            <%if(clientes.Permisos=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.Permisos%>
                                </td>
                                <%}%>
                                <%if(clientes.Permisos=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.Permisos%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.Permisos=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.Permisos%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.Permisos!="Sin presentar")&&(clientes.Permisos!="EnGestion")&&(clientes.Permisos!="ok")){%>
                                            <%if(clientes.Permisos==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>  <td class="text-dark">
                                                <%=clientes.Permisos%>
                                            </td>
                                            <%}}%>
                                           
                            <!-- // -->
                            <!-- Plan de trabajo -->
                            <%if(clientes.PlanDeTrabajo=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.PlanDeTrabajo%>
                                </td>
                                <%}%>
                                <%if(clientes.PlanDeTrabajo=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.PlanDeTrabajo%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.PlanDeTrabajo=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.PlanDeTrabajo%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.PlanDeTrabajo!="Sin presentar")&&(clientes.PlanDeTrabajo!="EnGestion")&&(clientes.PlanDeTrabajo!="ok")){%>
                                            <%if(clientes.PlanDeTrabajo==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>  <td class="text-dark ">
                                                <%=clientes.PlanDeTrabajo%>
                                            </td>
                                            <%}}%>
                                         
                            <!-- // -->
                            <!-- Matriculas -->
                            <%if(clientes.Matriculas=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.Matriculas%>
                                </td>
                                <%}%>
                                <%if(clientes.Matriculas=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.Matriculas%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.Matriculas=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.Matriculas%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.Matriculas!="Sin presentar")&&(clientes.Matriculas!="EnGestion")&&(clientes.Matriculas!="ok")){%>
                                            <%if(clientes.Matriculas==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%> <td class="text-dark">
                                                <%=clientes.Matriculas%>
                                            </td>
                                            <%}}%>
                                         
                            <!-- // -->
                            <!-- Ambiente -->
                            <%if(clientes.Ambiente=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.Ambiente%>
                                </td>
                                <%}%>
                                <%if(clientes.Ambiente=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.Ambiente%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.Ambiente=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.Ambiente%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.Ambiente!="Sin presentar")&&(clientes.Ambiente!="EnGestion")&&(clientes.Ambiente!="ok")){%>
                                            <%if(clientes.Ambiente==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>  <td class="text-dark">
                                                <%=clientes.Ambiente%>
                                            </td>
                                            <%}}%>
                                          
                            <!-- // -->
                            <!-- Nota cumplimiento normativas -->
                            <%if(clientes.NotaCumplimentoNormativas=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.NotaCumplimentoNormativas%>
                                </td>
                                <%}%>
                                <%if(clientes.NotaCumplimentoNormativas=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.NotaCumplimentoNormativas%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.NotaCumplimentoNormativas=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.NotaCumplimentoNormativas%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.NotaCumplimentoNormativas!="Sin presentar")&&(clientes.NotaCumplimentoNormativas!="EnGestion")&&(clientes.NotaCumplimentoNormativas!="ok")){%>
                                            <%if(clientes.NotaCumplimentoNormativas==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>   <td class="text-dark">
                                                <%=clientes.NotaCumplimentoNormativas%>
                                            </td>
                                            <%}}%>
                                         
                            <!-- // -->
                            <!-- DDJJ NAG 153 -->
                            <%if(clientes.DDJJNAG153=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.DDJJNAG153%>
                                </td>
                                <%}%>
                                <%if(clientes.DDJJNAG153=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.DDJJNAG153%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.DDJJNAG153=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.DDJJNAG153%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.DDJJNAG153!="Sin presentar")&&(clientes.DDJJNAG153!="EnGestion")&&(clientes.DDJJNAG153!="ok")){%>
                                            <%if(clientes.DDJJNAG153==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>   <td class="text-dark ">
                                                <%=clientes.DDJJNAG153%>
                                            </td>
                                            <%}}%>
                                           
                            <!-- // -->
                            <!-- Avisos -->
                            <%if(clientes.Avisos=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.Avisos%>
                                </td>
                                <%}%>
                                <%if(clientes.Avisos=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.Avisos%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.Avisos=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.Avisos%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.Avisos!="Sin presentar")&&(clientes.Avisos!="EnGestion")&&(clientes.Avisos!="ok")){%>
                                            <%if(clientes.Avisos==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>   <td class="text-dark ">
                                                <%=clientes.Avisos%>
                                            </td>
                                            <%}}%>
                                          
                            <!-- // -->
                            <!-- Documentacion de inspeccion -->
                            <%if(clientes.DocumentacionInspeccion=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.DocumentacionInspeccion%>
                                </td>
                                <%}%>
                                <%if(clientes.DocumentacionInspeccion=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.DocumentacionInspeccion%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.DocumentacionInspeccion=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.DocumentacionInspeccion%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.DocumentacionInspeccion!="Sin presentar")&&(clientes.DocumentacionInspeccion!="EnGestion")&&(clientes.DocumentacionInspeccion!="ok")){%>
                                            <%if(clientes.DocumentacionInspeccion==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%> <td class="text-dark ">
                                                <%=clientes.DocumentacionInspeccion%>
                                            </td>
                                            <%}}%>
                                           
                            <!-- // -->
                            <!-- Comunicacion de obras -->
                            <%if(clientes.ComunicacionObras=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.ComunicacionObras%>
                                </td>
                                <%}%>
                                <%if(clientes.ComunicacionObras=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.ComunicacionObras%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.ComunicacionObras=="Leer historial de carpeta"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.ComunicacionObras%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.ComunicacionObras!="Leer historial de carpeta")&&(clientes.ComunicacionObras!="EnGestion")&&(clientes.ComunicacionObras!="ok")){%>
                                            <%if(clientes.ComunicacionObras==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>  <td class="text-dark ">
                                                <%=clientes.ComunicacionObras%>
                                            </td>
                                            <%}}%>
                                      
                            <!-- // -->
                            <!-- Actas finales de ecogas -->
                            <%if(clientes.ActasFinalesEcogas=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.ActasFinalesEcogas%>
                                </td>
                                <%}%>
                                <%if(clientes.ActasFinalesEcogas=="Recibidas"|| clientes.ActasFinalesEcogas=="Firmadas"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.ActasFinalesEcogas%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.ActasFinalesEcogas=="Sin recibir"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.ActasFinalesEcogas%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.ActasFinalesEcogas!="Sin recibir")&&(clientes.ActasFinalesEcogas!="Recibidas")&&(clientes.ActasFinalesEcogas!="Firmadas")&&(clientes.ActasFinalesEcogas!="ok")){%>
                                            <%if(clientes.ActasFinalesEcogas==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>   <td class="text-dark ">
                                                <%=clientes.ActasFinalesEcogas%>
                                            </td>
                                            <%}}%>
                                         
                            <!-- // -->
                            <!-- Planos y Croquis -->
                            <%if(clientes.PlanosyCroquis=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.PlanosyCroquis%>
                                </td>
                                <%}%>
                                <%if(clientes.PlanosyCroquis=="EnGestion" || clientes.PlanosyCroquis=="Aprobado/Impreso" ||  clientes.PlanosyCroquis=="Presentado" ){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.PlanosyCroquis%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.PlanosyCroquis=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.PlanosyCroquis%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.PlanosyCroquis!="Sin presentar")&&(clientes.PlanosyCroquis!="EnGestion")&&(clientes.PlanosyCroquis!="Aprobado/Impreso")&&(clientes.PlanosyCroquis!="ok")&&(clientes.PlanosyCroquis!="Presentado")){%>
                                            <%if(clientes.PlanosyCroquis==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%><td class="text-dark ">
                                                <%=clientes.PlanosyCroquis%>
                                            </td>
                                            <%}}%>
                                         
                            <!-- // -->
                            <!-- ConformeEntidades -->
                            <%if(clientes.ConformeEntidades=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.ConformeEntidades%>
                                </td>
                                <%}%>
                                <%if(clientes.ConformeEntidades=="EnGestion"|| clientes.ConformeEntidades=="Solicitado"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.ConformeEntidades%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.ConformeEntidades=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.ConformeEntidades%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.ConformeEntidades!="Sin presentar")&&(clientes.ConformeEntidades!="EnGestion")&&(clientes.ConformeEntidades!="ok")){%>
                                            <%if(clientes.ConformeEntidades==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%> <td class="text-dark ">
                                                <%=clientes.ConformeEntidades%>
                                            </td>
                                            <%}}%>
                                          
                            <!-- // -->
                            <!-- PruebaHermeticidad -->
                            <%if(clientes.PruebaHermeticidad=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.PruebaHermeticidad%>
                                </td>
                                <%}%>
                                <%if(clientes.PruebaHermeticidad=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.PruebaHermeticidad%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.PruebaHermeticidad=="Sin realizar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.PruebaHermeticidad%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.PruebaHermeticidad!="Sin realizar")&&(clientes.PruebaHermeticidad!="EnGestion")&&(clientes.PruebaHermeticidad!="ok")){%>
                                            <%if(clientes.PruebaHermeticidad==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>     <td class="text-dark ">
                                                <%=clientes.PruebaHermeticidad%>
                                            </td>
                                            <%}}%>
                                          
                            <!-- // -->
                            <!-- Informes finales -->
                            <%if(clientes.InformesFinales=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.InformesFinales%>
                                </td>
                                <%}%>
                                <%if(clientes.InformesFinales=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.InformesFinales%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.InformesFinales=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.InformesFinales%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.InformesFinales!="Sin presentar")&&(clientes.InformesFinales!="EnGestion")&&(clientes.InformesFinales!="ok")){%>
                                            <%if(clientes.InformesFinales==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>      <td class="text-dark ">
                                                <%=clientes.InformesFinales%>
                                            </td>
                                            <%}}%>
                                         
                            <!-- // -->
                            <!-- Presentacion final -->
                            <%if(clientes.PresentacionFinal=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.PresentacionFinal%>
                                </td>
                                <%}%>
                                <%if(clientes.PresentacionFinal=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.PresentacionFinal%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.PresentacionFinal=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.PresentacionFinal%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.PresentacionFinal!="Sin presentar")&&(clientes.PresentacionFinal!="EnGestion")&&(clientes.PresentacionFinal!="ok")){%>
                                            <%if(clientes.PresentacionFinal==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>       <td class="text-dark ">
                                                <%=clientes.PresentacionFinal%>
                                            </td>
                                            <%}}%>
                                          
                            <!-- // -->
                            <!-- HabilitacionObra -->
                            <%if(clientes.HabilitacionObra=="ok"){%>
                                <td class="text-light bg-success">
                                    <%=clientes.HabilitacionObra%>
                                </td>
                                <%}%>
                                <%if(clientes.HabilitacionObra=="EnGestion"){%>
                                    <td class="text-dark bg-warning">
                                        <%=clientes.HabilitacionObra%> 
                                    </td>
                                    <%}%>
                                    <%if(clientes.HabilitacionObra=="Sin presentar"){%>
                                        <td class="text-light bg-danger">
                                            <%=clientes.HabilitacionObra%>
                                        </td>
                                        <%}%>
                                        <%if((clientes.HabilitacionObra!="Sin presentar")&&(clientes.HabilitacionObra!="EnGestion")&&(clientes.HabilitacionObra!="ok")){%>
                                            <%if(clientes.HabilitacionObra==null){ %>
                                                <td class="text-dark bg-danger">
                                                  ERROR
                                                </td>
                                                <%}else{%>     <td class="text-dark ">
                                                <%=clientes.HabilitacionObra%>
                                            </td>
                                            <%}}%>    
                                          
                            <!-- // -->
                          
                            
                                <td ><a href="/edit/<%=clientes.id%>" class="btn btn-outline-info">editar</a>
                                </td>
                               
                            </tr>
                            <% });%>
                                
                           
                    </tbody>
                 
                </table>
                  
            </div>
        </div>
        </div>
        </div>
        <%}%>
</body>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>
<!-- dataTable js -->
<!-- <script type="text/javascript" src="/main.js"></script> -->
<script>
    jQuery("#buscador").keyup(function(){
    if( jQuery(this).val() != ""){
        jQuery("#EstadoGeneral tbody>tr").hide();
        jQuery("#EstadoGeneral td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show();
    }
    else{
        jQuery("#EstadoGeneral tbody>tr").show();
    }
});
 
jQuery.extend(jQuery.expr[":"], 
{
    "contiene-palabra": function(elem, i, match, array) {
        return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
});
</script>

</html>