<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joval S.A.</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="../css/estadogeneral.css">
  <!-- dataTable js -->
  <title>Estado General</title>
</head>

<body>

  <%- include('./partials/menusuperior.ejs')%>
    <h1 class="text-center">Estado General</h1>
    <div class="row">
      <div class="col-4">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-outline-secondary"
            onclick="document.getElementById('ObrasFinalizadas').style.display = 'block' ; ">Finalizadas</button>
          <button class="btn btn-outline-secondary bi bi-printer" onclick="ImprimirEstado()"></button>
        </div>
      </div>
    </div>
    <div class="modal" id="ObrasFinalizadas" tabindex="-1" style="display:none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="text-center modal-header ">
            <h5 class="modal-title text-center">Carpetas Finalizadas</h5>
            <button type="button" class="btn-close"
              onclick="document.getElementById('ObrasFinalizadas').style.display = 'none' ; "
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% results.forEach((carpeta)=>{ %>
              <% if(carpeta.Estado=="Finalizada" ){%>
                <a href="/editarTareas/<%=carpeta.id%>" class="link-dark">
                  <%=carpeta.Nombre%>
                </a> -

                <%}})%>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              onclick="document.getElementById('ObrasFinalizadas').style.display = 'none' ; ">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive-sm ">

      <label for="buscador">Buscar:</label> <input type="text" id="buscador" value="" />

      <div class="btn-group p-3 btn-group-sm " role="group" aria-label="Basic example">
        <button id="Preliminar" type="button" class="btn btn-primary">Prel</button>
        <button id="1P" type="button" class="btn btn-primary">1ra Parte</button>
        <button id="2P" type="button" class="btn btn-primary">2da Parte</button>
        <button id="Obras" type="button" class="btn btn-primary">Obras</button>
        <button id="Caos" type="button" class="btn btn-primary">Caos</button>
        <button id="FinObra" type="button" class="btn btn-primary">Fin de obra</button>
        <button id="LimpiarFiltros" type="button" class="btn btn-secondary">Limpiar Filtros</button>
      </div>
      <table id="EstadoGeneral"
        class="table table-striped table-bordered border-secondary text-center table-sm compact " style="width: 100%">
        <thead>
          <tr class="m-0 p-0">
            <th id="DatosCarpeta" class="text-center m-0 text-light bg-dark" value="0" colspan="3">
              <button class="btn text-light">Datos de carpeta</button>

            </th>
            <th id="EncabezadoPreliminar" class="SeccionTabla text-center m-0 text-light bg-dark" value="1" colspan="3">
              <button id="Preliminar" class="btn text-light">Preliminar</button>
            </th>
            <th id="Encabezado1P" class="SeccionTabla text-center m-0 text-light bg-dark" value="2" colspan="4">
              <button id="1P" class="btn text-light">1ra parte</button>
            </th>
            <th id="Encabezado2P" class="SeccionTabla text-center m-0 text-light bg-dark" value="3" colspan="11">
              <button id="2P" class="btn text-light">2da parte</button>
            </th>
            <th id="EncabezadoObras" class="SeccionTabla text-center m-0 text-light bg-dark" value="4" colspan="2">
              <button id="Obras" class="btn text-light">Obras</button>
            </th>
            <th id="EncabezadoCaos" class="SeccionTabla text-center m-0 text-light bg-dark" value="5" colspan="5">
              <button id="Caos" class="btn text-light">Caos</button>
            </th>
            <th id="EncabezadoFin" class="SeccionTabla text-center m-0 text-light bg-dark" value="6" colspan="2">
              <button id="FinObras" class="btn text-light">Fin de obra</button>
            </th>
          </tr>
          <tr id="Segundotr" class="m-0 p-0">
            <th id="DatosCarpeta" class="text-center">
              <button id="BTNCodigo" class="btn">Código </button>
            </th>
            <th id="DatosCarpeta" class="text-center ">
              <button class="btn">Nombre </button>
            </th>
            <th id="DatosCarpeta" class="text-center">
              <button class="btn">Estado </button>
            </th>
            <th id="EncabezadoPreliminar" class="text-center  MenuSuperior ">
              <button class="btn"> Doc. Terreno </button>
            </th>
            <th id="EncabezadoPreliminar" class="text-center  MenuSuperior ">
              <button class="btn"> Doc. Sociedad </button>
            </th>
            <th id="EncabezadoPreliminar" class="text-center  MenuSuperior ">
              <button class="btn"> Doc. contractual </button>
            </th>
            <th id="Encabezado1P" class="text-center  MenuSuperior ">
              <button class="btn"> Com. </button>
            </th>
            <th id="Encabezado1P" class="text-center  MenuSuperior ">
              <button class="btn"> Tec. </button>
            </th>
            <th id="Encabezado1P" class="text-center  MenuSuperior">
              <button class="btn"> Per. esp. </button>
            </th>
            <th id="Encabezado1P" class="text-center  MenuSuperior">
              <button class="btn"> Ambiente </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Mail Ecogas </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Doc. obra </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Seg. </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Int. </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Perm. </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Plan trabajos </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Matr. </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Amb. </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Nota normas vigentes </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> DDJJ NAG 153 </button>
            </th>
            <th id="Encabezado2P" class="text-center  MenuSuperior">
              <button class="btn"> Avisos </button>
            </th>
            <th id="EncabezadoObras" class="text-center  MenuSuperior">
              <button class="btn"> Doc. Insp </button>
            </th>
            <th id="EncabezadoObras" class="text-center  MenuSuperior">
              <button class="btn"> Com. obras </button>
            </th>
            <th id="EncabezadoCaos" class="text-center  MenuSuperior">
              <button class="btn"> Actas finales </button>
            </th>
            <th id="EncabezadoCaos" class="text-center  MenuSuperior">
              <button class="btn"> Plano y croquis </button>
            </th>
            <th id="EncabezadoCaos" class="text-center  MenuSuperior">
              <button class="btn"> Conformes </button>
            </th>
            <th id="EncabezadoCaos" class="text-center  MenuSuperior">
              <button class="btn"> Prueba hermeticidad </button>
            </th>
            <th id="EncabezadoCaos" class="text-center  MenuSuperior">
              <button class="btn"> Info. finales </button>
            </th>
            <th id="EncabezadoFin" class="text-center  MenuSuperior">
              <button class="btn"> Presentación final </button>
            </th>
            <th id="EncabezadoFin" class="text-center  MenuSuperior">
              <button class="btn"> Habilitación de obra </button>
            </th>
          </tr>
        </thead>
        <tbody>

          <% if(results){%>
            <% results.forEach((clientes)=>{ %>
              <%if(clientes.Estado!="Finalizada"){%>
                <tr>
                  <td class="text-center" id="Codigos">
                    <%=clientes.CodigoVigentes%>
                  </td>
                  <td class="text-center Nombre static">
                    <a href="/editarTareas/<%=clientes.id%>" class="">
                      <%=clientes.Nombre%>
                    </a>
                  </td>
                  <td>
                    <a href="/historialcarpeta/<%=clientes.Nombre%>">
                      <%=clientes.Estado%>
                    </a>

                    <button type="button" id="Popover" class="btnPopover btn" data-bs-toggle="popover"
                      title="Datos de la carpeta"
                      data-bs-content=" Inspector: <%=clientes.InspectorAsignado%>. Fecha de inicio: <%=moment(clientes.FechaInicioTrabajos).format('DD-MM-YYYY')%>. Fecha de fin de obra: <%=moment(clientes.FechaFinDeObra).format('DD-MM-YYYY')%>.">
                      <i class="bi bi-info-circle-fill"></i></button>

                  </td>
                  <!-- Documentacion Terreno -->
                  <td id="td" class="Preliminar">
                    <%=clientes.DocumentacionTerreno%>
                  </td>

                  <!-- // -->
                  <!-- Documentacion Sociedad -->
                  <td id="td" class="Preliminar">
                    <%=clientes.DocumentacionSociedad%>
                  </td>
                  <!-- // -->
                  <!-- Documentacion Contractual -->
                  <td id="td" class="Preliminar">
                    <%=clientes.DocumentacionContractual%>
                  </td>
                  <!-- // -->
                  <!-- Comercial  -->
                  <td id="td" class="1P">
                    <%=clientes.Comercial%>
                  </td>
                  <!-- // -->
                  <!-- Tecnica  -->
                  <td id="td" class="1P">
                    <%=clientes.Tecnica%>
                  </td>


                  <!-- //  -->
                  <!-- Permisos Especiales  -->

                  <td id="td" class="1P">
                    <%=clientes.PermisosEspeciales%>
                  </td>
                  <!-- DocumentacionAmbiental  -->

                  <td id="td" class="1P">
                    <%=clientes.DocumentacionAmbiental%>
                  </td>
                  <!-- // -->
                  <!-- Mail de autorización -->
                  <td id="td" class="2P">
                    <%=clientes.MailAutorizacion%>
                  </td>

                  <!-- // -->
                  <!-- Documentacion de obra -->
                  <td id="td" class="2P">
                    <%=clientes.DocumentacionObra%>
                  </td>

                  <!-- // -->
                  <!-- Seguridad -->
                  <td id="td" class="2P">
                    <%=clientes.Seguridad%>
                  </td>
                  <!-- // -->
                  <!-- Interferencias -->
                  <td id="td" class="2P">
                    <%=clientes.Interferencias%>
                  </td>

                  <!-- // -->
                  <!-- Permisos -->
                  <td id="td" class="2P">
                    <%=clientes.Permisos%>
                  </td>
                  <!-- // -->
                  <!-- Plan de trabajo -->
                  <td id="td" class="2P">
                    <%=clientes.PlanDeTrabajo%>
                  </td>
                  <!-- // -->
                  <!-- Matriculas -->
                  <td id="td" class="2P">
                    <%=clientes.Matriculas%>
                  </td>
                  <!-- // -->
                  <!-- Ambiente -->
                  <td id="td" class="2P">
                    <%=clientes.Ambiente%>
                  </td>
                  <!-- // -->
                  <!-- Nota cumplimiento normativas -->
                  <td id="td" class="2P">
                    <%=clientes.NotaCumplimentoNormativas%>
                  </td>
                  <!-- // -->
                  <!-- DDJJ NAG 153 -->
                  <td id="td" class="2P">
                    <%=clientes.DDJJNAG153%>
                  </td>
                  <!-- // -->
                  <!-- Avisos -->
                  <td id="td" class="2P">
                    <%=clientes.Avisos%>
                  </td>
                  <!-- // -->
                  <!-- Documentacion de inspeccion -->
                  <td id="td"class="Obras" >
                    <%=clientes.DocumentacionInspeccion%>
                  </td>
                  <!-- // -->
                  <!-- Comunicacion de obras -->
                  <td id="td"class="Obras" >
                    <%=clientes.ComunicacionObras%>
                  </td>
                  <!-- // -->
                  <!-- Actas finales de ecogas -->
                  <td id="td" class="CAOS">
                    <%=clientes.ActasFinalesEcogas%>
                  </td>
                  <!-- // -->
                  <!-- Planos y Croquis -->
                  <td id="td" class="CAOS">
                    <%=clientes.PlanosyCroquis%>
                  </td>
                  <!-- // -->
                  <!-- ConformeEntidades -->
                  <td id="td" class="CAOS">
                    <%=clientes.ConformeEntidades%>
                  </td>
                  <!-- // -->
                  <!-- PruebaHermeticidad -->
                  <td id="td" class="CAOS">
                    <%=clientes.PruebaHermeticidad%>
                  </td>
                  <!-- // -->
                  <!-- Informes finales -->
                  <td id="td" class="CAOS">
                    <%=clientes.InformesFinales%>
                  </td>
                  <!-- // -->
                  <!-- Presentacion final -->
                  <td id="td" class="FinObra">
                    <%=clientes.PresentacionFinal%>
                  </td>
                  <!-- // -->
                  <!-- HabilitacionObra -->
                  <td id="td" class="FinObra">
                    <%=clientes.HabilitacionObra%>
                  </td>

               
                </tr>
                <% }});%>


        </tbody>

      </table>

    </div>

    </div>
    </div>
    <%}%>
      <!-- Modal Body -->
      <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
      <div class="modal fade" id="ModalOpcionesDeImpresion" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false" role="dialog" aria-labelledby="ModalOpcionesDeImpresion" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTitleId">Impresión de estado</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              Seleccione el estado que desea imprimir
              <br>
              <div class="btn-group " role="group" aria-label="Opciones de impresion">
                <button type="button" class="btn btn-primary">Preliminar</button>
                <button type="button" class="btn btn-primary">1ra Parte</button>
                <button type="button" class="btn btn-primary">2da Parte</button>
                <button type="button" class="btn btn-primary">Obras</button>
                <button type="button" class="btn btn-primary">Caos</button>
                <button type="button" class="btn btn-info">Todos los estados</button>


              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>



</body>

<!-- <script type="text/javascript" src="/main.js"></script> -->
<script>
  $(function () {
    $('[data-bs-toggle="popover"]').popover()
  })

  jQuery("#buscador").keyup(function () {
    if (jQuery(this).val() != "0") {
      jQuery("#EstadoGeneral tbody>tr").hide();
      jQuery("#EstadoGeneral td:contiene-palabra('" + jQuery(this).val() + "')").parent("tr").show();
    }
    else {
      jQuery("#EstadoGeneral tbody>tr").show();
    }
  });

  jQuery.extend(jQuery.expr[":"],
    {
      "contiene-palabra": function (elem, i, match, array) {
        return (elem.textContent || elem.innerText || jQuery(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
      }
    });

  $(document).ready(() => {


    $('#Segundotr').children($('th')).each(function (columna) {
      $(this).click(function () {
        let registros = $('#EstadoGeneral').find('tbody > tr').get();
        registros.sort(function (a, b) {
          let valor1 = $(a).children('td').eq(columna).text().toUpperCase();
          let valor2 = $(b).children('td').eq(columna).text().toUpperCase();
          return valor1 < valor2 ? -1 : valor1 > valor2 ? 1 : 0;
        })
        $.each(registros, function (indice, elemento) {
          $('tbody').append(elemento);
        })
      })
    })
    // El codigo debajo simula un click en el boton de "Codigo", lo que hace que se ordenen los codigos de menos a mayor practicamente al abrir la ventana
    $('#BTNCodigo').trigger("click");
    $('td').each(function () {
      var contenido = $(this).text();
      contenido = contenido.toUpperCase();
      if ( contenido.includes( "OK") ||  contenido.includes( "REALIZADA") ||  contenido.includes( "RECIBIDO")) {
        $(this).addClass('align-middle bg-success');
      }
      if ( contenido.includes( "PEDIR") ||  contenido.includes( "NO RECIBIDO") ||  contenido.includes( "SIN PRESENTAR") ||  contenido.includes( "OBSERVADO")) {
        $(this).addClass('align-middle bg-danger text-white');
      }
      if ( contenido.includes( "ENGESTION") ||  contenido.includes( "PRESENTADO") ||  contenido.includes( "SOLICITADO")) {
        $(this).addClass('align-middle bg-warning ');
      }
    })

  })
  jQuery("#Preliminar").click(function () {
    //Primero Dibuja todo
    jQuery("#EstadoGeneral SeccionTabla").show();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").show();
    jQuery("#EstadoGeneral #Encabezado1P").show();
    jQuery("#EstadoGeneral #Encabezado2P").show();
    jQuery("#EstadoGeneral #EncabezadoObras").show();
    jQuery("#EstadoGeneral #EncabezadoCaos").show();
    jQuery("#EstadoGeneral #EncabezadoFin").show();
    jQuery("#EstadoGeneral tbody>tr").show();
   

    //Luego borra lo que hagafalta
    jQuery("#EstadoGeneral SeccionTabla").hide();
    jQuery("#EstadoGeneral #Encabezado1P").hide();
    jQuery("#EstadoGeneral #Encabezado2P").hide();
    jQuery("#EstadoGeneral #EncabezadoObras").hide();
    jQuery("#EstadoGeneral #EncabezadoCaos").hide();
    jQuery("#EstadoGeneral #EncabezadoFin").hide();
    

    //Busca en "Estado" la palabra clave
    let palabra = "Preliminar";
    jQuery("#EstadoGeneral tbody>tr").hide();
    jQuery("#EstadoGeneral td:contiene-palabra('" + palabra + "')").parent("tr").show();
    
    
    $('.1P').hide();
    $('.2P').hide();
    $('.Obras').hide();
    $('.CAOS ').hide();
    $('.FinObra').hide();
    $('.Preliminar').show();

  })
  jQuery("#1P").click(function () {
    jQuery("#EstadoGeneral SeccionTabla").show();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").show();
    jQuery("#EstadoGeneral #Encabezado1P").show();
    jQuery("#EstadoGeneral #Encabezado2P").show();
    jQuery("#EstadoGeneral #EncabezadoObras").show();
    jQuery("#EstadoGeneral #EncabezadoCaos").show();
    jQuery("#EstadoGeneral #EncabezadoFin").show();
    jQuery("#EstadoGeneral tbody>tr").show();
    

    jQuery("#EstadoGeneral SeccionTabla").hide();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").hide();
    jQuery("#EstadoGeneral #Encabezado2P").hide();
    jQuery("#EstadoGeneral #EncabezadoObras").hide();
    jQuery("#EstadoGeneral #EncabezadoCaos").hide();
    jQuery("#EstadoGeneral #EncabezadoFin").hide();
    
    $('.Preliminar').hide();
    $('.1P').show();
    $('.2P').hide();
    $('.Obras').hide();
    $('.CAOS ').hide();
    $('.FinObra').hide();
    
    let palabra = "1ra parte";
    jQuery("#EstadoGeneral tbody>tr").hide();
    jQuery("#EstadoGeneral td:contiene-palabra('" + palabra + "')").parent("tr").show();

  })
  jQuery("#2P").click(function () {
    jQuery("#EstadoGeneral SeccionTabla").show();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").show();
    jQuery("#EstadoGeneral #Encabezado1P").show();
    jQuery("#EstadoGeneral #Encabezado2P").show();
    jQuery("#EstadoGeneral #EncabezadoObras").show();
    jQuery("#EstadoGeneral #EncabezadoCaos").show();
    jQuery("#EstadoGeneral #EncabezadoFin").show();
    jQuery("#EstadoGeneral tbody>tr").show();
    $('.Preliminar').hide();
    $('.1P').hide();
    $('.2P').show();
    $('.Obras').hide();
    $('.CAOS ').hide();
    $('.FinObra').hide();
    

    jQuery("#EstadoGeneral SeccionTabla").hide();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").hide();
    jQuery("#EstadoGeneral #Encabezado1P").hide();
    jQuery("#EstadoGeneral #EncabezadoObras").hide();
    jQuery("#EstadoGeneral #EncabezadoCaos").hide();
    jQuery("#EstadoGeneral #EncabezadoFin").hide();
    
    let palabra = "2da parte";
    jQuery("#EstadoGeneral tbody>tr").hide();
    jQuery("#EstadoGeneral td:contiene-palabra('" + palabra + "')").parent("tr").show();

  })
  jQuery("#Obras").click(function () {
    jQuery("#EstadoGeneral SeccionTabla").show();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").show();
    jQuery("#EstadoGeneral #Encabezado1P").show();
    jQuery("#EstadoGeneral #Encabezado2P").show();
    jQuery("#EstadoGeneral #EncabezadoObras").show();
    jQuery("#EstadoGeneral #EncabezadoCaos").show();
    jQuery("#EstadoGeneral #EncabezadoFin").show();
    jQuery("#EstadoGeneral tbody>tr").show();
   

    jQuery("#EstadoGeneral SeccionTabla").hide();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").hide();
    jQuery("#EstadoGeneral #Encabezado1P").hide();
    jQuery("#EstadoGeneral #Encabezado2P").hide();
    jQuery("#EstadoGeneral #EncabezadoCaos").hide();
    jQuery("#EstadoGeneral #EncabezadoFin").hide();
    
    $('.Preliminar').hide();
    $('.1P').hide();
    $('.2P').hide();
    $('.Obras').show();
    $('.CAOS ').hide();
    $('.FinObra').hide();
    
    let palabra = "Obras";
    jQuery("#EstadoGeneral tbody>tr").hide();
    jQuery("#EstadoGeneral td:contiene-palabra('" + palabra + "')").parent("tr").show();

  })
  jQuery("#Caos").click(function () {
    jQuery("#EstadoGeneral SeccionTabla").show();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").show();
    jQuery("#EstadoGeneral #Encabezado1P").show();
    jQuery("#EstadoGeneral #Encabezado2P").show();
    jQuery("#EstadoGeneral #EncabezadoObras").show();
    jQuery("#EstadoGeneral #EncabezadoCaos").show();
    jQuery("#EstadoGeneral #EncabezadoFin").show();
    jQuery("#EstadoGeneral tbody>tr").show();
    

    jQuery("#EstadoGeneral SeccionTabla").hide();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").hide();
    jQuery("#EstadoGeneral #Encabezado1P").hide();
    jQuery("#EstadoGeneral #Encabezado2P").hide();
    jQuery("#EstadoGeneral #EncabezadoObras").hide();
    jQuery("#EstadoGeneral #EncabezadoFin").hide();
    
    let palabra = "Caos";
    jQuery("#EstadoGeneral tbody>tr").hide();
    jQuery("#EstadoGeneral td:contiene-palabra('" + palabra + "')").parent("tr").show();

  })
  jQuery("#FinObra").click(function () {
    jQuery("#EstadoGeneral SeccionTabla").show();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").hide();
    jQuery("#EstadoGeneral #Encabezado1P").hide();
    jQuery("#EstadoGeneral #Encabezado2P").hide();
    jQuery("#EstadoGeneral #EncabezadoObras").hide();
    jQuery("#EstadoGeneral #EncabezadoCaos").hide();
    jQuery("#EstadoGeneral #EncabezadoFin").show();
    jQuery("#EstadoGeneral tbody>tr").hide();
    $('.Preliminar').hide();
    $('.1P').hide();
    $('.2P').hide();
    $('.Obras').hide();
    $('.CAOS ').hide();
    $('.FinObra').show();
    let palabra = "Finalizada";
    jQuery("#EstadoGeneral tbody>tr").show();
    jQuery("#EstadoGeneral td:contiene-palabra('" + palabra + "')").parent("tr").show();

  })
  jQuery("#LimpiarFiltros").click(function () {
    jQuery("#EstadoGeneral SeccionTabla").show();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").show();
    jQuery("#EstadoGeneral #Encabezado1P").show();
    jQuery("#EstadoGeneral #Encabezado2P").show();
    jQuery("#EstadoGeneral #EncabezadoObras").show();
    jQuery("#EstadoGeneral #EncabezadoCaos").show();
    jQuery("#EstadoGeneral #EncabezadoFin").show();
    jQuery("#EstadoGeneral tbody>tr").show();
    

    jQuery("#EstadoGeneral SeccionTabla").show();
    jQuery("#EstadoGeneral #EncabezadoPreliminar").show();
    jQuery("#EstadoGeneral #Encabezado1P").show();
    jQuery("#EstadoGeneral #Encabezado2P").show();
    jQuery("#EstadoGeneral #EncabezadoObras").show();
    jQuery("#EstadoGeneral #EncabezadoCaos").show();
    jQuery("#EstadoGeneral #EncabezadoFin").show();
    jQuery("#EstadoGeneral tbody>tr").show();
    
    $('.Preliminar').show();
    $('.1P').show();
    $('.2P').show();
    $('.Obras').show();
    $('.CAOS ').show();
    $('.FinObra').show();
    
  })

  function ImprimirEstado() {
    $("#ModalOpcionesDeImpresion").modal('show');
    $("#ModalOpcionesDeImpresion").modal('toggle');

  }

</script>

</html>