<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Administración General</title>

</head>
<body>
    <%- include('./partials/menusuperior.ejs'); %>
    <h1 class="text-center">Vencimientos</h1>
    <div class="btn-group mb-2" role="group" aria-label="Basic example">
        <button id="btnNuevoItem" type="button" class="btn btn-outline-primary">Nuevo ítem</button>
      </div>
<div class="table-responsive-sm">
    <table class="table table-sm table-info align-middle text-center">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Fecha ultimo cambio</th>
                <th scope="col">Fecha de vencimiento</th>
                <th scope="col">Fecha para notificación</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
<%vencimientos.forEach((vencimiento)=>{ %>
            <tr class="">
                <td scope="row"><%=vencimiento.Item%></td>
                <td><%=moment(vencimiento.FechaActualizacion).format('DD/MM/YYYY')%></td>
                <td><%=moment(vencimiento.FechaVencimiento).format('DD/MM/YYYY')%></td>
                <td><%=moment(vencimiento.DiasPreviosAviso).format('DD/MM/YYYY')%></td>
                <td><button class="btn btn-lg btn-success btnConfigVencimiento" id="" onclick="configVencimiento('<%=vencimiento.id%>','<%=vencimiento.Item%>','<%vencimiento.FechaActualizacion%>','<%vencimiento.FechaVencimiento%>' )"><i class="bi bi-gear-fill"></i></button>
                    <button id="BtnDelete" class="btn btn-lg btn-danger" onclick="BorrarItem('<%=vencimiento.id%>')"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
           <%})%>
        </tbody>
    </table>
</div>
<form action="/actualizarVencimiento" method="post">
    <input type="hidden" name="VencimientoID" id="VencimientoID">
    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="modalEditarVencimiento" tabindex="-1"  role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Editar vencimiento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="float1" name="Item" placeholder="Ingrese el nombre del item">
                        <label id="label1" for="float1">Item</label>
                      </div>
                      
                      <div class="form-floating">
                        <input type="date" class="form-control" id="float3" name="FechaVencimiento" placeholder="Fecha de vencimiento">
                        <label id="label3" for="float3">Fecha de vencimiento</label>
                      </div>
                      <div class="form-floating">
                        <input type="date" class="form-control" id="float3" name="AvisoSistema" placeholder="Avisar 10 dias antes" value="10">
                        <label id="label3" for="float3">Fecha en la que avisará el sistema</label>
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form action="/NuevoItemVencimiento" method="post">
    <input type="hidden" name="VencimientoID" id="VencimientoID">
    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="modalNuevoItemVencimiento" tabindex="-1"  role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Nuevo Item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="float1" name="Item" placeholder="Ingrese el nombre del item">
                        <label id="label1" for="float1">Nombre del item</label>
                      </div>

                      <div class="form-floating">
                        <input type="date" class="form-control" id="float3" name="FechaVencimiento" placeholder="Fecha de vencimiento">
                        <label id="label3" for="float3">Fecha de vencimiento</label>
                      </div>
                      <div class="form-floating">
                        <input type="number" class="form-control" id="float3" name="AvisoSistema" placeholder="Avisar 10 dias antes" value="10">
                        <label id="label3" for="float3">Dias previos en los que avisará el sistema</label>
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" >Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

 <form action="/DeleteItemVencimiento" method="post" >
    <input type="number" name="IdItemABorrar" id="IdItemABorrar" hidden>
<button type="submit" id="BTNBorrarItem" hidden></button>
 </form>
</body>
</html>
<script>
    function configVencimiento(id,Item,FechaActualizacion,FechaVencimiento){
        $('#VencimientoID').val(id);
        console.log($('#VencimientoID').val());
   $('#modalTitleId').text('Edición de '+ Item );
   $('#label1').text(Item );
   $('#float1').val( Item );

   $('#float2').val(FechaActualizacion );
   $('#float2').text(FechaActualizacion );
   $('#float3').val(FechaVencimiento);

   
   
        $('#modalEditarVencimiento').modal('show');
    }

$('#btnNuevoItem').click(function(){
    
    $('#modalNuevoItemVencimiento').modal('show');
})
function BorrarItem(idItem){
    

Swal.fire({
  title: 'Estas seguro que deseas borrar este item?',
  showDenyButton: true,
  showCancelButton: true,
  confirmButtonText: 'Cancelar',
  denyButtonText: `Eliminar`,
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    Swal.fire('Se ha cancelado la operación', '', 'info')    
  } else if (result.isDenied) {
    Swal.fire('Item eliminado!', '', 'success')
    setTimeout(() => {
        $('#IdItemABorrar').val(idItem);
        $('#BTNBorrarItem').trigger('click');
    }, 2000);
    


  }
})

}
  
    
</script>
